Repository apache/cloudstack, pull requests merged in 2018-03, with the labels that each got.

#2439 [CLOUDSTACK-10259] Missing float part of secondary storage data in listAccounts method
  api/src/main/java/com/cloud/configuration/Resource.java
  api/src/main/java/org/apache/cloudstack/api/response/AccountResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/DomainResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/ProjectResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/ResourceLimitAndCountResponse.java
  server/src/main/java/com/cloud/api/query/dao/AccountJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/dao/DomainJoinDaoImpl.java
Labels: bug

#2437 [CLOUDSTACK-10257]Create template/volume does not allow to specify HVM requirements
  ui/scripts/sharedFunctions.js
  ui/scripts/storage.js
Labels: UI

#2478 [CLOUDSTACK-10318] Bug on sorting ACL rules list in chrome
  ui/scripts/vpc.js
Labels: UI

#2425 [CLOUDSTACK-10240] ACS cannot migrate a local volume to shared storage
  .travis.yml
  api/src/main/java/org/apache/cloudstack/api/command/admin/storage/FindStoragePoolsForMigrationCmd.java
  api/src/test/java/org/apache/cloudstack/api/command/admin/storage/FindStoragePoolsForMigrationCmdTest.java
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
  engine/orchestration/src/test/java/com/cloud/vm/VirtualMachineManagerImplTest.java
  engine/schema/src/main/java/com/cloud/hypervisor/dao/HypervisorCapabilitiesDaoImpl.java
  engine/schema/src/main/java/org/apache/cloudstack/storage/datastore/db/PrimaryDataStoreDaoImpl.java
  engine/storage/src/main/java/org/apache/cloudstack/storage/allocator/ClusterScopeStoragePoolAllocator.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/test/java/com/cloud/storage/VolumeApiServiceImplTest.java
  setup/db/hypervisor_capabilities.simulator.sql
  test/integration/smoke/test_primary_storage.py
Labels: XenServer, improvement, primary-storage

#2476 CLOUDSTACK-10317: Fix SNAT rules for additional public nics
  systemvm/debian/opt/cloud/bin/cs/CsAddress.py
Labels: virtual-router

#2470 [CLOUDSTACK-10197] Update DisplayText of XenServer tools ISO entry in the database when it already exists
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/discoverer/XcpServerDiscoverer.java
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/CitrixResourceBase.java
  plugins/hypervisors/xenserver/src/test/java/com/cloud/hypervisor/xenserver/discoverer/XcpServerDiscovererTest.java
  plugins/hypervisors/xenserver/src/test/java/com/cloud/hypervisor/xenserver/resource/CitrixResourceBaseTest.java
  plugins/hypervisors/xenserver/src/test/java/com/cloud/hypervisor/xenserver/resource/XcpOssResourceTest.java
  plugins/hypervisors/xenserver/src/test/java/com/cloud/hypervisor/xenserver/resource/XcpServerResourceTest.java
  plugins/hypervisors/xenserver/src/test/java/com/cloud/hypervisor/xenserver/resource/XenServer56FP1ResourceTest.java
  plugins/hypervisors/xenserver/src/test/java/com/cloud/hypervisor/xenserver/resource/XenServer56ResourceTest.java
  plugins/hypervisors/xenserver/src/test/java/com/cloud/hypervisor/xenserver/resource/XenServer56SP2ResourceTest.java
  plugins/hypervisors/xenserver/src/test/java/com/cloud/hypervisor/xenserver/resource/XenServer600ResourceTest.java
  plugins/hypervisors/xenserver/src/test/java/com/cloud/hypervisor/xenserver/resource/XenServer625ResourceTest.java
  plugins/hypervisors/xenserver/src/test/java/com/cloud/hypervisor/xenserver/resource/XenServer650ResourceTest.java
Labels: improvement

#2475 [CLOUDSTACK-10314] Add Text-Field to each ACL Rule
  api/src/main/java/com/cloud/network/vpc/NetworkACLItem.java
  api/src/main/java/com/cloud/network/vpc/NetworkACLService.java
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/command/user/network/CreateNetworkACLCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/network/UpdateNetworkACLItemCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/NetworkACLItemResponse.java
  engine/components-api/src/main/java/com/cloud/network/vpc/NetworkACLManager.java
  engine/schema/src/main/java/com/cloud/network/vpc/NetworkACLItemVO.java
  engine/schema/src/main/resources/META-INF/db/schema-41100to41200.sql
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  server/src/main/java/com/cloud/network/vpc/NetworkACLManagerImpl.java
  server/src/main/java/com/cloud/network/vpc/NetworkACLServiceImpl.java
  server/src/test/java/com/cloud/network/vpc/NetworkACLManagerImplTest.java
  server/src/test/java/com/cloud/network/vpc/NetworkACLServiceImplTest.java
  server/src/test/java/com/cloud/vpc/NetworkACLManagerTest.java
  server/src/test/java/com/cloud/vpc/NetworkACLServiceTest.java
  ui/css/cloudstack3.css
  ui/l10n/ar.js
  ui/l10n/ca.js
  ui/l10n/de_DE.js
  ui/l10n/en.js
  ui/l10n/es.js
  ui/l10n/fr_FR.js
  ui/l10n/hu.js
  ui/l10n/it_IT.js
  ui/l10n/ja_JP.js
  ui/l10n/ko_KR.js
  ui/l10n/nb_NO.js
  ui/l10n/nl_NL.js
  ui/l10n/pl.js
  ui/l10n/pt_BR.js
  ui/l10n/ru_RU.js
  ui/l10n/zh_CN.js
  ui/scripts/vpc.js
Labels: UI, api, enhancement

#2484 createNetworkACL: number has the wrong doc
  api/src/main/java/org/apache/cloudstack/api/command/user/network/CreateNetworkACLCmd.java
Labels: Documentation, api, enhancement

#2483 CLOUDSTACK-10303 : test data to nuage_test_data.py + run all tests against simulator
  engine/storage/src/org/apache/cloudstack/storage/endpoint/DefaultEndPointSelector.java
  plugins/hypervisors/simulator/src/com/cloud/agent/manager/MockStorageManager.java
  plugins/hypervisors/simulator/src/com/cloud/agent/manager/MockStorageManagerImpl.java
  plugins/hypervisors/simulator/src/com/cloud/agent/manager/SimulatorManagerImpl.java
  plugins/hypervisors/simulator/src/com/cloud/resource/SimulatorStorageProcessor.java
  server/src/com/cloud/network/element/ConfigDriveNetworkElement.java
  test/integration/plugins/nuagevsp/libVSD/__init__.py
  test/integration/plugins/nuagevsp/libVSD/client.py
  test/integration/plugins/nuagevsp/libVSD/helpers.py
  test/integration/plugins/nuagevsp/nuageTestCase.py
  test/integration/plugins/nuagevsp/nuage_test_data.py
  test/integration/plugins/nuagevsp/test_nuage_configdrive.py
  test/integration/plugins/nuagevsp/test_nuage_extra_dhcp.py
  test/integration/plugins/nuagevsp/test_nuage_internal_dns.py
  test/integration/plugins/nuagevsp/test_nuage_network_migration.py
  test/integration/plugins/nuagevsp/test_nuage_password_reset.py
  test/integration/plugins/nuagevsp/test_nuage_public_sharednetwork_userdata.py
  test/integration/plugins/nuagevsp/test_nuage_source_nat.py
  test/integration/plugins/nuagevsp/test_nuage_static_nat.py
  test/integration/plugins/nuagevsp/test_nuage_vpc_internal_lb.py
  test/integration/plugins/nuagevsp/test_nuage_vsp_domain_template.py
  test/integration/plugins/nuagevsp/test_nuage_vsp_mngd_subnets.py
  tools/marvin/marvin/config/test_data.py
  tools/marvin/setup.py
Labels: reviews-complete

#2387 CLOUDSTACK-8855 Improve Error Message for Host Alert State and reconnect host API.
  .travis.yml
  api/src/main/java/com/cloud/alert/Alert.java
  api/src/main/java/com/cloud/resource/ResourceService.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/host/ReconnectHostCmd.java
  engine/components-api/src/main/java/com/cloud/agent/AgentManager.java
  engine/orchestration/src/main/java/com/cloud/agent/manager/AgentManagerImpl.java
  engine/orchestration/src/main/java/com/cloud/agent/manager/ClusteredAgentManagerImpl.java
  engine/schema/src/main/java/com/cloud/alert/AlertVO.java
  engine/schema/src/main/java/com/cloud/host/dao/HostDaoImpl.java
  engine/schema/src/main/resources/META-INF/db/schema-41000to41100-cleanup.sql
  engine/schema/src/main/resources/META-INF/db/schema-41000to41100.sql
  engine/schema/src/main/resources/META-INF/db/schema-41100to41200.sql
  engine/storage/integration-test/src/test/java/org/apache/cloudstack/storage/test/DirectAgentManagerSimpleImpl.java
  plugins/network-elements/netscaler/src/main/java/com/cloud/network/element/NetscalerElement.java
  requirements.txt
  server/src/main/java/com/cloud/alert/AlertManagerImpl.java
  server/src/main/java/com/cloud/resource/ResourceManagerImpl.java
  server/src/main/java/org/apache/cloudstack/ca/CAManagerImpl.java
  server/src/test/java/org/apache/cloudstack/ca/CAManagerImplTest.java
Labels: enhancement, management-server

#2433 CLOUDSTACK-10268: Fix and enhance package script
  engine/schema/src/main/java/com/cloud/upgrade/DatabaseIntegrityChecker.java
  packaging/build-deb.sh
  packaging/centos63/cloud.spec
  packaging/centos7/cloud.spec
  packaging/package.sh
  server/src/main/java/com/cloud/api/query/dao/DomainRouterJoinDaoImpl.java
  server/src/main/java/com/cloud/network/router/NetworkHelperImpl.java
  tools/appliance/build.sh
  tools/build/setnextversion.sh
  utils/src/main/java/com/cloud/maint/Version.java
  utils/src/main/java/com/cloud/utils/nicira/nvp/plugin/NiciraNvpApiVersion.java
  utils/src/main/java/org/apache/cloudstack/utils/CloudStackVersion.java
  utils/src/test/java/org/apache/cloudstack/utils/CloudStackVersionTest.java
Labels: packaging

#2458 CLOUDSTACK-10296: Find time different from last timestamp
  systemvm/debian/opt/cloud/bin/checkrouter.sh
  systemvm/debian/opt/cloud/templates/check_heartbeat.sh.templ
Labels: virtual-router

#2469 CLOUDSTACK-10132: Extend support for management servers LB for agents
  agent/conf/agent.properties
  agent/src/com/cloud/agent/Agent.java
  agent/src/com/cloud/agent/AgentShell.java
  agent/src/com/cloud/agent/IAgentShell.java
  agent/test/com/cloud/agent/AgentShellTest.java
  api/src/org/apache/cloudstack/config/ApiServiceConfiguration.java
  client/pom.xml
  core/src/com/cloud/agent/api/ReadyCommand.java
  core/src/com/cloud/agent/api/StartupCommand.java
  core/src/org/apache/cloudstack/agent/lb/SetupMSListAnswer.java
  core/src/org/apache/cloudstack/agent/lb/SetupMSListCommand.java
  engine/orchestration/pom.xml
  engine/orchestration/src/com/cloud/agent/manager/AgentManagerImpl.java
  framework/agent-lb/pom.xml
  framework/agent-lb/src/org/apache/cloudstack/agent/lb/IndirectAgentLB.java
  framework/agent-lb/src/org/apache/cloudstack/agent/lb/IndirectAgentLBAlgorithm.java
  framework/pom.xml
  plugins/network-elements/elastic-loadbalancer/src/com/cloud/network/lb/ElasticLoadBalancerManagerImpl.java
  server/pom.xml
  server/resources/META-INF/cloudstack/core/spring-server-core-managers-context.xml
  server/src/com/cloud/configuration/ConfigurationManagerImpl.java
  server/src/com/cloud/consoleproxy/ConsoleProxyManagerImpl.java
  server/src/com/cloud/hypervisor/kvm/discoverer/LibvirtServerDiscoverer.java
  server/src/com/cloud/network/router/VirtualNetworkApplianceManagerImpl.java
  server/src/com/cloud/server/ConfigurationServerImpl.java
  server/src/org/apache/cloudstack/agent/lb/IndirectAgentLBServiceImpl.java
  server/src/org/apache/cloudstack/agent/lb/algorithm/IndirectAgentLBRoundRobinAlgorithm.java
  server/src/org/apache/cloudstack/agent/lb/algorithm/IndirectAgentLBShuffleAlgorithm.java
  server/src/org/apache/cloudstack/agent/lb/algorithm/IndirectAgentLBStaticAlgorithm.java
  server/test/org/apache/cloudstack/agent/lb/IndirectAgentLBServiceImplTest.java
  server/test/org/apache/cloudstack/agent/lb/algorithm/IndirectAgentLBRoundRobinAlgorithmTest.java
  server/test/org/apache/cloudstack/agent/lb/algorithm/IndirectAgentLBShuffleAlgorithmTest.java
  server/test/org/apache/cloudstack/agent/lb/algorithm/IndirectAgentLBStaticAlgorithmTest.java
  server/test/resources/createNetworkOffering.xml
  server/test/resources/testContext.xml
  services/secondary-storage/controller/src/org/apache/cloudstack/secondarystorage/SecondaryStorageManagerImpl.java
  utils/src/main/java/com/cloud/utils/StringUtils.java
  utils/src/test/java/com/cloud/utils/StringUtilsTest.java
Labels: config, enhancement, kvm, management-server

#2489 CLOUDSTACK-10330 PULL_REQUEST_TEMPLATE: Add pull request template
  PULL_REQUEST_TEMPLATE.md
Labels: admin

#2497 CLOUDSTACK-10331: Remove reference to deleted script vm_snapshots.js
  scripts/installer/windows/client.wxs
  ui/index.html
Labels: UI, bug

#2504 CLOUDSTACK-10340: Add setter to hypervisorType in VMInstanceVO
  engine/schema/src/com/cloud/vm/VMInstanceVO.java
Labels: plugin

#2468 [4.11] VR: minor fixes
  systemvm/debian/etc/rsyslog.conf
  systemvm/debian/etc/systemd/system/cloud-postinit.service
  tools/appliance/systemvmtemplate/scripts/finalize.sh
Labels: systemvm-template-change

#2481 CLOUDSTACK-10320 - Invalid pair for response object breaking response parsing
  framework/db/src/main/java/com/cloud/utils/db/GenericDaoBase.java
Labels: Work-in-Progress

#2397 CLOUDSTACK-10221: Allow IPv6 when creating a Basic Network
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestrator.java
Labels: basic-network, ipv6

#2507 CLOUDSTACK-10319: Allow TLSv1, v1.1 for XenServer, Vmware
  client/conf/java.security.ciphers.in
  utils/src/main/java/org/apache/cloudstack/utils/security/SSLUtils.java
  utils/src/test/java/com/cloud/utils/security/SSLUtilsTest.java
Labels: security

#2465 CLOUDSTACK-10232: SystemVMs and VR to run as HVM on XenServer
  plugins/hypervisors/xenserver/src/com/cloud/hypervisor/xenserver/resource/CitrixResourceBase.java
  systemvm/debian/opt/cloud/bin/setup/cloud-early-config
Labels: systemvm-template-change

#2438 [CLOUDSTACK-10307] Remove unused things from HostDaoImpl
  engine/schema/src/main/java/com/cloud/host/dao/HostDao.java
  engine/schema/src/main/java/com/cloud/host/dao/HostDaoImpl.java
  server/src/main/java/com/cloud/hypervisor/CloudZonesStartupProcessor.java
Labels: Cleanup

#2513 packaging: Fix mkdir path for centos rpms
  packaging/centos63/cloud.spec
  packaging/centos7/cloud.spec
Labels: packaging

#2506 CLOUDSTACK-10341: Reduce systemvmtemplate size, install nftables
  test/integration/smoke/test_vpc_redundant.py
  tools/appliance/build.sh
  tools/appliance/systemvmtemplate/http/preseed.cfg
  tools/appliance/systemvmtemplate/scripts/apt_upgrade.sh
  tools/appliance/systemvmtemplate/scripts/cleanup.sh
  tools/appliance/systemvmtemplate/scripts/install_systemvm_packages.sh
  tools/appliance/systemvmtemplate/template.json
Labels: systemvm-template-change

#2496 [CLOUDSTACK-10332] Users are not able to change/edit the protocol of an ACL rule
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/command/user/network/UpdateNetworkACLItemCmd.java
  server/src/main/java/com/cloud/network/vpc/NetworkACLServiceImpl.java
  server/src/test/java/com/cloud/network/vpc/NetworkACLServiceImplTest.java
  ui/scripts/vpc.js
Labels: UI, api, bug

#2492 Fix the name of the column used to hold IPv4 range in 'vlan' table.
  engine/schema/src/main/java/com/cloud/dc/VlanVO.java
  engine/schema/src/main/resources/META-INF/db/schema-41100to41200.sql
  server/src/main/java/com/cloud/test/PodZoneConfig.java
Labels: Cleanup

#2414 [CLOUDSTACK-10241] Duplicated file SRs being created in XenServer pools
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/CitrixResourceBase.java
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/Xenserver625StorageProcessor.java
  plugins/hypervisors/xenserver/src/test/java/com/cloud/hypervisor/xenserver/resource/XenServer625ResourceTest.java
  plugins/hypervisors/xenserver/src/test/java/com/cloud/hypervisor/xenserver/resource/Xenserver625StorageProcessorTest.java
Labels: XenServer, bug

#2515 Fix Successfully typo
  server/src/main/java/com/cloud/test/PodZoneConfig.java
Labels: typos
