Repository apache/cloudstack, pull requests merged in 2018-04, with the labels that each got.

#2519 CLOUDSTACK-10287 package require open jdk 1.8
  packaging/centos7/cloud.spec
Labels: packaging

#2552 debian: remove old usage jars during upgrade
  debian/cloudstack-usage.preinst
Labels: packaging

#2462 [CLOUDSTACK-10301] Allow updating the network ACL list name and Description
  api/src/main/java/com/cloud/network/vpc/NetworkACLService.java
  api/src/main/java/org/apache/cloudstack/api/command/user/network/UpdateNetworkACLListCmd.java
  engine/schema/src/main/java/com/cloud/network/vpc/NetworkACLVO.java
  server/src/main/java/com/cloud/network/vpc/NetworkACLServiceImpl.java
  server/src/test/java/com/cloud/network/vpc/NetworkACLServiceImplTest.java
  ui/l10n/ar.js
  ui/l10n/ca.js
  ui/l10n/de_DE.js
  ui/l10n/en.js
  ui/l10n/es.js
  ui/l10n/fr_FR.js
  ui/l10n/hu.js
  ui/l10n/it_IT.js
  ui/l10n/ja_JP.js
  ui/l10n/ko_KR.js
  ui/l10n/nb_NO.js
  ui/l10n/nl_NL.js
  ui/l10n/pl.js
  ui/l10n/pt_BR.js
  ui/l10n/ru_RU.js
  ui/l10n/zh_CN.js
  ui/scripts/ui/widgets/detailView.js
  ui/scripts/vpc.js
Labels: UI, api, enhancement

#2401 [CLOUDSTACK-10226] CloudStack is not importing Local storage properly
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/CitrixResourceBase.java
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/XenServer56Resource.java
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/Xenserver625StorageProcessor.java
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/XsHost.java
  plugins/hypervisors/xenserver/src/test/java/com/cloud/hypervisor/xenserver/resource/CitrixResourceBaseTest.java
  plugins/hypervisors/xenserver/src/test/java/com/cloud/hypervisor/xenserver/resource/XcpOssResourceTest.java
  plugins/hypervisors/xenserver/src/test/java/com/cloud/hypervisor/xenserver/resource/XcpServerResourceTest.java
  plugins/hypervisors/xenserver/src/test/java/com/cloud/hypervisor/xenserver/resource/XenServer56FP1ResourceTest.java
  plugins/hypervisors/xenserver/src/test/java/com/cloud/hypervisor/xenserver/resource/XenServer56ResourceTest.java
  plugins/hypervisors/xenserver/src/test/java/com/cloud/hypervisor/xenserver/resource/XenServer56SP2ResourceTest.java
  plugins/hypervisors/xenserver/src/test/java/com/cloud/hypervisor/xenserver/resource/XenServer600ResourceTest.java
  plugins/hypervisors/xenserver/src/test/java/com/cloud/hypervisor/xenserver/resource/XenServer650ResourceTest.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
  server/src/main/java/com/cloud/storage/StorageManagerImpl.java
  server/src/test/java/com/cloud/storage/StorageManagerImplTest.java
Labels: XenServer, improvement, primary-storage

#2560 ui: Make zonal dashboard larger
  ui/css/cloudstack3.css
Labels: UI

#2550 debian: Use only `-l` for libvirtd default file on debian
  python/lib/cloud_utils.py
  python/lib/cloudutils/serviceConfig.py
Labels: kvm, packaging

#2404 [CLOUDSTACK-10230] User should not be able to use removed “Guest OS type”
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/test/java/com/cloud/vm/UserVmManagerTest.java
  server/test/com/cloud/vm/UserVmManagerImplTest.java
Labels: bug, management-server, security

#2390 [CLOUDSTACK-10214] Unable to remove local primary storage
  api/src/main/java/com/cloud/storage/StorageService.java
  server/src/main/java/com/cloud/storage/StorageManagerImpl.java
Labels: bug, management-server, primary-storage

#2555 Remove 'md5Hashed' variable from Javascript.
  ui/scripts/accounts.js
  ui/scripts/accountsWizard.js
  ui/scripts/cloudStack.js
  ui/scripts/installWizard.js
  ui/scripts/sharedFunctions.js
Labels: Cleanup, UI

#2563 CLOUDSTACK-10304: turn off apache2 server tokens and signature in systemvms
  systemvm/debian/etc/apache2/conf-enabled/security.conf
  systemvm/debian/opt/cloud/bin/setup/common.sh
Labels: security

#2568 Log command output in CsHelper.execute command
  systemvm/debian/opt/cloud/bin/cs/CsHelper.py
Labels: improvement

#2553 Update inconsistent debugging info in catch block
  api/src/main/java/org/apache/cloudstack/api/command/user/firewall/CreateFirewallRuleCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/firewall/CreatePortForwardingRuleCmd.java
  engine/schema/src/main/java/com/cloud/usage/dao/UsageDaoImpl.java
  plugins/event-bus/rabbitmq/src/main/java/org/apache/cloudstack/mom/rabbitmq/RabbitMQEventBus.java
  plugins/hypervisors/hyperv/src/main/java/com/cloud/ha/HypervInvestigator.java
  plugins/hypervisors/ovm/src/main/java/com/cloud/ovm/hypervisor/OvmFencer.java
  plugins/hypervisors/simulator/src/main/java/com/cloud/ha/SimulatorFencer.java
  plugins/hypervisors/xenserver/src/main/java/com/cloud/ha/XenServerFencer.java
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/CitrixResourceBase.java
  server/src/main/java/com/cloud/ha/KVMFencer.java
  server/src/main/java/com/cloud/server/ConfigurationServerImpl.java
Labels: Work-in-Progress, enhancement, management-server

#2572 Remove 'todb' in favor of 'encodeURIComponent'.
  ui/scripts/accountsWizard.js
  ui/scripts/cloudStack.js
  ui/scripts/globalSettings.js
  ui/scripts/instanceWizard.js
  ui/scripts/instances.js
  ui/scripts/sharedFunctions.js
  ui/scripts/storage.js
  ui/scripts/system.js
  ui/scripts/vpc.js
  ui/scripts/zoneWizard.js
Labels: Cleanup, UI

#2511 [CLOUDSTACK-10344] bug when moving ACL rules (change order with drag and drop)
  api/src/main/java/com/cloud/network/vpc/NetworkACLService.java
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/command/user/network/MoveNetworkAclItemCmd.java
  engine/schema/src/main/java/com/cloud/network/vpc/NetworkACLItemDao.java
  engine/schema/src/main/java/com/cloud/network/vpc/dao/NetworkACLItemCidrsDaoImpl.java
  engine/schema/src/main/java/com/cloud/network/vpc/dao/NetworkACLItemDaoImpl.java
  engine/schema/src/main/resources/META-INF/db/schema-41110to41200.sql
  server/src/main/java/com/cloud/network/vpc/NetworkACLServiceImpl.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
  server/src/test/java/com/cloud/network/vpc/NetworkACLServiceImplTest.java
  ui/scripts/vpc.js
Labels: UI, bug, management-server

#2554 agent: Add logging to libvirt qemu hook and cleanup
  agent/bindir/libvirtqemuhook.in
Labels: kvm

#2562 consoleproxy: use consoleproxy.domain for non-ssl enable env
  core/src/com/cloud/info/ConsoleProxyInfo.java
  server/src/com/cloud/consoleproxy/ConsoleProxyManagerImpl.java
Labels: console-proxy

#2576 Fix Python code checkstyle execute by "systemvm\test\runtests.sh"
  systemvm/debian/opt/cloud/bin/configure.py
  systemvm/debian/opt/cloud/bin/cs/CsProcess.py
  systemvm/debian/opt/cloud/bin/cs/CsRedundant.py
  systemvm/debian/opt/cloud/bin/line_edit.py
  systemvm/debian/opt/cloud/bin/update_config.py
  systemvm/debian/opt/cloud/bin/vmdata.py
  systemvm/test/TestCsAddress.py
  systemvm/test/TestCsApp.py
  systemvm/test/TestCsCmdLine.py
  systemvm/test/TestCsConfig.py
  systemvm/test/TestCsDatabag.py
  systemvm/test/TestCsDhcp.py
  systemvm/test/TestCsFile.py
  systemvm/test/TestCsGuestNetwork.py
  systemvm/test/TestCsHelper.py
  systemvm/test/TestCsInterface.py
  systemvm/test/TestCsNetfilter.py
  systemvm/test/TestCsProcess.py
  systemvm/test/TestCsRedundant.py
  systemvm/test/TestCsRoute.py
  systemvm/test/TestCsRule.py
  systemvm/test/runtests.sh
  tools/travis/before_install.sh
Labels: Python

#2586 Use double quotes with 'RROUTER' variable in "common.sh" script
  systemvm/debian/opt/cloud/bin/setup/common.sh
Labels: bug, virtual-router

#2587 Remote empty VPN test class
  server/pom.xml
  server/src/test/java/com/cloud/network/vpn/MockRemoteAccessVPNServiceProvider.java
  server/src/test/java/com/cloud/network/vpn/RemoteAccessVpnTest.java
Labels: Cleanup

#2580 CLOUDSTACK-10357 Improve log messages that do not match with their method function
  agent/src/main/java/com/cloud/agent/resource/consoleproxy/ConsoleProxyResource.java
  engine/schema/src/main/java/com/cloud/vm/dao/UserVmDaoImpl.java
  plugins/dedicated-resources/src/main/java/org/apache/cloudstack/dedicated/DedicatedResourceManagerImpl.java
  plugins/hypervisors/baremetal/src/main/java/org/apache/cloudstack/api/DeleteBaremetalRctCmd.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStorageProcessor.java
  plugins/integrations/cloudian/src/main/java/org/apache/cloudstack/cloudian/client/CloudianClient.java
  plugins/network-elements/netscaler/src/main/java/com/cloud/network/resource/NetScalerControlCenterResource.java
  plugins/network-elements/nuage-vsp/src/main/java/com/cloud/network/resource/NuageVspResource.java
  server/src/main/java/com/cloud/network/NetworkModelImpl.java
  server/src/main/java/com/cloud/network/as/AutoScaleManagerImpl.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/HostDatastoreBrowserMO.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/VirtualMachineMO.java
Labels: Cleanup, management-server

#2505 CLOUDSTACK-10333: Secure Live VM Migration for KVM
  agent/bindir/cloud-setup-agent.in
  agent/src/com/cloud/agent/Agent.java
  agent/src/com/cloud/agent/AgentShell.java
  agent/src/com/cloud/agent/IAgentShell.java
  core/src/com/cloud/agent/resource/virtualnetwork/VirtualRoutingResource.java
  core/src/org/apache/cloudstack/ca/PostCertificateRenewalCommand.java
  core/src/org/apache/cloudstack/ca/SetupCertificateCommand.java
  debian/cloudstack-agent.postinst
  plugins/ca/root-ca/src/org/apache/cloudstack/ca/provider/RootCAProvider.java
  plugins/hypervisors/kvm/src/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtMigrateCommandWrapper.java
  plugins/hypervisors/kvm/src/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtModifyTargetsCommandWrapper.java
  plugins/hypervisors/kvm/src/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtPostCertificateRenewalCommandWrapper.java
  plugins/hypervisors/kvm/test/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtMigrateCommandWrapperTest.java
  python/lib/cloud_utils.py
  python/lib/cloudutils/serviceConfig.py
  scripts/util/keystore-cert-import
  server/src/com/cloud/hypervisor/kvm/discoverer/LibvirtServerDiscoverer.java
  server/src/org/apache/cloudstack/ca/CAManagerImpl.java
  test/integration/smoke/test_vm_life_cycle.py
  ui/css/cloudstack3.css
  ui/l10n/en.js
  ui/scripts/system.js
  utils/src/main/java/com/cloud/utils/nio/Link.java
  utils/src/main/java/com/cloud/utils/script/Script.java
  utils/src/main/java/com/cloud/utils/ssh/SSHCmdHelper.java
  utils/src/main/java/org/apache/cloudstack/utils/security/KeyStoreUtils.java
Labels: enhancement, kvm, libvirt, security

#2579 router: fix routing table for marked packets
  systemvm/debian/opt/cloud/bin/configure.py
  systemvm/debian/opt/cloud/bin/cs/CsAddress.py
  systemvm/debian/opt/cloud/bin/cs/CsRoute.py
Labels: BLOCKER, virtual-router

#2590 network: Fix security groups for CentOS
  scripts/vm/network/security_group.py
  test/integration/smoke/test_routers.py
Labels: BLOCKER, security-group

#2597 UpdateUserCmd: apiSecretKey refers to itself
  api/src/main/java/org/apache/cloudstack/api/command/admin/user/UpdateUserCmd.java
Labels: Documentation, api

#2594 Remove 'NetworkManagerTestComponentLibrary' empty class and related configurations
  server/src/test/java/com/cloud/network/NetworkManagerTestComponentLibrary.java
  server/src/test/java/com/cloud/network/firewall/FirewallManagerTest.java
  server/src/test/resources/network-mgr-component.xml
Labels: Cleanup

#2566 ConfigDrive fixes: CLOUDSTACK-10288, CLOUDSTACK-10289
  api/src/com/cloud/network/NetworkModel.java
  engine/orchestration/src/com/cloud/vm/VirtualMachineManagerImpl.java
  server/src/com/cloud/network/NetworkModelImpl.java
  server/src/com/cloud/network/element/ConfigDriveNetworkElement.java
  server/src/com/cloud/vm/UserVmManagerImpl.java
  server/test/com/cloud/network/MockNetworkModelImpl.java
  server/test/com/cloud/network/element/ConfigDriveNetworkElementTest.java
  server/test/com/cloud/vpc/MockNetworkModelImpl.java
  services/secondary-storage/server/src/org/apache/cloudstack/storage/resource/NfsSecondaryStorageResource.java
  test/integration/component/test_configdrive.py
  test/integration/plugins/nuagevsp/nuageTestCase.py
  test/integration/plugins/nuagevsp/nuage_lib.py
  test/integration/plugins/nuagevsp/test_nuage_configdrive.py
  tools/marvin/marvin/jsonHelper.py
Labels: Work-in-Progress, bug

#2486 [CLOUDSTACK-10323] Allow changing disk offering during volume migration
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/volume/MigrateVolumeCmdByAdmin.java
  api/src/main/java/org/apache/cloudstack/api/command/user/volume/MigrateVolumeCmd.java
  engine/components-api/src/main/java/com/cloud/vm/VmWorkMigrateVolume.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/VolumeOrchestrator.java
  engine/schema/src/main/java/com/cloud/storage/DiskOfferingVO.java
  engine/schema/src/main/java/com/cloud/storage/dao/VolumeDao.java
  engine/schema/src/main/java/com/cloud/storage/dao/VolumeDaoImpl.java
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  server/src/test/java/com/cloud/storage/VolumeApiServiceImplTest.java
  test/integration/smoke/test_volumes.py
  ui/l10n/ar.js
  ui/l10n/ca.js
  ui/l10n/de_DE.js
  ui/l10n/en.js
  ui/l10n/es.js
  ui/l10n/fr_FR.js
  ui/l10n/hu.js
  ui/l10n/it_IT.js
  ui/l10n/ja_JP.js
  ui/l10n/ko_KR.js
  ui/l10n/nb_NO.js
  ui/l10n/nl_NL.js
  ui/l10n/pl.js
  ui/l10n/pt_BR.js
  ui/l10n/ru_RU.js
  ui/l10n/zh_CN.js
  ui/scripts/storage.js
Labels: enhancement, management-server
