Repository apache/cloudstack, pull requests merged in 2019-10, with the labels that each got.

#3627 [do not merge] server: Do NOT cleanup dhcp and dns when stop a vm
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestrator.java
  server/src/main/java/com/cloud/network/element/VirtualRouterElement.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
Labels: component:virtual-router, type:bug

#3525 NioServer: retain links by address string to minimize resource leak
  utils/src/main/java/com/cloud/utils/nio/Link.java
  utils/src/main/java/com/cloud/utils/nio/NioServer.java
Labels: component:kvm

#3641 security_group.py: fix NameError: name 'd' is not defined
  scripts/vm/network/security_group.py
Labels: component:security-group, type:bug
