Repository apache/cloudstack, pull requests merged in 2019-05, with the labels that each got.

#3216 api: include tags in listvmsnapshots response
  api/src/main/java/org/apache/cloudstack/api/response/VMSnapshotResponse.java
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
Labels: api, bug

#3213 server: allow admins to blacklist vm details that users should not see
  api/src/main/java/org/apache/cloudstack/query/QueryService.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  server/src/main/java/com/cloud/api/query/dao/UserVmJoinDaoImpl.java
Labels: api, enhancement

#3276 Allow VM that has never started to have volumes attached
  api/src/com/cloud/storage/Volume.java
  engine/storage/volume/src/org/apache/cloudstack/storage/volume/VolumeServiceImpl.java
  server/src/com/cloud/storage/VolumeApiServiceImpl.java
  test/integration/smoke/test_volumes.py
Labels: managed-storage, primary-storage

#3278 systemvm: new qemu-guest-agent based patching for KVM
  plugins/hypervisors/kvm/src/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtStartCommandWrapper.java
  plugins/hypervisors/kvm/test/com/cloud/hypervisor/kvm/resource/LibvirtDomainXMLParserTest.java
  plugins/hypervisors/kvm/test/com/cloud/hypervisor/kvm/resource/LibvirtVMDefTest.java
  scripts/installer/windows/client.wxs
  scripts/vm/hypervisor/kvm/patch.sh
  scripts/vm/hypervisor/kvm/patchviasocket.py
  scripts/vm/hypervisor/kvm/test_patchviasocket.py
  systemvm/debian/opt/cloud/bin/setup/cloud-early-config
  systemvm/debian/root/.ssh/authorized_keys
  systemvm/pom.xml
  tools/appliance/systemvmtemplate/scripts/configure_systemvm_services.sh
  tools/appliance/systemvmtemplate/template.json
Labels: kvm, systemvm-template-change

#3282 Fix slow vm creation when large sf snapshot count
  engine/schema/src/main/java/com/cloud/storage/dao/VMTemplatePoolDao.java
  engine/schema/src/main/java/com/cloud/storage/dao/VMTemplatePoolDaoImpl.java
  engine/schema/src/main/java/com/cloud/storage/dao/VolumeDao.java
  engine/schema/src/main/java/com/cloud/storage/dao/VolumeDaoImpl.java
  engine/schema/src/main/java/org/apache/cloudstack/storage/datastore/db/SnapshotDataStoreDao.java
  engine/storage/src/main/java/org/apache/cloudstack/storage/image/db/SnapshotDataStoreDaoImpl.java
  plugins/storage/volume/solidfire/src/main/java/org/apache/cloudstack/storage/datastore/driver/SolidFirePrimaryDataStoreDriver.java
Labels: bug, primary-storage

#3326 Bug fix for zone names not appearing in dashboard
  ui/index.html
Labels: UI, bug

#3260 base64 userdata encoding fix
  ui/index.html
  ui/scripts/instanceWizard.js
Labels: UI

#3325 slf4j version
  pom.xml
Labels: build, improvement

#3218 vmware: don't use redundant worker VM to extract volume
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/manager/VmwareStorageManagerImpl.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/storage/resource/VmwareStorageProcessor.java
Labels: Work-in-Progress, vmware

#3345 Fix iops values when creating a compute offering
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
Labels: UI, bug, managed-storage

#3239 KVM: Fix agents dont reconnect post maintenance
  agent/src/com/cloud/agent/Agent.java
  engine/components-api/src/com/cloud/resource/ResourceManager.java
  engine/orchestration/src/com/cloud/agent/manager/AgentAttache.java
  server/src/com/cloud/configuration/Config.java
  server/src/com/cloud/resource/ResourceManagerImpl.java
  server/test/com/cloud/resource/ResourceManagerImplTest.java
  test/integration/smoke/test_host_maintenance.py
Labels: enhancement, kvm

#3333 server: ssh-keygen in PEM format and reduce main systemvm patching script
  .travis.yml
  plugins/hypervisors/kvm/src/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtStartCommandWrapper.java
  server/src/com/cloud/server/ConfigurationServerImpl.java
  services/console-proxy-rdp/rdpconsole/pom.xml
  systemvm/debian/opt/cloud/bin/setup/bootstrap.sh
  systemvm/debian/opt/cloud/bin/setup/cloud-early-config
  systemvm/debian/opt/cloud/bin/setup/patchsystemvm.sh
  systemvm/debian/opt/cloud/bin/setup/router.sh
  systemvm/debian/opt/cloud/bin/setup/vpcrouter.sh
  tools/appliance/systemvmtemplate/scripts/install_systemvm_packages.sh
Labels: BLOCKER, database, kvm, management-server, security

#3347 Fix correct permissions cloudstack-agent logrotate file for CentOS
  packaging/centos7/cloud.spec
Labels: bug, packaging

#3244 [WIP DO NOT MERGE] ui: instance settings visibility
  api/src/main/java/org/apache/cloudstack/api/response/UserVmResponse.java
  api/src/main/java/org/apache/cloudstack/query/QueryService.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  server/src/main/java/com/cloud/api/query/dao/UserVmJoinDaoImpl.java
  ui/css/cloudstack3.css
  ui/l10n/en.js
  ui/scripts/instances.js
Labels: UI, api, bug

#3199 Fix ip and ip cidr column sorting in tables
  ui/scripts/ui/widgets/dataTable.js
Labels: UI, bug

#3280 Remove code that generated /var/lib/libvirt/images/null on target host
  engine/storage/datamotion/src/main/java/org/apache/cloudstack/storage/motion/KvmNonManagedStorageDataMotionStrategy.java
  engine/storage/datamotion/src/main/java/org/apache/cloudstack/storage/motion/StorageSystemDataMotionStrategy.java
  engine/storage/datamotion/src/test/java/org/apache/cloudstack/storage/motion/KvmNonManagedStorageSystemDataMotionTest.java
  engine/storage/datamotion/src/test/java/org/apache/cloudstack/storage/motion/StorageSystemDataMotionStrategyTest.java
Labels: bug, kvm

#3320 server: fix for inactive service offering for VM
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
Labels: bug

#3335 kvm: disable cpu features if feature starts with '-'
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtVMDef.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/LibvirtVMDefTest.java
Labels: enhancement, kvm

#3323 User allowed to tag project created by him
  server/src/main/java/com/cloud/tags/TaggedResourceManagerImpl.java
Labels: UI, bug

#3243 [WIP DO NOT MERGE] ui: add memory used column in instance metrics view
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/resource/VmwareResource.java
  ui/scripts/metrics.js
Labels: UI, vmware

#3153 DPDK vHost User mode selection
  engine/schema/src/main/resources/META-INF/db/schema-41200to41300.sql
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/dpdk/DPDKDriver.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/dpdk/DPDKDriverImpl.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtVMDef.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/OvsVifDriver.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/dpdk/DPDKDriverTest.java
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  server/src/main/java/com/cloud/hypervisor/HypervisorGuruBase.java
  server/src/main/java/com/cloud/hypervisor/KVMGuru.java
  server/src/main/java/com/cloud/hypervisor/kvm/dpdk/DPDKHelper.java
  server/src/main/java/com/cloud/hypervisor/kvm/dpdk/DPDKHelperImpl.java
  server/src/main/resources/META-INF/cloudstack/core/spring-server-core-misc-context.xml
  server/src/test/java/com/cloud/hypervisor/KVMGuruTest.java
  server/src/test/java/com/cloud/hypervisor/kvm/dpdk/DPDKHelperImplTest.java
Labels: dpdk, kvm, networking, openvswitch

#3348 fix duplicate tag exception as CloudRuntimeException
  server/src/com/cloud/tags/TaggedResourceManagerImpl.java
  test/integration/component/test_tags.py
Labels: bug

#3342 VPC: Fail to restart VPC with cleanup if there are multiple public IPs in different subnets
  server/src/com/cloud/network/router/VpcNetworkHelperImpl.java
Labels: bug, virtual-router

#3359 Ui: Reset multiselect actions when refreshing listView in Instance page
  ui/scripts/ui/widgets/listView.js
Labels: UI, bug

#3338 ui: fix enable static nat only towards first nic and not on any other interface
  ui/scripts/network.js
  ui/scripts/vpc.js
Labels: UI, bug

#3258 Configurable UI branding, keyboard list and hide-able columns through a new config.js file
  ui/config.js
  ui/index.html
  ui/l10n/en.js
  ui/scripts/cloudStack.js
  ui/scripts/postLoad.js
  ui/scripts/templates.js
  ui/scripts/ui/core.js
  ui/scripts/ui/widgets/listView.js
Labels: UI, enhancement

#3358 Update vmware reservations description
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/guru/VMwareGuru.java
Labels: enhancement, vmware

#3356 Increase POST timeout for local template upload
  server/src/main/java/com/cloud/storage/ImageStoreUploadMonitorImpl.java
Labels: enhancement, templates

#3362 vmware: fix potential NPE when memory hotplug capability is checked
  vmware-base/src/com/cloud/hypervisor/vmware/mo/VirtualMachineMO.java
Labels: bug

#3361 Fix 4.11 VR Issues with Multiple Public Subnets
  systemvm/debian/opt/cloud/bin/configure.py
  systemvm/debian/opt/cloud/bin/cs/CsAddress.py
  systemvm/debian/opt/cloud/bin/cs/CsRedundant.py
Labels: Critical, virtual-router
