Repository apache/cloudstack, pull requests merged in 2019-09, with the labels that each got.

#3582 systemvmtemplate: Fix Debian 9 iso url
  tools/appliance/systemvmtemplate/template.json
Labels: systemvm-template-change

#3519 kvm/cloudstack-guest-tool: Tool to query Qemu Guest Agent
  agent/bindir/cloud-guest-tool.in
  debian/rules
  packaging/centos63/cloud.spec
  packaging/centos7/cloud.spec
Labels: Python, component:kvm

#3574 `service is-active` output check for "failed"
  python/lib/cloudutils/utilities.py
Labels: component:agent, type:bug

#3591 Deprecate EL6 and Add 4.13-4.14 Upgrade Path
  engine/schema/src/main/java/com/cloud/upgrade/DatabaseUpgradeChecker.java
  engine/schema/src/main/java/com/cloud/upgrade/dao/Upgrade41300to41400.java
  engine/schema/src/main/resources/META-INF/db/schema-41300to41400-cleanup.sql
  engine/schema/src/main/resources/META-INF/db/schema-41300to41400.sql
  packaging/README.md
  packaging/centos63/cloud-agent.rc
  packaging/centos63/cloud-ipallocator.rc
  packaging/centos63/cloud-management.rc
  packaging/centos63/cloud-usage.rc
  packaging/centos63/cloud.spec
  packaging/centos63/cloudstack-agent.te
  packaging/centos63/cloudstack-sccs
  packaging/centos63/replace.properties
  packaging/centos63/rhel7/cloudstack-management.conf
  packaging/package.sh
  tools/build/setnextversion.sh
  tools/docker/Dockerfile.centos6
  tools/docker/init.sh_centos6
Labels: type:Cleanup

#3597 kvm: Logrotate should not touch agent.log
  agent/conf/cloudstack-agent.logrotate.in
Labels: component:agent, component:kvm, component:packaging

#3607 allocator: in case of null guest OS don't fail prioritisation completely
  server/src/main/java/com/cloud/agent/manager/allocator/impl/FirstFitAllocator.java
Labels: severity:Minor, type:bug

#3608 server: Cleanup dhcp and dns entries only on expunging VM
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
Labels: component:compute, component:virtual-router

#3589 kvm/security_group: Make Security Group Python 3 compatible
  debian/control
  packaging/centos7/cloud.spec
  scripts/vm/network/security_group.py
Labels: Python, component:kvm, component:security-group, python3
