Repository apache/cloudstack, pull requests merged in 2019-02, with the labels that each got.

#3162 Fix issue with verification of ipv4/ipv6 address.
  ui/scripts/network.js
  ui/scripts/sharedFunctions.js
Labels: BLOCKER, UI, bug

#3122 Add back ability to disable backup of snapshot to secondary
  engine/api/src/org/apache/cloudstack/engine/subsystem/api/storage/SnapshotInfo.java
  engine/storage/snapshot/src/org/apache/cloudstack/storage/snapshot/SnapshotObject.java
  server/src/com/cloud/storage/snapshot/SnapshotManager.java
  server/src/com/cloud/storage/snapshot/SnapshotManagerImpl.java
Labels: management-server, primary-storage

#3133 feature: add libvirt / qemu io bursting
  api/src/main/java/com/cloud/offering/DiskOffering.java
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/offering/CreateDiskOfferingCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/offering/CreateServiceOfferingCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/DiskOfferingResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/ServiceOfferingResponse.java
  core/src/main/java/org/apache/cloudstack/storage/to/VolumeObjectTO.java
  engine/api/src/main/java/org/apache/cloudstack/engine/subsystem/api/storage/VolumeInfo.java
  engine/schema/src/main/java/com/cloud/storage/DiskOfferingVO.java
  engine/schema/src/main/resources/META-INF/db/schema-41120to41200.sql
  engine/storage/volume/src/main/java/org/apache/cloudstack/storage/volume/VolumeObject.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtDomainXMLParser.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtVMDef.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStorageProcessor.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/LibvirtVMDefTest.java
  server/src/main/java/com/cloud/api/query/dao/DiskOfferingJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/dao/ServiceOfferingJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/vo/DiskOfferingJoinVO.java
  server/src/main/java/com/cloud/api/query/vo/ServiceOfferingJoinVO.java
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  test/integration/smoke/test_disk_offerings.py
  test/integration/smoke/test_service_offerings.py
  tools/marvin/marvin/config/test_data.py
  tools/marvin/marvin/lib/base.py
Labels: kvm, libvirt, primary-storage

#3163 systemd: fix services to allow TLS configurations via java.security.ciphers
  debian/cloudstack-agent.postinst
  packaging/centos63/cloud-management.rc
  packaging/centos7/cloud-agent.rc
  packaging/centos7/cloud.spec
  packaging/debian/init/cloud-management
  packaging/systemd/cloudstack-agent.default
  packaging/systemd/cloudstack-agent.service
  packaging/systemd/cloudstack-management.default
  packaging/systemd/cloudstack-management.service
  packaging/systemd/cloudstack-usage.default
  packaging/systemd/cloudstack-usage.service
  systemvm/debian/opt/cloud/bin/configure.py
Labels: BLOCKER, Cleanup, security, systemd

#3154 Copy template to target KVM host if needed when migrating local <> local storage
  engine/components-api/src/main/java/com/cloud/storage/StorageManager.java
  engine/storage/datamotion/src/main/java/org/apache/cloudstack/storage/motion/AncientDataMotionStrategy.java
  engine/storage/datamotion/src/main/java/org/apache/cloudstack/storage/motion/KvmNonManagedStorageDataMotionStrategy.java
  engine/storage/datamotion/src/main/java/org/apache/cloudstack/storage/motion/StorageSystemDataMotionStrategy.java
  engine/storage/datamotion/src/test/java/org/apache/cloudstack/storage/motion/KvmNonManagedStorageSystemDataMotionTest.java
  plugins/storage/volume/default/src/main/java/org/apache/cloudstack/storage/datastore/driver/CloudStackPrimaryDataStoreDriverImpl.java
  server/src/main/java/com/cloud/configuration/Config.java
  server/src/main/java/com/cloud/storage/StorageManagerImpl.java
Labels: BLOCKER, bug, kvm

#3171 Keep iotune section in the VM's XML after live migration
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtMigrateCommandWrapper.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtMigrateCommandWrapperTest.java
Labels: BLOCKER, bug, kvm
