Repository apache/cloudstack, pull requests merged in 2020-07, with the labels that each got.

#3976 Enable sending hypervior host name via metadata - VR and Config Drive
  api/src/main/java/com/cloud/network/NetworkModel.java
  api/src/main/java/com/cloud/network/element/UserDataServiceProvider.java
  api/src/main/java/com/cloud/vm/VirtualMachineProfile.java
  core/src/main/java/com/cloud/agent/api/routing/VmDataCommand.java
  engine/api/src/main/java/com/cloud/vm/VirtualMachineManager.java
  engine/api/src/main/java/org/apache/cloudstack/engine/orchestration/service/NetworkOrchestrationService.java
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestrator.java
  engine/schema/src/main/java/com/cloud/vm/dao/UserVmDaoImpl.java
  plugins/hypervisors/baremetal/src/main/java/com/cloud/baremetal/networkservice/BaremetalUserdataElement.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtMigrateCommandWrapper.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResourceTest.java
  server/src/main/java/com/cloud/network/NetworkModelImpl.java
  server/src/main/java/com/cloud/network/element/CloudZonesNetworkElement.java
  server/src/main/java/com/cloud/network/element/ConfigDriveNetworkElement.java
  server/src/main/java/com/cloud/network/element/VirtualRouterElement.java
  server/src/main/java/com/cloud/network/router/CommandSetupHelper.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/main/java/org/apache/cloudstack/network/topology/BasicNetworkTopology.java
  server/src/test/java/com/cloud/network/MockNetworkModelImpl.java
  server/src/test/java/com/cloud/network/element/ConfigDriveNetworkElementTest.java
  server/src/test/java/com/cloud/vpc/MockNetworkManagerImpl.java
  server/src/test/java/com/cloud/vpc/MockNetworkModelImpl.java
  test/integration/component/test_configdrive.py
  test/integration/component/test_vr_metadata.py
Labels: component:virtual-router, type:enhancement

#4001 server: Dedicated hosts should be 'Not Suitable' while find host for m migration
  engine/components-api/src/main/java/com/cloud/deploy/DeploymentPlanningManager.java
  server/src/main/java/com/cloud/deploy/DeploymentPlanningManagerImpl.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
Labels: component:orchestration, type:bug

#4071 Dynamic roles improvements
  api/src/main/java/com/cloud/event/EventTypes.java
  api/src/main/java/org/apache/cloudstack/acl/Role.java
  api/src/main/java/org/apache/cloudstack/acl/RoleService.java
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/ApiServerService.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/acl/CreateRoleCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/acl/ImportRoleCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/acl/ListRolesCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/acl/RoleCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/acl/UpdateRoleCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/RoleResponse.java
  api/src/test/java/org/apache/cloudstack/api/command/test/CreateRoleCmdTest.java
  api/src/test/java/org/apache/cloudstack/api/command/test/ImportRoleCmdTest.java
  engine/schema/src/main/java/com/cloud/upgrade/dao/Upgrade41400to41500.java
  engine/schema/src/main/java/org/apache/cloudstack/acl/RoleVO.java
  engine/schema/src/main/java/org/apache/cloudstack/acl/dao/RoleDao.java
  engine/schema/src/main/java/org/apache/cloudstack/acl/dao/RoleDaoImpl.java
  engine/schema/src/main/java/org/apache/cloudstack/acl/dao/RolePermissionsDao.java
  engine/schema/src/main/java/org/apache/cloudstack/acl/dao/RolePermissionsDaoImpl.java
  engine/schema/src/main/resources/META-INF/db/schema-41400to41500-cleanup.sql
  engine/schema/src/main/resources/META-INF/db/schema-41400to41500.sql
  server/src/main/java/com/cloud/api/ApiServer.java
  server/src/main/java/org/apache/cloudstack/acl/RoleManagerImpl.java
  test/integration/smoke/test_dynamicroles.py
  tools/marvin/marvin/lib/base.py
Labels: component:api, component:identity-management, type:Cleanup, type:enhancement, type:new-feature

#4117 [VMware] Explicitly controlling VM hardware version
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/ClusterMO.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/DatacenterMO.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/HypervisorHostHelper.java
  vmware-base/src/test/java/com/cloud/hypervisor/vmware/mo/HypervisorHostHelperTest.java
Labels: component:vmware, type:enhancement

#4174 Set prometheus.exporter.enable as not dynamic
  plugins/integrations/prometheus/src/main/java/org/apache/cloudstack/metrics/PrometheusExporterServer.java
Labels: component:management-server, type:bug

#3979 Limit API from trying to start a VM that is already running
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
Labels: component:api, type:enhancement

#4202 server: don't export B&R APIs if feature is not enabled globally
  api/src/main/java/org/apache/cloudstack/backup/BackupManager.java
  developer/developer-prefill.sql
  server/src/main/java/org/apache/cloudstack/backup/BackupManagerImpl.java
  test/integration/smoke/test_backup_recovery_dummy.py
Labels: Severity:Major, component:UI, component:api

#4176 server: Purge all cookies on logout, set /client path on login
  plugins/user-authenticators/saml2/src/main/java/org/apache/cloudstack/saml/SAMLUtils.java
  server/src/main/java/com/cloud/api/ApiServlet.java
Labels: Severity:Critical, component:api, type:bug

#4196 VMware: Guest OS Mappings fix
  engine/schema/src/main/resources/META-INF/db/schema-41400to41500.sql
Labels: component:database, component:vmware, type:bug

#4156 Fixed removal of hosts from certsmap when running certificate auto-renew
  engine/schema/src/main/java/com/cloud/host/dao/HostDao.java
  engine/schema/src/main/java/com/cloud/host/dao/HostDaoImpl.java
Labels: component:management-server, type:bug

#4138 Fixed incorrect error message on invalid template type download
  core/src/main/java/com/cloud/storage/template/HttpTemplateDownloader.java
Labels: component:ssvm, component:templates, type:Cleanup, type:bug

#4188 Fix snapshots garbage collection
  engine/schema/src/main/java/org/apache/cloudstack/storage/datastore/db/SnapshotDataStoreDao.java
  engine/storage/src/main/java/org/apache/cloudstack/storage/image/db/SnapshotDataStoreDaoImpl.java
  server/src/main/java/com/cloud/storage/StorageManagerImpl.java
Labels: component:primary-storage, type:Cleanup, type:bug

#4214 Bug fixes for primate
  api/src/main/java/org/apache/cloudstack/acl/RoleService.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/acl/ListRolesCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/ListVMsCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/HostResponse.java
  engine/schema/src/main/java/org/apache/cloudstack/acl/dao/RoleDao.java
  engine/schema/src/main/java/org/apache/cloudstack/acl/dao/RoleDaoImpl.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  server/src/main/java/com/cloud/api/query/dao/HostJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/dao/TemplateJoinDaoImpl.java
  server/src/main/java/com/cloud/network/vpc/NetworkACLServiceImpl.java
  server/src/main/java/org/apache/cloudstack/acl/RoleManagerImpl.java
  server/src/test/java/org/apache/cloudstack/acl/RoleManagerImplTest.java
Labels: component:api, type:bug

#4035 Document how to pass CIDRs lists API calls
  api/src/main/java/org/apache/cloudstack/api/command/user/firewall/CreateEgressFirewallRuleCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/firewall/CreateFirewallRuleCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/firewall/CreatePortForwardingRuleCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/loadbalancer/CreateLoadBalancerRuleCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/nat/CreateIpForwardingRuleCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/network/CreateNetworkACLCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/network/UpdateNetworkACLItemCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/securitygroup/AuthorizeSecurityGroupEgressCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/securitygroup/AuthorizeSecurityGroupIngressCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vpn/CreateVpnCustomerGatewayCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vpn/UpdateVpnCustomerGatewayCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/FirewallResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/FirewallRuleResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/LoadBalancerResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/NetworkACLItemResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/Site2SiteCustomerGatewayResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/Site2SiteVpnConnectionResponse.java
Labels: component:api, type:Documentation, type:enhancement
