Repository apache/cloudstack, pull requests merged in 2020-06, with the labels that each got.

#4100 RabbitMQ log enhancement
  plugins/event-bus/rabbitmq/src/main/java/org/apache/cloudstack/mom/rabbitmq/RabbitMQEventBus.java
Labels: component:logging, type:bug, type:enhancement

#3794 create Volume Access Groups per cluster instead of CloudStack-RandomUUID()
  plugins/storage/volume/solidfire/src/main/java/org/apache/cloudstack/storage/datastore/driver/SolidFirePrimaryDataStoreDriver.java
  plugins/storage/volume/solidfire/src/main/java/org/apache/cloudstack/storage/datastore/lifecycle/SolidFireSharedPrimaryDataStoreLifeCycle.java
  plugins/storage/volume/solidfire/src/main/java/org/apache/cloudstack/storage/datastore/util/SolidFireUtil.java
Labels: component:managed-storage, type:bug

#4124 Missing python3 libvirt bindings
  packaging/centos7/cloud.spec
Labels: Severity:Critical, component:packaging, type:bug

#4065 Enable revocation checking for uploaded certificates
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/command/user/loadbalancer/UploadSslCertCmd.java
  server/src/main/java/org/apache/cloudstack/network/ssl/CertServiceImpl.java
  server/src/test/java/org/apache/cloudstack/network/ssl/CertServiceTest.java
Labels: component:security, type:enhancement

#4123 Improved kvmvmactivitycheck.sh output
  scripts/vm/hypervisor/kvm/kvmvmactivity.sh
Labels: component:kvm, type:bug

#4126 Enhance KVM running VM snapshot exception log
  server/src/main/java/com/cloud/storage/snapshot/SnapshotManagerImpl.java
Labels: component:kvm, component:logging

#4119 kvm: bump jna version to latest
  plugins/hypervisors/kvm/pom.xml
  pom.xml
Labels: component:kvm, type:bug

#4062 [VMware] Cannot migrate VM on PVLAN shared network
  server/src/main/java/com/cloud/network/element/VirtualRouterElement.java
Labels: type:bug

#4013 Allow IMG extension for QCOW2 format
  utils/src/main/java/com/cloud/utils/UriUtils.java
  utils/src/test/java/com/cloud/utils/UriUtilsParametrizedTest.java
Labels: component:kvm, type:enhancement

#4046 Display image store disk size used and total disk size stats
  api/src/main/java/org/apache/cloudstack/api/response/ImageStoreResponse.java
  server/src/main/java/com/cloud/api/query/dao/ImageStoreJoinDaoImpl.java
Labels: component:secondary-storage, type:enhancement

#4079 Fixed HA migrated storage error
  core/src/main/java/com/cloud/agent/api/CheckVMActivityOnStoragePoolCommand.java
Labels: component:agent, component:primary-storage, type:bug

#4017 [UI] Update ISO permissions
  ui/css/cloudstack3.css
  ui/l10n/en.js
  ui/scripts/templates.js
Labels: component:UI, type:enhancement

#3965 server: Honor vm.destroy.forcestop when expunge a vm
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
Labels: component:management-server, type:bug

#4021 Boot into hardware setup menu on Vmware
  api/src/main/java/com/cloud/agent/api/to/VirtualMachineTO.java
  api/src/main/java/com/cloud/vm/VirtualMachineProfile.java
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/DeployVMCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/RebootVMCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/StartVMCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/HostResponse.java
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/guru/VMwareGuru.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/guru/VmwareVmImplementer.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/resource/VmwareResource.java
  plugins/hypervisors/vmware/src/main/resources/META-INF/cloudstack/vmware-compute/spring-vmware-compute-context.xml
  plugins/hypervisors/vmware/src/test/java/com/cloud/hypervisor/guru/VmwareVmImplementerTest.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  ui/index.html
  ui/l10n/en.js
  ui/scripts/instanceWizard.js
  ui/scripts/instances.js
Labels: component:vmware, type:enhancement

#4077 Disable searching by instance name for customers
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
Labels: component:api, type:bug

#4109 add support for XCP-ng 7/8 to create it's heartbeat LVM properly
  scripts/vm/hypervisor/xenserver/setup_heartbeat_sr.sh
Labels: component:XenServer, type:bug

#4142 Invalid character encountered in file ui/l10n/pt_BR.js at line 1134 for encoding UTF-8.
  ui/l10n/pt_BR.js
Labels: component:UI, type:bug

#4083 Allow set IPv6 when deploying advanced network Zone with SG via UI
  ui/scripts/zoneWizard.js
Labels: component:UI, component:ipv6

#4048 Update DpdkDriverImpl.java to support DPDK trunk interfaces
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/dpdk/DpdkDriverImpl.java
Labels: component:dpdk, component:networking, type:enhancement

#3980 Fix String.format unused/misused arguments
  plugins/hypervisors/baremetal/src/main/java/com/cloud/baremetal/manager/BareMetalDiscoverer.java
  plugins/user-authenticators/ldap/src/main/java/org/apache/cloudstack/api/command/LdapListUsersCmd.java
  server/src/main/java/org/apache/cloudstack/vm/VmImportManagerImpl.java
Labels: component:logging, type:bug

#3955 docker: upgrade to ubuntu 18.04 and fix some issues
  tools/docker/Dockerfile
Labels: docker, type:bug

#3949 Fix: catch CloudRuntimeException in LibvirtGetVolumeStatsCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtGetVolumeStatsCommandWrapper.java
Labels: component:primary-storage, type:bug

#4075 Search VR using redundant state
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
Labels: component:virtual-router, type:enhancement

#4073 Display network name for IP in shared networks
  api/src/main/java/org/apache/cloudstack/api/response/IPAddressResponse.java
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
Labels: component:api, component:networking, type:enhancement

#3982 Updated 3 error messages to replace the word 'matches' with 'match'
  server/src/main/java/org/apache/cloudstack/vm/VmImportManagerImpl.java
Labels: type:bug, type:typos

#4122 Maximum data volumes limit is picked from "default" version of hypervisor, instead of actual hypervisor version
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
Labels: component:vmware, type:bug

#4070 Update cloud-set-guest-password.in
  setup/bindir/cloud-set-guest-password.in
Labels: component:templates, type:enhancement

#3991 Multiple dynamic VM Scaling APIs can create duplicate usage events for the same time
  engine/api/src/main/java/com/cloud/vm/VirtualMachineManager.java
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
  engine/orchestration/src/main/java/com/cloud/vm/VmWorkReconfigure.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
  server/src/main/java/com/cloud/vm/UserVmManager.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/test/java/com/cloud/vm/UserVmManagerTest.java
Labels: component:api, component:usage-server, type:bug

#4121 server: fix TransactionLegacy DB connection leaks due to DB switching by B&R thread
  api/src/main/java/com/cloud/event/EventTypes.java
  engine/schema/src/main/java/com/cloud/usage/dao/UsageBackupDao.java
  engine/schema/src/main/java/com/cloud/usage/dao/UsageBackupDaoImpl.java
  framework/db/src/main/java/com/cloud/utils/db/TransactionLegacy.java
  plugins/backup/dummy/src/main/java/org/apache/cloudstack/backup/DummyBackupProvider.java
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/VeeamBackupProvider.java
  server/src/main/java/org/apache/cloudstack/backup/BackupManagerImpl.java
  usage/src/main/java/com/cloud/usage/UsageManagerImpl.java
Labels: Severity:Critical

#4003 Logging framework to use only log4j
  agent/src/main/java/com/cloud/agent/Agent.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/account/LockAccountCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/router/UpgradeRouterTemplateCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/user/GetUserKeysCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vmsnapshot/CreateVMSnapshotCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vmsnapshot/RevertToVMSnapshotCmd.java
  api/src/main/java/org/apache/cloudstack/context/LogContext.java
  client/conf/commons-logging.properties.in
  client/src/main/java/org/apache/cloudstack/ServerDaemon.java
  engine/orchestration/src/main/java/com/cloud/agent/manager/AgentManagerImpl.java
  engine/orchestration/src/main/java/com/cloud/agent/manager/DirectAgentAttache.java
  framework/jobs/src/main/java/org/apache/cloudstack/framework/jobs/impl/AsyncJobManagerImpl.java
  framework/managed-context/pom.xml
  framework/managed-context/src/main/java/org/apache/cloudstack/managed/context/ManagedContextRunnable.java
  framework/managed-context/src/main/java/org/apache/cloudstack/managed/context/impl/DefaultManagedContext.java
  framework/managed-context/src/main/java/org/apache/cloudstack/managed/threadlocal/ManagedThreadLocal.java
  framework/spring/lifecycle/src/main/java/org/apache/cloudstack/spring/lifecycle/CloudStackExtendedLifeCycle.java
  framework/spring/lifecycle/src/main/java/org/apache/cloudstack/spring/lifecycle/registry/DumpRegistry.java
  framework/spring/lifecycle/src/main/java/org/apache/cloudstack/spring/lifecycle/registry/ExtensionRegistry.java
  framework/spring/lifecycle/src/main/java/org/apache/cloudstack/spring/lifecycle/registry/RegistryLifecycle.java
  framework/spring/module/src/main/java/org/apache/cloudstack/spring/module/factory/CloudStackSpringContext.java
  framework/spring/module/src/main/java/org/apache/cloudstack/spring/module/model/impl/DefaultModuleDefinitionSet.java
  framework/spring/module/src/main/java/org/apache/cloudstack/spring/module/web/CloudStackContextLoaderListener.java
  packaging/centos7/cloud.spec
  pom.xml
  usage/pom.xml
  utils/pom.xml
  utils/src/main/java/com/cloud/utils/backoff/impl/ConstantTimeBackoff.java
  utils/src/main/java/com/cloud/utils/xmlobject/XmlObject.java
  utils/src/main/java/org/apache/commons/httpclient/contrib/ssl/EasySSLProtocolSocketFactory.java
  utils/src/main/java/org/apache/commons/httpclient/contrib/ssl/EasyX509TrustManager.java
  utils/src/test/java/com/cloud/utils/backoff/impl/ConstantTimeBackoffTest.java
Labels: component:logging, type:Cleanup

#4007 Restarting all networks that needs a restart in a VPC
  server/src/main/java/com/cloud/network/vpc/VpcManagerImpl.java
Labels: component:vpc, type:bug

#4140 Adding showunique parameter to list templates and isos
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/command/user/iso/ListIsosCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/template/ListTemplatesCmd.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  server/src/main/java/com/cloud/api/query/dao/TemplateJoinDao.java
  server/src/main/java/com/cloud/api/query/dao/TemplateJoinDaoImpl.java
Labels: component:UI, component:api, type:enhancement

#4085 Fix duplicate user entries for vpn usage
  usage/pom.xml
  usage/src/main/java/com/cloud/usage/UsageManagerImpl.java
  usage/src/test/java/com/cloud/usage/UsageManagerImplTest.java
  usage/src/test/java/com/cloud/usage/UsageManagerTest.java
Labels: component:usage-server, type:bug, type:enhancement

#3998 NPE when VM is planned to migrate to other host during dynamic scaling
  engine/api/src/main/java/com/cloud/vm/VirtualMachineManager.java
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
  engine/orchestration/src/test/java/com/cloud/vm/VirtualMachineManagerImplTest.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
Labels: component:management-server, type:bug

#4145 Fixing listVirtualMachinesMetrics to extend ListVMsCmd instead of ListVMsCmdByAdmin
  plugins/metrics/src/main/java/org/apache/cloudstack/api/ListVMsMetricsCmd.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
Labels: component:api, type:bug

#4132 Fix delete network with no services
  engine/schema/src/main/java/com/cloud/vm/dao/UserVmDaoImpl.java
Labels: component:advanced-networking, component:networking

#4004 Fixed null pointer and deployment issue on Xenserver with L2 Guest network with configDrive
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/CitrixResourceBase.java
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/wrapper/xenbase/CitrixMigrateCommandWrapper.java
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/wrapper/xenbase/CitrixStartCommandWrapper.java
  server/src/main/java/com/cloud/network/element/ConfigDriveNetworkElement.java
Labels: component:networking, type:bug

#4154 server: fix for wrong affinity group count
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
Labels: component:api, type:bug

#4167 Adding missing fields to API responses
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/response/DomainRouterResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/IPAddressResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/PrivateGatewayResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/Site2SiteVpnGatewayResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/SystemVmResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/UserVmResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/VpcResponse.java
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  server/src/main/java/com/cloud/api/query/dao/DomainRouterJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/dao/UserVmJoinDaoImpl.java
Labels: component:api

#4148 server: Do not resize volume of running vm on KVM host if host is not Up or not Enabled
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
Labels: component:kvm, type:bug
