Repository apache/cloudstack, pull requests merged in 2020-08, with the labels that each got.

#4116 cks: fix template, deployment issues
  engine/schema/src/main/java/com/cloud/storage/dao/VMTemplateDao.java
  engine/schema/src/main/java/com/cloud/storage/dao/VMTemplateDaoImpl.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/KubernetesClusterManagerImpl.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterActionWorker.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterDestroyWorker.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterResourceModifierActionWorker.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterStartWorker.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/version/KubernetesVersionManagerImpl.java
  plugins/integrations/kubernetes-service/src/main/java/org/apache/cloudstack/api/command/user/kubernetes/version/ListKubernetesSupportedVersionsCmd.java
  plugins/integrations/kubernetes-service/src/test/java/com/cloud/kubernetes/version/KubernetesVersionServiceTest.java
Labels: component:kubernetes, component:templates, type:bug

#4231 kvm/ceph: Only if a port number has been specified define in the XML
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtStoragePoolDef.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMPhysicalDisk.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/LibvirtStoragePoolDefTest.java
  plugins/storage/volume/default/src/main/java/org/apache/cloudstack/storage/datastore/lifecycle/CloudStackPrimaryDataStoreLifeCycleImpl.java
Labels: component:ceph, component:kvm

#4000 vm: Reset deviceId to fix missing nic with vm
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
Labels: component:management-server, component:networking, type:bug

#4225 vmware: volume utilisation is always zero
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/resource/VmwareResource.java
  server/src/main/java/com/cloud/api/query/ViewResponseHelper.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/DatastoreMO.java
Labels: Severity:Major, component:vmware, type:bug

#4220 Fix cpuallocated value in findHostsForMIgration api
  server/src/main/java/com/cloud/api/query/dao/HostJoinDaoImpl.java
Labels: component:api, type:bug

#4165 Allow renaming cluster, host, and storage
  api/src/main/java/com/cloud/resource/ResourceService.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/cluster/UpdateClusterCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/host/UpdateHostCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/storage/UpdateStoragePoolCmd.java
  server/src/main/java/com/cloud/resource/ResourceManagerImpl.java
  server/src/main/java/com/cloud/resource/RollingMaintenanceManagerImpl.java
  server/src/main/java/com/cloud/storage/StorageManagerImpl.java
  server/src/test/java/com/cloud/resource/MockResourceManagerImpl.java
  ui/scripts/system.js
Labels: component:UI, component:api, type:bug, type:enhancement

#4019 server: Move restoreVM to vm work job queue
  api/src/main/java/com/cloud/vm/UserVmService.java
  engine/api/src/main/java/com/cloud/vm/VirtualMachineManager.java
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
  engine/orchestration/src/main/java/com/cloud/vm/VmWorkRestore.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/test/java/com/cloud/vm/UserVmManagerTest.java
Labels: type:bug

#4243 Update SystemVM debian iso from 10.4.0 to 10.5.0
  tools/appliance/systemvmtemplate/template.json
Labels: systemvm-iso-change

#4253 Fix sed command failure in Mac OS.
  tools/apidoc/build-apidoc.sh
Labels: component:build

#4016 Fixed private gateway can't be deleted
  api/src/main/java/org/apache/cloudstack/api/command/user/vpc/CreateStaticRouteCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vpc/ListStaticRoutesCmd.java
  engine/schema/src/main/java/com/cloud/network/vpc/dao/StaticRouteDao.java
  engine/schema/src/main/java/com/cloud/network/vpc/dao/StaticRouteDaoImpl.java
  server/src/main/java/com/cloud/network/vpc/VpcManagerImpl.java
  ui/scripts/vpc.js
Labels: Severity:Major, component:vpc, status:needs-testing, type:bug, type:enhancement

#4260 cks: fix for null hypervisor type
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterResourceModifierActionWorker.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterStartWorker.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
Labels: Severity:Critical

#4213 Search vm snapshots using tags
  server/src/main/java/com/cloud/vm/snapshot/VMSnapshotManagerImpl.java
Labels: component:api, component:primary-storage, type:bug

#4254 Name public network appropriately to avoid conflicts
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/HypervisorHostHelper.java
  vmware-base/src/test/java/com/cloud/hypervisor/vmware/mo/HypervisorHostHelperTest.java
Labels: Severity:Critical

#4207 Human readable sizes in logs
  agent/src/main/java/com/cloud/agent/Agent.java
  api/src/main/java/org/apache/cloudstack/api/command/user/volume/ResizeVolumeCmd.java
  core/src/main/java/com/cloud/agent/api/ReadyCommand.java
  core/src/main/java/com/cloud/agent/transport/Request.java
  core/src/main/java/com/cloud/storage/template/HttpTemplateDownloader.java
  core/src/main/java/com/cloud/storage/template/S3TemplateDownloader.java
  core/src/main/java/com/cloud/storage/template/TemplateLocation.java
  core/src/main/java/com/cloud/storage/template/VmdkProcessor.java
  engine/orchestration/src/main/java/com/cloud/agent/manager/AgentManagerImpl.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/VolumeOrchestrator.java
  framework/jobs/src/main/java/org/apache/cloudstack/framework/jobs/impl/AsyncJobManagerImpl.java
  plugins/hypervisors/baremetal/src/main/java/com/cloud/baremetal/manager/BareMetalPlanner.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtBackupSnapshotCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtResizeVolumeCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStorageProcessor.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/LibvirtStorageAdaptor.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/guru/VMwareGuru.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/resource/VmwareResource.java
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/CitrixResourceBase.java
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/XcpServerResource.java
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/XenServerStorageProcessor.java
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/Xenserver625StorageProcessor.java
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/wrapper/xenbase/CitrixResizeVolumeCommandWrapper.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/KubernetesClusterManagerImpl.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterResourceModifierActionWorker.java
  plugins/storage/volume/datera/src/main/java/org/apache/cloudstack/storage/datastore/driver/DateraPrimaryDataStoreDriver.java
  plugins/storage/volume/default/src/main/java/org/apache/cloudstack/storage/datastore/driver/CloudStackPrimaryDataStoreDriverImpl.java
  server/src/main/java/com/cloud/agent/manager/allocator/impl/FirstFitAllocator.java
  server/src/main/java/com/cloud/agent/manager/allocator/impl/UserConcentratedAllocator.java
  server/src/main/java/com/cloud/alert/ClusterAlertAdapter.java
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  server/src/main/java/com/cloud/capacity/CapacityManagerImpl.java
  server/src/main/java/com/cloud/deploy/DeploymentPlanningManagerImpl.java
  server/src/main/java/com/cloud/deploy/FirstFitPlanner.java
  server/src/main/java/com/cloud/network/ExternalDeviceUsageManagerImpl.java
  server/src/main/java/com/cloud/network/router/VirtualNetworkApplianceManagerImpl.java
  server/src/main/java/com/cloud/resourcelimit/ResourceLimitManagerImpl.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
  server/src/main/java/com/cloud/server/StatsCollector.java
  server/src/main/java/com/cloud/storage/StorageManagerImpl.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  services/secondary-storage/server/src/main/java/org/apache/cloudstack/storage/resource/NfsSecondaryStorageResource.java
  services/secondary-storage/server/src/main/java/org/apache/cloudstack/storage/template/DownloadManagerImpl.java
  services/secondary-storage/server/src/main/java/org/apache/cloudstack/storage/template/UploadManagerImpl.java
  test/integration/smoke/test_certauthority_root.py
  test/integration/smoke/test_human_readable_logs.py
  test/src-not-used/main/java/com/cloud/test/stress/TestClientWithAPI.java
  usage/src/main/java/com/cloud/usage/UsageManagerImpl.java
  usage/src/main/java/com/cloud/usage/parser/NetworkUsageParser.java
  usage/src/main/java/com/cloud/usage/parser/StorageUsageParser.java
  usage/src/main/java/com/cloud/usage/parser/VMSanpshotOnPrimaryParser.java
  usage/src/main/java/com/cloud/usage/parser/VMSnapshotUsageParser.java
  usage/src/main/java/com/cloud/usage/parser/VmDiskUsageParser.java
  utils/src/main/java/com/cloud/utils/HumanReadableJson.java
  utils/src/main/java/com/cloud/utils/NumbersUtil.java
  utils/src/test/java/com/cloud/utils/HumanReadableJsonTest.java
  utils/src/test/java/com/cloud/utils/NumbersUtilTest.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/DatastoreMO.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/VirtualMachineMO.java
Labels: Severity:Critical, component:logging

#4268 Prevent NullPointerException on GenericDaoBase
  framework/db/src/main/java/com/cloud/utils/db/GenericDaoBase.java
  framework/db/src/test/java/com/cloud/utils/db/GenericDaoBaseTest.java
Labels: type:bug

#4275 Display hypervisor type for VM snapshot
  api/src/main/java/org/apache/cloudstack/api/response/VMSnapshotResponse.java
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
Labels: component:api, component:primate

#4040 [KVM] Enable PVLAN support on L2 networks
  agent/src/main/java/com/cloud/agent/Agent.java
  api/src/main/java/com/cloud/agent/api/PvlanSetupCommand.java
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestrator.java
  engine/schema/src/main/java/com/cloud/network/dao/NetworkDao.java
  engine/schema/src/main/java/com/cloud/network/dao/NetworkDaoImpl.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtPvlanSetupCommandWrapper.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResourceTest.java
  scripts/vm/network/ovs-pvlan-kvm-dhcp-host.sh
  scripts/vm/network/ovs-pvlan-kvm-vm.sh
  server/src/test/java/com/cloud/network/dao/NetworkDaoTest.java
  server/src/test/java/com/cloud/vpc/dao/MockNetworkDaoImpl.java
  test/integration/smoke/test_network.py
  utils/src/main/java/com/cloud/utils/UriUtils.java
  utils/src/main/java/com/cloud/utils/net/NetUtils.java
  utils/src/test/java/com/cloud/utils/net/NetUtilsTest.java
Labels: Severity:Critical, component:kvm, component:openvswitch, type:bug, type:new-feature

#4274 engine: honour bypass VLAN id/range for L2 networks
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestrator.java
Labels: Severity:Critical, component:networking, type:bug

#4272 Fixed rolling restart on VPC network
  server/src/main/java/com/cloud/network/element/VpcVirtualRouterElement.java
Labels: Severity:Critical, component:vpc, type:bug

#4264 Changed test failure to warning
  test/integration/smoke/test_human_readable_logs.py
Labels: Severity:Critical

#4266 Adding os type id to the usage record response for virtual machines
  api/src/main/java/org/apache/cloudstack/api/response/UsageRecordResponse.java
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
Labels: component:api, type:enhancement

#4288 client: explicitly define SslContextFactory::Server for https
  client/src/main/java/org/apache/cloudstack/ServerDaemon.java
  pom.xml
Labels: Severity:BLOCKER

#3902 vrouter: Save PlaceHolder nic for VR if network does not have source nat
  api/src/main/java/com/cloud/vm/NicProfile.java
  server/src/main/java/com/cloud/network/NetworkServiceImpl.java
  server/src/main/java/com/cloud/network/guru/ExternalGuestNetworkGuru.java
  server/src/main/java/com/cloud/network/guru/GuestNetworkGuru.java
  server/src/main/java/com/cloud/network/router/NetworkHelperImpl.java
Labels: component:virtual-router, type:bug

#3996 UI: Hide cpuspeed for custom constrained offering
  ui/scripts/instances.js
Labels: component:UI, type:bug, type:regression

#4258 List networks using networkofferingid
  api/src/main/java/org/apache/cloudstack/api/command/user/network/ListNetworksCmd.java
  server/src/main/java/com/cloud/network/NetworkServiceImpl.java
  ui/scripts/configuration.js
  ui/scripts/network.js
Labels: component:api, type:enhancement
