Repository apache/cloudstack, pull requests merged in 2021-10, with the labels that each got.

#5511 Create UpdateBackupOffering API
  api/src/main/java/com/cloud/event/EventTypes.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/backup/UpdateBackupOfferingCmd.java
  api/src/main/java/org/apache/cloudstack/backup/BackupManager.java
  engine/schema/src/main/java/org/apache/cloudstack/backup/BackupOfferingVO.java
  server/src/main/java/org/apache/cloudstack/backup/BackupManagerImpl.java
  server/src/test/java/org/apache/cloudstack/backup/BackupManagerTest.java
Labels: type:enhancement, component:api, component:backup

#5446 OVS/GRE: bug fixes
  .travis.yml
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/OvsVifDriver.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtOvsFetchInterfaceCommandWrapper.java
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/CitrixResourceBase.java
  plugins/network-elements/ovs/src/main/java/com/cloud/network/guru/OvsGuestNetworkGuru.java
  scripts/vm/hypervisor/xenserver/ovstunnel
  scripts/vm/network/vnet/cloudstack_pluginlib.py
  scripts/vm/network/vnet/ovstunnel.py
  server/src/main/java/com/cloud/network/guru/DirectNetworkGuru.java
  test/integration/component/test_vpc_distributed_routing_offering.py
  test/integration/smoke/test_privategw_acl_ovs_gre.py
  tools/marvin/marvin/lib/common.py
Labels: type:bug, component:advanced-networking, status:needs-testing

#5513 kvm: add MV Settings for virtual GPU hardware type and memory
  api/src/main/java/com/cloud/vm/VmDetailConstants.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtVMDef.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResourceTest.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
Labels: component:kvm

#5546 [UI] Edit backup offering
  ui/src/config/section/offering.js
Labels: component:UI, component:backup

#5541 parallel nic adding
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
  engine/schema/src/main/resources/META-INF/db/schema-41520to41600.sql
  framework/jobs/src/main/java/org/apache/cloudstack/framework/jobs/dao/VmWorkJobDao.java
  framework/jobs/src/main/java/org/apache/cloudstack/framework/jobs/dao/VmWorkJobDaoImpl.java
  framework/jobs/src/main/java/org/apache/cloudstack/framework/jobs/impl/AsyncJobVO.java
  framework/jobs/src/main/java/org/apache/cloudstack/framework/jobs/impl/VmWorkJobVO.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
Labels: type:bug

#5547 an inject annotation short
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
Labels: component:marvin, type:regression

#5471 vmware, network: add maclearning option
  api/src/main/java/com/cloud/offering/NetworkOffering.java
  engine/api/src/main/java/org/apache/cloudstack/engine/orchestration/service/NetworkOrchestrationService.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestrator.java
  server/src/main/java/com/cloud/hypervisor/HypervisorGuruBase.java
  ui/public/locales/en.json
  ui/src/views/offering/AddNetworkOffering.vue
  vmware-base/pom.xml
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/DistributedVirtualSwitchMO.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/HypervisorHostHelper.java
  vmware-base/src/test/java/com/cloud/hypervisor/vmware/mo/HypervisorHostHelperTest.java
Labels: type:enhancement, component:vmware

#5539 Fix resize volume and migrate volume to update volume path if DRS is applied on volume in datastore cluster
  core/src/main/java/com/cloud/agent/api/storage/MigrateVolumeCommand.java
  core/src/main/java/com/cloud/agent/api/storage/ResizeVolumeCommand.java
  engine/storage/datamotion/src/main/java/org/apache/cloudstack/storage/motion/AncientDataMotionStrategy.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/resource/VmwareResource.java
  plugins/hypervisors/vmware/src/main/java/org/apache/cloudstack/storage/motion/VmwareStorageMotionStrategy.java
  plugins/storage/volume/default/src/main/java/org/apache/cloudstack/storage/datastore/driver/CloudStackPrimaryDataStoreDriverImpl.java
Labels: type:bug, component:vmware

#5540 kvm available memory calculation optimization
  plugins/hypervisors/kvm/src/main/java/org/apache/cloudstack/utils/linux/MemStat.java
  plugins/hypervisors/kvm/src/test/java/org/apache/cloudstack/utils/linux/MemStatTest.java
Labels: component:kvm, status:needs-testing

#5551 Add empty config value for scope based config setting
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
Labels: type:regression, status:needs-testing

#5644 ui: fix jobid param for migrate VM storage
  ui/src/views/compute/MigrateVMStorage.vue
Labels: type:bug, component:UI, Severity:Critical

#5629 cks: refactor code to be architecture agnostic
  plugins/integrations/kubernetes-service/src/main/resources/conf/k8s-control-node-add.yml
  plugins/integrations/kubernetes-service/src/main/resources/conf/k8s-control-node.yml
  plugins/integrations/kubernetes-service/src/main/resources/conf/k8s-node.yml
  plugins/integrations/kubernetes-service/src/main/resources/script/upgrade-kubernetes.sh
Labels: type:bug, component:upgrade, Severity:Critical, component:cks
