Repository apache/cloudstack, pull requests merged in 2022-12, with the labels that each got.

#6868 Set root volume as destroyed when destroying a VM
  engine/schema/src/main/java/com/cloud/storage/dao/VolumeDao.java
  engine/schema/src/main/java/com/cloud/storage/dao/VolumeDaoImpl.java
  server/src/main/java/com/cloud/storage/StorageManagerImpl.java
  server/src/main/java/com/cloud/vm/UserVmManager.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/test/java/com/cloud/vm/UserVmManagerImplTest.java
Labels: component:storage

#6917 Improvements and cleanup on the javadocs of QemuImg
  plugins/hypervisors/kvm/src/main/java/org/apache/cloudstack/utils/qemu/QemuImg.java
Labels: component:kvm

#6912 vmware: fix vmware vm snapshot operations for datastorecluster
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/manager/VmwareStorageManagerImpl.java
  plugins/hypervisors/vmware/src/test/java/com/cloud/hypervisor/vmware/manager/VmwareStorageManagerImplTest.java
Labels: component:vmware

#6952 ui: fix incorrect hypervisor on deploy VM wizard submit
  ui/src/views/compute/DeployVM.vue
Labels: component:UI

#6939 When VM is created and ROOT volume is created it should emit a VOLUME.CREATE event
  api/src/main/java/org/apache/cloudstack/context/CallContext.java
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/VolumeOrchestrator.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
Labels: component:api, component:compute, component:orchestration

#6435 VPC VR: fix /etc/network/interfaces is misconfigured
  systemvm/debian/opt/cloud/bin/setup/init.sh
  systemvm/debian/opt/cloud/bin/setup/vpcrouter.sh
Labels: component:virtual-router, component:networking

#6964 test: add nic validation in import vm test
  test/integration/smoke/test_vm_lifecycle_unmanage_import.py
Labels: Python, component:integration-test

#6969 test: fix failure on non-VMware env
  test/integration/smoke/test_vm_lifecycle_unmanage_import.py
Labels: Python, component:integration-test

#6967 Fixed flaky test in ResetVMUserDataCmdTest.java
  api/src/test/java/org/apache/cloudstack/api/command/test/ResetVMUserDataCmdTest.java
Labels: component:api

#6943 [Veeam] Fix escape powershell comand when listing Veeam repository names
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/veeam/VeeamClient.java
Labels: component:backup

#6930 debian build: add python3-setuptools to dependencies
  debian/control
Labels: Python, component:marvin, distro:ubuntu

#6902 fix of removing the Iops limits on StorPool volumes
  plugins/storage/volume/storpool/src/main/java/org/apache/cloudstack/storage/datastore/driver/StorPoolPrimaryDataStoreDriver.java
Labels: type:bug, component:primary-storage, component:storage

#6921 systemvm,vpc,vmware: fix management route
  pom.xml
  systemvm/debian/opt/cloud/bin/setup/common.sh
  systemvm/debian/opt/cloud/bin/setup/init.sh
  systemvm/debian/opt/cloud/bin/setup/vpcrouter.sh
  tools/appliance/README.md
  tools/appliance/systemvmtemplate/scripts/configure_systemvm_services.sh
  tools/appliance/systemvmtemplate/template.json
Labels: component:virtual-router, component:networking, systemvm-template-change, component:templates, component:build, status:needs-testing

#6864 Allow ssvm agent certs to contain host IP for NAT situations
  api/src/main/java/org/apache/cloudstack/ca/CAManager.java
  core/src/main/java/com/cloud/agent/api/routing/NetworkElementCommand.java
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
  engine/orchestration/src/test/java/com/cloud/vm/VirtualMachineManagerImplTest.java
  server/src/main/java/org/apache/cloudstack/ca/CAManagerImpl.java
Labels: component:api, component:compute, component:orchestration

#6985 api,server,metrics: fix listVirtuaMachinesMetrics API for user
  plugins/metrics/src/main/java/org/apache/cloudstack/api/ListVMsMetricsCmd.java
  test/integration/smoke/test_metrics_api.py
Labels: Severity:BLOCKER, Python, component:integration-test

#6784 Improves CPU usage info
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/components/view/StatsTab.vue
  ui/src/components/view/stats/ResourceStatsInfo.vue
Labels: component:UI

#6508 Inserts timer in check detach volume
  core/src/main/java/org/apache/cloudstack/storage/command/DettachCommand.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStorageProcessor.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/storage/KVMStorageProcessorTest.java
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
Labels: component:kvm, component:agent, status:needs-testing, component:storage

#6876 Update en.json
  ui/public/locales/en.json
Labels: component:UI, type:improvement

#6783 Fixes script that perform change password on hosts
  scripts/vm/hypervisor/update_host_passwd.sh
Labels: status:needs-testing

#6870 kvm: correctly set vm cpu topology
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
Labels: component:kvm

#6996 [VMware] Remove unnecessary logs on VM deployments
  utils/src/main/java/com/cloud/utils/nicira/nvp/plugin/NiciraNvpApiVersion.java
Labels: component:vmware, type:cleanup, Severity:Minor

#6858 allow a new upgrade version without DB changes to be inserted
  engine/schema/pom.xml
  engine/schema/src/main/java/com/cloud/upgrade/DatabaseVersionHierarchy.java
  engine/schema/src/test/java/com/cloud/upgrade/DatabaseUpgradeCheckerTest.java
  engine/schema/src/test/java/com/cloud/upgrade/DatabaseVersionHierarchyTest.java
  pom.xml
Labels: component:upgrade, component:database, component:build

#6988 test: use normal user for creating networks, vpcs
  test/integration/component/test_network_ipv6.py
  test/integration/component/test_vpc_ipv6.py
  test/integration/smoke/test_network_ipv6.py
  test/integration/smoke/test_vpc_ipv6.py
Labels: Python, component:integration-test

#6919 Minor console access refactor and improvements
  api/src/main/java/org/apache/cloudstack/consoleproxy/ConsoleAccessManager.java
  server/src/main/java/org/apache/cloudstack/consoleproxy/ConsoleAccessManagerImpl.java
  ui/src/components/widgets/Console.vue
Labels: type:enhancement, component:api, component:UI, Severity:Minor

#6884 Update en.json
  ui/public/locales/en.json
Labels: component:UI

#6832 Allow root admin to deploy in VPCs in child domains
  api/src/main/java/com/cloud/network/NetworkModel.java
  server/src/main/java/com/cloud/network/NetworkModelImpl.java
  server/src/main/java/com/cloud/network/NetworkServiceImpl.java
  server/src/test/java/com/cloud/network/NetworkModelTest.java
  test/integration/component/test_acl_sharednetwork.py
  utils/src/main/java/com/cloud/utils/StringUtils.java
Labels: component:api, component:usage-server, component:networking, Python, component:integration-test

#6869 Support for parameter `cidrlist` added to the UI
  ui/src/components/view/BulkActionProgress.vue
  ui/src/components/view/BulkActionView.vue
  ui/src/components/widgets/TooltipLabel.vue
  ui/src/views/network/LoadBalancing.vue
Labels: component:UI

#6845 new plugins: Add non-strict affinity groups
  api/src/main/java/com/cloud/deploy/DataCenterDeployment.java
  api/src/main/java/com/cloud/deploy/DeploymentPlan.java
  api/src/main/java/com/cloud/vm/VirtualMachineProfile.java
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/StartVMCmd.java
  api/src/test/java/com/cloud/deploy/DataCenterDeploymentTest.java
  client/pom.xml
  core/src/main/resources/META-INF/cloudstack/core/spring-core-registry-core-context.xml
  engine/components-api/src/main/java/com/cloud/deploy/DeploymentPlanningManager.java
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/cloud/entity/api/VMEntityManagerImpl.java
  plugins/affinity-group-processors/non-strict-host-affinity/pom.xml
  plugins/affinity-group-processors/non-strict-host-affinity/src/main/java/org/apache/cloudstack/affinity/NonStrictHostAffinityProcessor.java
  plugins/affinity-group-processors/non-strict-host-affinity/src/main/resources/META-INF/cloudstack/non-strict-host-affinity/module.properties
  plugins/affinity-group-processors/non-strict-host-affinity/src/main/resources/META-INF/cloudstack/non-strict-host-affinity/spring-non-strict-host-affinity-context.xml
  plugins/affinity-group-processors/non-strict-host-affinity/src/test/java/org/apache/cloudstack/affinity/NonStrictHostAffinityProcessorTest.java
  plugins/affinity-group-processors/non-strict-host-anti-affinity/pom.xml
  plugins/affinity-group-processors/non-strict-host-anti-affinity/src/main/java/org/apache/cloudstack/affinity/NonStrictHostAntiAffinityProcessor.java
  plugins/affinity-group-processors/non-strict-host-anti-affinity/src/main/resources/META-INF/cloudstack/non-strict-host-anti-affinity/module.properties
  plugins/affinity-group-processors/non-strict-host-anti-affinity/src/main/resources/META-INF/cloudstack/non-strict-host-anti-affinity/spring-non-strict-host-anti-affinity-context.xml
  plugins/affinity-group-processors/non-strict-host-anti-affinity/src/test/java/org/apache/cloudstack/affinity/NonStrictHostAntiAffinityProcessorTest.java
  plugins/pom.xml
  server/src/main/java/com/cloud/deploy/DeploymentPlanningManagerImpl.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/main/java/org/apache/cloudstack/affinity/AffinityGroupServiceImpl.java
  server/src/test/java/com/cloud/deploy/DeploymentPlanningManagerImplTest.java
  test/integration/smoke/test_nonstrict_affinity_group.py
  ui/public/locales/en.json
  ui/src/config/section/compute.js
  ui/src/views/AutogenView.vue
  ui/src/views/compute/StartVirtualMachine.vue
  ui/src/views/compute/wizard/AffinityGroupSelection.vue
Labels: component:management-server, component:api, component:UI, Python, component:compute, component:build, component:orchestration, component:integration-test

#6994 ui: persist networks config in deploy vm form
  ui/src/views/compute/DeployVM.vue
  ui/src/views/compute/wizard/NetworkConfiguration.vue
Labels: component:UI

#7001 checksums for new macchinina ova template
  test/integration/smoke/test_templates.py
Labels: Python, component:integration-test

#6977 AutoScaling: update smoke test and consider db upgrade from a fork
  engine/schema/src/main/resources/META-INF/db/schema-41720to41800.sql
  test/integration/smoke/test_vm_autoscaling.py
Labels: Python, component:integration-test

#6825 resolve sanity check last id file acces problems
  debian/cloudstack-usage.postinst
  packaging/centos7/cloud.spec
  packaging/centos8/cloud.spec
  packaging/suse15/cloud.spec
  usage/src/main/java/com/cloud/usage/UsageManagerImpl.java
  usage/src/main/java/com/cloud/usage/UsageSanityChecker.java
Labels: component:packaging, component:usage-server, distro:ubuntu, distro:centos

#7002 Fix spelling
  test/integration/component/test_acl_isolatednetwork_delete.py
  tools/marvin/marvin/lib/common.py
  tools/marvin/marvin/sandbox/demo/simulator/testcase/libs/common.py
  ui/public/locales/de_DE.json
  ui/public/locales/el_GR.json
  ui/public/locales/en.json
  ui/public/locales/ja_JP.json
  ui/public/locales/ko_KR.json
  ui/public/locales/pt_BR.json
  ui/public/locales/zh_CN.json
  ui/src/views/compute/InstanceTab.vue
  ui/src/views/compute/KubernetesServiceTab.vue
  ui/src/views/iam/AddLdapAccount.vue
  ui/src/views/infra/zone/ZoneWizardAddResources.vue
Labels: component:UI, Python, component:marvin, component:integration-test

#6348 Improving code related to the Agent properties
  agent/conf/agent.properties
  agent/src/main/java/com/cloud/agent/Agent.java
  agent/src/main/java/com/cloud/agent/AgentShell.java
  agent/src/main/java/com/cloud/agent/IAgentShell.java
  agent/src/main/java/com/cloud/agent/properties/AgentProperties.java
  agent/src/main/java/com/cloud/agent/properties/AgentPropertiesFileHandler.java
  agent/src/test/java/com/cloud/agent/AgentShellTest.java
  agent/src/test/java/com/cloud/agent/properties/AgentPropertiesFileHandlerTest.java
  agent/src/test/java/com/cloud/agent/properties/AgentPropertiesTest.java
  core/src/main/java/com/cloud/resource/ServerResourceBase.java
  core/src/test/java/com/cloud/resource/ServerResourceBaseTest.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/BridgeVifDriver.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/IvsVifDriver.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/OvsVifDriver.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStorageProcessor.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResourceTest.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/LibvirtVifDriverTest.java
  systemvm/debian/opt/cloud/bin/setup/bootstrap.sh
  utils/src/main/java/com/cloud/utils/net/NetUtils.java
  utils/src/test/java/com/cloud/utils/net/NetUtilsTest.java
Labels: component:kvm, component:virtual-router, component:networking, component:agent

#6505 Gives the possibility to redirect to external links when the property is defined
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/components/header/ExternalLink.vue
  ui/src/components/header/UserMenu.vue
  ui/src/config/router.js
Labels: component:UI

#6808 Allow privateips on console proxy
  server/src/main/java/com/cloud/configuration/Config.java
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  server/src/test/java/com/cloud/configuration/ConfigTest.java
  server/src/test/java/com/cloud/configuration/ConfigurationManagerImplTest.java
Labels: component:api

#7013 systemvmtemplate: update Debian ISO URL and checksum
  pom.xml
  tools/appliance/systemvmtemplate/scripts/configure_systemvm_services.sh
  tools/appliance/systemvmtemplate/template.json
Labels: systemvm-template-change, component:templates, component:build

#7016 ui: fix suitable shared network not showing while import
  ui/src/views/compute/wizard/MultiNetworkSelection.vue
Labels: component:UI

#6844 packaging: support Rocky9 (EL9) as KVM and management server host
  packaging/centos8/cloud.spec
  packaging/centos8/replace.properties
  packaging/el9
Labels: component:packaging, distro:centos

#7030 UI: fix ui test errors
  .github/workflows/ui.yml
  ui/tests/mockData/AutogenView.mock.json
  ui/tests/unit/components/view/ActionButton.spec.js
  ui/tests/unit/views/AutogenView.spec.js
Labels: component:UI, component:integration

#7026 utils: fix NetUtils method to retrieve all IPs for a CIDR
  server/src/main/java/com/cloud/network/NetworkModelImpl.java
  utils/src/main/java/com/cloud/utils/net/NetUtils.java
  utils/src/test/java/com/cloud/utils/net/NetUtilsTest.java
Labels: component:vmware, component:networking, component:advanced-networking

#7035 local npm run failing with error
  ui/tests/unit/components/view/ActionButton.spec.js
Labels: component:UI

#7034 engine/orchestration: enable unit tests and fix errors
  engine/orchestration/pom.xml
  engine/orchestration/src/test/java/com/cloud/vm/VirtualMachineManagerImplTest.java
  engine/orchestration/src/test/java/org/apache/cloudstack/engine/provisioning/test/ProvisioningTest.java
  engine/orchestration/src/test/resources/provisioningContext.xml
Labels: component:build, component:orchestration

#7033 revert cleanup of test_acl_sharenetworks
  test/integration/component/test_acl_sharednetwork.py
Labels: Python, component:integration-test

#7011 Update usage when scaling vms
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
Labels: component:compute, component:orchestration
