Repository apache/cloudstack, pull requests merged in 2022-11, with the labels that each got.

#6609 Fix spelling
  api/src/test/java/com/cloud/agent/api/storage/OVFHelperTest.java
  engine/schema/src/main/java/com/cloud/service/dao/ServiceOfferingDetailsDaoImpl.java
  engine/schema/src/main/java/com/cloud/upgrade/dao/Upgrade222to224.java
  engine/schema/src/main/java/org/apache/cloudstack/resourcedetail/ResourceDetailsDao.java
  engine/schema/src/main/java/org/apache/cloudstack/resourcedetail/ResourceDetailsDaoBase.java
  engine/schema/src/main/java/org/apache/cloudstack/resourcedetail/dao/DiskOfferingDetailsDaoImpl.java
  engine/schema/src/main/resources/META-INF/db/schema-410to420.sql
  plugins/hypervisors/ovm3/src/main/java/com/cloud/hypervisor/ovm3/resources/helpers/Ovm3StoragePool.java
  plugins/hypervisors/simulator/src/main/java/com/cloud/api/commands/ConfigureSimulatorCmd.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/manager/VmwareManager.java
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/wrapper/xenbase/CitrixCreateVMSnapshotCommandWrapper.java
  plugins/network-elements/dns-notifier/src/main/resources/components-example.xml
  plugins/network-elements/juniper-contrail/src/main/java/org/apache/cloudstack/network/contrail/management/DBSyncGeneric.java
  plugins/network-elements/nicira-nvp/src/main/java/com/cloud/network/nicira/NiciraRestClient.java
  scripts/installer/createtmplt.sh
  scripts/installer/createvolume.sh
  scripts/storage/secondary/createvolume.sh
  scripts/vm/hypervisor/xenserver/create_privatetemplate_from_snapshot.sh
  scripts/vm/hypervisor/xenserver/upgrade_snapshot.sh
  scripts/vm/hypervisor/xenserver/vmops
  scripts/vm/network/security_group.py
  server/conf/migration-components.xml
  server/src/main/java/com/cloud/network/NetworkServiceImpl.java
  server/src/main/java/com/cloud/network/lb/LoadBalancingRulesManagerImpl.java
  server/src/main/java/com/cloud/server/ConfigurationServerImpl.java
  server/src/main/java/com/cloud/test/DatabaseConfig.java
  test/integration/component/maint/test_hypervisor_limit.py
  test/integration/component/maint/test_ip_resource_count_for_vpc.py
  test/integration/component/maint/test_redundant_router.py
  test/integration/component/maint/test_redundant_router_deployment_planning.py
  test/integration/component/maint/testpath_disable_enable_zone.py
  test/integration/component/test_advancedsg_networks.py
  test/integration/component/test_browse_templates.py
  test/integration/component/test_browse_volumes.py
  test/integration/component/test_deploy_vgpu_vm.py
  test/integration/component/test_dynamic_compute_offering.py
  test/integration/component/test_haproxy.py
  test/integration/component/test_multiple_ips_per_nic.py
  test/integration/component/test_organization_states.py
  test/integration/component/test_stopped_vm.py
  test/integration/component/test_template_from_snapshot_with_template_details.py
  test/integration/component/test_vpc_offerings.py
  test/integration/smoke/test_accounts.py
  test/integration/smoke/test_vm_life_cycle.py
  test/integration/smoke/test_vm_snapshots.py
  test/integration/testpaths/testpath_stopped_vm.py
  test/integration/testpaths/testpath_usage.py
  test/integration/testpaths/testpath_vmlc.py
  tools/marvin/marvin/sandbox/demo/simulator/testcase/test_vm_life_cycle.py
  tools/ngui/static/js/lib/jquery-1.7.2.js
  ui/docs/development.md
  ui/public/locales/ja_JP.json
  ui/src/views/compute/DeployVM.vue
  ui/src/views/network/LoadBalancing.vue
  ui/src/views/plugins/quota/QuotaSummary.vue
  utils/src/main/java/com/cloud/utils/cisco/n1kv/vsm/VsmResponse.java
Labels: component:management-server, component:XenServer, component:vmware, component:api, component:networking, Python, component:simulator, component:integration-test, component:storage

#6852 XenServer/XCP-ng: fix vm memory usage is always 99.9x%
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/CitrixResourceBase.java
Labels: component:XenServer

#6843 Updated Hellenic (Greek) Translation Draft (for 4.18)
  ui/public/locales/el_GR.json
Labels: component:UI

#6358 Fix memory stats for KVM
  agent/conf/agent.properties
  agent/src/main/java/com/cloud/agent/Agent.java
  agent/src/main/java/com/cloud/agent/properties/AgentProperties.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtDomainXMLParser.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtVMDef.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResourceTest.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/LibvirtDomainXMLParserTest.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/LibvirtVMDefTest.java
Labels: component:kvm, component:agent

#6862 Remove password change notice on SSH Key Pair reset
  ui/public/locales/ar.json
  ui/public/locales/ca.json
  ui/public/locales/de_DE.json
  ui/public/locales/el_GR.json
  ui/public/locales/en.json
  ui/public/locales/es.json
  ui/public/locales/fr_FR.json
  ui/public/locales/hu.json
  ui/public/locales/it_IT.json
  ui/public/locales/ja_JP.json
  ui/public/locales/ko_KR.json
  ui/public/locales/nb_NO.json
  ui/public/locales/nl_NL.json
  ui/public/locales/pl.json
  ui/public/locales/pt_BR.json
  ui/public/locales/ru_RU.json
  ui/public/locales/zh_CN.json
Labels: component:UI

#6877 Fix typos and improve javadocs on ByteScaleUtils
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariableHelper.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariableHelperTest.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtScaleVmCommandWrapper.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResourceTest.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtScaleVmCommandWrapperTest.java
  server/src/main/java/com/cloud/hypervisor/KVMGuru.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/test/java/com/cloud/hypervisor/KVMGuruTest.java
  utils/src/main/java/org/apache/cloudstack/utils/bytescale/ByteScaleUtils.java
  utils/src/test/java/org/apache/cloudstack/utils/bytescale/ByteScaleUtilsTest.java
Labels: component:kvm, component:quota

#6897 gha(python): fix `W391` blank line at end of file
  test/integration/component/test_network_vpc_custom_dns.py
  test/integration/smoke/test_register_userdata.py
Labels: Python, component:integration-test

#6895 ui: fix guest traffic vlan input
  ui/src/views/infra/zone/AdvancedGuestTrafficForm.vue
Labels: component:UI

#6853 orchestration: fix diskoffering for vr rootdisk
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
Labels: component:compute, component:orchestration

#6893 Fix recurring snapshot form time format
  ui/src/views/storage/FormSchedule.vue
Labels: component:UI

#6879 Check for null volume pool ID when tagging
  server/src/main/java/com/cloud/tags/TaggedResourceManagerImpl.java
  server/src/test/java/com/cloud/tags/TaggedResourceManagerImplTest.java
Labels: component:api, component:agent, component:build

#6704 server: fix volume migration on user vm scale
  api/src/main/java/com/cloud/server/ManagementService.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  server/src/main/java/com/cloud/vm/UserVmManager.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/main/java/org/apache/cloudstack/vm/UnmanagedVMsManagerImpl.java
  test/integration/smoke/test_scale_vm.py
Labels: component:management-server, component:api, Python, component:integration-test, component:storage

#6905 Fix flaky tests in NeutronNetworkAdapterTest.java, NeutronNodeAdapterTest.java and NeutronPortAdapterTest.java
  plugins/network-elements/opendaylight/src/test/java/org/apache/cloudstack/network/opendaylight/api/test/NeutronNetworkAdapterTest.java
  plugins/network-elements/opendaylight/src/test/java/org/apache/cloudstack/network/opendaylight/api/test/NeutronNodeAdapterTest.java
  plugins/network-elements/opendaylight/src/test/java/org/apache/cloudstack/network/opendaylight/api/test/NeutronPortAdapterTest.java
Labels: component:networking

#6907 Fix C2S VPN in parallel to S2S VPN
  systemvm/debian/opt/cloud/bin/configure.py
Labels: component:XenServer, component:virtual-router, component:api, component:networking, component:UI, Python, component:agent, component:compute, component:build, type:regression, component:orchestration
