Repository apache/cloudstack, pull requests merged in 2022-10, with the labels that each got.

#6788 UI: Fixes login failed after session expired
  ui/src/components/view/InfoCard.vue
Labels: component:UI

#6791 UI: Fixes UI style on Microsoft Edge browser
  ui/src/views/infra/network/IpRangesTabGuest.vue
  ui/src/views/infra/network/IpRangesTabManagement.vue
  ui/src/views/infra/network/IpRangesTabPublic.vue
  ui/src/views/infra/network/IpRangesTabStorage.vue
Labels: component:UI

#6776 Don't allow service offering change if encryption value would change
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/test/java/com/cloud/vm/UserVmManagerImplTest.java
Labels: type:bug

#6742 Ignore calls to PowerFlex for host revocation when host is null
  plugins/storage/volume/scaleio/src/main/java/org/apache/cloudstack/storage/datastore/driver/ScaleIOPrimaryDataStoreDriver.java
Labels: component:primary-storage, component:storage

#6790 kvm: fix backup volume snapshot fails on RBD storage
  plugins/hypervisors/kvm/src/main/java/org/apache/cloudstack/utils/qemu/QemuImageOptions.java
  plugins/hypervisors/kvm/src/test/java/org/apache/cloudstack/utils/qemu/QemuImageOptionsTest.java
Labels: component:kvm

#6806 Improves email configurations descriptions
  engine/components-api/src/main/java/com/cloud/alert/AlertManager.java
  engine/schema/src/main/resources/META-INF/db/schema-41710to41800.sql
  framework/quota/src/main/java/org/apache/cloudstack/quota/constant/QuotaConfig.java
  server/src/main/java/com/cloud/configuration/Config.java
  server/src/main/java/com/cloud/projects/ProjectManager.java
Labels: component:projects, component:quota

#6682 plugin-storage-volume-linstor: support QoS(IOPs) and small improvements
  client/pom.xml
  debian/rules
  packaging/centos7/cloud.spec
  packaging/centos8/cloud.spec
  packaging/suse15/cloud.spec
  plugins/storage/volume/linstor/pom.xml
  plugins/storage/volume/linstor/src/main/java/com/cloud/hypervisor/kvm/storage/LinstorStorageAdaptor.java
  plugins/storage/volume/linstor/src/main/java/com/cloud/hypervisor/kvm/storage/LinstorStoragePool.java
  plugins/storage/volume/linstor/src/main/java/org/apache/cloudstack/storage/datastore/driver/LinstorPrimaryDataStoreDriverImpl.java
  plugins/storage/volume/linstor/src/main/java/org/apache/cloudstack/storage/datastore/lifecycle/LinstorPrimaryDataStoreLifeCycleImpl.java
  ui/src/views/infra/AddPrimaryStorage.vue
Labels: component:primary-storage, component:packaging, component:UI, component:build, distro:ubuntu, distro:centos, component:storage

#6681 change-diskoffer: iops settings from new disk-offer should always used
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
Labels: component:storage

#6638 Fix: rpm dependencies: which and file
  packaging/centos7/cloud.spec
  packaging/centos8/cloud.spec
  packaging/suse15/cloud.spec
Labels: component:packaging, distro:centos

#6771 Return object name in the listHypervisorCapabilities API
  api/src/main/java/org/apache/cloudstack/api/response/HypervisorCapabilitiesResponse.java
Labels: component:api

#6684 Add message upon network offering creation to warn user of VR creation
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/views/offering/AddNetworkOffering.vue
Labels: component:UI

#6733 Refactor TestHttp.testHttpclient to avoid the Exception Suppression
  engine/storage/integration-test/src/test/java/org/apache/cloudstack/storage/test/TestHttp.java
Labels: component:storage

#6751 Refactor SnapshotDataStoreDaoImpl
  engine/storage/src/main/java/org/apache/cloudstack/storage/image/db/SnapshotDataStoreDaoImpl.java
  engine/storage/src/test/java/org/apache/cloudstack/storage/image/db/SnapshotDataStoreDaoImplTest.java
Labels: component:database, component:storage

#6772 Fix to make recovered volumes be accounted for by Usage
  api/src/main/java/com/cloud/storage/VolumeApiService.java
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/test/java/com/cloud/storage/VolumeApiServiceImplTest.java
Labels: component:api, component:database, status:needs-testing, component:quota, component:storage

#6793 Rename validateUUID method to isUuid
  api/src/main/java/org/apache/cloudstack/api/ApiArgValidator.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestrator.java
  plugins/event-bus/inmemory/src/test/java/org/apache/cloudstack/mom/inmemory/InMemoryEventBusTest.java
  plugins/network-elements/juniper-contrail/src/main/java/org/apache/cloudstack/network/contrail/model/VirtualMachineModel.java
  plugins/storage/volume/scaleio/src/main/java/org/apache/cloudstack/storage/datastore/util/ScaleIOUtil.java
  server/src/main/java/com/cloud/api/dispatch/ParamProcessWorker.java
  server/src/test/java/com/cloud/user/DomainManagerImplTest.java
  utils/src/main/java/com/cloud/utils/UuidUtils.java
  utils/src/test/java/com/cloud/utils/UuidUtilsTest.java
Labels: component:primary-storage, component:api, component:networking, component:orchestration, component:storage

#6824 UI: Fix Volume Snapshot from user VM as admin
  ui/src/views/compute/CreateSnapshotWizard.vue
Labels: type:bug, component:UI

#6630 Fix delete parent snapshot
  engine/storage/snapshot/src/main/java/org/apache/cloudstack/storage/snapshot/DefaultSnapshotStrategy.java
  engine/storage/snapshot/src/test/java/org/apache/cloudstack/storage/snapshot/DefaultSnapshotStrategyTest.java
Labels: component:storage

#6580 [Veeam] Improve remove backup process
  api/src/main/java/org/apache/cloudstack/api/command/user/backup/DeleteBackupCmd.java
  api/src/main/java/org/apache/cloudstack/backup/BackupManager.java
  api/src/main/java/org/apache/cloudstack/backup/BackupProvider.java
  plugins/backup/dummy/src/main/java/org/apache/cloudstack/backup/DummyBackupProvider.java
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/VeeamBackupProvider.java
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/veeam/VeeamClient.java
  plugins/backup/veeam/src/test/java/org/apache/cloudstack/backup/VeeamBackupProviderTest.java
  server/src/main/java/org/apache/cloudstack/backup/BackupManagerImpl.java
Labels: component:api, status:needs-testing, component:backup

#6775 EL8 uses rng-tools for entropy, not haveged
  debian/control
  packaging/centos7/cloud.spec
  packaging/centos8/cloud.spec
  packaging/suse15/cloud.spec
Labels: component:packaging, distro:ubuntu, distro:centos

#6692 Remove unnecessary escape method
  framework/quota/src/main/java/org/apache/cloudstack/quota/QuotaAlertManagerImpl.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
Labels: component:quota

#6758 Ova download fix
  core/src/main/java/com/cloud/agent/api/storage/CreateDatadiskTemplateCommand.java
  engine/schema/src/main/java/com/cloud/storage/dao/GuestOSHypervisorDaoImpl.java
  engine/storage/src/main/java/org/apache/cloudstack/storage/image/deployasis/DeployAsIsHelperImpl.java
  services/secondary-storage/server/src/main/java/org/apache/cloudstack/storage/resource/NfsSecondaryStorageResource.java
Labels: component:secondary-storage, component:ssvm, component:api, component:storage

#6835 Remove environment information from exceeding network limit error message
  server/src/main/java/com/cloud/network/vpc/VpcManagerImpl.java
Labels: component:vpc, component:networking

#6839 Fixed NPE on volume creation from snapshot
  api/src/main/java/com/cloud/deploy/DataCenterDeployment.java
  engine/components-api/src/main/java/com/cloud/vm/VirtualMachineProfileImpl.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/VolumeOrchestrator.java
  engine/storage/src/main/java/org/apache/cloudstack/storage/allocator/AbstractStoragePoolAllocator.java
  engine/storage/src/main/java/org/apache/cloudstack/storage/allocator/ClusterScopeStoragePoolAllocator.java
  engine/storage/src/main/java/org/apache/cloudstack/storage/allocator/LocalStoragePoolAllocator.java
  engine/storage/src/main/java/org/apache/cloudstack/storage/allocator/ZoneWideStoragePoolAllocator.java
  engine/storage/volume/src/main/java/org/apache/cloudstack/storage/datastore/PrimaryDataStoreImpl.java
  plugins/storage-allocators/random/src/main/java/org/apache/cloudstack/storage/allocator/RandomStoragePoolAllocator.java
Labels: component:api, component:local-storage, component:orchestration, component:storage

#6507 Externalizes logrotate service frequency timer in VR
  server/src/main/java/com/cloud/network/router/VirtualNetworkApplianceManager.java
  server/src/main/java/com/cloud/network/router/VirtualNetworkApplianceManagerImpl.java
  server/src/test/java/com/cloud/network/router/VirtualNetworkApplianceManagerImplTest.java
  systemvm/debian/opt/cloud/bin/setup/common.sh
  systemvm/debian/opt/cloud/bin/setup/router.sh
  systemvm/debian/opt/cloud/bin/setup/vpcrouter.sh
Labels: component:virtual-router, component:networking

#6690 Quota enable config to user/domain scope
  framework/quota/src/main/java/org/apache/cloudstack/quota/QuotaManagerImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/constant/QuotaConfig.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaAccountDaoImpl.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/dao/QuotaAccountDaoImplTest.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaSummaryResponse.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/quota/QuotaServiceImpl.java
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/components/view/ListView.vue
  ui/src/config/section/plugin/quota.js
Labels: component:UI, component:quota

#6491 Add live migration of system VMs (KVM)
  api/src/main/java/com/cloud/vm/UserVmService.java
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/vm/MigrateVirtualMachineWithVolumeCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/volume/ListVolumesCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/VolumeResponse.java
  api/src/test/java/org/apache/cloudstack/api/command/admin/vm/MigrateVirtualMachineWithVolumeCmdTest.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  server/src/main/java/com/cloud/api/query/dao/VolumeJoinDaoImpl.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  ui/src/components/view/InfoCard.vue
  ui/src/components/view/ListView.vue
  ui/src/components/view/VolumesTab.vue
  ui/src/config/section/infra/routers.js
  ui/src/config/section/infra/systemVms.js
  ui/src/utils/plugins.js
  ui/src/views/AutogenView.vue
  ui/src/views/compute/InstanceTab.vue
Labels: component:api, component:UI, Python, component:integration-test

#6854 Changed userdata names on Add instance page
  ui/public/locales/en.json
Labels: component:UI

#6846 add ip rule for VPC extra IPs
  systemvm/debian/opt/cloud/bin/cs/CsAddress.py
Labels: component:virtual-router, component:networking, Python
