Repository apache/cloudstack, pull requests merged in 2022-07, with the labels that each got.

#6483 Fix for VMware VM migration with volume in local storage
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/guru/VMwareGuru.java
  plugins/hypervisors/vmware/src/test/java/com/cloud/hypervisor/guru/VMwareGuruTest.java
Labels: component:management-server, component:vmware, component:api, component:database, component:agent, component:build, component:orchestration, distro:ubuntu, component:storage

#6510 Fix API deleteTrafficType not filtering physical network
  engine/schema/src/main/java/com/cloud/network/dao/NetworkDaoImpl.java
  engine/schema/src/test/java/com/cloud/network/dao/NetworkDaoImplTest.java
Labels: component:networking

#6414 Fix VMware memory retrieval
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/resource/VmwareResource.java
Labels: type:bug, component:vmware

#6503 UI: Clear all filter values after the reset button clicked
  ui/src/components/view/SearchView.vue
Labels: type:bug, component:UI

#6272 Fix spelling
  agent/src/main/java/com/cloud/agent/Agent.java
  agent/src/main/java/com/cloud/agent/AgentShell.java
  api/src/main/java/com/cloud/agent/api/storage/OVFHelper.java
  api/src/main/java/com/cloud/network/lb/LoadBalancingRulesService.java
  api/src/main/java/com/cloud/storage/Volume.java
  api/src/main/java/com/cloud/vm/UserVmService.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/address/ReleasePodIpCmdByAdmin.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/network/CreateStorageNetworkIpRangeCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/account/AddUserToProjectCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/job/QueryAsyncJobResultCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/region/ha/gslb/RemoveFromGlobalLoadBalancerRuleCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/securitygroup/DeleteSecurityGroupCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/RestoreVMCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/LBStickinessPolicyResponse.java
  core/src/main/java/com/cloud/agent/api/routing/SetFirewallRulesCommand.java
  core/src/main/java/com/cloud/agent/api/routing/SetNetworkACLCommand.java
  engine/schema/src/main/java/com/cloud/upgrade/dao/Upgrade410to420.java
  plugins/hypervisors/ovm/src/main/scripts/vm/hypervisor/ovm/OvmStoragePoolModule.py
  plugins/hypervisors/ovm3/src/main/java/com/cloud/hypervisor/ovm3/resources/helpers/Ovm3VmSupport.java
  plugins/network-elements/ovs/src/main/java/com/cloud/network/element/OvsElement.java
  plugins/storage/volume/scaleio/src/main/java/org/apache/cloudstack/storage/datastore/client/ScaleIOGatewayClientImpl.java
  plugins/user-authenticators/ldap/src/test/groovy/org/apache/cloudstack/ldap/LdapManagerImplSpec.groovy
  plugins/user-authenticators/ldap/src/test/groovy/org/apache/cloudstack/ldap/LdapSearchUserCmdSpec.groovy
  server/src/main/java/com/cloud/deploy/DeploymentPlanningManagerImpl.java
  server/src/main/java/com/cloud/event/ActionEventUtils.java
  server/src/main/java/com/cloud/network/as/AutoScaleManagerImpl.java
  server/src/main/java/com/cloud/resource/RollingMaintenanceManagerImpl.java
  server/src/main/java/org/apache/cloudstack/region/gslb/GlobalLoadBalancingRulesServiceImpl.java
  server/src/test/java/com/cloud/vpc/NetworkACLManagerTest.java
  services/console-proxy/rdpconsole/src/main/java/vncclient/vnc/Vnc33Authentication.java
  test/integration/component/maint/test_redundant_router_deployment_planning.py
  test/integration/component/maint/testpath_disablestoragepool.py
  test/integration/component/maint/testpath_vMotion_vmware.py
  test/integration/component/test_add_remove_network.py
  test/integration/component/test_egress_fw_rules.py
  test/integration/component/test_egress_rules.py
  test/integration/component/test_migrate_vol_to_maintained_pool.py
  test/integration/component/test_netscaler_configs.py
  test/integration/component/test_netscaler_lb.py
  test/integration/component/test_netscaler_nw_off.py
  test/integration/component/test_stopped_vm.py
  test/integration/component/test_vpc_routers.py
  test/integration/smoke/test_reset_configuration_settings.py
  test/integration/testpaths/testpath_multiple_snapshot.py
  test/integration/testpaths/testpath_restore_vm.py
  test/integration/testpaths/testpath_snapshot_hadrning.py
  test/src-not-used/main/java/com/cloud/test/stress/StressTestDirectAttach.java
  test/src-not-used/main/java/com/cloud/test/stress/TestClientWithAPI.java
  tools/devcloud4/README.md
  tools/ngui/precache.py
Labels: component:primary-storage, component:vpc, component:console-proxy, component:api, component:networking, Python, component:agent, component:LDAP, component:storage

#6521 Create event TEMPLATE_UPDATE for virtual machine image update calls.
  api/src/main/java/com/cloud/event/EventTypes.java
  server/src/main/java/com/cloud/template/TemplateManagerImpl.java
Labels: component:api

#6529 refactor: new line, lint error fix
  test/integration/smoke/test_events_resource.py
Labels: Python, component:integration-test

#6495 ui: allow instances to be filtered by group
  ui/src/components/view/SearchView.vue
  ui/src/config/section/compute.js
Labels: component:UI

#6457 Fix SAML SSO plugin redirect URL
  plugins/user-authenticators/saml2/pom.xml
  plugins/user-authenticators/saml2/src/main/java/org/apache/cloudstack/saml/SAMLUtils.java
  plugins/user-authenticators/saml2/src/test/java/org/apache/cloudstack/SAMLUtilsTest.java
  pom.xml
Labels: type:bug, component:saml, component:build

#6525 UI: Add authmethod field allowing to choose password or ssh key when adding host
  ui/src/views/infra/zone/StaticInputsForm.vue
  ui/src/views/infra/zone/ZoneWizardAddResources.vue
  ui/src/views/infra/zone/ZoneWizardLaunchZone.vue
Labels: component:UI

#6513 cks: fix k8s version upgrade
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterUpgradeWorker.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/utils/KubernetesClusterUtil.java
  plugins/integrations/kubernetes-service/src/main/resources/script/upgrade-kubernetes.sh
  plugins/integrations/kubernetes-service/src/test/java/com/cloud/kubernetes/cluster/utils/KubernetesClusterUtilTest.java
Labels: component:kubernetes

#6537 kvm: skip test that can't run and pass on M1 mac
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResourceTest.java
Labels: component:kvm, component:build

#6480 UI: Fixes some issues from zone wizard with VMWare hypervisor
  ui/src/locales/index.js
  ui/src/views/infra/ClusterAdd.vue
  ui/src/views/infra/zone/ZoneWizardAddResources.vue
  ui/src/views/infra/zone/ZoneWizardPhysicalNetworkSetupStep.vue
Labels: type:bug, component:vmware, component:UI

#6542 Updated log message and throw error when unable to update the secret in key file
  framework/db/src/main/java/com/cloud/utils/crypt/EncryptionSecretKeyChanger.java
  setup/bindir/cloud-setup-databases.in
Labels: component:database

#6540 Deprecated changeServiceForVirtualMachine API and replaced all the oc…
  api/src/main/java/org/apache/cloudstack/api/command/admin/vm/ScaleVMCmdByAdmin.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/vm/UpgradeVMCmdByAdmin.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/ScaleVMCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/UpgradeVMCmd.java
  test/integration/component/test_deploy_vgpu_vm.py
  test/integration/smoke/test_service_offerings.py
  tools/marvin/marvin/sandbox/demo/simulator/testcase/test_vm_life_cycle.py
Labels: component:api, Python, component:marvin, component:integration-test

#6430 Filter removed nics while listing LB vm instances
  engine/schema/src/main/java/com/cloud/vm/dao/UserVmDaoImpl.java
Labels: type:bug

#6539 maven: update dependencies
  plugins/storage/volume/storpool/pom.xml
  pom.xml
Labels: component:primary-storage, component:build, component:storage

#6504 Changes logo when resizes the page
  ui/public/assets/mini-logo.svg
  ui/public/config.json
  ui/src/components/header/Logo.vue
  ui/src/components/menu/SideMenu.vue
Labels: component:UI

#6413 add global setting to allow parallel execution on vmware
  api/src/main/java/com/cloud/hypervisor/HypervisorGuru.java
  engine/components-api/src/main/java/com/cloud/capacity/CapacityManager.java
  engine/components-api/src/main/java/com/cloud/storage/StorageManager.java
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/VolumeOrchestrator.java
  engine/orchestration/src/test/java/com/cloud/vm/VirtualMachineManagerImplTest.java
  engine/schema/src/main/java/com/cloud/network/dao/NetworkDao.java
  engine/storage/datamotion/src/main/java/org/apache/cloudstack/storage/motion/AncientDataMotionStrategy.java
  engine/storage/datamotion/src/test/java/org/apache/cloudstack/storage/motion/AncientDataMotionStrategyTest.java
  plugins/hypervisors/baremetal/src/main/java/com/cloud/baremetal/manager/BareMetalGuru.java
  plugins/hypervisors/hyperv/src/main/java/com/cloud/hypervisor/hyperv/guru/HypervGuru.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/guru/VMwareGuru.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/manager/CleanupFullyClonedTemplatesTask.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/manager/VmwareManagerImpl.java
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/XenServerGuru.java
  plugins/hypervisors/xenserver/src/test/java/com/cloud/hypervisor/XenServerGuruTest.java
  server/src/main/java/com/cloud/capacity/CapacityManagerImpl.java
  server/src/main/java/com/cloud/configuration/Config.java
  server/src/main/java/com/cloud/hypervisor/HypervisorGuruBase.java
  server/src/main/java/com/cloud/hypervisor/KVMGuru.java
  server/src/main/java/com/cloud/hypervisor/LXCGuru.java
  server/src/main/java/com/cloud/storage/StorageManagerImpl.java
  server/src/test/java/com/cloud/hypervisor/KVMGuruTest.java
Labels: component:XenServer, component:vmware, component:api, component:networking, component:compute, component:orchestration, component:hyperv, component:storage

#6547 UI: Fix can't select schedule interval type
  ui/src/views/compute/backup/FormSchedule.vue
Labels: component:ipv6, component:api, component:networking, component:UI, Python, component:agent, component:build, component:marvin, component:orchestration, distro:ubuntu, component:integration-test

#6412 Improve login time
  api/src/main/java/org/apache/cloudstack/acl/APIChecker.java
  engine/schema/src/main/java/com/cloud/projects/ProjectVO.java
  engine/schema/src/main/java/com/cloud/user/AccountVO.java
  engine/schema/src/main/java/com/cloud/user/UserVO.java
  engine/schema/src/main/java/org/apache/cloudstack/acl/RoleVO.java
  plugins/acl/dynamic-role-based/src/main/java/org/apache/cloudstack/acl/DynamicRoleBasedAPIAccessChecker.java
  plugins/acl/dynamic-role-based/src/test/java/org/apache/cloudstack/acl/DynamicRoleBasedAPIAccessCheckerTest.java
  plugins/acl/project-role-based/src/main/java/org/apache/cloudstack/acl/ProjectRoleBasedApiAccessChecker.java
  plugins/acl/project-role-based/src/main/test/java/org/apache/cloudstack/acl/ProjectRoleBasedApiAccessCheckerTest.java
  plugins/acl/static-role-based/src/main/java/org/apache/cloudstack/acl/StaticRoleBasedAPIAccessChecker.java
  plugins/api/discovery/src/main/java/org/apache/cloudstack/discovery/ApiDiscoveryServiceImpl.java
  plugins/api/discovery/src/test/java/org/apache/cloudstack/discovery/ApiDiscoveryTest.java
  plugins/api/rate-limit/src/main/java/org/apache/cloudstack/ratelimit/ApiRateLimitServiceImpl.java
Labels: component:api, component:projects

#6527 [KVM] Fix for Revert volume snapshot
  engine/storage/snapshot/src/main/java/org/apache/cloudstack/storage/snapshot/SnapshotServiceImpl.java
  engine/storage/snapshot/src/test/java/org/apache/cloudstack/storage/snapshot/SnapshotServiceImplTest.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtRevertSnapshotCommandWrapper.java
  plugins/storage/volume/datera/src/main/java/org/apache/cloudstack/storage/datastore/driver/DateraPrimaryDataStoreDriver.java
  plugins/storage/volume/default/src/main/java/org/apache/cloudstack/storage/datastore/driver/CloudStackPrimaryDataStoreDriverImpl.java
Labels: component:kvm, component:primary-storage, status:needs-testing, component:storage

#6557 Scope setting changes in ldap and utils pom.xml files
  plugins/user-authenticators/ldap/pom.xml
  utils/pom.xml
Labels: component:build, component:LDAP

#6556 Update API documentation for resizing
  api/src/main/java/org/apache/cloudstack/api/command/admin/systemvm/ScaleSystemVMCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/systemvm/UpgradeSystemVMCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/ScaleVMCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/UpgradeVMCmd.java
Labels: component:api

#6320 [Veeam] externalize restore timeout
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/VeeamBackupProvider.java
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/veeam/VeeamClient.java
  plugins/backup/veeam/src/test/java/org/apache/cloudstack/backup/veeam/VeeamClientTest.java
Labels: component:backup

#6562 utils: use safer parsing utility across codebase
  api/src/main/java/com/cloud/agent/api/storage/OVFHelper.java
  api/src/main/java/com/cloud/agent/api/storage/OVFParser.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtDomainXMLParser.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtStoragePoolXMLParser.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtStorageVolumeXMLParser.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtXMLParser.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtMigrateCommandWrapper.java
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/CitrixResourceBase.java
  plugins/network-elements/cisco-vnmc/src/main/java/com/cloud/network/cisco/CiscoVnmcConnectionImpl.java
  plugins/network-elements/juniper-srx/src/main/java/com/cloud/network/resource/JuniperSrxResource.java
  plugins/network-elements/palo-alto/src/main/java/com/cloud/network/resource/PaloAltoResource.java
  plugins/user-authenticators/saml2/src/main/java/org/apache/cloudstack/api/command/GetServiceProviderMetaDataCmd.java
  server/src/main/java/com/cloud/test/DatabaseConfig.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  utils/src/main/java/com/cloud/utils/UriUtils.java
  utils/src/main/java/com/cloud/utils/cisco/n1kv/vsm/VsmResponse.java
  utils/src/main/java/com/cloud/utils/xmlobject/XmlObjectParser.java
  utils/src/main/java/org/apache/cloudstack/utils/security/ParserUtils.java
  utils/src/test/java/org/apache/cloudstack/utils/security/ParserUtilsTest.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/HypervisorHostHelper.java
Labels: component:kvm, component:XenServer, component:vmware, component:api, component:security, component:networking, component:saml

#6583 UI: Fix new network service provider dialog
  ui/src/views/infra/network/ServiceProvidersTab.vue
Labels: type:bug, component:UI

#6586 ui: fix deploy vm override custom disk offering
  ui/src/views/compute/DeployVM.vue
Labels: component:UI

#6546 Fixed list networks in projects after setting network permissions
  .travis.yml
  server/src/main/java/com/cloud/network/NetworkServiceImpl.java
  test/integration/smoke/test_network_permissions.py
Labels: component:networking, component:travis, Python, status:needs-testing, component:integration-test

#6579 api: fix ipv6 firewall apis default role permissions
  api/src/main/java/org/apache/cloudstack/api/command/user/ipv6/CreateIpv6FirewallRuleCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/ipv6/DeleteIpv6FirewallRuleCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/ipv6/ListIpv6FirewallRulesCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/ipv6/UpdateIpv6FirewallRuleCmd.java
  test/integration/component/test_network_ipv6.py
  test/integration/smoke/test_network_ipv6.py
Labels: component:ipv6, component:api, component:UI, Python, component:integration-test
