Repository apache/cloudstack, pull requests merged in 2023-01, with the labels that each got.

#7038 UI: user must specify the start of guest vlan range for advanced zone
  ui/src/views/infra/zone/AdvancedGuestTrafficForm.vue
Labels: component:UI

#7037 Fix volume snapshot in a VM with an ISO attached
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtDomainXMLParser.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtVMDef.java
Labels: component:kvm

#7039 Allow download of System VM templates through the UI
  ui/src/config/section/image.js
Labels: component:UI

#7044 alter ordering of backup offerings
  ui/src/views/AutogenView.vue
Labels: component:UI

#7008 utils: fix human-readable parsing failures
  utils/src/main/java/com/cloud/utils/HumanReadableJson.java
  utils/src/test/java/com/cloud/utils/HumanReadableJsonTest.java
Labels: component:api, component:agent, component:build, component:integration

#6946 server: add Host Control Plane State to uservm and systemvm response
  api/src/main/java/com/cloud/host/ControlState.java
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/response/DomainRouterResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/SystemVmResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/UserVmResponse.java
  api/src/test/java/com/cloud/host/ControlStateTest.java
  engine/schema/src/main/resources/META-INF/db/schema-41720to41800.sql
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  server/src/main/java/com/cloud/api/query/dao/DomainRouterJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/dao/UserVmJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/vo/DomainRouterJoinVO.java
  server/src/main/java/com/cloud/api/query/vo/UserVmJoinVO.java
  test/integration/smoke/test_host_control_state.py
  ui/public/locales/en.json
  ui/src/components/view/DetailsTab.vue
  ui/src/components/widgets/Console.vue
  ui/src/config/section/compute.js
  ui/src/config/section/infra/ilbvms.js
  ui/src/config/section/infra/routers.js
  ui/src/config/section/infra/systemVms.js
Labels: component:api, component:UI, Python, component:integration-test

#7066 UI: remove max value (8) of maxsnaps because it might be greater than 8
  ui/src/views/storage/FormSchedule.vue
Labels: component:UI

#6550 Emc networker b&r
  client/pom.xml
  plugins/backup/networker/pom.xml
  plugins/backup/networker/src/main/java/org/apache/cloudstack/backup/NetworkerBackupProvider.java
  plugins/backup/networker/src/main/java/org/apache/cloudstack/backup/networker/NetworkerBackupOffering.java
  plugins/backup/networker/src/main/java/org/apache/cloudstack/backup/networker/NetworkerClient.java
  plugins/backup/networker/src/main/java/org/apache/cloudstack/backup/networker/NetworkerObject.java
  plugins/backup/networker/src/main/java/org/apache/cloudstack/backup/networker/api/Action.java
  plugins/backup/networker/src/main/java/org/apache/cloudstack/backup/networker/api/ActionSpecificData.java
  plugins/backup/networker/src/main/java/org/apache/cloudstack/backup/networker/api/Attribute.java
  plugins/backup/networker/src/main/java/org/apache/cloudstack/backup/networker/api/BackupSpecificData.java
  plugins/backup/networker/src/main/java/org/apache/cloudstack/backup/networker/api/CompletionNotification.java
  plugins/backup/networker/src/main/java/org/apache/cloudstack/backup/networker/api/Expire.java
  plugins/backup/networker/src/main/java/org/apache/cloudstack/backup/networker/api/Instance.java
  plugins/backup/networker/src/main/java/org/apache/cloudstack/backup/networker/api/Link.java
  plugins/backup/networker/src/main/java/org/apache/cloudstack/backup/networker/api/NetworkerBackup.java
  plugins/backup/networker/src/main/java/org/apache/cloudstack/backup/networker/api/NetworkerBackups.java
  plugins/backup/networker/src/main/java/org/apache/cloudstack/backup/networker/api/ProtectionPolicies.java
  plugins/backup/networker/src/main/java/org/apache/cloudstack/backup/networker/api/ProtectionPolicy.java
  plugins/backup/networker/src/main/java/org/apache/cloudstack/backup/networker/api/ResourceId.java
  plugins/backup/networker/src/main/java/org/apache/cloudstack/backup/networker/api/ServerBackup.java
  plugins/backup/networker/src/main/java/org/apache/cloudstack/backup/networker/api/Size.java
  plugins/backup/networker/src/main/java/org/apache/cloudstack/backup/networker/api/SummaryNotification.java
  plugins/backup/networker/src/main/java/org/apache/cloudstack/backup/networker/api/Traditional.java
  plugins/backup/networker/src/main/resources/META-INF/cloudstack/networker/module.properties
  plugins/backup/networker/src/main/resources/META-INF/cloudstack/networker/spring-backup-networker-context.xml
  plugins/backup/networker/src/test/java/org/apache/backup/networker/NetworkerClientTest.java
  plugins/pom.xml
  scripts/vm/hypervisor/kvm/nsrkvmbackup.sh
  scripts/vm/hypervisor/kvm/nsrkvmrestore.sh
  server/src/main/java/com/cloud/hypervisor/KVMGuru.java
  ui/public/config.json
Labels: component:kvm, status:ready-for-merge, component:build, component:backup

#7032 Allow users to inform timezones on APIs that have the date parameter
  api/src/main/java/org/apache/cloudstack/api/BaseCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/job/ListAsyncJobsCmd.java
  server/src/main/java/com/cloud/api/dispatch/ParamProcessWorker.java
  ui/src/components/view/StatsTab.vue
Labels: component:api, component:UI

#7058 UI: fix cannot list lb rules if cidr_list is NULL
  ui/src/components/view/BulkActionProgress.vue
  ui/src/components/view/BulkActionView.vue
  ui/src/views/network/LoadBalancing.vue
Labels: component:UI

#7054 UI: support serviceofferingid when create vpc offering
  ui/src/views/offering/AddVpcOffering.vue
Labels: component:UI

#7069 escapes for injection protection
  plugins/user-authenticators/ldap/src/main/java/org/apache/cloudstack/ldap/OpenLdapUserManagerImpl.java
Labels: component:LDAP

#7052 Allow domain admins to inform tags when creating offerings
  api/src/main/java/com/cloud/configuration/ConfigurationService.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/offering/IsAccountAllowedToCreateOfferingsWithTagsCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/offering/UpdateDiskOfferingCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/offering/UpdateServiceOfferingCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/IsAccountAllowedToCreateOfferingsWithTagsResponse.java
  engine/schema/src/main/resources/META-INF/db/schema-41720to41800.sql
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
  server/src/test/java/com/cloud/vpc/MockConfigurationManagerImpl.java
  ui/src/views/offering/AddComputeOffering.vue
  ui/src/views/offering/AddDiskOffering.vue
Labels: component:management-server, component:vpc, component:api, component:UI

#6661 Enable live volume migration for StorPool and small fixes
  plugins/storage/volume/storpool/pom.xml
  plugins/storage/volume/storpool/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/StorPoolDownloadTemplateCommandWrapper.java
  plugins/storage/volume/storpool/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/StorPoolModifyStorageCommandWrapper.java
  plugins/storage/volume/storpool/src/main/java/com/cloud/hypervisor/kvm/storage/StorPoolStorageAdaptor.java
  plugins/storage/volume/storpool/src/main/java/org/apache/cloudstack/storage/datastore/driver/StorPoolPrimaryDataStoreDriver.java
  plugins/storage/volume/storpool/src/main/java/org/apache/cloudstack/storage/datastore/provider/StorPoolHostListener.java
  plugins/storage/volume/storpool/src/main/java/org/apache/cloudstack/storage/datastore/util/StorPoolUtil.java
  plugins/storage/volume/storpool/src/main/java/org/apache/cloudstack/storage/snapshot/StorPoolVMSnapshotStrategy.java
  plugins/storage/volume/storpool/src/test/java/org/apache/cloudstack/storage/datastore/driver/StorPoolPrimaryDataStoreDriverTest.java
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  test/integration/plugins/storpool/MigrateVolumeToStorPool.py
  test/integration/plugins/storpool/sp_util.py
  tools/marvin/marvin/lib/base.py
Labels: component:primary-storage, Python, component:build, component:marvin, component:integration-test, component:storage

#7023 delete F5 and SRX plugins
  client/pom.xml
  plugins/network-elements/f5/pom.xml
  plugins/network-elements/f5/src/main/java/com/cloud/api/commands/AddExternalLoadBalancerCmd.java
  plugins/network-elements/f5/src/main/java/com/cloud/api/commands/AddF5LoadBalancerCmd.java
  plugins/network-elements/f5/src/main/java/com/cloud/api/commands/ConfigureF5LoadBalancerCmd.java
  plugins/network-elements/f5/src/main/java/com/cloud/api/commands/DeleteExternalLoadBalancerCmd.java
  plugins/network-elements/f5/src/main/java/com/cloud/api/commands/DeleteF5LoadBalancerCmd.java
  plugins/network-elements/f5/src/main/java/com/cloud/api/commands/ListExternalLoadBalancersCmd.java
  plugins/network-elements/f5/src/main/java/com/cloud/api/commands/ListF5LoadBalancerNetworksCmd.java
  plugins/network-elements/f5/src/main/java/com/cloud/api/commands/ListF5LoadBalancersCmd.java
  plugins/network-elements/f5/src/main/java/com/cloud/api/response/F5LoadBalancerResponse.java
  plugins/network-elements/f5/src/main/java/com/cloud/network/element/F5ExternalLoadBalancerElement.java
  plugins/network-elements/f5/src/main/java/com/cloud/network/element/F5ExternalLoadBalancerElementService.java
  plugins/network-elements/f5/src/main/java/com/cloud/network/resource/F5BigIpResource.java
  plugins/network-elements/f5/src/main/resources/META-INF/cloudstack/f5/module.properties
  plugins/network-elements/f5/src/main/resources/META-INF/cloudstack/f5/spring-f5-context.xml
  plugins/network-elements/juniper-srx/pom.xml
  plugins/network-elements/juniper-srx/src/main/java/com/cloud/api/commands/AddExternalFirewallCmd.java
  plugins/network-elements/juniper-srx/src/main/java/com/cloud/api/commands/AddSrxFirewallCmd.java
  plugins/network-elements/juniper-srx/src/main/java/com/cloud/api/commands/ConfigureSrxFirewallCmd.java
  plugins/network-elements/juniper-srx/src/main/java/com/cloud/api/commands/DeleteExternalFirewallCmd.java
  plugins/network-elements/juniper-srx/src/main/java/com/cloud/api/commands/DeleteSrxFirewallCmd.java
  plugins/network-elements/juniper-srx/src/main/java/com/cloud/api/commands/ListExternalFirewallsCmd.java
  plugins/network-elements/juniper-srx/src/main/java/com/cloud/api/commands/ListSrxFirewallNetworksCmd.java
  plugins/network-elements/juniper-srx/src/main/java/com/cloud/api/commands/ListSrxFirewallsCmd.java
  plugins/network-elements/juniper-srx/src/main/java/com/cloud/api/response/SrxFirewallResponse.java
  plugins/network-elements/juniper-srx/src/main/java/com/cloud/network/element/JuniperSRXExternalFirewallElement.java
  plugins/network-elements/juniper-srx/src/main/java/com/cloud/network/element/JuniperSRXFirewallElementService.java
  plugins/network-elements/juniper-srx/src/main/java/com/cloud/network/resource/JuniperSrxResource.java
  plugins/network-elements/juniper-srx/src/main/resources/META-INF/cloudstack/srx/module.properties
  plugins/network-elements/juniper-srx/src/main/resources/META-INF/cloudstack/srx/spring-srx-context.xml
  plugins/pom.xml
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  server/src/main/java/com/cloud/network/ExternalFirewallDeviceManager.java
  test/metadata/func/srxstresswithportfwd.xml
  tools/marvin/marvin/configGenerator.py
  ui/src/views/infra/network/ServiceProvidersTab.vue
  ui/src/views/infra/network/providers/AddSrxFirewall.vue
  ui/src/views/infra/network/providers/ProviderListView.vue
Labels: component:networking, component:build

#6942 ssvm: synchorise when adding iptables and routing rules
  services/secondary-storage/server/src/main/java/org/apache/cloudstack/storage/resource/NfsSecondaryStorageResource.java
Labels: component:secondary-storage, component:ssvm

#6273 Add `pre-commit` workflow with 3 Git hooks
  .github/workflows/linter.yml
  .pre-commit-config.yaml
  api/src/main/java/org/apache/cloudstack/api/command/admin/direct/download/UploadTemplateDirectDownloadCertificateCmd.java
  engine/schema/src/test/java/com/cloud/host/HostVOTest.java
  plugins/hypervisors/baremetal/src/main/java/com/cloud/baremetal/database/BaremetalRctDao.java
  plugins/hypervisors/baremetal/src/main/java/com/cloud/baremetal/database/BaremetalRctDaoImpl.java
  plugins/hypervisors/baremetal/src/main/java/com/cloud/baremetal/database/BaremetalRctVO.java
  plugins/hypervisors/baremetal/src/main/java/com/cloud/baremetal/manager/BaremetalRct.java
  plugins/hypervisors/baremetal/src/main/java/com/cloud/baremetal/manager/BaremetalVlanManager.java
  plugins/hypervisors/baremetal/src/main/java/com/cloud/baremetal/manager/BaremetalVlanManagerImpl.java
  plugins/hypervisors/baremetal/src/main/java/com/cloud/baremetal/networkservice/BaremetalRctResponse.java
  plugins/hypervisors/baremetal/src/main/java/com/cloud/baremetal/networkservice/BaremetalSwitchBackend.java
  plugins/hypervisors/baremetal/src/main/java/com/cloud/baremetal/networkservice/BaremetalVirtualRouterCommands.java
  plugins/hypervisors/baremetal/src/main/java/com/cloud/baremetal/networkservice/BaremetalVlanStruct.java
  plugins/hypervisors/baremetal/src/main/java/com/cloud/baremetal/networkservice/Force10BaremetalSwitchBackend.java
  plugins/hypervisors/baremetal/src/main/resources/security_group_agent/security_group_agent/cs_sg_agent.py
  plugins/hypervisors/baremetal/src/main/resources/security_group_agent/security_group_agent/xmlobject.py
  test/integration/component/test_host.py
  test/integration/component/test_multi_tag_support.py
  test/integration/component/test_ncc_integration_dedicated.py
  test/integration/component/test_ncc_integration_shared.py
Labels: component:api, component:networking, Python, component:orchestration, component:integration-test, component:hyperv, needs-review, component:integration

#7057 server/UI: fix some issues with network offering details
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  ui/src/views/offering/AddNetworkOffering.vue
Labels: component:management-server, component:UI

#7068 update owasp dep checker for 'column width bug'
  pom.xml
Labels: component:build

#7040 assess prerequisite before doing the actual test
  test/integration/component/test_tags.py
Labels: Python, component:integration-test

#6978 simulator: use ubuntu 22.04 in Dockerfile
  tools/docker/Dockerfile
Labels: docker

#6242 Search for resource type efficiently
  api/src/main/java/com/cloud/server/ResourceTag.java
  server/src/main/java/com/cloud/tags/ResourceManagerUtilImpl.java
Labels: component:api

#6610 Use Super-Linter Slim Image
  .github/workflows/linter.yml
Labels: component:integration

#7072 UI: fix diskofferingstrictness is not passed when create compute offering
  ui/public/locales/en.json
  ui/src/views/offering/AddComputeOffering.vue
Labels: component:UI

#6989 vmware: encode disk path for URL based access
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/util/VmwareContext.java
Labels: component:vmware

#7076 UI: do not show FW/LB/PF tabs for CKS cluster in advanced network with SG
  ui/src/views/compute/KubernetesServiceTab.vue
Labels: component:UI

#7087 Fix spelling
  agent/src/main/java/com/cloud/agent/properties/AgentProperties.java
  api/src/main/java/com/cloud/network/vpc/VpcService.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/annotation/AddAnnotationCmd.java
  client/conf/ehcache.xml.in
  core/src/main/java/com/cloud/agent/api/UnregisterNicCommand.java
  core/src/main/java/com/cloud/agent/api/routing/SiteLoadBalancerConfig.java
  core/src/main/java/com/cloud/agent/resource/virtualnetwork/model/TcpAclRule.java
  core/src/main/java/com/cloud/agent/resource/virtualnetwork/model/UdpAclRule.java
  core/src/main/java/com/cloud/network/HAProxyConfigurator.java
  core/src/main/java/com/cloud/storage/template/MetalinkTemplateDownloader.java
  core/src/main/java/com/cloud/storage/template/Processor.java
  core/src/test/java/com/cloud/agent/api/storage/DownloadAnswerTest.java
  core/src/test/java/com/cloud/agent/resource/virtualnetwork/VirtualRoutingResourceTest.java
  engine/api/src/main/java/org/apache/cloudstack/engine/cloud/entity/api/VirtualMachineEntity.java
  engine/api/src/main/java/org/apache/cloudstack/engine/subsystem/api/network/NetworkSubsystem.java
  engine/components-api/src/main/java/com/cloud/capacity/CapacityManager.java
  engine/components-api/src/main/java/com/cloud/network/rules/FirewallManager.java
  engine/orchestration/src/main/java/com/cloud/agent/manager/AgentManagerImpl.java
  engine/orchestration/src/main/java/com/cloud/agent/manager/ClusteredAgentManagerImpl.java
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/cloud/entity/api/VirtualMachineEntityImpl.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestrator.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/VolumeOrchestrator.java
  framework/cluster/src/main/java/com/cloud/cluster/ClusterServiceServletHttpHandler.java
  plugins/alert-handlers/snmp-alerts/CS-ROOT-MIB.mib
  plugins/hypervisors/ovm/src/main/java/com/cloud/ovm/hypervisor/OvmResourceBase.java
  plugins/hypervisors/ovm3/src/main/java/com/cloud/hypervisor/ovm3/resources/helpers/Ovm3StoragePool.java
  plugins/hypervisors/ucs/src/main/java/org/apache/cloudstack/api/ListUcsManagerCmd.java
  plugins/user-authenticators/ldap/src/test/java/org/apache/cloudstack/api/command/LdapListUsersCmdTest.java
  server/src/main/java/com/cloud/api/response/ApiResponseSerializer.java
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  server/src/main/java/com/cloud/network/NetworkServiceImpl.java
  server/src/main/java/com/cloud/network/guru/ExternalGuestNetworkGuru.java
  server/src/main/java/com/cloud/resource/DiscovererBase.java
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  setup/bindir/cloud-set-guest-sshkey-password-userdata-configdrive.in
  test/integration/component/test_project_configs.py
  test/integration/component/test_project_limits.py
  test/integration/component/test_project_resources.py
  test/integration/component/test_vpc_vms_deployment.py
  test/integration/smoke/test_accounts.py
  test/integration/smoke/test_projects.py
  ui/src/views/network/CreateVpc.vue
Labels: component:api, component:networking, component:agent, component:compute, component:LDAP, component:orchestration

#7084 kvm: make UEFI host check to support both Ubuntu and EL
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtReadyCommandWrapper.java
Labels: component:kvm

#7097 CKS: do not save cks username/password which are useless
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/KubernetesClusterManagerImpl.java
Labels: component:kubernetes

#6386 [VMWare] Limit IOPS in Compute/Disk Offerings
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/resource/VmwareResource.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/storage/resource/VmwareStorageProcessor.java
  utils/src/main/java/com/cloud/utils/LogUtils.java
  utils/src/test/java/com/cloud/utils/LogUtilsTest.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/HostMO.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/HypervisorHostHelper.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/VirtualMachineMO.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/util/VmwareHelper.java
  vmware-base/src/test/java/com/cloud/hypervisor/vmware/util/VmwareHelperTest.java
Labels: component:vmware

#7091 .github: run all gha on ubuntu latest
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/codecov.yml
  .github/workflows/linter.yml
  .github/workflows/merge-conflict-checker.yml
  .github/workflows/rat.yml
Labels: component:build, component:integration

#7073 storage: validate disk size range of custom disk offering when resize volume
  api/src/main/java/com/cloud/storage/VolumeApiService.java
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
Labels: component:api, component:storage

#7067 UI: Enable shared network with scope option in advanced zone with SG
  ui/src/config/section/network.js
  ui/src/views/compute/wizard/NetworkSelection.vue
  ui/src/views/network/CreateL2NetworkForm.vue
  ui/src/views/network/CreateNetwork.vue
  ui/src/views/network/CreateSharedNetworkForm.vue
Labels: component:UI

#7106 UI: display cpu cores and speed instead of cputotal by default
  ui/src/components/view/InfoCard.vue
Labels: component:UI

#7075 UI: add filter user/all to list user/all volumes
  ui/src/config/section/storage.js
  ui/src/views/AutogenView.vue
Labels: component:UI

#7090 KVM: revert libvirtd config and retry if fail to add a host
  scripts/util/keystore-setup
  server/src/main/java/com/cloud/hypervisor/kvm/discoverer/LibvirtServerDiscoverer.java
Labels: component:kvm

#7046 Add support for vSphere 8.0
  engine/schema/src/main/resources/META-INF/db/schema-41720to41800.sql
  pom.xml
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/VirtualStorageObjectManagerMO.java
Labels: component:vmware, component:build, type:experimental-feature

#7100 api/server: add project id/name in ssh keypair response
  api/src/main/java/org/apache/cloudstack/api/response/SSHKeyPairResponse.java
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  ui/src/config/section/compute.js
Labels: component:api, component:UI

#7104 CKS: remove details when delete a cks cluster
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterDestroyWorker.java
Labels: component:kubernetes

#7092 api: fix new password is applied on host when update host password with update_passwd_on_host=false
  api/src/main/java/org/apache/cloudstack/api/command/admin/host/UpdateHostPasswordCmd.java
  api/src/test/java/org/apache/cloudstack/api/command/test/UpdateHostPasswordCmdTest.java
Labels: component:api

#6581 [Veeam] enable volume attach/detach in VMs with Backup Offerings
  api/src/main/java/org/apache/cloudstack/backup/BackupManager.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/guru/VMwareGuru.java
  plugins/hypervisors/vmware/src/test/java/com/cloud/hypervisor/guru/VMwareGuruTest.java
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  server/src/main/java/org/apache/cloudstack/backup/BackupManagerImpl.java
  server/src/test/java/com/cloud/storage/VolumeApiServiceImplTest.java
Labels: component:vmware, component:api, component:backup, component:storage

#7006 Use lowercase HTTP header field names so we are compatible with HTTP/2
  core/src/main/java/com/cloud/network/resource/TrafficSentinelResource.java
  core/src/main/java/com/cloud/storage/template/HttpTemplateDownloader.java
  core/src/main/java/com/cloud/storage/template/S3TemplateDownloader.java
  engine/storage/integration-test/src/test/java/org/apache/cloudstack/storage/test/TestHttp.java
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/veeam/VeeamClient.java
  plugins/backup/veeam/src/test/java/org/apache/cloudstack/backup/veeam/VeeamClientTest.java
  plugins/hypervisors/ucs/src/main/java/com/cloud/ucs/manager/UcsHttpClient.java
  plugins/integrations/cloudian/src/main/java/org/apache/cloudstack/cloudian/client/CloudianClient.java
  plugins/integrations/cloudian/src/test/java/org/apache/cloudstack/cloudian/CloudianClientTest.java
  plugins/integrations/prometheus/src/main/java/org/apache/cloudstack/metrics/PrometheusExporterServerImpl.java
  plugins/network-elements/bigswitch/src/main/java/com/cloud/network/bigswitch/BigSwitchBcfApi.java
  plugins/network-elements/bigswitch/src/test/java/com/cloud/network/bigswitch/BigSwitchApiTest.java
  plugins/network-elements/opendaylight/src/main/java/org/apache/cloudstack/network/opendaylight/api/resources/Action.java
  plugins/network-elements/stratosphere-ssp/sspmock/sspmock.py
  plugins/storage/volume/datera/src/main/java/org/apache/cloudstack/storage/datastore/util/DateraUtil.java
  plugins/storage/volume/scaleio/src/main/java/org/apache/cloudstack/storage/datastore/client/ScaleIOGatewayClientImpl.java
  plugins/storage/volume/scaleio/src/test/java/org/apache/cloudstack/storage/datastore/client/ScaleIOGatewayClientImplTest.java
  scripts/storage/secondary/swift
  scripts/vm/hypervisor/xenserver/s3xenserver
  scripts/vm/hypervisor/xenserver/storagePlugin
  scripts/vm/hypervisor/xenserver/swift
  server/src/test/java/org/apache/cloudstack/direct/download/DirectDownloadManagerImplTest.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/ConsoleProxyAjaxHandler.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/ConsoleProxyAjaxImageHandler.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/ConsoleProxyCmdHandler.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/ConsoleProxyResourceHandler.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/ConsoleProxyThumbnailHandler.java
  services/secondary-storage/server/src/main/java/org/apache/cloudstack/storage/resource/HttpUploadServerHandler.java
  systemvm/debian/opt/cloud/bin/passwd_server_ip.py
  systemvm/debian/opt/cloud/bin/setup/secstorage.sh
  test/integration/component/test_browse_templates.py
  test/integration/component/test_browse_volumes.py
  test/integration/smoke/test_outofbandmanagement_nestedplugin.py
  test/selenium/smoke/main.py
  tools/apidoc/generatecommand.xsl
  tools/apidoc/generatecommands.xsl
  tools/apidoc/generatetoc_header.xsl
  tools/marvin/marvin/lib/ncc.py
  ui/index.html
  ui/public/error.html
  ui/src/api/index.js
  ui/src/views/image/RegisterOrUploadIso.vue
  ui/src/views/image/RegisterOrUploadTemplate.vue
  ui/src/views/storage/UploadLocalVolume.vue
  utils/src/main/java/com/cloud/utils/UriUtils.java
  utils/src/main/java/com/cloud/utils/rest/HttpConstants.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/util/VmwareContext.java
Labels: component:XenServer, component:primary-storage, component:secondary-storage, component:virtual-router, component:console-proxy, component:ssvm, component:networking, Python, component:backup, component:storage

#7050 VR: fix warning Expected X answers while executing SetXXXCommand but Y
  core/src/main/java/com/cloud/agent/api/routing/IpAssocCommand.java
  core/src/main/java/com/cloud/agent/api/routing/IpAssocVpcCommand.java
  core/src/main/java/com/cloud/agent/api/routing/NetworkElementCommand.java
  core/src/main/java/com/cloud/agent/api/routing/SetFirewallRulesCommand.java
  core/src/main/java/com/cloud/agent/api/routing/SetIpv6FirewallRulesCommand.java
  core/src/main/java/com/cloud/agent/api/routing/SetMonitorServiceCommand.java
  core/src/main/java/com/cloud/agent/api/routing/SetNetworkACLCommand.java
  core/src/main/java/com/cloud/agent/api/routing/SetPortForwardingRulesCommand.java
  core/src/main/java/com/cloud/agent/api/routing/SetStaticNatRulesCommand.java
  core/src/main/java/com/cloud/agent/api/routing/SetStaticRouteCommand.java
  core/src/test/java/com/cloud/agent/resource/virtualnetwork/ConfigHelperTest.java
Labels: component:api

#6748 server: fix listnetworkofferings with domain, refactor listvpofferings
  api/src/main/java/org/apache/cloudstack/api/command/user/vpc/ListVPCOfferingsCmd.java
  engine/schema/src/main/java/com/cloud/domain/dao/DomainDao.java
  engine/schema/src/main/java/com/cloud/domain/dao/DomainDaoImpl.java
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  server/src/main/java/com/cloud/network/vpc/VpcManagerImpl.java
Labels: component:vpc, component:api, component:networking, component:agent, component:compute, component:build, component:orchestration, distro:ubuntu, component:storage

#7111 marvin: install mysql-connector-python version 8.0.31
  tools/marvin/setup.py
Labels: status:testing, Python, component:marvin

#7114 cloudstack-setup-agent: mask libvirt non-monolithic services
  python/lib/cloudutils/serviceConfig.py
  python/lib/cloudutils/syscfg.py
  python/lib/cloudutils/utilities.py
Labels: Python, EL9

#7120 marvin: newer python setuptools doesn't like -SNAPSHOT in marvin version
  tools/marvin/mvn-setup.py
Labels: Python, component:marvin

#7118 CKS: fix upgrade of HA cluster
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterUpgradeWorker.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/utils/KubernetesClusterUtil.java
  plugins/integrations/kubernetes-service/src/test/java/com/cloud/kubernetes/cluster/utils/KubernetesClusterUtilTest.java
Labels: component:kubernetes

#7113 Adds tar as dependency used for VMware to seed systemvmtemplate on mgmt server
  packaging/centos8/cloud.spec
Labels: component:vmware, component:packaging, component:build, distro:centos

#7103 VR: fix public-key is missing in VR after acquiring public IP
  server/src/main/java/org/apache/cloudstack/network/topology/BasicNetworkVisitor.java
Labels: component:networking

#6909 KVM support of iothreads and IO driver policy
  agent/conf/agent.properties
  agent/src/main/java/com/cloud/agent/properties/AgentProperties.java
  api/src/main/java/com/cloud/vm/VmDetailConstants.java
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/DeployVMCmd.java
  engine/components-api/src/main/java/com/cloud/storage/StorageManager.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/VolumeOrchestrator.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtVMDef.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStorageProcessor.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResourceTest.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  server/src/main/java/com/cloud/storage/StorageManagerImpl.java
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  ui/public/locales/en.json
  ui/src/views/compute/DeployVM.vue
Labels: component:kvm, component:api, component:UI, component:agent, component:orchestration, component:storage

#7125 Use long instead of int in DB statistics for Queries and Uptime.
  plugins/metrics/src/main/java/org/apache/cloudstack/metrics/MetricsServiceImpl.java
  plugins/metrics/src/main/java/org/apache/cloudstack/response/DbMetricsResponse.java
  server/src/main/java/com/cloud/server/StatsCollector.java
Labels: component:management-server

#6938 Create API to reassign volume
  api/src/main/java/com/cloud/storage/VolumeApiService.java
  api/src/main/java/org/apache/cloudstack/api/command/user/volume/AssignVolumeCmd.java
  core/src/main/java/org/apache/cloudstack/storage/command/MoveVolumeCommand.java
  engine/api/src/main/java/org/apache/cloudstack/engine/subsystem/api/storage/EndPointSelector.java
  engine/api/src/main/java/org/apache/cloudstack/engine/subsystem/api/storage/VolumeService.java
  engine/schema/src/main/resources/META-INF/db/schema-41720to41800.sql
  engine/storage/src/main/java/org/apache/cloudstack/storage/endpoint/DefaultEndPointSelector.java
  engine/storage/volume/src/main/java/org/apache/cloudstack/storage/volume/VolumeServiceImpl.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  server/src/test/java/com/cloud/storage/VolumeApiServiceImplTest.java
  services/secondary-storage/server/src/main/java/org/apache/cloudstack/storage/resource/NfsSecondaryStorageResource.java
  utils/src/main/java/org/apache/cloudstack/utils/bytescale/ByteScaleUtils.java
  utils/src/test/java/org/apache/cloudstack/utils/bytescale/ByteScaleUtilsTest.java
Labels: component:management-server, component:secondary-storage, component:ssvm, component:api, component:storage

#7015 Secure KVM VNC Console Access Using the CA Framework
  agent/bindir/cloud-setup-agent.in
  python/lib/cloudutils/serviceConfig.py
  scripts/util/keystore-cert-import
  server/src/main/java/com/cloud/servlet/ConsoleProxyClientParam.java
  server/src/main/java/org/apache/cloudstack/consoleproxy/ConsoleAccessManagerImpl.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/ConsoleProxyAjaxHandler.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/ConsoleProxyAjaxImageHandler.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/ConsoleProxyClientParam.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/ConsoleProxyHttpHandlerHelper.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/ConsoleProxyNoVNCHandler.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/ConsoleProxyNoVncClient.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/vnc/NoVncClient.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/vnc/RfbConstants.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/vnc/network/NioSocket.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/vnc/network/NioSocketHandler.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/vnc/network/NioSocketHandlerImpl.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/vnc/network/NioSocketInputStream.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/vnc/network/NioSocketOutputStream.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/vnc/network/NioSocketSSLEngineManager.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/vnc/network/NioSocketStream.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/vnc/network/NioSocketTLSInputStream.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/vnc/network/NioSocketTLSOutputStream.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/vnc/security/NoneVncSecurity.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/vnc/security/VncAuthSecurity.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/vnc/security/VncSecurity.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/vnc/security/VncTLSSecurity.java
  services/console-proxy/server/src/test/java/com/cloud/consoleproxy/ConsoleProxyNoVncClientTest.java
  systemvm/agent/noVNC/app/styles/base.css
  systemvm/agent/noVNC/app/ui.js
  systemvm/agent/noVNC/core/rfb.js
  test/integration/smoke/test_vm_life_cycle.py
Labels: component:kvm, component:console-proxy, component:security, Python, component:agent, Severity:Major

#7136 Fix: memory leak on volume allocation
  api/src/main/java/com/cloud/deploy/DeployDestination.java
  engine/schema/src/main/java/com/cloud/host/dao/HostDao.java
  engine/schema/src/main/java/com/cloud/host/dao/HostDaoImpl.java
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  server/src/test/java/com/cloud/storage/VolumeApiServiceImplTest.java
  test/integration/smoke/test_vm_life_cycle.py
Labels: component:api, Python, component:integration-test, component:storage

#6957 Allow VPC offering creation only with active VR service offerings
  api/src/main/java/com/cloud/network/NetworkService.java
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  server/src/main/java/com/cloud/network/NetworkServiceImpl.java
  server/src/main/java/com/cloud/network/vpc/VpcManagerImpl.java
  server/src/test/java/com/cloud/network/NetworkServiceImplTest.java
  server/src/test/java/com/cloud/network/vpc/VpcManagerImplTest.java
  server/src/test/java/com/cloud/vpc/MockNetworkManagerImpl.java
Labels: component:vpc, component:api, component:networking
