Repository apache/cloudstack, pull requests merged in 2023-09, with the labels that each got.

#7932 Fix direct download https compressed qcow2 template checker
  core/src/main/java/org/apache/cloudstack/direct/download/HttpsDirectTemplateDownloader.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtCheckUrlCommand.java
  services/secondary-storage/server/src/main/java/org/apache/cloudstack/storage/template/DownloadManagerImpl.java
  utils/src/main/java/com/cloud/utils/storage/QCOW2Utils.java
  utils/src/test/java/com/cloud/utils/storage/QCOW2UtilsTest.java
Labels: type:bug, component:kvm, component:secondary-storage, component:ssvm, component:templates

#7912 utils: build both SHADED and original jars
  debian/rules
  packaging/centos7/cloud.spec
  packaging/centos8/cloud.spec
  utils/pom.xml
Labels: component:packaging, component:build, distro:ubuntu, distro:centos

#7947 ui: don't skip if dataview has multiple items in response
  ui/src/views/AutogenView.vue
Labels: component:UI, Severity:Critical

#7945 kvm: fix live vm migration between local storage pools
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtConnection.java
Labels: component:kvm, Severity:Critical

#7933 server: fix dualstack ipv6 networks for vxlan
  plugins/network-elements/vxlan/src/main/java/com/cloud/network/guru/VxlanGuestNetworkGuru.java
  server/src/main/java/com/cloud/network/guru/ExternalGuestNetworkGuru.java
  server/src/main/java/com/cloud/network/guru/GuestNetworkGuru.java
Labels: component:networking, component:vxlan

#7944 utils: rename cloud-utils-*-SHADED.jar to cloud-utils-*-bundled.jar to fix the build error on Mac
  debian/rules
  packaging/centos7/cloud.spec
  packaging/centos8/cloud.spec
  utils/pom.xml
Labels: component:packaging, component:build, distro:ubuntu, distro:centos

#7939 UI: Fix user role login due to missing API access on custom hypervisor name
  api/src/main/java/org/apache/cloudstack/api/command/user/config/ListCapabilitiesCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/CapabilitiesResponse.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
  ui/src/store/modules/user.js
Labels: type:bug, component:management-server, component:api, component:UI

#7941 Allow editing of host and storage tags of system offerings in the UI
  ui/src/config/section/offering.js
Labels: component:UI

#7784 Generate coverage for Simulator based integration tests & ui tests in github actions
  .github/workflows/ci.yml
  .github/workflows/codecov.yml
  .github/workflows/ui.yml
  ui/jest.config.js
Labels: component:UI, component:integration, component:ci-cd

#7955 Increase reserve on ScaleIO disk formatting for fragmentation
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/ScaleIOStorageAdaptor.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/storage/ScaleIOStorageAdaptorTest.java
Labels: component:kvm, powerflex

#7850 Remove unneeded duplicate words
  api/src/main/java/com/cloud/server/ManagementService.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/ListNicsCmd.java
  api/src/test/java/com/cloud/agent/api/storage/OVFHelperTest.java
  engine/components-api/src/main/java/com/cloud/event/UsageEventUtils.java
  engine/components-api/src/main/java/com/cloud/ha/HighAvailabilityManager.java
  engine/components-api/src/main/java/com/cloud/network/NetworkStateListener.java
  engine/components-api/src/main/java/com/cloud/storage/StorageUtil.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestrator.java
  engine/schema/src/main/java/com/cloud/upgrade/dao/Upgrade218to22.java
  engine/schema/src/main/resources/META-INF/db/schema-21to22.sql
  engine/schema/src/main/resources/META-INF/db/schema-2214to30.sql
  engine/schema/src/main/resources/META-INF/db/schema-410to420.sql
  plugins/hypervisors/hyperv/DotNet/ServerResource/HypervResource/WmiCallsV2.cs
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/CitrixResourceBase.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterActionWorker.java
  plugins/network-elements/netscaler/src/main/java/com/cloud/network/resource/NetscalerResource.java
  plugins/network-elements/nicira-nvp/src/main/java/com/cloud/network/resource/wrapper/NiciraNvpConfigureSharedNetworkUuidCommandWrapper.java
  plugins/user-authenticators/ldap/src/main/java/org/apache/cloudstack/api/command/LdapListUsersCmd.java
  scripts/vm/hypervisor/xenserver/copy_vhd_from_secondarystorage.sh
  server/src/main/java/com/cloud/api/ApiServer.java
  server/src/main/java/com/cloud/event/ActionEventUtils.java
  server/src/main/java/com/cloud/event/AlertGenerator.java
  server/src/main/java/com/cloud/network/Ipv6AddressManagerImpl.java
  server/src/main/java/com/cloud/network/NetworkServiceImpl.java
  server/src/main/java/com/cloud/network/guru/DirectPodBasedNetworkGuru.java
  server/src/main/java/com/cloud/network/rules/RulesManagerImpl.java
  server/src/main/java/com/cloud/network/security/SecurityGroupManagerImpl.java
  server/src/main/java/com/cloud/storage/ImageStoreDetailsUtil.java
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  server/src/main/java/com/cloud/storage/listener/SnapshotStateListener.java
  server/src/main/java/com/cloud/storage/listener/VolumeStateListener.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/main/java/com/cloud/vm/UserVmStateListener.java
  services/console-proxy/rdpconsole/src/main/java/rdpclient/RdpClient.java
  setup/bindir/cloud-setup-databases.in
  setup/db/create-schema.sql
  systemvm/agent/noVNC/app/ui.js
  systemvm/agent/noVNC/core/display.js
  systemvm/agent/noVNC/core/rfb.js
  test/integration/component/maint/test_host_high_availability.py
  test/integration/component/test_acl_isolatednetwork.py
  test/integration/component/test_acl_sharednetwork_deployVM-impersonation.py
  test/integration/component/test_base_image_updation.py
  test/integration/component/test_configdrive.py
  test/integration/component/test_ldap.py
  test/integration/component/test_ldap_auto_import.py
  test/integration/component/test_multiple_ips_per_nic.py
  test/integration/smoke/test_privategw_acl.py
  test/integration/testpaths/testpath_multiple_snapshot.py
  test/integration/testpaths/testpath_restore_vm.py
  test/integration/testpaths/testpath_usage.py
  test/integration/testpaths/testpath_volumelifecycle.py
  test/scripts/deploycluster.sh
  test/systemvm/test_update_config.py
  tools/marvin/marvin/misc/build/CI.md
Labels: component:XenServer, component:ipv6, component:api, component:security-group, component:networking, component:LDAP, component:kubernetes, component:orchestration, component:hyperv, component:storage

#7782 Fix issues in VM Scheduler
  server/src/main/java/org/apache/cloudstack/vm/schedule/VMScheduleManagerImpl.java
  server/src/main/java/org/apache/cloudstack/vm/schedule/VMScheduler.java
  server/src/main/java/org/apache/cloudstack/vm/schedule/VMSchedulerImpl.java
  server/src/test/java/org/apache/cloudstack/vm/schedule/VMSchedulerImplTest.java
  test/integration/smoke/test_vm_schedule.py
Labels: type:bug, Python, component:integration-test

#7915 ldap trust map cleanup on domain delete
  plugins/user-authenticators/ldap/src/main/java/org/apache/cloudstack/ldap/LdapManagerImpl.java
  server/src/main/java/com/cloud/user/AccountManagerImpl.java
  server/src/main/java/com/cloud/user/DomainManagerImpl.java
  server/src/test/java/com/cloud/user/DomainManagerImplTest.java
Labels: component:LDAP

#6925 Add and improve logs in snapshot scheduling
  server/src/main/java/com/cloud/storage/snapshot/SnapshotSchedulerImpl.java
  server/src/test/java/com/cloud/storage/snapshot/SnapshotSchedulerImplTest.java
Labels: component:storage

#7975 remove powermock from engine
  engine/schema/src/test/java/com/cloud/network/as/dao/AutoScaleVmGroupDaoImplTest.java
  engine/schema/src/test/java/com/cloud/network/as/dao/AutoScaleVmGroupStatisticsDaoImplTest.java
  engine/schema/src/test/java/com/cloud/network/as/dao/AutoScaleVmGroupVmMapDaoImplTest.java
  engine/schema/src/test/java/com/cloud/network/dao/NetworkDaoImplTest.java
  engine/schema/src/test/java/com/cloud/storage/dao/StoragePoolTagsDaoImplTest.java
  engine/schema/src/test/java/com/cloud/upgrade/GuestOsMapperTest.java
  engine/schema/src/test/java/com/cloud/upgrade/dao/DatabaseAccessObjectTest.java
  engine/schema/src/test/java/com/cloud/upgrade/dao/DbUpgradeUtilsTest.java
  engine/schema/src/test/java/com/cloud/usage/dao/UsageStorageDaoImplTest.java
  engine/schema/src/test/java/org/apache/cloudstack/storage/datastore/db/PrimaryDataStoreDaoImplTest.java
  engine/schema/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  engine/storage/datamotion/src/test/java/org/apache/cloudstack/storage/motion/AncientDataMotionStrategyTest.java
  engine/storage/snapshot/src/test/java/org/apache/cloudstack/storage/snapshot/SnapshotDataFactoryImplTest.java
  engine/storage/snapshot/src/test/java/org/apache/cloudstack/storage/snapshot/SnapshotServiceImplTest.java
  engine/storage/snapshot/src/test/java/org/apache/cloudstack/storage/vmsnapshot/VMSnapshotStrategyKVMTest.java
  engine/storage/snapshot/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  framework/db/src/main/java/com/cloud/utils/db/GenericDaoBase.java
Labels: component:database, component:storage

#7988 Remove powermock from engine/storage/configdrive
  engine/storage/configdrive/src/main/java/org/apache/cloudstack/storage/configdrive/ConfigDriveBuilder.java
  engine/storage/configdrive/src/test/java/org/apache/cloudstack/storage/configdrive/ConfigDriveBuilderTest.java
  engine/storage/configdrive/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: component:storage

#7645 api: remove powermock from tests
  api/src/test/java/org/apache/cloudstack/api/command/admin/account/CreateAccountCmdTest.java
  api/src/test/java/org/apache/cloudstack/api/command/admin/annotation/AddAnnotationCmdTest.java
  api/src/test/java/org/apache/cloudstack/api/command/admin/systemvm/PatchSystemVMCmdTest.java
  api/src/test/java/org/apache/cloudstack/api/command/admin/user/CreateUserCmdTest.java
  api/src/test/java/org/apache/cloudstack/api/command/test/ResetVMUserDataCmdTest.java
  api/src/test/java/org/apache/cloudstack/api/command/user/firewall/CreateEgressFirewallRuleCmdTest.java
  api/src/test/java/org/apache/cloudstack/api/command/user/userdata/DeleteUserDataCmdTest.java
  api/src/test/java/org/apache/cloudstack/api/command/user/userdata/LinkUserDataToTemplateCmdTest.java
  api/src/test/java/org/apache/cloudstack/api/command/user/userdata/ListUserDataCmdTest.java
  api/src/test/java/org/apache/cloudstack/api/command/user/userdata/RegisterUserDataCmdTest.java
  api/src/test/java/org/apache/cloudstack/api/command/user/vpc/CreateVPCCmdTest.java
  api/src/test/java/org/apache/cloudstack/api/command/user/vpc/UpdateVPCCmdTest.java
  api/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: component:api, component:unit-test

#7878 Publish event for VM.STOP when out of band stop is detected
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
Labels: component:compute, component:orchestration

#7958 VR live patching: Allow live patch of VPC VRs even if networks are in allocated / shutdown state
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestrator.java
Labels: component:api, component:database, component:agent, component:build, component:orchestration, distro:ubuntu, component:storage

#7972 Fix 2FA becoming enabled when the user inputs the wrong code during setup
  server/src/main/java/com/cloud/user/AccountManagerImpl.java
Labels: component:security

#8000 Remove powermock from pom.xml
  client/pom.xml
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResourceTest.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/storage/KVMStorageProcessorTest.java
  plugins/storage/volume/storpool/pom.xml
  plugins/user-authenticators/ldap/pom.xml
  pom.xml
  utils/src/test/java/org/apache/cloudstack/utils/reflectiontostringbuilderutils/ReflectionToStringBuilderUtilsTest.java
Labels: component:kvm, component:XenServer, component:vmware, component:primary-storage, component:secondary-storage, component:console-proxy, component:ssvm, component:api, component:networking, component:agent, component:build, component:projects, component:LDAP, component:kubernetes, component:quota, component:storage

#7982 VR: remove apache2 config for removed VPC tiers
  systemvm/debian/opt/cloud/bin/cs/CsAddress.py
  systemvm/debian/opt/cloud/bin/cs/CsApp.py
Labels: component:virtual-router, component:networking, Python

#7991 Fix style for LibvirtComputingResource variable names and its dependencies
  agent/src/main/java/com/cloud/agent/resource/consoleproxy/ConsoleProxyResource.java
  core/src/main/java/com/cloud/resource/ServerResourceBase.java
  core/src/test/java/com/cloud/resource/ServerResourceBaseTest.java
  plugins/hypervisors/hyperv/src/main/java/com/cloud/hypervisor/hyperv/resource/HypervDirectConnectResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResourceTest.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/LibvirtVifDriverTest.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtNetworkElementCommandWrapperTest.java
Labels: component:kvm, component:agent, component:hyperv

#8009 Fix tests on CS build when cloudstack-management service is running
  plugins/storage/volume/scaleio/src/test/java/org/apache/cloudstack/storage/datastore/client/ScaleIOGatewayClientImplTest.java
Labels: component:primary-storage, component:storage

#7979 LibvirtServerDiscoverer should only process added hosts relevant to hypervisor type
  server/src/main/java/com/cloud/hypervisor/discoverer/CustomServerDiscoverer.java
  server/src/main/java/com/cloud/hypervisor/kvm/discoverer/LibvirtServerDiscoverer.java
Labels: component:kvm

#7948 Use direct download timeout configs for URL check during registerTemplate
  core/src/main/java/org/apache/cloudstack/agent/directdownload/CheckUrlCommand.java
  core/src/main/java/org/apache/cloudstack/direct/download/DirectDownloadHelper.java
  core/src/main/java/org/apache/cloudstack/direct/download/HttpDirectTemplateDownloader.java
  core/src/main/java/org/apache/cloudstack/direct/download/HttpsDirectTemplateDownloader.java
  core/src/main/java/org/apache/cloudstack/direct/download/MetalinkDirectTemplateDownloader.java
  core/src/test/java/org/apache/cloudstack/direct/download/BaseDirectTemplateDownloaderTest.java
  core/src/test/java/org/apache/cloudstack/direct/download/MetalinkDirectTemplateDownloaderTest.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtCheckUrlCommand.java
  server/src/main/java/com/cloud/template/HypervisorTemplateAdapter.java
Labels: component:kvm

#8004 Fix the poll for the API ReadyForShutdown even after logout
  plugins/shutdown/src/main/java/org/apache/cloudstack/api/command/ReadyForShutdownCmd.java
  ui/src/components/page/GlobalLayout.vue
  ui/src/store/getters.js
  ui/src/store/modules/app.js
  ui/src/store/modules/user.js
  ui/src/views/auth/Login.vue
Labels: component:UI

#7938 Add Service Offering to listSystemVMs and fix link from VR to its offering
  api/src/main/java/org/apache/cloudstack/api/response/SystemVmResponse.java
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  test/integration/smoke/test_ssvm.py
  ui/src/components/view/InfoCard.vue
Labels: component:api, component:UI, Python, component:integration-test

#7212 Improve logs when searching one storage pool to allocate a new volume
  engine/storage/src/main/java/org/apache/cloudstack/storage/allocator/AbstractStoragePoolAllocator.java
  engine/storage/src/main/java/org/apache/cloudstack/storage/allocator/ClusterScopeStoragePoolAllocator.java
  engine/storage/src/main/java/org/apache/cloudstack/storage/allocator/LocalStoragePoolAllocator.java
  engine/storage/src/main/java/org/apache/cloudstack/storage/allocator/ZoneWideStoragePoolAllocator.java
  server/src/main/java/com/cloud/storage/StorageManagerImpl.java
Labels: component:local-storage, component:storage

#7985 ui: allow copying password from notification
  ui/public/locales/en.json
  ui/src/config/section/compute.js
  ui/src/views/AutogenView.vue
  ui/src/views/compute/DeployVM.vue
Labels: component:UI

#6812 Normalize encryption on global configurations values
  api/src/main/java/org/apache/cloudstack/api/command/admin/config/UpdateCfgCmd.java
  engine/schema/src/main/java/com/cloud/domain/DomainDetailVO.java
  engine/schema/src/main/java/com/cloud/upgrade/dao/Upgrade41810to41900.java
  engine/schema/src/main/java/com/cloud/user/AccountDetailVO.java
  framework/config/src/main/java/org/apache/cloudstack/framework/config/impl/ConfigurationVO.java
  framework/db/src/main/java/com/cloud/utils/crypt/EncryptionSecretKeyChanger.java
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
Labels: component:vpc, component:api, component:database, component:agent, component:build, status:needs-testing, component:integration

#7868 Removed state for removed accounts
  api/src/main/java/com/cloud/user/Account.java
  engine/schema/src/main/resources/META-INF/db/schema-41810to41900.sql
  server/src/main/java/com/cloud/user/AccountManagerImpl.java
Labels: component:api, component:agent, component:build, component:integration

#8002 fix: cleanup directory if empty after removal of snapshot
  services/secondary-storage/server/src/main/java/org/apache/cloudstack/storage/resource/NfsSecondaryStorageResource.java
Labels: component:secondary-storage, component:ssvm
