Repository apache/cloudstack, pull requests merged in 2023-12, with the labels that each got.

#8275 UI: Removed redundant IP Address Column
  ui/src/views/network/PortForwarding.vue
Labels: component:UI

#8289 api: make displaytext form upload template/iso optional
  api/src/main/java/org/apache/cloudstack/api/command/user/iso/GetUploadParamsForIsoCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/template/GetUploadParamsForTemplateCmd.java
Labels: component:api

#7659 Add dynamic secondary storage selection
  api/src/main/java/com/cloud/storage/StorageService.java
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/ResponseGenerator.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/storage/heuristics/CreateSecondaryStorageSelectorCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/storage/heuristics/ListSecondaryStorageSelectorsCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/storage/heuristics/RemoveSecondaryStorageSelectorCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/storage/heuristics/UpdateSecondaryStorageSelectorCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/SecondaryStorageHeuristicsResponse.java
  api/src/main/java/org/apache/cloudstack/query/QueryService.java
  api/src/main/java/org/apache/cloudstack/secstorage/heuristics/Heuristic.java
  api/src/main/java/org/apache/cloudstack/secstorage/heuristics/HeuristicType.java
  engine/api/src/main/java/org/apache/cloudstack/engine/subsystem/api/storage/DataStoreManager.java
  engine/components-api/src/main/java/com/cloud/storage/StorageManager.java
  engine/components-api/src/main/java/com/cloud/template/TemplateManager.java
  engine/schema/src/main/java/org/apache/cloudstack/secstorage/HeuristicVO.java
  engine/schema/src/main/java/org/apache/cloudstack/secstorage/dao/SecondaryStorageHeuristicDao.java
  engine/schema/src/main/java/org/apache/cloudstack/secstorage/dao/SecondaryStorageHeuristicDaoImpl.java
  engine/schema/src/main/java/org/apache/cloudstack/storage/datastore/db/ImageStoreDao.java
  engine/schema/src/main/java/org/apache/cloudstack/storage/datastore/db/ImageStoreDaoImpl.java
  engine/schema/src/main/resources/META-INF/cloudstack/core/spring-engine-schema-core-daos-context.xml
  engine/schema/src/main/resources/META-INF/db/schema-41810to41900.sql
  engine/storage/image/src/main/java/org/apache/cloudstack/storage/image/manager/ImageStoreProviderManagerImpl.java
  engine/storage/snapshot/src/main/java/org/apache/cloudstack/storage/snapshot/SnapshotServiceImpl.java
  engine/storage/snapshot/src/test/java/org/apache/cloudstack/storage/snapshot/SnapshotServiceImplTest.java
  engine/storage/src/main/java/org/apache/cloudstack/storage/datastore/DataStoreManagerImpl.java
  engine/storage/src/main/java/org/apache/cloudstack/storage/image/datastore/ImageStoreProviderManager.java
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
  server/src/main/java/com/cloud/storage/StorageManagerImpl.java
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  server/src/main/java/com/cloud/template/HypervisorTemplateAdapter.java
  server/src/main/java/com/cloud/template/TemplateManagerImpl.java
  server/src/main/java/com/cloud/test/TestAppender.java
  server/src/main/java/org/apache/cloudstack/storage/heuristics/HeuristicRuleHelper.java
  server/src/main/java/org/apache/cloudstack/storage/heuristics/presetvariables/Account.java
  server/src/main/java/org/apache/cloudstack/storage/heuristics/presetvariables/Domain.java
  server/src/main/java/org/apache/cloudstack/storage/heuristics/presetvariables/GenericHeuristicPresetVariable.java
  server/src/main/java/org/apache/cloudstack/storage/heuristics/presetvariables/PresetVariables.java
  server/src/main/java/org/apache/cloudstack/storage/heuristics/presetvariables/SecondaryStorage.java
  server/src/main/java/org/apache/cloudstack/storage/heuristics/presetvariables/Snapshot.java
  server/src/main/java/org/apache/cloudstack/storage/heuristics/presetvariables/Template.java
  server/src/main/java/org/apache/cloudstack/storage/heuristics/presetvariables/Volume.java
  server/src/test/java/com/cloud/template/HypervisorTemplateAdapterTest.java
  server/src/test/java/com/cloud/template/TemplateManagerImplTest.java
  server/src/test/java/org/apache/cloudstack/storage/heuristics/HeuristicRuleHelperTest.java
Labels: component:management-server, component:api, component:database, status:needs-testing, component:storage

#8271 Linstor: Allow snapshot backup also to work on non hyperconverged setups
  plugins/storage/volume/linstor/src/main/java/org/apache/cloudstack/storage/datastore/driver/LinstorPrimaryDataStoreDriverImpl.java
  plugins/storage/volume/linstor/src/main/java/org/apache/cloudstack/storage/datastore/util/LinstorConfigurationManager.java
Labels: component:primary-storage, component:storage, has-3rdparty-components

#8278 lower level and no stack traces at info or higher
  framework/spring/module/src/main/java/org/apache/cloudstack/spring/module/model/impl/DefaultModuleDefinitionSet.java
Labels: component:logging

#8247 kvm: fix ide controller for rocky/alma vms
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
Labels: component:kvm

#8320 NSX: Fix Creation of VPCs
  server/src/main/java/com/cloud/network/vpc/VpcManagerImpl.java
Labels: component:kvm, component:vpc, component:api, component:networking, component:UI, component:kubernetes, component:storage

#8323 [NSX] Fix ACL rules creation
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxElement.java
Labels: component:networking

#8254 Prioritize hypervisor.uri configuration
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtConnection.java
Labels: component:kvm

#8322 Change available fields when editing a default role in the UI
  ui/src/config/section/role.js
Labels: type:bug, component:UI, Severity:Minor

#8319 linstor: Fix possible NPE if Linstor storage-pool data missing
  plugins/storage/volume/linstor/src/main/java/com/cloud/hypervisor/kvm/storage/LinstorStorageAdaptor.java
  plugins/storage/volume/linstor/src/main/java/org/apache/cloudstack/storage/datastore/util/LinstorUtil.java
Labels: component:primary-storage, component:api, component:agent, component:build, component:storage, component:integration, has-3rdparty-components

#8328 Add missing hosts info to the prometheus exporter output.
  plugins/integrations/prometheus/src/main/java/org/apache/cloudstack/metrics/PrometheusExporterImpl.java
Labels: type:bug, Severity:Major, component:prometheus

#8094 Add logs to listLoadBalancerRuleInstances API
  api/src/main/java/org/apache/cloudstack/api/command/user/loadbalancer/ListLoadBalancerRuleInstancesCmd.java
  server/src/main/java/com/cloud/network/lb/LoadBalancingRulesManagerImpl.java
Labels: component:api, component:networking

#8327 ui: add action to declare/cancel host as degraded
  ui/public/locales/en.json
  ui/src/config/section/infra/hosts.js
  ui/src/core/lazy_lib/icons_use.js
Labels: component:UI

#8297 CKS: create HA cluster with 3 control VMs instead 2
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterUpgradeWorker.java
  plugins/integrations/kubernetes-service/src/main/resources/script/upgrade-kubernetes.sh
  test/integration/smoke/test_kubernetes_clusters.py
  ui/src/views/compute/CreateKubernetesCluster.vue
Labels: component:UI, Python, component:kubernetes, component:integration-test

#8258 Acl export acls with proper tags encoding
  ui/src/views/network/AclListRulesTab.vue
Labels: component:UI

#8135 server: fix diskoffering details in vm response
  api/src/main/java/org/apache/cloudstack/api/response/UserVmResponse.java
  server/src/main/java/com/cloud/api/query/dao/UserVmJoinDaoImpl.java
Labels: component:api

#7446 Move subdomains between domains
  api/src/main/java/com/cloud/event/EventTypes.java
  api/src/main/java/com/cloud/user/DomainService.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/domain/MoveDomainCmd.java
  engine/schema/src/main/java/com/cloud/network/dao/NetworkDomainDao.java
  engine/schema/src/main/java/com/cloud/network/dao/NetworkDomainDaoImpl.java
  engine/schema/src/main/java/org/apache/cloudstack/affinity/dao/AffinityGroupDomainMapDao.java
  engine/schema/src/main/java/org/apache/cloudstack/affinity/dao/AffinityGroupDomainMapDaoImpl.java
  server/src/main/java/com/cloud/api/query/dao/NetworkOfferingJoinDao.java
  server/src/main/java/com/cloud/api/query/dao/NetworkOfferingJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/dao/ServiceOfferingJoinDao.java
  server/src/main/java/com/cloud/api/query/dao/ServiceOfferingJoinDaoImpl.java
  server/src/main/java/com/cloud/dc/dao/DedicatedResourceDao.java
  server/src/main/java/com/cloud/dc/dao/DedicatedResourceDaoImpl.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
  server/src/main/java/com/cloud/user/DomainManagerImpl.java
Labels: component:management-server, component:api, component:networking

#8171 server: fix resource count during assign volume
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  server/src/test/java/com/cloud/storage/VolumeApiServiceImplTest.java
Labels: component:storage

#8107 Handle errors while scaling kubernetes cluster
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterResourceModifierActionWorker.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterScaleWorker.java
Labels: component:kubernetes, status:needs-testing

#8276 events,alerts: Add missing indexes
  engine/schema/src/main/java/com/cloud/upgrade/dao/DatabaseAccessObject.java
  engine/schema/src/main/java/com/cloud/upgrade/dao/DbUpgradeUtils.java
  engine/schema/src/main/java/com/cloud/upgrade/dao/Upgrade41810to41900.java
  engine/schema/src/test/java/com/cloud/upgrade/dao/DatabaseAccessObjectTest.java
Labels: component:database, type:performance

#8338 Fix unmanage VM marvin tests and small UI fixes for import
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/resource/VmwareResource.java
  ui/src/views/tools/ImportUnmanagedInstance.vue
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/util/VmwareHelper.java
Labels: component:vmware, component:UI

#8252 kvm: Add support for cgroupv2
  core/src/main/java/com/cloud/agent/api/MigrateCommand.java
  core/src/main/java/com/cloud/agent/api/PrepareForMigrationAnswer.java
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
  engine/storage/datamotion/src/main/java/org/apache/cloudstack/storage/motion/StorageSystemDataMotionStrategy.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtMigrateCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtPrepareForMigrationCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtScaleVmCommandWrapper.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResourceTest.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtMigrateCommandWrapperTest.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtPrepareForMigrationCommandWrapperTest.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtScaleVmCommandWrapperTest.java
Labels: component:kvm, component:api, component:compute, component:orchestration, component:storage

#8346 client/pom.xml: fix code coverage is not updated in some modules
  client/pom.xml
  pom.xml
Labels: component:build

#8341 [NSX] Address SonarCloud Bugs
  api/src/main/java/org/apache/cloudstack/api/command/admin/network/CreateNetworkOfferingCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/vpc/CreateVPCOfferingCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/address/ListPublicIpAddressesCmd.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/resource/NsxResource.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxApiClient.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxGuestNetworkGuru.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxPublicNetworkGuru.java
Labels: component:vpc, component:api, component:networking

#8353 server: fix url check for storages without a valid url
  server/src/main/java/com/cloud/storage/StorageManagerImpl.java
  server/src/test/java/com/cloud/storage/StorageManagerImplTest.java
Labels: component:storage

#8358 Remove unneeded duplicate words
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestrator.java
  plugins/hypervisors/simulator/src/main/java/com/cloud/api/commands/ConfigureSimulatorHAProviderState.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/resource/VmwareResource.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/storage/resource/VmwareStorageProcessor.java
  test/integration/component/test_escalations_instances.py
  usage/src/main/java/com/cloud/usage/UsageManagerImpl.java
Labels: component:vmware, component:usage-server, Python, component:simulator, component:orchestration, component:integration-test

#8287 UI: Project column in Default View
  ui/src/components/view/ListView.vue
  ui/src/config/section/compute.js
  ui/src/config/section/event.js
  ui/src/config/section/image.js
  ui/src/config/section/network.js
  ui/src/config/section/storage.js
  ui/src/views/AutogenView.vue
Labels: component:UI

#8339 Save the account which deliberately removed a public IP from quarantine
  api/src/main/java/com/cloud/network/PublicIpQuarantine.java
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/response/IpQuarantineResponse.java
  engine/schema/src/main/java/com/cloud/network/vo/PublicIpQuarantineVO.java
  engine/schema/src/main/java/com/cloud/upgrade/dao/Upgrade41810to41900.java
  engine/schema/src/main/resources/META-INF/db/schema-41810to41900.sql
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  server/src/main/java/com/cloud/network/IpAddressManagerImpl.java
  server/src/test/java/com/cloud/api/ApiResponseHelperTest.java
  server/src/test/java/com/cloud/network/IpAddressManagerTest.java
Labels: component:api, component:networking

#8309 VPC: update default network offering for vpc tier to conserve_mode=1
  engine/schema/src/main/resources/META-INF/db/schema-41810to41900.sql
  server/src/main/java/com/cloud/network/vpc/VpcManagerImpl.java
  test/integration/component/test_vpc_network.py
Labels: component:vpc, component:networking, Python, component:integration-test

#8355 NSX: Add unit tests to increase coverage
  plugins/network-elements/nsx/pom.xml
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxGuestNetworkGuru.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxProviderServiceImpl.java
  plugins/network-elements/nsx/src/test/java/org/apache/cloudstack/resource/NsxResourceTest.java
  plugins/network-elements/nsx/src/test/java/org/apache/cloudstack/service/NsxElementTest.java
  plugins/network-elements/nsx/src/test/java/org/apache/cloudstack/service/NsxGuestNetworkGuruTest.java
  plugins/network-elements/nsx/src/test/java/org/apache/cloudstack/service/NsxProviderServiceImplTest.java
  plugins/network-elements/nsx/src/test/java/org/apache/cloudstack/service/NsxPublicNetworkGuruTest.java
  server/src/main/java/com/cloud/network/guru/GuestNetworkGuru.java
Labels: component:vpc, component:networking, component:build

#8316 CKS: create Security Groups for CKS clusters of each account
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/KubernetesClusterManagerImpl.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterActionWorker.java
  server/src/main/java/com/cloud/network/security/SecurityGroupManagerImpl.java
Labels: component:security-group, component:networking, component:kubernetes

#8378 Fixup test_image_store_object_migration.py
  test/integration/smoke/test_image_store_object_migration.py
Labels: Python, component:integration-test

#8380 test: fix test_host_ping.py to restore original host state
  test/integration/smoke/test_host_ping.py
Labels: Python, component:integration-test

#8281 Add e2e tests for listing resources
  .github/workflows/ci.yml
  setup/dev/advdualzone.cfg
  test/integration/component/test_affinity_groups_projects.py
  test/integration/smoke/test_list_accounts.py
  test/integration/smoke/test_list_disk_offerings.py
  test/integration/smoke/test_list_domains.py
  test/integration/smoke/test_list_hosts.py
  test/integration/smoke/test_list_service_offerings.py
  test/integration/smoke/test_list_storage_pools.py
  test/integration/smoke/test_list_volumes.py
  test/integration/smoke/test_metrics_api.py
  test/integration/smoke/test_secondary_storage.py
  test/integration/smoke/test_templates.py
Labels: Python, component:integration-test, component:integration

#8387 server: improve stats collector logs to state what the collector does
  server/src/main/java/com/cloud/server/StatsCollector.java
Labels: component:management-server

#8374 server: fix debug message when expunge a vm
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
Labels: status:ready-for-merge, component:compute, component:orchestration

#8383 test: additional check to ensure hosts are left in up state
  test/integration/smoke/test_vm_life_cycle.py
Labels: Python, component:integration-test

#8396 Revert "Add e2e tests for listing resources"
  .github/workflows/ci.yml
  setup/dev/advdualzone.cfg
  test/integration/component/test_affinity_groups_projects.py
  test/integration/smoke/test_list_accounts.py
  test/integration/smoke/test_list_disk_offerings.py
  test/integration/smoke/test_list_domains.py
  test/integration/smoke/test_list_hosts.py
  test/integration/smoke/test_list_service_offerings.py
  test/integration/smoke/test_list_storage_pools.py
  test/integration/smoke/test_list_volumes.py
  test/integration/smoke/test_metrics_api.py
  test/integration/smoke/test_secondary_storage.py
  test/integration/smoke/test_templates.py
Labels: Python, component:integration-test, component:integration

#8370 server: skip password policies check on empty password
  server/src/main/java/com/cloud/user/PasswordPolicyImpl.java
Labels: component:compute, component:orchestration

#8381 NSX: Add more unit tests
  api/src/test/java/org/apache/cloudstack/api/command/admin/offering/CreateNetworkOfferingCmdTest.java
  plugins/network-elements/nsx/pom.xml
  plugins/network-elements/nsx/src/test/java/org/apache/cloudstack/service/NsxGuestNetworkGuruTest.java
  server/src/test/java/com/cloud/configuration/ConfigurationManagerImplTest.java
  server/src/test/java/com/cloud/network/NetworkModelImplTest.java
  server/src/test/java/com/cloud/network/router/CommandSetupHelperTest.java
  server/src/test/java/com/cloud/network/router/NetworkHelperImplTest.java
Labels: component:api, component:networking, component:build
