Repository apache/cloudstack, pull requests merged in 2023-08, with the labels that each got.

#7795 Remove powermock from database/quota plugin
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImplTest.java
  plugins/database/quota/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: component:quota

#7796 UI: decode userdata in EditVM dialog
  ui/src/views/compute/EditVM.vue
Labels: component:UI

#7392 Refactoring StorPool's smoke tests
  plugins/storage/volume/storpool/pom.xml
  test/integration/plugins/storpool/MigrateVolumeToStorPool.py
  test/integration/plugins/storpool/TestStorPoolVolumes.py
  test/integration/plugins/storpool/TestTagsOnStorPool.py
  test/integration/plugins/storpool/TestVmSnapshots.py
  test/integration/plugins/storpool/sp_util.py
Labels: component:primary-storage, Python, component:build, component:integration-test, component:storage

#7793 UI: allow new keys for VM details
  ui/src/components/view/DetailSettings.vue
Labels: component:UI

#7667 include all VMs when projects selected not just for admins
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  server/src/main/java/com/cloud/user/AccountManagerImpl.java
Labels: component:api, status:ready-for-merge, Severity:Major

#7809 Remove nic allocation txn during Vm deploy
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestrator.java
Labels: component:orchestration

#7812 Details on add guest os optional
  api/src/main/java/org/apache/cloudstack/api/command/admin/guest/AddGuestOsCmd.java
Labels: component:api

#7806 Remove powermock from xenserver hypervisor plugin
  plugins/hypervisors/xenserver/src/test/java/com/cloud/hypervisor/xenserver/resource/CitrixResourceBaseTest.java
  plugins/hypervisors/xenserver/src/test/java/com/cloud/hypervisor/xenserver/resource/Xenserver625StorageProcessorTest.java
  plugins/hypervisors/xenserver/src/test/java/com/cloud/hypervisor/xenserver/resource/wrapper/xenbase/CitrixRequestWrapperTest.java
  plugins/hypervisors/xenserver/src/test/java/com/cloud/hypervisor/xenserver/resource/wrapper/xenbase/XcpServerWrapperTest.java
  plugins/hypervisors/xenserver/src/test/java/com/cloud/hypervisor/xenserver/resource/wrapper/xenbase/XenServer56FP1WrapperTest.java
  plugins/hypervisors/xenserver/src/test/java/com/cloud/hypervisor/xenserver/resource/wrapper/xenbase/XenServer56WrapperTest.java
  plugins/hypervisors/xenserver/src/test/java/com/cloud/hypervisor/xenserver/resource/wrapper/xenbase/XenServer610WrapperTest.java
  plugins/hypervisors/xenserver/src/test/java/com/cloud/hypervisor/xenserver/resource/wrapper/xenbase/XenServer620SP1WrapperTest.java
  plugins/hypervisors/xenserver/src/test/java/com/cloud/hypervisor/xenserver/resource/wrapper/xenbase/XenServer620WrapperTest.java
  plugins/hypervisors/xenserver/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: component:XenServer, component:unit-test

#7798 Remove powermock from vmware-base & vmware hypervisor plugin
  plugins/hypervisors/vmware/src/test/java/com/cloud/hypervisor/guru/VMwareGuruTest.java
  plugins/hypervisors/vmware/src/test/java/com/cloud/hypervisor/guru/VmwareVmImplementerTest.java
  plugins/hypervisors/vmware/src/test/java/com/cloud/hypervisor/vmware/VmwareDatacenterApiUnitTest.java
  plugins/hypervisors/vmware/src/test/java/com/cloud/hypervisor/vmware/manager/VmwareManagerImplTest.java
  plugins/hypervisors/vmware/src/test/java/com/cloud/hypervisor/vmware/resource/VmwareResourceTest.java
  plugins/hypervisors/vmware/src/test/java/org/apache/cloudstack/storage/motion/VmwareStorageMotionStrategyTest.java
  plugins/hypervisors/vmware/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  vmware-base/src/test/java/com/cloud/hypervisor/vmware/mo/DatastoreMOTest.java
  vmware-base/src/test/java/com/cloud/hypervisor/vmware/mo/HostMOTest.java
  vmware-base/src/test/java/com/cloud/hypervisor/vmware/mo/HypervisorHostHelperTest.java
  vmware-base/src/test/java/com/cloud/hypervisor/vmware/mo/VirtualMachineMOTest.java
  vmware-base/src/test/java/com/cloud/hypervisor/vmware/util/VmwareContextTest.java
  vmware-base/src/test/java/com/cloud/hypervisor/vmware/util/VmwareHelperTest.java
  vmware-base/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: component:vmware, component:unit-test

#7810 Allow KVM overcommit to work without reducing minimum VM memory when vm ballooning is disabled
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtVMDef.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResourceTest.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/LibvirtVMDefTest.java
Labels: component:kvm, component:agent

#7760 VM.CREATE/VOLUME.DELETE/VOLUME.DESTROY not being emitted
  api/src/main/java/com/cloud/storage/VolumeApiService.java
  api/src/main/java/com/cloud/vm/UserVmService.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/DeployVMCmd.java
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/VolumeOrchestrator.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  test/integration/smoke/test_events_resource.py
Labels: component:api, Python, component:compute, component:orchestration, component:integration-test, component:storage

#7808 engine/schema: fix CPU cap limitation for upgraded environment
  engine/schema/src/main/resources/META-INF/db/schema-41800to41810.sql
Labels: type:bug, component:ssvm, Severity:Critical

#7718 smoke test: fixes test_vm_deployment_planner
  test/integration/smoke/test_vm_deployment_planner.py
Labels: Python, Severity:Critical, component:integration-test

#7775 server: clean network offerings for domain on remove
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  server/src/main/java/com/cloud/user/DomainManagerImpl.java
  server/src/test/java/com/cloud/user/DomainManagerImplTest.java
Labels: component:networking, type:cleanup

#7629 Prometheus exporter fix cpu/memory usage labels
  plugins/integrations/prometheus/src/main/java/org/apache/cloudstack/metrics/PrometheusExporterImpl.java
Labels: type:bug, component:plugin, Severity:Minor

#7694 noVNC: fix JP keyboard on vmware7+ which uses websocket URL
  server/src/main/java/org/apache/cloudstack/consoleproxy/ConsoleAccessManagerImpl.java
  systemvm/agent/noVNC/app/ui.js
  systemvm/agent/noVNC/core/rfb.js
  systemvm/agent/noVNC/keymaps/generate-language-keymaps.py
  systemvm/agent/noVNC/keymaps/keymap-ja
  systemvm/agent/noVNC/keymaps/keymap-ja-atset1.js
Labels: component:console-proxy, Python

#7315 added docker command for ubuntu 22.04 to Building DEB packages
  packaging/README.md
Labels: component:packaging, Severity:Minor

#7836 Added VNI Devices as normal bridge slave devs
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
Labels: component:kvm

#7685 test: upgrade kubernetes versions to 1.25.0/1.26.0
  test/integration/smoke/test_kubernetes_clusters.py
  test/integration/smoke/test_kubernetes_supported_versions.py
  tools/marvin/marvin/config/test_data.py
Labels: Python, component:marvin, component:integration-test

#7845 storpool: fix pom.xml which caused docker image build failures
  plugins/storage/volume/storpool/pom.xml
Labels: component:primary-storage, component:build, component:storage

#7851 pre-commit fix line ending
  systemvm/agent/noVNC/keymaps/generate-language-keymaps.py
  systemvm/agent/noVNC/keymaps/keymap-ja-atset1.js
Labels: component:console-proxy, Python

#7828 cloudstack: bump to use 4.18.1.0 systemvmtemplate
  pom.xml
  tools/appliance/systemvmtemplate/scripts/configure_systemvm_services.sh
  tools/appliance/systemvmtemplate/template.json
Labels: systemvm-template-change, component:templates, component:build, Severity:Major

#7833 Assorted UI improvements
  ui/public/locales/en.json
  ui/src/components/header/UserMenu.vue
  ui/src/components/menu/SideMenu.vue
  ui/src/components/view/DetailsTab.vue
  ui/src/components/view/InfoCard.vue
  ui/src/components/view/ListView.vue
  ui/src/components/widgets/CopyLabel.vue
  ui/src/config/section/account.js
  ui/src/config/section/compute.js
  ui/src/config/section/domain.js
  ui/src/config/section/image.js
  ui/src/config/section/network.js
  ui/src/config/section/project.js
  ui/src/config/section/storage.js
  ui/src/utils/request.js
  ui/src/views/compute/CreateAutoScaleVmGroup.vue
  ui/src/views/compute/DeployVM.vue
  ui/src/views/compute/InstanceTab.vue
  ui/src/views/compute/wizard/TemplateIsoRadioGroup.vue
  ui/src/views/dashboard/CapacityDashboard.vue
  ui/src/views/image/TemplateZones.vue
  ui/src/views/storage/CreateVolume.vue
Labels: type:bug, type:enhancement, component:UI

#7856 Fix UI unit tests
  ui/tests/unit/views/AutogenView.spec.js
Labels: type:bug, component:UI

#7854 CKS: check access when get kubernetescluster config
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/KubernetesClusterManagerImpl.java
Labels: component:kubernetes

#7831 Fix casting exception during backup NIC synchronization
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/guru/VMwareGuru.java
Labels: component:vmware, component:api, component:agent, component:build, component:integration, status:needs-3rdparty-components

#7832 Fix allocation of more public IPs than the account's limit
  server/src/main/java/com/cloud/network/IpAddressManagerImpl.java
  server/src/test/java/com/cloud/network/IpAddressManagerTest.java
Labels: component:networking

#6970 cpvm: fix cpu usage for console vm when using vnc over websockets
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/ConsoleProxyNoVncClient.java
Labels: component:console-proxy, component:api, component:database, Severity:Critical, component:agent, component:build, component:orchestration, component:storage, component:integration

#7862 test: skip live storage migration on CentOS 7
  test/integration/smoke/test_vm_life_cycle.py
Labels: Python, component:integration-test

#7869 UI: Show iso urls
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  server/src/main/java/com/cloud/api/query/ViewResponseHelper.java
  ui/src/config/section/image.js
Labels: component:UI

#7866 api: Force-stop descriptions
  api/src/main/java/org/apache/cloudstack/api/command/admin/internallb/StopInternalLBVMCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/router/StopRouterCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/systemvm/StopSystemVmCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/StopVMCmd.java
  plugins/network-elements/netscaler/src/main/java/com/cloud/api/commands/StopNetScalerVMCmd.java
Labels: component:api, component:networking

#7844 Replace Hashtable with LinkedHashMap in createIsoResponse
  server/src/main/java/com/cloud/api/query/ViewResponseHelper.java
Labels: component:api, status:ready-for-merge, Severity:Minor

#7860 Remove powermock from services
  plugins/affinity-group-processors/non-strict-host-anti-affinity/src/test/java/org/apache/cloudstack/affinity/NonStrictHostAntiAffinityProcessorTest.java
  services/console-proxy/rdpconsole/src/test/java/common/ClientTest.java
  services/console-proxy/rdpconsole/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  services/console-proxy/server/src/test/java/com/cloud/consoleproxy/ConsoleProxyHttpHandlerHelperTest.java
  services/console-proxy/server/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  services/secondary-storage/server/src/test/java/org/apache/cloudstack/storage/resource/NfsSecondaryStorageResourceTest.java
  services/secondary-storage/server/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: component:secondary-storage, component:console-proxy, component:ssvm

#7380 VMware: add support for 8.0b (8.0.0.2), 8.0c (8.0.0.3)
  engine/schema/src/main/java/com/cloud/hypervisor/dao/HypervisorCapabilitiesDaoImpl.java
  engine/schema/src/main/java/com/cloud/storage/dao/GuestOSHypervisorDao.java
  engine/schema/src/main/java/com/cloud/storage/dao/GuestOSHypervisorDaoImpl.java
  engine/schema/src/main/java/com/cloud/upgrade/GuestOsMapper.java
  engine/schema/src/main/java/com/cloud/upgrade/dao/Upgrade41800to41810.java
  engine/schema/src/main/resources/META-INF/db/schema-41800to41810.sql
  engine/schema/src/test/java/com/cloud/upgrade/GuestOsMapperTest.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/guru/VmwareVmImplementer.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/resource/VmwareResource.java
  plugins/hypervisors/vmware/src/test/java/com/cloud/hypervisor/guru/VmwareVmImplementerTest.java
  test/integration/smoke/test_internal_lb.py
  utils/src/main/java/org/apache/cloudstack/utils/CloudStackVersion.java
  utils/src/test/java/org/apache/cloudstack/utils/CloudStackVersionTest.java
Labels: component:vmware, Python, Severity:Major, status:needs-testing, component:integration-test, component:storage

#7848 server: get only Ready ISO to mount
  server/src/main/java/com/cloud/template/TemplateManagerImpl.java
Labels: component:secondary-storage

#7872 UI: Add domain and account fields to Register/Upload Template/ISO view
  ui/src/views/image/RegisterOrUploadIso.vue
  ui/src/views/image/RegisterOrUploadTemplate.vue
Labels: type:enhancement, component:UI

#7853 Fix role escalation prevention
  plugins/acl/static-role-based/src/main/java/org/apache/cloudstack/acl/StaticRoleBasedAPIAccessChecker.java
Labels: Severity:Critical, status:needs-testing

#7293 replace vm.getPrivateMacAddress() with nic.getMacAddress()
  server/src/main/java/com/cloud/network/security/SecurityGroupManagerImpl.java
  server/src/main/java/com/cloud/network/security/SecurityGroupManagerImpl2.java
Labels: component:security-group, component:networking

#6473 Fix backup dates
  api/src/main/java/org/apache/cloudstack/api/response/BackupResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/BackupRestorePointResponse.java
  api/src/main/java/org/apache/cloudstack/backup/Backup.java
  engine/schema/src/main/java/com/cloud/upgrade/dao/Upgrade41810to41900.java
  engine/schema/src/main/java/org/apache/cloudstack/backup/BackupVO.java
  plugins/backup/dummy/src/main/java/org/apache/cloudstack/backup/DummyBackupProvider.java
  plugins/backup/networker/src/main/java/org/apache/cloudstack/backup/NetworkerBackupProvider.java
  plugins/backup/networker/src/main/java/org/apache/cloudstack/backup/networker/NetworkerClient.java
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/veeam/VeeamClient.java
  ui/src/components/view/ListResourceTable.vue
Labels: component:api, component:UI, component:backup, status:needs-3rdparty-components

#7826 cpvm: Fix CPVM not releasing CPU after closing console
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/ConsoleProxyNoVncClient.java
Labels: type:bug, component:console-proxy, component:api, Severity:Critical, component:agent, component:build, component:integration

#7871 System VMs in listHostsMetrics API
  plugins/metrics/src/main/java/org/apache/cloudstack/metrics/MetricsServiceImpl.java
  plugins/metrics/src/main/java/org/apache/cloudstack/response/HostMetricsResponse.java
Labels: type:enhancement, component:api

#7876 Api: update command domainId/account descriptions
  api/src/main/java/org/apache/cloudstack/api/command/user/network/CreateNetworkCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/snapshot/CreateSnapshotCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/DeployVMCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/volume/CreateVolumeCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/volume/UploadVolumeCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/UserVmResponse.java
  plugins/api/rate-limit/src/main/java/org/apache/cloudstack/api/command/admin/ratelimit/ResetApiLimitCmd.java
  plugins/network-elements/tungsten/src/main/java/org/apache/cloudstack/network/tungsten/api/command/ListTungstenFabricTagCmd.java
  plugins/storage/volume/cloudbyte/src/main/java/org/apache/cloudstack/storage/datastore/util/ListElastistorVolumeResponse.java
  plugins/user-authenticators/ldap/src/main/java/org/apache/cloudstack/api/response/LdapConfigurationResponse.java
  plugins/user-authenticators/ldap/src/main/java/org/apache/cloudstack/api/response/LinkAccountToLdapResponse.java
  plugins/user-authenticators/ldap/src/main/java/org/apache/cloudstack/api/response/LinkDomainToLdapResponse.java
  server/src/main/java/com/cloud/api/auth/DefaultLoginAPIAuthenticatorCmd.java
Labels: component:api, component:networking

#7879 UI: Add missing tooltips to Register/Upload Templates/ISOs views
  ui/src/views/image/RegisterOrUploadIso.vue
  ui/src/views/image/RegisterOrUploadTemplate.vue
Labels: type:enhancement, component:vmware, component:primary-storage, component:api, component:packaging, component:networking, component:UI, component:LDAP, distro:centos, component:storage

#7882 UI: Fix hide delete button for templates that are in Installing template state
  ui/src/views/image/TemplateZones.vue
Labels: component:UI, component:templates

#7769 AutoScaling: support Managed User Data
  api/src/main/java/com/cloud/network/as/AutoScaleVmProfile.java
  api/src/main/java/org/apache/cloudstack/api/BaseCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/autoscale/CreateAutoScaleVmProfileCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/autoscale/UpdateAutoScaleVmProfileCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/DeployVMCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/ResetVMUserDataCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/ScaleVMCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/UpdateVMCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/UpgradeVMCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/AutoScaleVmProfileResponse.java
  engine/schema/src/main/java/com/cloud/network/as/AutoScaleVmProfileVO.java
  engine/schema/src/main/java/com/cloud/upgrade/dao/Upgrade41800to41810.java
  engine/schema/src/main/resources/META-INF/db/schema-41800to41810.sql
  engine/schema/src/test/java/com/cloud/network/as/AutoScaleVmProfileVOTest.java
  server/src/main/java/com/cloud/api/ApiAsyncJobDispatcher.java
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  server/src/main/java/com/cloud/api/ApiServer.java
  server/src/main/java/com/cloud/network/as/AutoScaleManagerImpl.java
  server/src/main/java/com/cloud/vm/UserVmManager.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/test/java/com/cloud/api/ApiResponseHelperTest.java
  server/src/test/java/com/cloud/network/as/AutoScaleManagerImplTest.java
  test/integration/smoke/test_vm_autoscaling.py
  ui/public/locales/en.json
  ui/src/views/compute/AutoScaleVmProfile.vue
  ui/src/views/compute/CreateAutoScaleVmGroup.vue
  ui/src/views/compute/ResetUserData.vue
Labels: component:api, component:networking, component:UI, Python, Severity:Major, status:needs-testing, component:integration-test

#7886 server: check hostId when attach disk to a Stopped vm with local storage
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/VolumeOrchestrator.java
Labels: component:orchestration

#7799 engine/schema: fix duplicated guest OSes in 4.18.0.0
  api/src/main/java/com/cloud/storage/GuestOS.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/guest/AddGuestOsCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/guest/UpdateGuestOsCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/guest/ListGuestOsCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/GuestOSResponse.java
  engine/schema/src/main/java/com/cloud/storage/GuestOSVO.java
  engine/schema/src/main/java/com/cloud/storage/dao/GuestOSDao.java
  engine/schema/src/main/java/com/cloud/storage/dao/GuestOSDaoImpl.java
  engine/schema/src/main/java/com/cloud/storage/dao/GuestOSHypervisorDao.java
  engine/schema/src/main/java/com/cloud/storage/dao/GuestOSHypervisorDaoImpl.java
  engine/schema/src/main/java/com/cloud/upgrade/GuestOsMapper.java
  engine/schema/src/main/java/com/cloud/upgrade/dao/Upgrade41800to41810.java
  engine/schema/src/main/resources/META-INF/db/schema-41720to41800.sql
  engine/schema/src/main/resources/META-INF/db/schema-41800to41810.sql
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/guru/VMwareGuru.java
  server/src/main/java/com/cloud/api/ApiDBUtils.java
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
  server/src/main/java/org/apache/cloudstack/vm/UnmanagedVMsManagerImpl.java
Labels: component:management-server, component:vmware, component:api, component:storage

#7896 UI: update ip ranges of shared networks
  ui/src/views/network/CreateVlanIpRange.vue
  ui/src/views/network/GuestIpRanges.vue
Labels: component:UI

#7897 ui: make it clear that deletion of a volume will not delete any snapshots
  ui/public/locales/en.json
Labels: component:UI

#7900 UI: Add central project store and watch functionality
  ui/src/components/header/ProjectMenu.vue
  ui/src/store/getters.js
  ui/src/store/modules/app.js
  ui/src/views/AutogenView.vue
Labels: component:UI, Severity:Minor

#7880 Don't allow inadvertent deletion of hidden details via API
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/test/java/com/cloud/vm/UserVmManagerImplTest.java
  test/integration/component/test_update_vm.py
Labels: component:api, Python, status:needs-testing, component:integration-test

#7908 kvm: fix unit test LibvirtReplugNicCommandWrapperTest
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtReplugNicCommandWrapperTest.java
Labels: component:kvm

#7898 server: allow user to list available IPs on shared networks
  engine/components-api/src/main/java/com/cloud/network/IpAddressManager.java
  server/src/main/java/com/cloud/network/IpAddressManagerImpl.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
Labels: component:management-server, component:api, component:networking

#7761 vmware: improve solidfire storage plugin integration and fix cases
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/VolumeOrchestrator.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/manager/VmwareStorageManagerImpl.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/resource/VmwareResource.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/storage/resource/VmwareStorageProcessor.java
  plugins/hypervisors/vmware/src/test/java/com/cloud/hypervisor/vmware/manager/VmwareStorageManagerImplTest.java
  plugins/storage/volume/solidfire/src/main/java/org/apache/cloudstack/storage/datastore/driver/SolidFirePrimaryDataStoreDriver.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/HostDatastoreSystemMO.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/util/VmwareHelper.java
Labels: component:vmware, component:primary-storage, Severity:Critical, component:orchestration, component:solidfire, component:storage

#7909 server: fix global setting system.vm.public.ip.reservation.mode.strictness is not really dynamic
  server/src/main/java/com/cloud/network/IpAddressManagerImpl.java
Labels: component:networking

#7144 server: fix cannot get systemvm ips in dedicated ranges
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  server/src/main/java/com/cloud/network/IpAddressManagerImpl.java
  test/integration/smoke/test_public_ip_range.py
  ui/public/locales/en.json
  ui/src/views/infra/network/IpRangesTabPublic.vue
Labels: component:networking, component:UI, Python, component:integration-test

#7877 server: try with all supported hypervisors (ordered, no duplications) when deploy a virtual router
  server/src/main/java/com/cloud/network/router/NetworkHelperImpl.java
Labels: component:networking

#7846 ui: Fix refresh and re-route behaviour
  ui/src/utils/request.js
  ui/src/views/AutogenView.vue
Labels: component:UI, Severity:Critical, status:needs-testing

#7911 ui: speed up compute instance listing
  ui/src/config/section/compute.js
  ui/src/store/mutation-types.js
  ui/src/views/AutogenView.vue
Labels: component:UI

#7867 UI: Infer template settings in the deploy VM wizard
  ui/src/views/compute/DeployVM.vue
Labels: component:UI

#7874 systemvm: update size and state of systemvm template during registration
  engine/schema/src/main/java/com/cloud/upgrade/SystemVmTemplateRegistration.java
  server/src/main/java/com/cloud/storage/StorageManagerImpl.java
Labels: status:needs-testing, component:storage

#7913 server: throw new exception when rootdisksize is required but not set
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/DeployVMCmd.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
Labels: component:api

#7887 xen/xcpng: set vmr.VCPUsMax to minimum of global setting and host cpu cores
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/XenServerGuru.java
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/CitrixResourceBase.java
Labels: component:XenServer

#7921 test: fix test_vm_autoscaling.py which does not work due to userdata improvement
  test/integration/smoke/test_vm_autoscaling.py
Labels: Python, component:integration-test

#7924 PowerFlex: Handle missing volumes gracefully during delete volume
  plugins/storage/volume/scaleio/src/main/java/org/apache/cloudstack/storage/datastore/client/ScaleIOGatewayClientImpl.java
Labels: component:primary-storage, component:storage, powerflex

#7813 Remove GetUploadParamsForIsoCmd API duplicate parameters
  api/src/main/java/org/apache/cloudstack/api/AbstractGetUploadParamsCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/iso/GetUploadParamsForIsoCmd.java
Labels: component:api, status:needs-testing
