Repository apache/cloudstack, pull requests merged in 2023-04, with the labels that each got.

#7268 Add EncryptedElementType key resolver to SAML plugin
  plugins/user-authenticators/saml2/src/main/java/org/apache/cloudstack/api/command/SAML2LoginAPIAuthenticatorCmd.java
Labels: component:saml, status:needs-testing

#7238 [Veeam] Block operations in restoring VMs
  api/src/main/java/com/cloud/storage/Volume.java
  api/src/main/java/com/cloud/storage/VolumeApiService.java
  api/src/main/java/com/cloud/vm/VirtualMachine.java
  server/src/main/java/com/cloud/capacity/CapacityManagerImpl.java
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  server/src/main/java/org/apache/cloudstack/backup/BackupManagerImpl.java
  server/src/test/java/org/apache/cloudstack/backup/BackupManagerTest.java
Labels: component:api, component:networking, component:agent, component:build, component:backup, component:storage

#7387 Added details of account in network creation
  api/src/main/java/org/apache/cloudstack/api/command/user/network/CreateNetworkCmd.java
  server/src/main/java/com/cloud/network/NetworkServiceImpl.java
Labels: component:api, component:networking, component:storage

#7170 Auto Enable/Disable KVM hosts
  agent/conf/agent.properties
  agent/src/main/java/com/cloud/agent/properties/AgentProperties.java
  api/src/main/java/com/cloud/resource/ResourceService.java
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/host/UpdateHostCmd.java
  core/src/main/java/com/cloud/agent/api/PingRoutingCommand.java
  core/src/main/java/com/cloud/agent/api/StartupRoutingCommand.java
  engine/components-api/src/main/java/com/cloud/agent/AgentManager.java
  engine/orchestration/src/main/java/com/cloud/agent/manager/AgentManagerImpl.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  server/src/main/java/com/cloud/resource/ResourceManagerImpl.java
  server/src/test/java/com/cloud/resource/MockResourceManagerImpl.java
  test/integration/smoke/test_host_control_state.py
  ui/src/config/section/infra/hosts.js
  ui/src/views/infra/HostEnableDisable.vue
Labels: component:kvm, component:api, component:UI, Python, component:agent, component:orchestration, component:integration-test

#7281 Console: upgrade noVNC from v1.2.0 to v1.4.0
  systemvm/agent/noVNC/app/error-handler.js
  systemvm/agent/noVNC/app/images/icons/Makefile
  systemvm/agent/noVNC/app/images/icons/novnc-ios-120.png
  systemvm/agent/noVNC/app/images/icons/novnc-ios-152.png
  systemvm/agent/noVNC/app/images/icons/novnc-ios-167.png
  systemvm/agent/noVNC/app/images/icons/novnc-ios-180.png
  systemvm/agent/noVNC/app/images/icons/novnc-ios-40.png
  systemvm/agent/noVNC/app/images/icons/novnc-ios-58.png
  systemvm/agent/noVNC/app/images/icons/novnc-ios-60.png
  systemvm/agent/noVNC/app/images/icons/novnc-ios-80.png
  systemvm/agent/noVNC/app/images/icons/novnc-ios-87.png
  systemvm/agent/noVNC/app/images/icons/novnc-ios-icon.svg
  systemvm/agent/noVNC/app/images/icons/novnc.ico
  systemvm/agent/noVNC/app/locale/es.json
  systemvm/agent/noVNC/app/locale/fr.json
  systemvm/agent/noVNC/app/locale/it.json
  systemvm/agent/noVNC/app/locale/ja.json
  systemvm/agent/noVNC/app/locale/pt_BR.json
  systemvm/agent/noVNC/app/locale/ru.json
  systemvm/agent/noVNC/app/locale/sv.json
  systemvm/agent/noVNC/app/localization.js
  systemvm/agent/noVNC/app/styles/base.css
  systemvm/agent/noVNC/app/styles/input.css
  systemvm/agent/noVNC/app/ui.js
  systemvm/agent/noVNC/app/webutil.js
  systemvm/agent/noVNC/core/decoders/jpeg.js
  systemvm/agent/noVNC/core/decoders/raw.js
  systemvm/agent/noVNC/core/decoders/zrle.js
  systemvm/agent/noVNC/core/des.js
  systemvm/agent/noVNC/core/display.js
  systemvm/agent/noVNC/core/encodings.js
  systemvm/agent/noVNC/core/input/domkeytable.js
  systemvm/agent/noVNC/core/input/keyboard.js
  systemvm/agent/noVNC/core/input/util.js
  systemvm/agent/noVNC/core/input/vkeys.js
  systemvm/agent/noVNC/core/input/xtscancodes.js
  systemvm/agent/noVNC/core/ra2.js
  systemvm/agent/noVNC/core/rfb.js
  systemvm/agent/noVNC/core/util/browser.js
  systemvm/agent/noVNC/core/util/cursor.js
  systemvm/agent/noVNC/core/util/events.js
  systemvm/agent/noVNC/core/util/md5.js
  systemvm/agent/noVNC/core/util/polyfill.js
  systemvm/agent/noVNC/core/websock.js
  systemvm/agent/noVNC/docs/novnc_proxy.1
  systemvm/agent/noVNC/package.json
  systemvm/agent/noVNC/po/fr.po
  systemvm/agent/noVNC/po/it.po
  systemvm/agent/noVNC/po/pt_BR.po
  systemvm/agent/noVNC/utils/convert.js
  systemvm/agent/noVNC/vendor/browser-es-module-loader/README.md
  systemvm/agent/noVNC/vendor/browser-es-module-loader/genworker.js
  systemvm/agent/noVNC/vendor/browser-es-module-loader/rollup.config.js
  systemvm/agent/noVNC/vendor/browser-es-module-loader/src/babel-worker.js
  systemvm/agent/noVNC/vendor/browser-es-module-loader/src/browser-es-module-loader.js
  systemvm/agent/noVNC/vendor/promise.js
  systemvm/agent/noVNC/vnc.html
  systemvm/agent/noVNC/vnc_lite.html
Labels: component:console-proxy

#7359 Fix ScaleVM to consider resize volume in any type of service offering
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  server/src/test/java/com/cloud/storage/VolumeApiServiceImplTest.java
Labels: component:agent, component:build, component:storage, component:integration

#7180 Make DisplayText Non-Mandatory for Various Forms.
  api/src/main/java/org/apache/cloudstack/api/command/admin/network/CreateNetworkOfferingCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/offering/CreateDiskOfferingCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/offering/CreateServiceOfferingCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/vpc/CreateVPCOfferingCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/iso/RegisterIsoCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/project/CreateProjectCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/template/CreateTemplateCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/template/RegisterTemplateCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vpc/CreateVPCCmd.java
  api/src/test/java/org/apache/cloudstack/api/command/admin/offering/CreateDiskOfferingCmdTest.java
  api/src/test/java/org/apache/cloudstack/api/command/admin/offering/CreateNetworkOfferingCmdTest.java
  api/src/test/java/org/apache/cloudstack/api/command/admin/offering/CreateServiceOfferingCmdTest.java
  api/src/test/java/org/apache/cloudstack/api/command/admin/vpc/CreateVPCOfferingCmdTest.java
  api/src/test/java/org/apache/cloudstack/api/command/user/iso/RegisterIsoCmdTest.java
  api/src/test/java/org/apache/cloudstack/api/command/user/project/CreateProjectCmdTest.java
  api/src/test/java/org/apache/cloudstack/api/command/user/template/RegisterTemplateCmdTest.java
  api/src/test/java/org/apache/cloudstack/api/command/user/vpc/CreateVPCCmdTest.java
  server/src/test/java/org/apache/cloudstack/networkoffering/CreateNetworkOfferingTest.java
  server/src/test/resources/db.properties
  test/integration/smoke/test_projects.py
  ui/src/views/image/RegisterOrUploadIso.vue
  ui/src/views/image/RegisterOrUploadTemplate.vue
  ui/src/views/network/CreateVpc.vue
  ui/src/views/offering/AddComputeOffering.vue
  ui/src/views/offering/AddDiskOffering.vue
  ui/src/views/offering/AddNetworkOffering.vue
  ui/src/views/offering/AddVpcOffering.vue
Labels: component:vpc, component:api, component:UI, Python, component:integration-test

#7402 Fixed the Description coloumn in the UI for Quota traffic page
  ui/public/locales/en.json
  ui/src/config/section/plugin/quota.js
Labels: component:api, component:UI, component:agent, component:build

#7388 pom.xml: bump only required dependencies
  pom.xml
Labels: component:build

#7277 ui: show vpn users tab in networks section
  ui/src/config/section/network.js
  ui/src/core/lazy_lib/icons_use.js
Labels: component:UI

#7411 ui: show only advanced zones for vmautoscale form
  ui/src/views/compute/CreateAutoScaleVmGroup.vue
Labels: component:UI

#7276 ui: allow clearing dns during zone update
  ui/src/views/AutogenView.vue
Labels: component:UI

#7385 Adding Datastore cluster as primary storage should check if the child datastores are in Up state
  engine/components-api/src/main/java/com/cloud/storage/StorageManager.java
  engine/storage/volume/src/main/java/org/apache/cloudstack/storage/datastore/provider/DefaultHostListener.java
  server/src/main/java/com/cloud/storage/StorageManagerImpl.java
Labels: component:storage

#7384 Roles search by keyword
  api/src/main/java/org/apache/cloudstack/acl/RoleService.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/acl/ListRolesCmd.java
  engine/schema/src/main/java/org/apache/cloudstack/acl/dao/RoleDao.java
  engine/schema/src/main/java/org/apache/cloudstack/acl/dao/RoleDaoImpl.java
  plugins/metrics/src/main/java/org/apache/cloudstack/metrics/MetricsServiceImpl.java
  server/src/main/java/com/cloud/network/vpc/VpcManagerImpl.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
  server/src/main/java/org/apache/cloudstack/acl/RoleManagerImpl.java
  server/src/main/java/org/apache/cloudstack/backup/BackupManagerImpl.java
  server/src/test/java/org/apache/cloudstack/acl/RoleManagerImplTest.java
  ui/src/views/AutogenView.vue
  ui/tests/unit/views/AutogenView.spec.js
Labels: component:management-server, component:vpc, component:api, component:networking, component:UI, component:agent, component:build, component:orchestration, component:backup, component:storage

#7396 api, ui: listing archived events
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/command/user/event/ListEventsCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/EventResponse.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  server/src/main/java/com/cloud/event/dao/EventJoinDaoImpl.java
  ui/public/locales/en.json
  ui/src/components/view/InfoCard.vue
  ui/src/config/section/event.js
  ui/src/views/AutogenView.vue
Labels: component:api, component:UI

#6755 Feature: Safely shutdown cloudstack
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/command/user/job/ListAsyncJobsCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/AsyncJobResponse.java
  api/src/main/java/org/apache/cloudstack/management/ManagementServerHost.java
  client/pom.xml
  engine/orchestration/pom.xml
  engine/orchestration/src/main/java/com/cloud/agent/manager/ClusteredAgentManagerImpl.java
  engine/schema/src/main/resources/META-INF/db/schema-41720to41800.sql
  engine/schema/src/main/resources/META-INF/db/schema-41810to41900.sql
  framework/jobs/src/main/java/org/apache/cloudstack/framework/jobs/AsyncJob.java
  framework/jobs/src/main/java/org/apache/cloudstack/framework/jobs/AsyncJobManager.java
  framework/jobs/src/main/java/org/apache/cloudstack/framework/jobs/dao/AsyncJobDao.java
  framework/jobs/src/main/java/org/apache/cloudstack/framework/jobs/dao/AsyncJobDaoImpl.java
  framework/jobs/src/main/java/org/apache/cloudstack/framework/jobs/impl/AsyncJobManagerImpl.java
  framework/jobs/src/main/java/org/apache/cloudstack/framework/jobs/impl/AsyncJobVO.java
  plugins/pom.xml
  plugins/shutdown/pom.xml
  plugins/shutdown/src/main/java/org/apache/cloudstack/api/command/BaseShutdownActionCmd.java
  plugins/shutdown/src/main/java/org/apache/cloudstack/api/command/CancelShutdownCmd.java
  plugins/shutdown/src/main/java/org/apache/cloudstack/api/command/PrepareForShutdownCmd.java
  plugins/shutdown/src/main/java/org/apache/cloudstack/api/command/ReadyForShutdownCmd.java
  plugins/shutdown/src/main/java/org/apache/cloudstack/api/command/TriggerShutdownCmd.java
  plugins/shutdown/src/main/java/org/apache/cloudstack/api/response/ReadyForShutdownResponse.java
  plugins/shutdown/src/main/java/org/apache/cloudstack/shutdown/ShutdownManager.java
  plugins/shutdown/src/main/java/org/apache/cloudstack/shutdown/ShutdownManagerImpl.java
  plugins/shutdown/src/main/java/org/apache/cloudstack/shutdown/command/BaseShutdownManagementServerHostCommand.java
  plugins/shutdown/src/main/java/org/apache/cloudstack/shutdown/command/CancelShutdownManagementServerHostCommand.java
  plugins/shutdown/src/main/java/org/apache/cloudstack/shutdown/command/PrepareForShutdownManagementServerHostCommand.java
  plugins/shutdown/src/main/java/org/apache/cloudstack/shutdown/command/TriggerShutdownManagementServerHostCommand.java
  plugins/shutdown/src/main/resources/META-INF/cloudstack/shutdown/module.properties
  plugins/shutdown/src/main/resources/META-INF/cloudstack/shutdown/spring-shutdown-context.xml
  plugins/shutdown/src/test/java/org/apache/cloudstack/shutdown/ShutdownManagerImplTest.java
  server/src/main/java/com/cloud/api/ApiDispatcher.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  server/src/main/java/com/cloud/api/query/dao/AsyncJobJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/vo/AsyncJobJoinVO.java
  server/src/main/resources/META-INF/cloudstack/core/spring-server-core-managers-context.xml
  test/integration/smoke/test_safe_shutdown.py
  tools/apidoc/gen_toc.py
  ui/public/locales/en.json
  ui/src/components/page/GlobalLayout.vue
  ui/src/config/section/infra/managementServers.js
  ui/src/store/getters.js
  ui/src/store/modules/app.js
  ui/src/store/modules/user.js
  ui/src/views/AutogenView.vue
  ui/src/views/infra/AsyncJobsTab.vue
  ui/src/views/infra/Confirmation.vue
Labels: component:api, component:UI, Python, component:agent, component:build, component:orchestration, component:integration-test

#7400 Fix for direct download templates with multiple bypassed references
  engine/storage/src/main/java/org/apache/cloudstack/storage/image/db/TemplateDataStoreDaoImpl.java
  engine/storage/src/test/java/org/apache/cloudstack/storage/image/db/TemplateDataStoreDaoImplTest.java
Labels: type:bug, component:kvm, component:templates, component:storage

#7360 Set hypervisor hostname via userdata only when the global settings are allowed
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestrator.java
Labels: component:kvm, component:XenServer, component:vmware, component:secondary-storage, component:ssvm, component:networking, component:orchestration

#7429 Fix shutdown header to match antdv design
  ui/src/components/page/GlobalLayout.vue
Labels: component:UI

#7398 server,engine-schema: fix listing service offering for vm scale
  engine/schema/src/main/java/com/cloud/service/ServiceOfferingVO.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/vo/ServiceOfferingVO.java
Labels: component:quota

#7269 debian/control: build packages on ubuntu 22.04
  debian/control
Labels: component:packaging, distro:ubuntu

#7379 Allow admin/users to add comments to Management Servers
  api/src/main/java/org/apache/cloudstack/annotation/AnnotationService.java
  api/src/main/java/org/apache/cloudstack/api/ApiCommandResourceType.java
  api/src/main/java/org/apache/cloudstack/management/ManagementServerHost.java
  framework/cluster/src/main/java/com/cloud/cluster/ManagementServerHostVO.java
  server/src/main/java/org/apache/cloudstack/annotation/AnnotationManagerImpl.java
  test/integration/smoke/test_annotations.py
  tools/marvin/marvin/lib/common.py
  ui/src/components/view/AnnotationsTab.vue
  ui/src/config/section/infra/managementServers.js
Labels: component:api, component:UI, Python, component:agent, component:build, component:marvin, component:orchestration, component:integration-test, component:integration

#7373 Allow admin/user to filter by state for Pods, Clusters and Hosts
  ui/public/locales/en.json
  ui/src/config/section/infra/clusters.js
  ui/src/config/section/infra/hosts.js
  ui/src/config/section/infra/pods.js
  ui/src/views/AutogenView.vue
Labels: component:UI

#7215 server: dedicate vxlan range to account
  server/src/main/java/com/cloud/network/NetworkServiceImpl.java
Labels: component:networking

#7368 UI: Add filtering by state in account, systemvms, router and storagepool
  api/src/main/java/com/cloud/storage/ScopeType.java
  api/src/main/java/com/cloud/storage/StoragePoolStatus.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/storage/ListStoragePoolsCmd.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  server/src/main/java/com/cloud/api/query/dao/StoragePoolJoinDao.java
  server/src/main/java/com/cloud/api/query/dao/StoragePoolJoinDaoImpl.java
  ui/public/locales/en.json
  ui/src/config/section/account.js
  ui/src/config/section/infra/primaryStorages.js
  ui/src/config/section/infra/routers.js
  ui/src/config/section/infra/systemVms.js
  ui/src/views/AutogenView.vue
  ui/src/views/dashboard/UsageDashboard.vue
Labels: component:api, component:UI

#7439 refactor: delete unused serviceoffering classes in quota module
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/ServiceOfferingDao.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/ServiceOfferingDaoImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/vo/ServiceOfferingVO.java
  framework/quota/src/main/resources/META-INF/cloudstack/quota/spring-framework-quota-context.xml
Labels: component:quota

#7450 Fix Management server comments PR 7379 UI issue
  api/src/main/java/org/apache/cloudstack/annotation/AnnotationService.java
  ui/src/config/section/infra/managementServers.js
Labels: component:api, component:UI, Python, component:marvin, component:integration-test

#6762 GitHub Workflows security hardening
  .github/workflows/main-sonar-check.yml
  .github/workflows/sonar-check.yml
Labels: component:integration

#7476 engine/schema: use junit 4 (as the rest of the project tests)
  engine/schema/pom.xml
  engine/schema/src/test/java/com/cloud/upgrade/DatabaseVersionHierarchyTest.java
Labels: component:build

#7415 server: validate ip address value on update config
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  server/src/test/java/com/cloud/configuration/ConfigurationManagerImplTest.java
Labels: component:UI
