Repository apache/cloudstack, pull requests merged in 2023-11, with the labels that each got.

#8167 NSX: fix LB member addition and deletion and add defensive checks
  api/src/main/java/org/apache/cloudstack/api/command/admin/vlan/CreateVlanIpRangeCmd.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxApiClient.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxElement.java
Labels: component:api, component:networking

#8164 ui: fix snapshot copy actions for non-rootadmins
  ui/src/views/storage/SnapshotZones.vue
Labels: component:UI

#8172 NSX: Router Public nic to get IP from systemVM Ip range
  api/src/main/java/com/cloud/network/IpAddress.java
  api/src/main/java/org/apache/cloudstack/api/command/user/address/ListPublicIpAddressesCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/IPAddressResponse.java
  engine/components-api/src/main/java/com/cloud/network/addr/PublicIp.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestrator.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxPublicNetworkGuru.java
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
  server/src/main/java/org/apache/cloudstack/network/router/deployment/RouterDeploymentDefinition.java
  server/src/main/java/org/apache/cloudstack/network/router/deployment/RouterDeploymentDefinitionBuilder.java
  server/src/main/java/org/apache/cloudstack/network/router/deployment/VpcRouterDeploymentDefinition.java
  server/src/test/java/com/cloud/server/ManagementServerImplTest.java
Labels: component:management-server, component:api, component:networking, component:orchestration

#8071 Add two more pre-commit hooks
  .pre-commit-config.yaml
Labels: component:ci-cd

#7973 ui: extend role isPublic parameter
  api/src/main/java/org/apache/cloudstack/api/command/admin/acl/CreateRoleCmd.java
  ui/src/config/section/role.js
  ui/src/views/iam/CreateRole.vue
  ui/src/views/iam/ImportRole.vue
Labels: component:api, component:UI

#7728 Add MGMT IP in management.network.cidr as alternate name in their self-signed certificate
  plugins/ca/root-ca/src/main/java/org/apache/cloudstack/ca/provider/RootCAProvider.java
Labels: component:security

#6639 Update GPU support for V100,T4,A5500.
  api/src/main/java/com/cloud/gpu/GPU.java
  ui/src/views/offering/AddComputeOffering.vue
Labels: component:api, component:UI

#8084 appliance: use Debian 11.8.0 and systemvm version to 4.19.0
  pom.xml
  tools/appliance/systemvmtemplate/scripts/configure_systemvm_services.sh
  tools/appliance/systemvmtemplate/template.json
Labels: systemvm-template-change, component:templates, component:build

#8049 Fix KVM cloudstack-agent start if there is vm not managed by cloudstack on the host
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtDomainXMLParser.java
Labels: component:kvm

#8182 CKS: fix wrong format of cluster size on UI
  ui/src/components/view/ListView.vue
Labels: component:UI

#7980 Standardize StringUtils usages in NetworkModelImpl
  server/src/main/java/com/cloud/network/NetworkModelImpl.java
Labels: component:networking

#8139 Update XenServer610WrapperTest.java
  plugins/hypervisors/xenserver/src/test/java/com/cloud/hypervisor/xenserver/resource/wrapper/xenbase/XenServer610WrapperTest.java
Labels: component:XenServer

#8137 refactor MockNetworkVO
  plugins/network-elements/juniper-contrail/src/test/java/org/apache/cloudstack/network/contrail/model/InstanceIpModelTest.java
  plugins/network-elements/juniper-contrail/src/test/java/org/apache/cloudstack/network/contrail/model/MockNetworkVO.java
  plugins/network-elements/juniper-contrail/src/test/java/org/apache/cloudstack/network/contrail/model/VMInterfaceModelTest.java
  plugins/network-elements/juniper-contrail/src/test/java/org/apache/cloudstack/network/contrail/model/VirtualMachineModelTest.java
  plugins/network-elements/juniper-contrail/src/test/java/org/apache/cloudstack/network/contrail/model/VirtualNetworkModelTest.java
Labels: component:networking

#8098 Refactoring org.apache.cloudstack.network.tungsten.service
  plugins/network-elements/tungsten/src/test/java/org/apache/cloudstack/network/tungsten/service/MockTungstenAnswerFactory.java
  plugins/network-elements/tungsten/src/test/java/org/apache/cloudstack/network/tungsten/service/TungstenElementTest.java
  plugins/network-elements/tungsten/src/test/java/org/apache/cloudstack/network/tungsten/service/TungstenFabricUtilsTest.java
  plugins/network-elements/tungsten/src/test/java/org/apache/cloudstack/network/tungsten/service/TungstenServiceImplTest.java
Labels: component:networking, component:unit-test

#6890 Add and improve logs in ACS bootstrap process
  framework/spring/module/src/main/java/org/apache/cloudstack/spring/module/model/impl/DefaultModuleDefinitionSet.java
Labels: status:ready-for-merge

#7705 Refactor testCRUDAcl to Separated Case to Improve the Test Experience
  plugins/network-elements/nicira-nvp/src/test/java/com/cloud/network/nicira/NiciraNvpApiIT.java
Labels: component:networking, component:unit-test

#8133 Bump the `actions/checkout` action to `v4`
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/codecov.yml
  .github/workflows/docker-cloudstack-simulator.yml
  .github/workflows/linter.yml
  .github/workflows/main-sonar-check.yml
  .github/workflows/rat.yml
  .github/workflows/sonar-check.yml
  .github/workflows/ui.yml
Labels: component:integration

#8184 indent issue in list view after merge forward of 4.18
  ui/src/components/view/ListView.vue
Labels: component:UI

#8045 KVM Host HA enhancement for StorPool storage
  api/src/main/java/com/cloud/agent/api/to/HostTO.java
  core/src/main/java/com/cloud/agent/api/CheckOnHostCommand.java
  core/src/main/java/com/cloud/agent/api/FenceCommand.java
  engine/api/src/main/java/org/apache/cloudstack/engine/subsystem/api/storage/PrimaryDataStoreDriver.java
  engine/components-api/src/main/java/com/cloud/ha/HighAvailabilityManager.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/ha/KVMInvestigator.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/KVMHABase.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/KVMHAChecker.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/KVMHAMonitor.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/KVMHAVMActivityChecker.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtCheckOnHostCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtCheckVMActivityOnStoragePoolCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtFenceCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/IscsiAdmStoragePool.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStoragePool.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStoragePoolManager.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/LibvirtStorageAdaptor.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/LibvirtStoragePool.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/ScaleIOStoragePool.java
  plugins/hypervisors/kvm/src/main/java/org/apache/cloudstack/kvm/ha/KVMHAProvider.java
  plugins/hypervisors/kvm/src/main/java/org/apache/cloudstack/kvm/ha/KVMHostActivityChecker.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResourceTest.java
  plugins/storage/volume/datera/src/main/java/org/apache/cloudstack/storage/datastore/driver/DateraPrimaryDataStoreDriver.java
  plugins/storage/volume/default/src/main/java/org/apache/cloudstack/storage/datastore/driver/CloudStackPrimaryDataStoreDriverImpl.java
  plugins/storage/volume/linstor/src/main/java/com/cloud/hypervisor/kvm/storage/LinstorStoragePool.java
  plugins/storage/volume/linstor/src/main/java/org/apache/cloudstack/storage/datastore/driver/LinstorPrimaryDataStoreDriverImpl.java
  plugins/storage/volume/nexenta/src/main/java/org/apache/cloudstack/storage/datastore/driver/NexentaPrimaryDataStoreDriver.java
  plugins/storage/volume/sample/src/main/java/org/apache/cloudstack/storage/datastore/driver/SamplePrimaryDataStoreDriverImpl.java
  plugins/storage/volume/scaleio/src/main/java/org/apache/cloudstack/storage/datastore/driver/ScaleIOPrimaryDataStoreDriver.java
  plugins/storage/volume/solidfire/src/main/java/org/apache/cloudstack/storage/datastore/driver/SolidFirePrimaryDataStoreDriver.java
  plugins/storage/volume/storpool/src/main/java/com/cloud/agent/api/storage/StorPoolModifyStoragePoolAnswer.java
  plugins/storage/volume/storpool/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/StorPoolModifyStorageCommandWrapper.java
  plugins/storage/volume/storpool/src/main/java/com/cloud/hypervisor/kvm/storage/StorPoolStoragePool.java
  plugins/storage/volume/storpool/src/main/java/org/apache/cloudstack/storage/datastore/driver/StorPoolPrimaryDataStoreDriver.java
  plugins/storage/volume/storpool/src/main/java/org/apache/cloudstack/storage/datastore/provider/StorPoolHostListener.java
  scripts/vm/hypervisor/kvm/kvmspheartbeat.sh
  server/src/main/java/com/cloud/ha/HighAvailabilityManagerImpl.java
  server/src/main/java/com/cloud/ha/KVMFencer.java
  server/src/test/java/com/cloud/ha/HighAvailabilityManagerImplTest.java
Labels: component:kvm, component:primary-storage, component:iscsi, component:api, component:solidfire, component:storage, status:needs-3rdparty-components

#8185 Make authentication request parameter order to be deterministic
  plugins/network-elements/nicira-nvp/src/main/java/com/cloud/network/nicira/NiciraRestClient.java
  plugins/network-elements/nicira-nvp/src/test/java/com/cloud/network/nicira/NiciraRestClientTest.java
  utils/src/main/java/com/cloud/utils/rest/HttpUriRequestBuilder.java
Labels: component:networking

#8192 Nsx : lb route advertisement
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxApiClient.java
Labels: component:networking

#8085 Fix: Select another pod if all hosts in the pod becomes unavailable
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
  engine/orchestration/src/test/java/com/cloud/vm/VirtualMachineManagerImplTest.java
Labels: component:compute, component:orchestration

#8180 CKS: make clustertype optional to keep backwards compatibility
  plugins/integrations/kubernetes-service/src/main/java/org/apache/cloudstack/api/command/user/kubernetes/cluster/CreateKubernetesClusterCmd.java
Labels: component:kubernetes

#8193 ui: Admin, account and project dashboard improvements
  ui/public/locales/en.json
  ui/src/components/widgets/ChartCard.vue
  ui/src/components/widgets/Drawer.vue
  ui/src/config/router.js
  ui/src/core/lazy_lib/components_use.js
  ui/src/style/dark-mode.less
  ui/src/utils/device.js
  ui/src/views/dashboard/CapacityDashboard.vue
  ui/src/views/dashboard/UsageDashboard.vue
Labels: component:UI

#8199 Remove powermock form VM Manager test
  engine/orchestration/src/test/java/com/cloud/vm/VirtualMachineManagerImplTest.java
  engine/orchestration/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: component:orchestration

#8067 Linstor backup snaphots
  client/pom.xml
  plugins/storage/volume/linstor/pom.xml
  plugins/storage/volume/linstor/src/main/java/com/cloud/api/storage/LinstorBackupSnapshotCommand.java
  plugins/storage/volume/linstor/src/main/java/com/cloud/api/storage/LinstorRevertBackupSnapshotCommand.java
  plugins/storage/volume/linstor/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LinstorBackupSnapshotCommandWrapper.java
  plugins/storage/volume/linstor/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LinstorRevertBackupSnapshotCommandWrapper.java
  plugins/storage/volume/linstor/src/main/java/com/cloud/hypervisor/kvm/storage/LinstorStorageAdaptor.java
  plugins/storage/volume/linstor/src/main/java/org/apache/cloudstack/storage/datastore/driver/LinstorPrimaryDataStoreDriverImpl.java
  plugins/storage/volume/linstor/src/main/java/org/apache/cloudstack/storage/datastore/provider/LinstorPrimaryDatastoreProviderImpl.java
  plugins/storage/volume/linstor/src/main/java/org/apache/cloudstack/storage/datastore/util/LinstorConfigurationManager.java
  plugins/storage/volume/linstor/src/main/java/org/apache/cloudstack/storage/datastore/util/LinstorUtil.java
  plugins/storage/volume/linstor/src/main/resources/META-INF/cloudstack/storage-volume-linstor/spring-storage-volume-linstor-context.xml
  pom.xml
Labels: component:kvm, component:primary-storage, component:UI, component:build, component:storage, status:needs-3rdparty-components

#8173 make sure vmware adapter detail for nic is passed during registering template
  ui/src/views/image/RegisterOrUploadTemplate.vue
Labels: component:UI

#7545 updated the api documentation for createNetworkOffering and updateNetworkOffering
  api/src/main/java/org/apache/cloudstack/api/command/admin/network/CreateNetworkOfferingCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/network/UpdateNetworkOfferingCmd.java
Labels: component:api, Severity:Trivial, component:documentation

#8142 edge-zone,kvm,iso,cks: allow k8s deployment with direct-download iso
  api/src/main/java/org/apache/cloudstack/api/command/user/iso/RegisterIsoCmd.java
  engine/storage/image/src/main/java/org/apache/cloudstack/storage/image/TemplateDataFactoryImpl.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStoragePoolManager.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStorageProcessor.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/KubernetesClusterManagerImpl.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/version/KubernetesVersionManagerImpl.java
  plugins/integrations/kubernetes-service/src/main/java/org/apache/cloudstack/api/command/admin/kubernetes/version/AddKubernetesSupportedVersionCmd.java
  plugins/integrations/kubernetes-service/src/main/java/org/apache/cloudstack/api/response/KubernetesSupportedVersionResponse.java
  server/src/main/java/com/cloud/network/router/NetworkHelper.java
  server/src/main/java/com/cloud/network/router/NetworkHelperImpl.java
  ui/src/views/compute/CreateKubernetesCluster.vue
  ui/src/views/image/AddKubernetesSupportedVersion.vue
Labels: component:kvm, component:api, component:networking, component:UI, component:kubernetes, component:storage

#8213 UI: fix scale vm if first disk offering is dymamic
  ui/src/views/compute/ScaleVM.vue
Labels: component:UI

#7895 Flexible URI for connection with DB and new MariaDB driver
  client/conf/db.properties.in
  framework/db/pom.xml
  framework/db/src/main/java/com/cloud/utils/db/DriverLoader.java
  framework/db/src/main/java/com/cloud/utils/db/TransactionLegacy.java
  framework/db/src/test/java/com/cloud/utils/db/TransactionLegacyTest.java
Labels: component:database, component:build

#8138 Inject hypervisor type and volume format on Quota tariffs
  framework/quota/src/main/java/org/apache/cloudstack/quota/QuotaManagerImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariableHelper.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/Value.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/QuotaManagerImplTest.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariableHelperTest.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/activationrule/presetvariables/ValueTest.java
  utils/src/main/java/org/apache/cloudstack/utils/jsinterpreter/JsInterpreter.java
  utils/src/test/java/org/apache/cloudstack/utils/jsinterpreter/JsInterpreterTest.java
Labels: component:quota

#8115 Fix deploy as is VM start after template deletion
  server/src/main/java/com/cloud/template/HypervisorTemplateAdapter.java
Labels: component:vmware, Severity:Major

#8232 Fix flaky tungsten test using comparator
  plugins/network-elements/tungsten/src/test/java/org/apache/cloudstack/network/tungsten/service/TungstenApiTest.java
Labels: component:networking

#8215 storagetype API param in list service/disk offerings
  api/src/main/java/org/apache/cloudstack/api/command/user/offering/ListDiskOfferingsCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/offering/ListServiceOfferingsCmd.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
Labels: component:api

#8228 Let Prometheus exporter plugin support utf8 characters
  plugins/integrations/prometheus/src/main/java/org/apache/cloudstack/metrics/PrometheusExporterServerImpl.java
Labels: type:bug, Severity:Major, component:prometheus

#7378 Public IP quarantine feature
  api/src/main/java/com/cloud/network/NetworkService.java
  api/src/main/java/com/cloud/network/PublicIpQuarantine.java
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/ResponseGenerator.java
  api/src/main/java/org/apache/cloudstack/api/command/user/address/ListQuarantinedIpsCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/address/RemoveQuarantinedIpCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/address/UpdateQuarantinedIpCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/IpQuarantineResponse.java
  api/src/main/java/org/apache/cloudstack/query/QueryService.java
  engine/components-api/src/main/java/com/cloud/network/IpAddressManager.java
  engine/schema/src/main/java/com/cloud/network/dao/IPAddressDao.java
  engine/schema/src/main/java/com/cloud/network/dao/IPAddressDaoImpl.java
  engine/schema/src/main/java/com/cloud/network/dao/IPAddressVO.java
  engine/schema/src/main/java/com/cloud/network/dao/PublicIpQuarantineDao.java
  engine/schema/src/main/java/com/cloud/network/dao/PublicIpQuarantineDaoImpl.java
  engine/schema/src/main/java/com/cloud/network/vo/PublicIpQuarantineVO.java
  engine/schema/src/main/resources/META-INF/cloudstack/core/spring-engine-schema-core-daos-context.xml
  engine/schema/src/main/resources/META-INF/db/schema-41810to41900.sql
  framework/db/src/main/java/com/cloud/utils/db/Filter.java
  framework/db/src/main/java/com/cloud/utils/db/GenericDao.java
  framework/db/src/main/java/com/cloud/utils/db/GenericDaoBase.java
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  server/src/main/java/com/cloud/network/IpAddressManagerImpl.java
  server/src/main/java/com/cloud/network/NetworkServiceImpl.java
  server/src/main/java/com/cloud/network/vpc/VpcManagerImpl.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
  server/src/test/java/com/cloud/network/IpAddressManagerTest.java
  server/src/test/java/com/cloud/network/NetworkServiceImplTest.java
  server/src/test/java/com/cloud/user/MockUsageEventDao.java
  server/src/test/java/com/cloud/vpc/MockNetworkManagerImpl.java
  server/src/test/java/org/apache/cloudstack/networkoffering/CreateNetworkOfferingTest.java
  server/src/test/resources/createNetworkOffering.xml
  test/integration/smoke/test_quarantined_ips.py
  tools/apidoc/gen_toc.py
  tools/marvin/marvin/lib/base.py
  ui/src/views/network/IpAddressesTab.vue
Labels: component:management-server, component:vpc, component:api, component:networking, component:UI, Python, component:database, status:needs-testing

#6892 Externalize KVM HA heartbeat frequency
  agent/conf/agent.properties
  agent/src/main/java/com/cloud/agent/properties/AgentProperties.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/KVMHABase.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/KVMHAMonitor.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStoragePool.java
Labels: component:kvm, component:vpc, component:api, component:agent, status:needs-testing, component:integration

#7486 Improved concatenation way in PropertiesStorage.java
  agent/src/main/java/com/cloud/agent/dao/impl/PropertiesStorage.java
Labels: type:enhancement, component:agent, Severity:Minor

#8210 Introduce domainid and account parameter in createTemplate API
  api/src/main/java/org/apache/cloudstack/api/command/user/template/CreateTemplateCmd.java
  api/src/test/java/org/apache/cloudstack/api/command/user/template/CreateTemplateCmdTest.java
Labels: component:api

#6699 multi local storage handling for kvm
  api/src/main/java/com/cloud/agent/api/StoragePoolInfo.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/host/ListHostsCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/storage/ListStoragePoolsCmd.java
  plugins/storage/volume/default/src/main/java/org/apache/cloudstack/storage/datastore/lifecycle/CloudStackPrimaryDataStoreLifeCycleImpl.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  server/src/main/java/com/cloud/storage/StorageManagerImpl.java
  ui/src/views/infra/AddPrimaryStorage.vue
Labels: component:primary-storage, component:api, component:UI, status:needs-testing, component:storage

#8238 Fixed Hashmap Key value comparision
  engine/schema/src/test/java/com/cloud/network/as/AutoScaleVmProfileVOTest.java
Labels: component:unit-test, Severity:Trivial, complexity:trivial

#7210 Set number of hours per month with actual number in Quota
  framework/quota/src/main/java/org/apache/cloudstack/quota/QuotaManagerImpl.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/QuotaManagerImplTest.java
  utils/src/main/java/com/cloud/utils/DateUtil.java
Labels: component:quota

#7417 Database VIEW management via separated files
  engine/schema/src/main/java/com/cloud/upgrade/DatabaseUpgradeChecker.java
  engine/schema/src/main/resources/META-INF/db/schema-41810to41900.sql
  engine/schema/src/main/resources/META-INF/db/views/cloud.async_job_view.sql
  engine/schema/src/main/resources/META-INF/db/views/cloud.data_center_view.sql
  engine/schema/src/main/resources/META-INF/db/views/cloud.disk_offering_view.sql
  engine/schema/src/main/resources/META-INF/db/views/cloud.domain_router_view.sql
  engine/schema/src/main/resources/META-INF/db/views/cloud.network_offering_view.sql
  engine/schema/src/main/resources/META-INF/db/views/cloud.service_offering_view.sql
  engine/schema/src/main/resources/META-INF/db/views/cloud.snapshot_view.sql
  engine/schema/src/main/resources/META-INF/db/views/cloud.template_view.sql
  engine/schema/src/main/resources/META-INF/db/views/cloud.user_view.sql
  engine/schema/src/main/resources/META-INF/db/views/cloud.user_vm_view.sql
  utils/src/main/java/com/cloud/utils/FileUtil.java
Labels: component:database

#8227 VNF: fix UI bugs and polish
  api/src/main/java/com/cloud/network/VNF.java
  api/src/main/java/com/cloud/server/ResourceTag.java
  server/src/main/java/com/cloud/tags/ResourceManagerUtilImpl.java
  ui/public/locales/en.json
  ui/src/components/header/CreateMenu.vue
  ui/src/components/view/DetailsTab.vue
  ui/src/config/section/network.js
  ui/src/views/compute/DeployVnfAppliance.vue
  ui/src/views/compute/MigrateVMStorage.vue
  ui/src/views/compute/MigrateWizard.vue
  ui/src/views/compute/wizard/NetworkConfiguration.vue
  ui/src/views/image/TemplateVnfSettings.vue
  ui/tests/mockData/MigrateWizard.mock.json
Labels: component:api, component:UI

#8248 Fixed spelling and added missing states to response
  api/src/main/java/org/apache/cloudstack/api/response/AcquireIPAddressResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/IPAddressResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/PortableIpResponse.java
Labels: component:api, Severity:Trivial, component:documentation, complexity:trivial

#8222 Added ipaddress argument to disassociateIPAddress api (#8125)
  api/src/main/java/com/cloud/network/NetworkService.java
  api/src/main/java/org/apache/cloudstack/api/command/user/address/DisassociateIPAddrCmd.java
  server/src/main/java/com/cloud/network/NetworkServiceImpl.java
  server/src/test/java/com/cloud/vpc/MockNetworkManagerImpl.java
  test/integration/smoke/test_network.py
  tools/marvin/marvin/lib/base.py
Labels: component:vpc, component:api, component:networking, Python, component:marvin, component:integration-test

#8191 Fix typo in ssvm check script
  systemvm/agent/scripts/ssvm-check.sh
Labels: type:bug, component:ssvm

#8257 Include domain and account field for createTemplate UI form
  ui/src/config/section/storage.js
  ui/src/views/storage/CreateTemplate.vue
Labels: component:UI

#8244 Fix rollback while creating a private gateway
  server/src/main/java/com/cloud/network/vpc/VpcManagerImpl.java
  server/src/test/java/com/cloud/network/vpc/VpcManagerImplTest.java
Labels: component:vpc, component:networking

#7082 allow filtering of listDiskOffering and listServiceOffering APIs by account or project
  api/src/main/java/org/apache/cloudstack/api/command/user/offering/ListDiskOfferingsCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/offering/ListServiceOfferingsCmd.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
Labels: component:api, type:improvement, Severity:Minor, status:needs-testing, status:needs-investigation

#8204 server: check if there are active nics before network GC
  engine/schema/src/main/java/com/cloud/vm/dao/NicDao.java
  engine/schema/src/main/java/com/cloud/vm/dao/NicDaoImpl.java
  server/src/main/java/com/cloud/network/NetworkModelImpl.java
Labels: component:networking

#8224 [NSX] Add ACL types support
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestrator.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/agent/api/CreateNsxDistributedFirewallRulesCommand.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/agent/api/DeletedNsxDistributedFirewallRulesCommand.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/resource/NsxNetworkRule.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/resource/NsxResource.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxApiClient.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxElement.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxServiceImpl.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/utils/NsxControllerUtils.java
  plugins/network-elements/nsx/src/test/java/org/apache/cloudstack/service/NsxApiClientTest.java
  plugins/network-elements/nsx/src/test/java/org/apache/cloudstack/service/NsxElementTest.java
  server/src/main/java/com/cloud/server/ConfigurationServerImpl.java
Labels: component:management-server, component:networking, component:orchestration
