Repository apache/cloudstack, pull requests merged in 2023-06, with the labels that each got.

#7479 cks: k8s cluster on vpc tier
  api/src/main/java/com/cloud/network/vpc/NetworkACLService.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/KubernetesClusterManagerImpl.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterActionWorker.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterDestroyWorker.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterResourceModifierActionWorker.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterScaleWorker.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterStartWorker.java
  plugins/integrations/kubernetes-service/src/test/java/com/cloud/kubernetes/cluster/KubernetesClusterManagerImplTest.java
  plugins/integrations/kubernetes-service/src/test/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterActionWorkerTest.java
  server/src/main/java/com/cloud/network/vpc/NetworkACLServiceImpl.java
  server/src/test/java/com/cloud/network/vpc/NetworkACLServiceImplTest.java
  test/integration/smoke/test_kubernetes_clusters.py
Labels: component:vpc, component:api, component:networking, Python, component:kubernetes, component:integration-test

#7524 secondary-storage: delete backedup snapshot dir on delete
  services/secondary-storage/server/src/main/java/org/apache/cloudstack/storage/resource/NfsSecondaryStorageResource.java
  services/secondary-storage/server/src/test/java/org/apache/cloudstack/storage/resource/NfsSecondaryStorageResourceTest.java
Labels: component:secondary-storage, component:ssvm

#7160 vmware: do not create vm datastore when attach an existing volume on solidfire
  plugins/hypervisors/vmware/src/main/java/com/cloud/storage/resource/VmwareStorageProcessor.java
Labels: component:vmware

#7313 server: improve storage GC to skip expunging possible duplicate volumes
  server/src/main/java/com/cloud/storage/StorageManagerImpl.java
  server/src/test/java/com/cloud/storage/StorageManagerImplTest.java
Labels: Severity:Critical, component:agent, component:build, component:storage, component:integration

#6512 Refactor test and change IP range
  test/integration/smoke/test_vpc_vpn.py
  tools/marvin/marvin/config/test_data.py
Labels: Python, component:marvin, component:integration-test

#7222 [UI] Use CPU frequency of constrained offerings when importing VMs
  ui/src/views/tools/ImportUnmanagedInstance.vue
Labels: component:UI

#7592 Use parallel builds for github actions
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/codecov.yml
  .github/workflows/main-sonar-check.yml
  .github/workflows/sonar-check.yml
Labels: component:integration

#7602 marvin: fix test_data for parsing failure
  tools/marvin/marvin/config/test_data.py
Labels: Python, component:marvin

#7570 interpret /etc/redhat-release better
  scripts/vm/hypervisor/versions.sh
Labels: component:kvm

#6442 Possibility to choose the source NAT IP address on a isolated network or VPC
  .github/workflows/ci.yml
  api/src/main/java/com/cloud/network/Network.java
  api/src/main/java/com/cloud/network/vpc/VpcService.java
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/command/user/address/ListPublicIpAddressesCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/network/CreateNetworkCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/network/UpdateNetworkCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vpc/CreateVPCCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vpc/ListVPCsCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vpc/UpdateVPCCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/IPAddressResponse.java
  api/src/test/java/org/apache/cloudstack/api/command/user/vpc/UpdateVPCCmdTest.java
  engine/components-api/src/main/java/com/cloud/network/IpAddressManager.java
  engine/schema/src/main/java/com/cloud/network/dao/FirewallRulesDao.java
  engine/schema/src/main/java/com/cloud/network/dao/IPAddressDao.java
  engine/schema/src/main/java/com/cloud/network/dao/IPAddressDaoImpl.java
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  server/src/main/java/com/cloud/network/IpAddressManagerImpl.java
  server/src/main/java/com/cloud/network/NetworkMigrationManagerImpl.java
  server/src/main/java/com/cloud/network/NetworkServiceImpl.java
  server/src/main/java/com/cloud/network/vpc/VpcManagerImpl.java
  server/src/test/java/com/cloud/configuration/ConfigurationManagerTest.java
  server/src/test/java/com/cloud/network/IpAddressManagerTest.java
  server/src/test/java/com/cloud/network/NetworkServiceImplTest.java
  server/src/test/java/com/cloud/network/vpc/VpcManagerImplTest.java
  test/integration/smoke/test_network.py
  test/integration/smoke/test_set_sourcenat.py
  tools/marvin/marvin/lib/base.py
  ui/public/locales/el_GR.json
  ui/public/locales/en.json
  ui/public/locales/ja_JP.json
  ui/public/locales/ko_KR.json
  ui/public/locales/pt_BR.json
  ui/public/locales/zh_CN.json
  ui/src/config/section/network.js
  ui/src/core/lazy_lib/icons_use.js
  ui/src/views/network/CreateIsolatedNetworkForm.vue
  ui/src/views/network/CreateVpc.vue
  ui/src/views/network/IpAddressesTab.vue
  ui/src/views/network/UpdateNetwork.vue
Labels: component:management-server, component:vpc, component:api, component:networking, component:UI, Python, component:marvin, component:kubernetes, component:integration-test, component:integration

#7410 ssvm: pass all accessible secondary storage to ssvm
  services/secondary-storage/controller/src/main/java/org/apache/cloudstack/secondarystorage/SecondaryStorageManagerImpl.java
  services/secondary-storage/controller/src/test/java/org/apache/cloudstack/secondarystorage/SecondaryStorageManagerImplTest.java
  systemvm/agent/scripts/ssvm-check.sh
Labels: component:secondary-storage, component:ssvm

#7577 Upgrade mockito
  pom.xml
  utils/src/test/java/com/cloud/utils/FileUtilTest.java
  utils/src/test/java/com/cloud/utils/TestProfiler.java
  utils/src/test/java/com/cloud/utils/UriUtilsParametrizedTest.java
  utils/src/test/java/com/cloud/utils/net/NetUtilsTest.java
  utils/src/test/java/com/cloud/utils/ssh/SshHelperTest.java
  utils/src/test/java/com/cloud/utils/validation/ChecksumUtilTest.java
  utils/src/test/java/org/apache/cloudstack/utils/jsinterpreter/JsInterpreterTest.java
  utils/src/test/java/org/apache/cloudstack/utils/reflectiontostringbuilderutils/ReflectionToStringBuilderUtilsTest.java
  utils/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: component:build

#7509 cks: enable by default
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/KubernetesClusterService.java
Labels: component:kubernetes

#7620 [AGENT] host os accepted if only the first word is defined for the cluster
  server/src/main/java/com/cloud/hypervisor/kvm/discoverer/LibvirtServerDiscoverer.java
Labels: component:kvm

#7637 agent: remove powermock from tests
  agent/src/test/java/com/cloud/agent/AgentShellTest.java
  agent/src/test/java/com/cloud/agent/properties/AgentPropertiesFileHandlerTest.java
  agent/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: component:agent

#7587 Fix haproxy log rotation in VR system VM
  systemvm/debian/etc/logrotate.d/haproxy
Labels: component:virtual-router, component:agent, component:build, component:integration

#7444 engine-orchestration,vmware: hypervisor migration during start vm migration
  engine/api/src/main/java/com/cloud/vm/VirtualMachineManager.java
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
  engine/orchestration/src/test/java/com/cloud/vm/VirtualMachineManagerImplTest.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/guru/VMwareGuru.java
  plugins/hypervisors/vmware/src/test/java/com/cloud/hypervisor/guru/VMwareGuruTest.java
Labels: component:vmware, component:compute, component:orchestration, status:needs-testing

#7408 Allow volume migrations in ScaleIO within and across ScaleIO storage clusters
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
  engine/orchestration/src/test/java/com/cloud/vm/VirtualMachineManagerImplTest.java
  engine/storage/volume/src/main/java/org/apache/cloudstack/storage/volume/VolumeServiceImpl.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtConnection.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtMigrateVolumeCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStorageProcessor.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/ScaleIOStorageAdaptor.java
  plugins/hypervisors/kvm/src/main/java/org/apache/cloudstack/utils/qemu/QemuImageOptions.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtMigrateVolumeCommandWrapperTest.java
  plugins/storage/volume/scaleio/src/main/java/org/apache/cloudstack/storage/datastore/client/ScaleIOGatewayClientImpl.java
  plugins/storage/volume/scaleio/src/main/java/org/apache/cloudstack/storage/datastore/driver/ScaleIOPrimaryDataStoreDriver.java
  plugins/storage/volume/scaleio/src/test/java/org/apache/cloudstack/storage/datastore/driver/ScaleIOPrimaryDataStoreDriverTest.java
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  test/integration/plugins/scaleio/test_scaleio_volumes.py
Labels: component:kvm, component:primary-storage, component:secondary-storage, component:ssvm, component:UI, Python, component:compute, component:build, component:orchestration, component:integration-test, component:storage

#7532 Updated the code to access the primary color from config.json.
  ui/src/components/header/UserMenu.vue
Labels: component:UI

#7669 scaleio: fix build error after 4.18 merge forward
  plugins/storage/volume/scaleio/src/test/java/org/apache/cloudstack/storage/datastore/driver/ScaleIOPrimaryDataStoreDriverTest.java
Labels: component:primary-storage, component:storage

#7664 [4.18] Bump the version to 4.18.1.0-SNAPSHOT in debian/changelog
  debian/changelog
Labels: distro:ubuntu

#7665 [main] Bump version to 4.19.0.0-SNAPSHOT in debian/changelog
  debian/changelog
Labels: distro:ubuntu

#7554 server,api,ui: host auto-select for migrateVirtualMachineWithVolume
  api/src/main/java/org/apache/cloudstack/api/command/admin/vm/MigrateVirtualMachineWithVolumeCmd.java
  api/src/test/java/org/apache/cloudstack/api/command/admin/vm/MigrateVirtualMachineWithVolumeCmdTest.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/test/java/com/cloud/vm/UserVmManagerImplTest.java
  ui/src/views/compute/MigrateWizard.vue
Labels: component:api, component:UI, component:agent, component:build, status:needs-testing, component:integration

#7584 Add check on host's status while deleting config drive on host cache
  server/src/main/java/com/cloud/network/element/ConfigDriveNetworkElement.java
Labels: component:networking

#7594 Fix: Volumes on lost local storage cannot be removed
  engine/schema/src/main/java/com/cloud/storage/dao/VolumeDao.java
  engine/schema/src/main/java/com/cloud/storage/dao/VolumeDaoImpl.java
  server/src/main/java/com/cloud/resource/ResourceManagerImpl.java
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  server/src/test/java/com/cloud/resource/ResourceManagerImplTest.java
  server/src/test/java/com/cloud/storage/VolumeApiServiceImplTest.java
Labels: type:bug, status:ready-for-merge, component:local-storage, component:storage

#7657 Fix and enable tests for storage plugins
  plugins/storage/image/default/pom.xml
  plugins/storage/image/sample/pom.xml
  plugins/storage/image/swift/pom.xml
  plugins/storage/volume/cloudbyte/pom.xml
  plugins/storage/volume/datera/pom.xml
  plugins/storage/volume/default/pom.xml
  plugins/storage/volume/default/src/test/java/org/apache/cloudstack/storage/datastore/lifecycle/CloudStackPrimaryDataStoreLifeCycleImplTest.java
  plugins/storage/volume/linstor/pom.xml
  plugins/storage/volume/nexenta/pom.xml
  plugins/storage/volume/nexenta/src/test/java/org/apache/cloudstack/storage/datastore/util/NexentaStorApplianceTest.java
  plugins/storage/volume/sample/pom.xml
  plugins/storage/volume/scaleio/src/test/java/org/apache/cloudstack/storage/datastore/lifecycle/ScaleIOPrimaryDataStoreLifeCycleTest.java
Labels: component:primary-storage, component:secondary-storage, component:build, component:unit-test, component:storage

#7539 Volume encryption support for StorPool plug-in
  api/src/main/java/com/cloud/storage/Storage.java
  engine/schema/src/main/java/com/cloud/host/dao/HostDao.java
  engine/schema/src/main/java/com/cloud/host/dao/HostDaoImpl.java
  plugins/storage/volume/storpool/README.md
  plugins/storage/volume/storpool/src/main/java/com/cloud/agent/api/storage/StorPoolSetVolumeEncryptionAnswer.java
  plugins/storage/volume/storpool/src/main/java/com/cloud/agent/api/storage/StorPoolSetVolumeEncryptionCommand.java
  plugins/storage/volume/storpool/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/StorPoolSetVolumeEncryptionCommandWrapper.java
  plugins/storage/volume/storpool/src/main/java/org/apache/cloudstack/storage/datastore/driver/StorPoolPrimaryDataStoreDriver.java
  plugins/storage/volume/storpool/src/main/java/org/apache/cloudstack/storage/motion/StorPoolDataMotionStrategy.java
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  test/integration/plugins/storpool/TestEncryptedVolumes.py
  test/integration/plugins/storpool/sp_util.py
Labels: component:primary-storage, component:api, Python, component:integration-test, component:storage

#7511 Tungsten: change conserve_mode of default network offering to 0
  engine/schema/src/main/resources/META-INF/db/schema-41800to41810.sql
  plugins/network-elements/tungsten/src/main/java/org/apache/cloudstack/network/tungsten/api/command/ConfigTungstenFabricServiceCmd.java
Labels: component:networking, component:tungsten-fabric

#7658 Remove powermock from ldap & project-role-based plugin
  plugins/acl/project-role-based/src/test/java/org/apache/cloudstack/acl/ProjectRoleBasedApiAccessCheckerTest.java
  plugins/acl/project-role-based/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  plugins/user-authenticators/ldap/src/test/java/org/apache/cloudstack/api/command/LdapCreateAccountCmdTest.java
  plugins/user-authenticators/ldap/src/test/java/org/apache/cloudstack/api/command/LdapImportUsersCmdTest.java
  plugins/user-authenticators/ldap/src/test/java/org/apache/cloudstack/api/command/LdapListUsersCmdTest.java
  plugins/user-authenticators/ldap/src/test/java/org/apache/cloudstack/api/command/LinkAccountToLdapCmdTest.java
  plugins/user-authenticators/ldap/src/test/java/org/apache/cloudstack/api/command/LinkDomainToLdapCmdTest.java
  plugins/user-authenticators/ldap/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: component:projects, component:unit-test, component:LDAP

#7628 ui: fix vm import for L2 n/w in Setup state
  ui/src/views/compute/wizard/MultiNetworkSelection.vue
Labels: component:UI, Severity:Major

#7583 marvin: fix smoke test failures if mgmt server is Ubuntu and hosts are VMware
  tools/marvin/marvin/lib/utils.py
Labels: Python, component:marvin, Severity:Minor

#7617 Retrieve only resource count on user dashboard
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/BaseListRetrieveOnlyResourceCountCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/address/ListPublicIpAddressesCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/network/ListNetworksCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/ListVMsCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/volume/ListVolumesCmd.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  ui/src/views/dashboard/UsageDashboard.vue
Labels: component:api, component:networking, component:UI
