Repository apache/cloudstack, pull requests merged in 2023-05, with the labels that each got.

#7427 Hide option to upload volume when user does not have permission
  ui/src/config/section/image.js
  ui/src/config/section/storage.js
Labels: component:UI

#7423 ui: fix custom offering cpuspeed during vm import
  ui/src/views/tools/ImportUnmanagedInstance.vue
Labels: component:UI

#6960 create parameter to determine whether roles are public or private
  api/src/main/java/org/apache/cloudstack/acl/Role.java
  api/src/main/java/org/apache/cloudstack/acl/RoleService.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/acl/CreateRoleCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/acl/ImportRoleCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/acl/ListRolesCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/acl/RoleCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/acl/UpdateRoleCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/BaseRoleResponse.java
  api/src/test/java/org/apache/cloudstack/api/command/test/CreateRoleCmdTest.java
  api/src/test/java/org/apache/cloudstack/api/command/test/ImportRoleCmdTest.java
  api/src/test/java/org/apache/cloudstack/api/command/test/UpdateRoleCmdTest.java
  engine/schema/src/main/java/org/apache/cloudstack/acl/RoleVO.java
  engine/schema/src/main/java/org/apache/cloudstack/acl/dao/RoleDao.java
  engine/schema/src/main/java/org/apache/cloudstack/acl/dao/RoleDaoImpl.java
  engine/schema/src/main/resources/META-INF/db/schema-41800to41810.sql
  server/src/main/java/org/apache/cloudstack/acl/RoleManagerImpl.java
  server/src/test/java/org/apache/cloudstack/acl/RoleManagerImplTest.java
  test/integration/smoke/test_private_roles.py
  tools/marvin/marvin/lib/base.py
Labels: component:api, Python, component:marvin, component:integration-test

#7453 Support local storage live migration for direct download templates
  core/src/main/java/com/cloud/agent/api/MigrateCommand.java
  core/src/main/java/org/apache/cloudstack/storage/to/TemplateObjectTO.java
  engine/storage/datamotion/src/main/java/org/apache/cloudstack/storage/motion/KvmNonManagedStorageDataMotionStrategy.java
  engine/storage/datamotion/src/main/java/org/apache/cloudstack/storage/motion/StorageSystemDataMotionStrategy.java
  engine/storage/datamotion/src/test/java/org/apache/cloudstack/storage/motion/KvmNonManagedStorageSystemDataMotionTest.java
  engine/storage/datamotion/src/test/java/org/apache/cloudstack/storage/motion/StorageSystemDataMotionStrategyTest.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtMigrateCommandWrapper.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtMigrateCommandWrapperTest.java
Labels: component:kvm, component:api, component:agent, component:build, component:storage

#7477 Send console text slower to avoid overloading remote keyboard buffer
  systemvm/agent/noVNC/core/rfb.js
Labels: component:console-proxy, component:api, component:agent, component:build, component:integration

#7482 Qemu migration hook: check for source length before using element 0
  agent/bindir/libvirtqemuhook.in
Labels: component:api, component:agent, component:build, component:integration

#7498 Fix null pointer on PowerFlex attach volume edge case
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
Labels: component:storage

#7478 added the various entity types supported by the addAnnotation api call
  api/src/main/java/org/apache/cloudstack/api/command/admin/annotation/AddAnnotationCmd.java
Labels: component:api

#7027 python 3.9 comptibility fixes
  test/integration/component/test_configdrive.py
  test/integration/component/test_deploy_vm_userdata_multi_nic.py
  test/integration/component/test_deploy_vm_userdata_reg.py
  tools/marvin/marvin/cloudstackConnection.py
  tools/ngui/requester.py
Labels: Python, component:marvin, component:integration-test

#7499 ui: fix action notifications
  ui/public/locales/en.json
  ui/src/views/compute/AutoScaleUpPolicyTab.vue
  ui/src/views/compute/ScaleVM.vue
  ui/src/views/storage/MigrateVolume.vue
Labels: component:UI

#7512 UI: fix sourceIP is not passed when create internal LB
  ui/src/views/network/VpcTiersTab.vue
Labels: component:UI, component:agent, component:build, component:integration

#7264 ssvm: continue with other secondary storages if fails to program a secondary storage
  services/secondary-storage/controller/src/main/java/org/apache/cloudstack/secondarystorage/SecondaryStorageManagerImpl.java
Labels: component:secondary-storage, component:ssvm

#7265 VR: do not restart conntrackd if no guest networks
  systemvm/debian/opt/cloud/bin/cs/CsHelper.py
  systemvm/debian/opt/cloud/bin/cs/CsRedundant.py
  systemvm/debian/opt/cloud/bin/setup/common.sh
Labels: component:virtual-router, component:networking, Python, status:needs-testing

#7421 api,server: fix VM.CREATE events on vm deploy without start
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/DeployVMCmd.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
Labels: component:api

#7522 github-actions: fix ui build workflow
  .github/workflows/ui.yml
Labels: component:integration

#7521 marvin: Fix deployDataCenter's cleanup
  tools/marvin/marvin/deployDataCenter.py
Labels: type:bug, component:api, Python, component:agent, component:build, component:marvin, component:integration

#7424 ui: fix tags for security group rules
  ui/src/views/network/IngressEgressRuleConfigure.vue
Labels: component:UI

#7485 engine-storage: fix errored template becomes active
  engine/storage/image/src/main/java/org/apache/cloudstack/storage/image/TemplateServiceImpl.java
  engine/storage/image/src/test/java/org/apache/cloudstack/storage/image/TemplateServiceImplTest.java
Labels: component:storage

#7527 ui: fix infocard template, iso fields
  ui/src/components/view/InfoCard.vue
Labels: component:UI

#7206 misc: fix spelling
  api/src/main/java/org/apache/cloudstack/api/command/user/autoscale/CreateAutoScaleVmGroupCmd.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestrator.java
  engine/schema/src/main/java/com/cloud/network/dao/ExternalFirewallDeviceDao.java
  engine/schema/src/main/java/com/cloud/network/dao/ExternalLoadBalancerDeviceDao.java
  engine/schema/src/main/java/com/cloud/network/dao/IPAddressDao.java
  engine/schema/src/main/java/com/cloud/network/dao/IPAddressDaoImpl.java
  engine/schema/src/main/java/com/cloud/upgrade/dao/Upgrade410to420.java
  engine/schema/src/main/java/com/cloud/vm/dao/ConsoleProxyDaoImpl.java
  engine/schema/src/main/resources/META-INF/db/schema-442to450.sql
  engine/storage/cache/src/main/java/org/apache/cloudstack/storage/cache/manager/StorageCacheManagerImpl.java
  engine/storage/snapshot/src/main/java/org/apache/cloudstack/storage/vmsnapshot/StorageVMSnapshotStrategy.java
  framework/ipc/src/main/java/org/apache/cloudstack/framework/messagebus/MessageDetector.java
  framework/jobs/src/main/java/org/apache/cloudstack/framework/jobs/AsyncJobManager.java
  framework/jobs/src/main/java/org/apache/cloudstack/framework/jobs/impl/AsyncJobManagerImpl.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/manager/VmwareStorageManagerImpl.java
  plugins/hypervisors/xenserver/src/test/java/com/cloud/hypervisor/xenserver/resource/CitrixResourceBaseTest.java
  plugins/hypervisors/xenserver/src/test/java/com/cloud/hypervisor/xenserver/resource/XcpOssResourceTest.java
  plugins/hypervisors/xenserver/src/test/java/com/cloud/hypervisor/xenserver/resource/XcpServerResourceTest.java
  plugins/hypervisors/xenserver/src/test/java/com/cloud/hypervisor/xenserver/resource/XenServer56FP1ResourceTest.java
  plugins/hypervisors/xenserver/src/test/java/com/cloud/hypervisor/xenserver/resource/XenServer56ResourceTest.java
  plugins/hypervisors/xenserver/src/test/java/com/cloud/hypervisor/xenserver/resource/XenServer56SP2ResourceTest.java
  plugins/hypervisors/xenserver/src/test/java/com/cloud/hypervisor/xenserver/resource/XenServer600ResourceTest.java
  plugins/hypervisors/xenserver/src/test/java/com/cloud/hypervisor/xenserver/resource/XenServer625ResourceTest.java
  plugins/hypervisors/xenserver/src/test/java/com/cloud/hypervisor/xenserver/resource/XenServer650ResourceTest.java
  scripts/util/keystore-cert-import
  server/src/main/java/com/cloud/configuration/Config.java
  server/src/main/java/com/cloud/network/NetworkServiceImpl.java
  services/console-proxy/rdpconsole/src/main/java/streamer/debug/MockServer.java
  test/integration/broken/maint/test_zone_level_local_storage_setting.py
  test/integration/component/test_add_remove_network.py
  test/integration/component/test_escalations_instances.py
  test/integration/component/test_multiple_ips_per_nic.py
  test/integration/component/test_multiple_nic_support.py
  test/integration/component/test_multiple_physical_network_creation.py
  test/integration/component/test_region_vpc.py
  test/integration/component/test_shared_networks.py
  test/integration/component/test_vpc.py
  test/integration/component/test_vpc_distributed_routing_offering.py
  test/integration/component/test_vpc_network.py
  test/integration/component/test_vpc_offerings.py
  test/integration/component/test_vpc_vms_deployment.py
  utils/src/main/java/com/cloud/utils/DateUtil.java
  utils/src/main/java/com/cloud/utils/concurrency/SynchronizationEvent.java
  utils/src/test/java/com/cloud/utils/ScriptTest.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/BaseMO.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/DatastoreMO.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/HostMO.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/HttpNfcLeaseMO.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/HypervisorHostHelper.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/VirtualMachineMO.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/util/VmwareContext.java
Labels: component:XenServer, component:vmware, component:console-proxy, component:api, component:networking, Python, component:orchestration, component:integration-test, component:storage

#7471 Prometheus: Ensure tagged hosts maintenance status is reported consistently
  plugins/integrations/prometheus/src/main/java/org/apache/cloudstack/metrics/PrometheusExporterImpl.java
Labels: component:api, component:agent, component:build

#7488 [Cleanup] removed commented code in DhcpProtocolParserServer.java
  agent/src/main/java/com/cloud/agent/dhcp/DhcpProtocolParserServer.java
Labels: component:agent

#7234 Enable CPU cap in VRs if the offering has a CPU cap limitation
  server/src/main/java/com/cloud/network/router/NetworkHelperImpl.java
Labels: component:networking

#7541 ui,api: make description option for createKubernetesCluster
  plugins/integrations/kubernetes-service/src/main/java/org/apache/cloudstack/api/command/user/kubernetes/cluster/CreateKubernetesClusterCmd.java
  ui/src/views/compute/CreateKubernetesCluster.vue
Labels: component:UI, component:kubernetes

#7561 Fix end of file precommit for TemplateServiceImplTest.java
  engine/storage/image/src/test/java/org/apache/cloudstack/storage/image/TemplateServiceImplTest.java
Labels: type:bug, component:api, component:agent, component:build, complexity:trivial, component:storage, component:integration

#7557 ui: show zones and offerings to users
  ui/.env.primate-qa
  ui/src/components/view/InfoCard.vue
  ui/src/config/router.js
  ui/src/config/section/offering.js
  ui/src/config/section/zone.js
  ui/src/utils/plugins.js
Labels: component:UI

#7526 server: fix volume detach operation when no vm host
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  server/src/test/java/com/cloud/storage/VolumeApiServiceImplTest.java
Labels: status:needs-testing, component:storage

#7548 refactor: remove duplicate inject
  server/src/main/java/com/cloud/storage/StorageManagerImpl.java
Labels: component:storage

#7558 Fix acquire console session issue
  engine/schema/src/main/java/com/cloud/vm/ConsoleSessionVO.java
Labels: type:bug, component:console-proxy, Severity:BLOCKER

#7559 Create user 'cloud' in cloudstack-usage postinstall
  debian/cloudstack-usage.postinst
Labels: distro:ubuntu

#7475 cks,ui: allow changing stopped cluster offering, improvements
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/KubernetesClusterManagerImpl.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterResourceModifierActionWorker.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterScaleWorker.java
  plugins/integrations/kubernetes-service/src/test/java/com/cloud/kubernetes/cluster/KubernetesClusterManagerImplTest.java
  ui/src/config/section/compute.js
  ui/src/views/compute/ScaleKubernetesCluster.vue
Labels: component:UI, component:kubernetes

#7452 test: reduce PowerMock usage for code coverage
  api/src/test/java/org/apache/cloudstack/api/command/user/network/CreateNetworkCmdTest.java
  api/src/test/java/org/apache/cloudstack/api/command/user/network/UpdateNetworkCmdTest.java
  plugins/affinity-group-processors/non-strict-host-affinity/src/test/java/org/apache/cloudstack/affinity/NonStrictHostAffinityProcessorTest.java
Labels: component:api
