Repository apache/cloudstack, pull requests merged in 2023-07, with the labels that each got.

#7687 api: correct error on resize volume resource allocation failure
  api/src/main/java/org/apache/cloudstack/api/command/user/volume/ResizeVolumeCmd.java
  server/src/main/java/com/cloud/api/ApiAsyncJobDispatcher.java
Labels: component:api, status:ready-for-merge

#7689 Fix ScaleIO/Powerflex SDC id deletion on host disconnect
  plugins/storage/volume/scaleio/src/main/java/org/apache/cloudstack/storage/datastore/provider/ScaleIOHostListener.java
Labels: component:primary-storage, component:storage

#7666 engine-orchestration: fix volume size resource count mismatch
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/VolumeOrchestrator.java
  engine/orchestration/src/test/java/org/apache/cloudstack/engine/orchestration/VolumeOrchestratorTest.java
Labels: component:orchestration

#7588 UI: Zone wizard fix
  api/src/main/java/com/cloud/configuration/ConfigurationService.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/manager/VmwareManagerImpl.java
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  server/src/main/java/com/cloud/resource/ResourceManagerImpl.java
  ui/src/views/infra/zone/ZoneWizardLaunchZone.vue
Labels: component:vmware, component:api, component:UI, Severity:Major

#6282 [Veeam] restored VMs without NICs
  engine/schema/src/main/java/com/cloud/vm/NicVO.java
  engine/schema/src/main/java/com/cloud/vm/dao/NicDao.java
  engine/schema/src/main/java/com/cloud/vm/dao/NicDaoImpl.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/guru/VMwareGuru.java
Labels: type:bug, component:vmware, component:backup

#7607 server: do not check zone imagestores for directdownload template delete
  server/src/main/java/com/cloud/template/HypervisorTemplateAdapter.java
  server/src/test/java/com/cloud/template/HypervisorTemplateAdapterTest.java
Labels: Severity:Major

#7237 console proxy: use AeadBase64Encryptor instead of AES/CBC/PKCS5Padding
  server/src/main/java/com/cloud/servlet/ConsoleProxyPasswordBasedEncryptor.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/ConsoleProxyPasswordBasedEncryptor.java
  utils/src/main/java/com/cloud/utils/crypt/AeadBase64Encryptor.java
Labels: component:console-proxy, status:needs-testing

#7707 UI: fix wrong vpcid when create network in VPC
  ui/src/views/network/CreateIsolatedNetworkForm.vue
Labels: component:UI

#7381 Fix foreign key constraints and the mysql procedure that is used
  engine/schema/src/main/java/com/cloud/upgrade/dao/DatabaseAccessObject.java
  engine/schema/src/main/java/com/cloud/upgrade/dao/DbUpgradeUtils.java
  engine/schema/src/main/java/com/cloud/upgrade/dao/Upgrade41800to41810.java
  engine/schema/src/main/resources/META-INF/db/schema-41720to41800.sql
Labels: component:management-server, component:api, Severity:BLOCKER, component:agent, component:build, component:orchestration, component:storage

#7691 NPE guard
  engine/schema/src/main/java/org/apache/cloudstack/storage/datastore/db/TemplateDataStoreVO.java
Labels: Severity:Critical, component:templates, complexity:trivial, component:storage

#7693 Fix direct download URL checks
  agent/src/main/java/com/cloud/agent/direct/download/HttpsDirectTemplateDownloader.java
  agent/src/main/java/com/cloud/agent/direct/download/MetalinkDirectTemplateDownloader.java
  core/src/main/java/org/apache/cloudstack/direct/download/DirectDownloadHelper.java
  core/src/main/java/org/apache/cloudstack/direct/download/DirectTemplateDownloader.java
  core/src/main/java/org/apache/cloudstack/direct/download/DirectTemplateDownloaderImpl.java
  core/src/main/java/org/apache/cloudstack/direct/download/HttpDirectTemplateDownloader.java
  core/src/main/java/org/apache/cloudstack/direct/download/HttpsDirectTemplateDownloader.java
  core/src/main/java/org/apache/cloudstack/direct/download/HttpsMultiTrustManager.java
  core/src/main/java/org/apache/cloudstack/direct/download/MetalinkDirectTemplateDownloader.java
  core/src/main/java/org/apache/cloudstack/direct/download/NfsDirectTemplateDownloader.java
  core/src/test/java/org/apache/cloudstack/direct/download/BaseDirectTemplateDownloaderTest.java
  core/src/test/java/org/apache/cloudstack/direct/download/HttpsDirectTemplateDownloaderTest.java
  core/src/test/java/org/apache/cloudstack/direct/download/MetalinkDirectTemplateDownloaderTest.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtCheckUrlCommand.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStorageProcessor.java
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  utils/src/main/java/com/cloud/utils/UriUtils.java
Labels: type:bug, component:kvm, component:agent, component:templates, component:storage

#7695 server,engine-orchestration: allocate vm without transaction
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
Labels: component:compute, component:orchestration

#7726 Fix test_vm_schedule's intermittent failures
  .github/workflows/ci.yml
  test/integration/smoke/test_vm_schedule.py
Labels: Python, component:integration-test, component:integration

#7580 kvm agent: get the right controll cidr
  agent/src/main/java/com/cloud/agent/properties/AgentProperties.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/BridgeVifDriver.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/IvsVifDriver.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/OvsVifDriver.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/VifDriverBase.java
Labels: component:kvm, Severity:Critical, component:agent

#7641 vmware: fix unmanaged instance listing when different name & internal CS name
  core/src/main/java/com/cloud/agent/api/GetUnmanagedInstancesCommand.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/resource/VmwareResource.java
Labels: component:vmware, component:api, Severity:Minor

#7643 Generate cloud-init multipart user data for template append policy
  api/src/main/java/org/apache/cloudstack/userdata/UserDataManager.java
  client/pom.xml
  core/src/main/resources/META-INF/cloudstack/core/spring-core-lifecycle-core-context-inheritable.xml
  core/src/main/resources/META-INF/cloudstack/core/spring-core-registry-core-context.xml
  engine/pom.xml
  engine/userdata/cloud-init/pom.xml
  engine/userdata/cloud-init/src/main/java/org/apache/cloudstack/userdata/CloudInitUserDataProvider.java
  engine/userdata/cloud-init/src/main/resources/META-INF/cloudstack/core/spring-userdata-cloud-init-context.xml
  engine/userdata/cloud-init/src/test/java/org/apache/cloudstack/userdata/CloudInitUserDataProviderTest.java
  engine/userdata/pom.xml
  engine/userdata/src/main/java/org/apache/cloudstack/userdata/UserDataManagerImpl.java
  engine/userdata/src/main/java/org/apache/cloudstack/userdata/UserDataProvider.java
  engine/userdata/src/main/resources/META-INF/cloudstack/core/spring-engine-userdata-core-context.xml
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/test/java/com/cloud/vm/UserVmManagerImplTest.java
  test/integration/smoke/test_register_userdata.py
Labels: type:enhancement, component:api, Python, component:build, component:integration-test

#7719 Add L2 networks to Zones with SG
  api/src/main/java/org/apache/cloudstack/api/command/user/network/CreateNetworkCmd.java
  api/src/test/java/org/apache/cloudstack/api/command/user/network/CreateNetworkCmdTest.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestrator.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  ui/src/views/network/CreateL2NetworkForm.vue
  ui/src/views/network/CreateNetwork.vue
Labels: component:api, component:security-group, component:networking, component:UI, component:agent, component:build, component:orchestration, component:integration

#7733 test: fix ci failures on main branch
  test/integration/smoke/test_kubernetes_clusters.py
  test/integration/smoke/test_set_sourcenat.py
Labels: Python, component:integration-test

#7656 allow migration of all VMs with local storage on KVM
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
Labels: component:management-server, Severity:Major

#7747 Fix codecov github action's report
  .github/workflows/codecov.yml
Labels: component:integration

#7634 guarantee MAC uniqueness
  api/src/main/java/com/cloud/network/NetworkModel.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/datacenter/entity/api/db/dao/EngineDataCenterDao.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/datacenter/entity/api/db/dao/EngineDataCenterDaoImpl.java
  engine/schema/src/main/java/com/cloud/dc/dao/DataCenterDao.java
  engine/schema/src/main/java/com/cloud/dc/dao/DataCenterDaoImpl.java
  engine/schema/src/main/java/com/cloud/network/dao/NetworkDaoImpl.java
  engine/schema/src/main/java/com/cloud/vm/dao/NicDao.java
  engine/schema/src/main/java/com/cloud/vm/dao/NicDaoImpl.java
  framework/db/src/main/java/com/cloud/utils/db/SequenceFetcher.java
  plugins/hypervisors/hyperv/src/main/java/com/cloud/hypervisor/hyperv/guru/HypervGuru.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/guru/VmwareVmImplementer.java
  plugins/network-elements/netscaler/src/main/java/com/cloud/network/vm/NetScalerVMManagerImpl.java
  server/src/main/java/com/cloud/network/NetworkModelImpl.java
  server/src/main/java/com/cloud/network/guru/ControlNetworkGuru.java
Labels: component:vmware, component:api, status:ready-for-merge, component:networking, component:database, Severity:Major, component:orchestration, component:hyperv

#6797 new (java11) style storage construction
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStoragePoolManager.java
Labels: component:kvm, status:needs-testing

#7404 Storage and volumes statistics tasks for StorPool primary storage
  plugins/storage/volume/storpool/src/main/java/org/apache/cloudstack/storage/datastore/driver/StorPoolPrimaryDataStoreDriver.java
  plugins/storage/volume/storpool/src/main/java/org/apache/cloudstack/storage/datastore/driver/StorPoolStatsCollector.java
  plugins/storage/volume/storpool/src/main/java/org/apache/cloudstack/storage/datastore/util/StorPoolUtil.java
  plugins/storage/volume/storpool/src/main/java/org/apache/cloudstack/storage/snapshot/StorPoolConfigurationManager.java
  plugins/storage/volume/storpool/src/main/resources/META-INF/cloudstack/storage-volume-storpool/spring-storage-volume-storpool-context.xml
Labels: component:primary-storage, Severity:Minor, component:storage

#7741 userdata: fix append scenarios
  api/src/main/java/org/apache/cloudstack/userdata/UserDataManager.java
  engine/components-api/src/main/java/com/cloud/configuration/ConfigurationManager.java
  engine/userdata/cloud-init/src/main/java/org/apache/cloudstack/userdata/CloudInitUserDataProvider.java
  engine/userdata/cloud-init/src/test/java/org/apache/cloudstack/userdata/CloudInitUserDataProviderTest.java
  engine/userdata/pom.xml
  engine/userdata/src/main/java/org/apache/cloudstack/userdata/UserDataManagerImpl.java
  engine/userdata/src/main/java/org/apache/cloudstack/userdata/UserDataProvider.java
  engine/userdata/src/test/java/org/apache/cloudstack/userdata/UserDataManagerImplTest.java
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
  server/src/main/java/com/cloud/vm/UserVmManager.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/test/java/com/cloud/server/ManagementServerImplTest.java
  server/src/test/java/com/cloud/vm/UserVmManagerImplTest.java
  server/src/test/java/com/cloud/vm/UserVmManagerTest.java
  test/integration/smoke/test_register_userdata.py
Labels: component:management-server, component:api, Python, component:build, component:integration-test

#7754 eof lint error on StorpoolStatsCollector
  plugins/storage/volume/storpool/src/main/java/org/apache/cloudstack/storage/datastore/driver/StorPoolStatsCollector.java
Labels: component:primary-storage, component:storage

#7288 SSVM: 'allow from' private IP in other SSVMs if the public IP is in allowed internal sites cidrs
  core/src/main/java/com/cloud/storage/template/TemplateConstants.java
  services/secondary-storage/controller/src/main/java/org/apache/cloudstack/secondarystorage/SecondaryStorageManagerImpl.java
  systemvm/agent/scripts/ipfirewall.sh
Labels: component:secondary-storage, component:ssvm, status:needs-testing

#7724 server: clear resource reservation and increment resource count in a transaction
  api/src/main/java/org/apache/cloudstack/context/CallContext.java
  server/src/main/java/com/cloud/resourcelimit/CheckedReservation.java
  server/src/main/java/com/cloud/resourcelimit/ResourceLimitManagerImpl.java
Labels: component:api

#7757 Allow encrypted volume migration for PowerFlex volumes
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  server/src/test/java/com/cloud/storage/VolumeApiServiceImplTest.java
Labels: component:storage

#7749 ui: fix userdata base64 encoding
  ui/src/utils/plugins.js
  ui/src/views/compute/AutoScaleVmProfile.vue
  ui/src/views/compute/CreateAutoScaleVmGroup.vue
  ui/src/views/compute/DeployVM.vue
  ui/src/views/compute/EditVM.vue
  ui/src/views/compute/RegisterUserData.vue
  ui/src/views/compute/ResetUserData.vue
Labels: component:UI

#7708 utils: fix RBD URI if credentials contains slash
  ui/src/views/infra/AddPrimaryStorage.vue
  utils/src/main/java/com/cloud/utils/UriUtils.java
  utils/src/test/java/com/cloud/utils/UriUtilsTest.java
Labels: component:ceph, status:ready-for-merge, component:UI

#7764 UI: add step to create bearer token for kubernetes dashboard
  ui/public/locales/en.json
  ui/src/views/compute/KubernetesServiceTab.vue
Labels: component:UI

#7767 Fix smoketest: safe shutdown
  test/integration/smoke/test_safe_shutdown.py
Labels: Python, component:integration-test

#7765 Fix NPE in management server logs due to /proc/cpuinfo output
  server/src/main/java/com/cloud/server/StatsCollector.java
Labels: type:bug, type:enhancement, component:management-server

#7758 UI: fix userdataid or userdata content is passed when userdata append or override is unchecked
  ui/src/views/compute/DeployVM.vue
Labels: component:UI, Severity:Major

#7750 add remove tag to remove acl item method
  server/src/main/java/com/cloud/network/vpc/NetworkACLManagerImpl.java
  server/src/test/java/com/cloud/network/vpc/NetworkACLManagerTest.java
Labels: component:vpc, component:networking

#7768 packaging: install tzdata-java on centos7/centos8
  packaging/centos7/cloud.spec
  packaging/centos8/cloud.spec
Labels: component:packaging, distro:centos

#7772 UI: fix 404 error when list volumes of system vms
  ui/src/views/AutogenView.vue
Labels: component:UI

#7766 search in (too) large result sets
  ui/src/components/view/SearchView.vue
Labels: component:UI

#7779 cloudutils: fix adding rocky9 host failure due to missing /etc/sysconfig/libvirtd
  python/lib/cloudutils/configFileOps.py
Labels: Python

#7706 pom.xml: add property project.systemvm.template.location
  engine/schema/pom.xml
  pom.xml
Labels: component:build

#7663 KVM: fix SSVM starting when overprovisioning memory
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtVMDef.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResourceTest.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/LibvirtVMDefTest.java
  server/src/main/java/com/cloud/hypervisor/KVMGuru.java
Labels: component:kvm, Severity:Critical, status:needs-testing

#7788 Remove powermock from kubernetes plugin
  plugins/integrations/kubernetes-service/src/test/java/com/cloud/kubernetes/cluster/utils/KubernetesClusterUtilTest.java
  plugins/integrations/kubernetes-service/src/test/java/com/cloud/kubernetes/version/KubernetesVersionServiceTest.java
  plugins/integrations/kubernetes-service/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: component:kubernetes

#7789 Remove powermock from nicira nvp
  plugins/network-elements/nicira-nvp/src/main/java/com/cloud/network/nicira/NiciraRestClient.java
  plugins/network-elements/nicira-nvp/src/test/java/com/cloud/network/nicira/NiciraRestClientTest.java
  plugins/network-elements/nicira-nvp/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: component:networking

#7153 Introducing concept of domain VPCs
  api/src/main/java/org/apache/cloudstack/api/command/user/network/ListNetworksCmd.java
  engine/schema/src/main/java/com/cloud/vm/dao/UserVmDao.java
  engine/schema/src/main/java/com/cloud/vm/dao/UserVmDaoImpl.java
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  server/src/main/java/com/cloud/network/IpAddressManagerImpl.java
  server/src/main/java/com/cloud/network/lb/LoadBalancingRulesManagerImpl.java
  server/src/main/java/com/cloud/network/vpc/VpcManagerImpl.java
  ui/src/components/view/ListView.vue
  ui/src/config/section/network.js
  ui/src/views/network/EnableStaticNat.vue
  ui/src/views/network/LoadBalancing.vue
  ui/src/views/network/PortForwarding.vue
Labels: component:vpc, component:api, status:ready-for-merge, component:networking, component:UI, status:needs-testing

#7739 Filter templates in vue
  ui/src/config/section/compute.js
  ui/src/views/AutogenView.vue
Labels: component:UI

#7792 UI unit test: expected values
  ui/public/locales/en.json
  ui/tests/unit/views/AutogenView.spec.js
Labels: component:UI

#7564 make NoopDbUpgrade do a systemvm template check
  engine/schema/src/main/java/com/cloud/upgrade/DatabaseUpgradeChecker.java
Labels: component:upgrade, component:database, Severity:Major, status:needs-testing

#7722 packaging: unalias cp before package upgrade
  packaging/centos8/cloud.spec
Labels: component:packaging, distro:centos
