Repository apache/cloudstack, pull requests merged in 2023-03, with the labels that each got.

#7291 Don't log VNC password in VirtualMachineTO
  api/src/main/java/com/cloud/agent/api/to/VirtualMachineTO.java
Labels: component:api, status:needs-testing

#7302 Move PassphraseVO to use String instead of byte[] to support Encrypt annotation
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/VolumeOrchestrator.java
  engine/schema/src/main/java/org/apache/cloudstack/secret/PassphraseVO.java
  plugins/hypervisors/kvm/src/test/java/org/apache/cloudstack/utils/cryptsetup/CryptSetupTest.java
Labels: component:kvm, component:orchestration, status:needs-testing

#7229 [Usage] Fix wrong usage_type
  engine/schema/src/main/resources/META-INF/db/schema-41720to41800.sql
  usage/src/main/java/com/cloud/usage/parser/VmDiskUsageParser.java
Labels: component:usage-server, status:needs-testing

#7304 Fix VNC TLS for non-root linux users on the QEMU configuration
  scripts/util/keystore-cert-import
Labels: type:bug, component:kvm, component:console-proxy

#7140 Fix PR 7131 bugs and vulnerabilities
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/LibvirtStorageAdaptor.java
  plugins/hypervisors/ovm/src/main/java/com/cloud/ovm/hypervisor/OvmResourceBase.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/resource/VmwareResource.java
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/XenServerConnectionPool.java
  server/src/main/java/com/cloud/alert/ConsoleProxyAlertAdapter.java
  server/src/main/java/com/cloud/alert/SecondaryStorageVmAlertAdapter.java
  server/src/main/java/com/cloud/api/ApiServer.java
  server/src/main/java/com/cloud/network/ExternalLoadBalancerDeviceManagerImpl.java
  server/src/main/java/com/cloud/servlet/ConsoleProxyServlet.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/main/java/org/apache/cloudstack/outofbandmanagement/OutOfBandManagementServiceImpl.java
  services/secondary-storage/server/src/main/java/org/apache/cloudstack/storage/resource/NfsSecondaryStorageResource.java
Labels: component:kvm, component:XenServer, component:vmware, component:secondary-storage, component:ssvm, component:networking

#7355 Support Jetty's live cert reload on HTTPS frontend
  client/src/main/java/org/apache/cloudstack/ServerDaemon.java
Labels: component:management-server

#7361 [UI] UEFI support flag in host details
  ui/public/locales/en.json
  ui/src/views/infra/HostInfo.vue
Labels: component:UI

#7367 UI: fix default network is not passed to deployvm API
  ui/src/views/compute/DeployVM.vue
Labels: component:UI

#7374 Add Service Ip to listManagementServers API response
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/response/ManagementServerResponse.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
Labels: component:api

#7372 Fixed avoid set variables which is causing deployment failures
  server/src/main/java/com/cloud/deploy/DeploymentPlanningManagerImpl.java
Labels: component:storage

#7382 UI: fixed L2 network creation for particular account/domain
  ui/src/views/network/CreateL2NetworkForm.vue
Labels: component:api, component:networking, component:UI, component:agent, component:build

#7327 orchestration: fix error on deleted template vm start
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/VolumeOrchestrator.java
  engine/orchestration/src/test/java/com/cloud/vm/VirtualMachineManagerImplTest.java
Labels: component:compute, component:orchestration

#7332 test: add smoke test for user role for userdata crud api
  test/integration/smoke/test_register_userdata.py
Labels: Python, component:integration-test

#7351 UI: Add button to copy VM console URL to clipboard
  ui/public/locales/en.json
  ui/src/components/view/ActionButton.vue
  ui/src/components/view/InfoCard.vue
  ui/src/components/widgets/Console.vue
Labels: component:UI
