Repository apache/cloudstack, pull requests merged in 2023-10, with the labels that each got.

#7983 cleanup: remove unused class org.apache.cloudstack.network.NetworkOrchestrator
  client/pom.xml
  engine/network/pom.xml
  engine/network/src/main/java/org/apache/cloudstack/network/NetworkOrchestrator.java
  engine/pom.xml
  engine/service/pom.xml
Labels: type:cleanup, component:build, Severity:Trivial

#7931 load (domains) continuously in dropdown boxes
  ui/src/views/iam/AddAccount.vue
  ui/src/views/network/CreateIsolatedNetworkForm.vue
Labels: component:UI, Severity:Minor, complexity:normal

#8020 server: fix mysql error when list Shared templates for projects
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
Labels: component:database

#7088 cleanups as suggested by errorprone
  PULL_REQUEST_TEMPLATE.md
  framework/config/src/main/java/org/apache/cloudstack/framework/config/ConfigKey.java
  framework/config/src/test/java/org/apache/cloudstack/framework/config/impl/ConfigDepotAdminTest.java
  framework/db/src/main/java/com/cloud/dao/EntityManagerImpl.java
  framework/db/src/main/java/com/cloud/utils/db/DbUtil.java
  framework/db/src/main/java/com/cloud/utils/db/DriverLoader.java
  framework/db/src/main/java/com/cloud/utils/db/EcInfo.java
  framework/db/src/main/java/com/cloud/utils/db/GenericDaoBase.java
  utils/src/main/java/com/cloud/utils/SerialVersionUID.java
  utils/src/main/java/com/cloud/utils/events/SubscriptionMgr.java
  utils/src/test/java/com/cloud/utils/net/NetUtilsTest.java
  utils/src/test/java/org/apache/cloudstack/utils/redfish/RedfishClientTest.java
Labels: component:database, component:build

#8036 Add extra checks for test_vm_schedule to avoid intermittent failures
  test/integration/smoke/test_vm_schedule.py
Labels: Python, component:integration-test

#7225 [Veeam] Don't interrupt backup syncronization
  server/src/main/java/org/apache/cloudstack/backup/BackupManagerImpl.java
Labels: component:backup

#7987 KVM Agent config to reserve dom0 CPUs
  agent/conf/agent.properties
  agent/src/main/java/com/cloud/agent/properties/AgentProperties.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/org/apache/cloudstack/utils/linux/KVMHostInfo.java
  plugins/hypervisors/kvm/src/test/java/org/apache/cloudstack/utils/linux/KVMHostInfoTest.java
Labels: component:kvm, component:agent

#7953 systemvm: check if patchfile exists and is valid tarball before patching
  systemvm/debian/opt/cloud/bin/setup/cloud-early-config
Labels: component:virtual-router, component:networking, systemvm-template-change, Severity:Minor

#8041 Fix: Convert volume to another directory instead of copying it while taking volume snapshots on KVM
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStorageProcessor.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/storage/KVMStorageProcessorTest.java
Labels: component:kvm, Severity:BLOCKER

#8025 Ensure getCapacityState() is not called for hosts in maintenance
  plugins/integrations/prometheus/src/main/java/org/apache/cloudstack/metrics/PrometheusExporterImpl.java
Labels: status:needs-3rdparty-components, component:prometheus

#7956 UI: Admin, account and project dashboard improvements
  ui/package-lock.json
  ui/package.json
  ui/public/config.json
  ui/public/locales/en.json
  ui/src/assets/icons/debian.svg
  ui/src/assets/icons/kubernetes.svg
  ui/src/components/header/CreateMenu.vue
  ui/src/components/header/ProjectMenu.vue
  ui/src/components/header/UserMenu.vue
  ui/src/components/menu/SMenu.vue
  ui/src/components/page/GlobalHeader.vue
  ui/src/components/page/GlobalLayout.vue
  ui/src/components/view/InfoCard.vue
  ui/src/components/view/ResourceView.vue
  ui/src/components/widgets/ChartCard.vue
  ui/src/components/widgets/Drawer.vue
  ui/src/components/widgets/OsLogo.vue
  ui/src/config/router.js
  ui/src/config/section/compute.js
  ui/src/config/section/image.js
  ui/src/config/section/infra/hosts.js
  ui/src/config/section/infra/primaryStorages.js
  ui/src/config/section/storage.js
  ui/src/core/ext.js
  ui/src/core/lazy_lib/components_use.js
  ui/src/style/dark-mode.less
  ui/src/style/vars.less
  ui/src/utils/device.js
  ui/src/views/AutogenView.vue
  ui/src/views/dashboard/CapacityDashboard.vue
  ui/src/views/dashboard/UsageDashboard.vue
  ui/src/views/network/CreateIsolatedNetworkForm.vue
  ui/src/views/network/CreateNetwork.vue
  ui/src/views/network/CreateVpc.vue
Labels: component:UI

#6887 user-shared networks: fix few issues
  api/src/main/java/org/apache/cloudstack/api/ResponseGenerator.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/vpc/ListPrivateGatewaysCmdByAdminCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vpc/CreatePrivateGatewayCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vpc/ListPrivateGatewaysCmd.java
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  server/src/main/java/com/cloud/network/NetworkServiceImpl.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
  test/integration/component/test_ip_reservation.py
Labels: component:management-server, component:vpc, component:api, component:networking, component:UI, Python, component:integration-test

#8029 Improve template download error message
  server/src/main/java/org/apache/cloudstack/direct/download/DirectDownloadManagerImpl.java
Labels: type:improvement, Severity:Minor

#8046 UI: Fix sorter across different components
  ui/src/components/view/EventsTab.vue
  ui/src/views/AutogenView.vue
  ui/src/views/compute/ChangeAffinity.vue
  ui/src/views/compute/ResetSshKeyPair.vue
  ui/src/views/compute/ResetUserData.vue
  ui/src/views/infra/CpuSockets.vue
  ui/src/views/infra/Metrics.vue
Labels: component:UI

#7811 Enable four more `flake8` rules
  .github/linters/.flake8
Labels: component:ci-cd

#7883 pre-commit: add hook `check-merge-conflict`
  .pre-commit-config.yaml
Labels: component:ci-cd

#8048 systemvm: remove config in /etc/pam.d/systemd-user to fix user@0.service
  systemvm/debian/opt/cloud/bin/setup/init.sh
Labels: component:virtual-router, component:networking

#7731 Default value of force should be false for template delete operation
  api/src/main/java/org/apache/cloudstack/api/command/user/template/DeleteTemplateCmd.java
  test/integration/smoke/test_templates.py
Labels: component:api, Python, Severity:Major, component:integration-test, needs-review

#7605 Format quota email currency values
  framework/quota/src/main/java/org/apache/cloudstack/quota/QuotaAlertManagerImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/constant/QuotaConfig.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/quota/QuotaServiceImpl.java
  utils/src/main/java/com/cloud/utils/NumbersUtil.java
Labels: component:quota

#8058 .github: run Sonar Check only on PRs from apache/cloudstack branches
  .github/workflows/sonar-check.yml
Labels: component:integration

#8068 [NSX] Fix delete DHCP relay on segment deletion was missing zone name
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/agent/api/DeleteNsxSegmentCommand.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/resource/NsxResource.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxElement.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxServiceImpl.java
Labels: component:networking

#8069 ui: update dashboard screenshot for README
  ui/docs/screenshot-dashboard.png
Labels: component:UI

#8065 Fix non admin logouts
  ui/src/views/dashboard/UsageDashboard.vue
Labels: component:api, component:networking, component:UI, component:build

#8075 ui: update vm deploy form iso label
  ui/public/locales/en.json
  ui/src/views/compute/wizard/TemplateIsoSelection.vue
Labels: component:UI

#8062 storage: allow VM snapshots without memory for KVM when global setting allows
  engine/storage/snapshot/src/main/java/org/apache/cloudstack/storage/vmsnapshot/StorageVMSnapshotStrategy.java
Labels: component:kvm, Severity:Major, component:storage

#7606 vm-import: fix stopped managed vms listing in unmanaged instances
  engine/schema/src/main/java/com/cloud/vm/dao/VMInstanceDao.java
  engine/schema/src/main/java/com/cloud/vm/dao/VMInstanceDaoImpl.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  server/src/main/java/org/apache/cloudstack/vm/UnmanagedVMsManagerImpl.java
Labels: Severity:Minor, status:needs-testing

#6947 Allow password definition during VM deploy
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/DeployVMCmd.java
  server/src/main/java/com/cloud/network/as/AutoScaleManagerImpl.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/test/java/com/cloud/network/as/AutoScaleManagerImplTest.java
  server/src/test/java/com/cloud/vm/UserVmManagerImplTest.java
Labels: component:api, component:networking

#7386 Add domainpath to listnetwork and UI network tab
  api/src/main/java/org/apache/cloudstack/api/response/NetworkResponse.java
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  ui/src/config/section/network.js
Labels: component:api, component:UI, component:agent, component:build, status:needs-testing, component:integration

#8059 [NSX] Refactor API wrapper operations
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/agent/api/CreateNsxDhcpRelayConfigCommand.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/agent/api/CreateNsxSegmentCommand.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/agent/api/CreateNsxTier1GatewayCommand.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/agent/api/DeleteNsxSegmentCommand.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/agent/api/DeleteNsxTier1GatewayCommand.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/agent/api/NsxCommand.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/resource/NsxResource.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxApi.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxApiClient.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxElement.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxGuestNetworkGuru.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxServiceImpl.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/utils/NsxApiClientUtils.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/utils/NsxControllerUtils.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/utils/NsxHelper.java
  plugins/network-elements/nsx/src/main/resources/META-INF/cloudstack/nsx/spring-nsx-context.xml
  server/src/main/java/com/cloud/hypervisor/HypervisorGuruBase.java
Labels: component:networking, component:compute, component:orchestration

#8090 Nsx unit tests
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
  engine/orchestration/src/test/java/com/cloud/vm/VirtualMachineManagerImplTest.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/agent/api/NsxCommand.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/resource/NsxResource.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxElement.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxGuestNetworkGuru.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxProviderServiceImpl.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxServiceImpl.java
  plugins/network-elements/nsx/src/test/java/org/apache/cloudstack/resource/NsxResourceTest.java
  plugins/network-elements/nsx/src/test/java/org/apache/cloudstack/service/NsxElementTest.java
  plugins/network-elements/nsx/src/test/java/org/apache/cloudstack/service/NsxGuestNetworkGuruTest.java
  plugins/network-elements/nsx/src/test/java/org/apache/cloudstack/service/NsxProviderServiceImplTest.java
  plugins/network-elements/nsx/src/test/java/org/apache/cloudstack/service/NsxServiceImplTest.java
  vmware-base/src/test/java/com/cloud/hypervisor/vmware/mo/HypervisorHostHelperTest.java
Labels: component:vmware, component:networking, component:compute, component:orchestration

#6863 Add option to define password during password reset
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/ResetVMPasswordCmd.java
  ui/src/config/section/compute.js
Labels: component:api, component:UI

#8019 Update pom.xml reflections version
  pom.xml
Labels: component:build

#8031 Snapshot removal and storage cleanup logs
  engine/storage/snapshot/src/main/java/org/apache/cloudstack/storage/snapshot/SnapshotServiceImpl.java
  server/src/main/java/com/cloud/storage/StorageManagerImpl.java
Labels: component:storage

#8097 test,refactor: fix test_project_resources cleanup
  test/integration/component/test_project_resources.py
Labels: component:api, Python, component:agent, component:build, component:integration-test, component:integration

#8082 linstor: Fix template volume missing on copy node
  plugins/storage/volume/linstor/src/main/java/com/cloud/hypervisor/kvm/storage/LinstorStorageAdaptor.java
Labels: component:primary-storage, component:storage, status:needs-3rdparty-components

#8057 Fix UUID for child datastores in all cases
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/resource/VmwareResource.java
Labels: component:vmware

#8076 ui: add action to delete traffic type
  ui/public/locales/en.json
  ui/src/views/infra/network/TrafficTypesTab.vue
Labels: component:UI

#7804 pre-commit: standardize more line endings to `lf`
  .pre-commit-config.yaml
  engine/schema/src/main/resources/META-INF/db/schema-302to303.sql
  engine/schema/src/main/resources/META-INF/db/schema-304to305.sql
  engine/service/src/main/webapp/index.jsp
  plugins/hypervisors/hyperv/DotNet/ServerResource/.nuget/NuGet.Config
  plugins/hypervisors/hyperv/DotNet/ServerResource/.nuget/NuGet.targets
  plugins/hypervisors/hyperv/DotNet/ServerResource/HypervResource/HypervResource.csproj
  plugins/hypervisors/hyperv/DotNet/ServerResource/ServerResource.Tests/ServerResource.Tests.csproj
  plugins/hypervisors/hyperv/DotNet/ServerResource/WmiWrappers/WmiWrappers.csproj
  server/src/test/resources/db.properties
  test/metadata/func/commands
  test/metadata/func/error_events.properties
  test/metadata/func/regression_events.properties
  tools/eclipse/eclipse.epf
Labels: component:hyperv

#8101 Fix VM snapshot size during storage capacity check
  engine/schema/src/main/java/com/cloud/storage/dao/VolumeDaoImpl.java
Labels: status:needs-testing, component:storage

#8104 test: add test for standalone snapshot
  test/integration/smoke/test_snapshots.py
Labels: Python, component:integration-test

#8114 linstor: fix template copy on non hyperconverged setups
  plugins/storage/volume/linstor/src/main/java/com/cloud/hypervisor/kvm/storage/LinstorStorageAdaptor.java
Labels: component:primary-storage, component:storage, status:needs-3rdparty-components

#8119 ui: correctly show volume physical size
  ui/src/components/view/ListView.vue
  ui/src/config/section/storage.js
Labels: component:UI

#8096 marvin,test: fix directdownload template checksum test
  test/integration/smoke/test_templates.py
  tools/marvin/marvin/lib/base.py
Labels: Python, component:marvin, component:integration-test

#8118 ui: fix bulk delete template from zones
  ui/src/views/image/TemplateZones.vue
Labels: component:UI

#7974 Fix templates and ISOs listing pagination
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  server/src/main/java/com/cloud/api/query/dao/TemplateJoinDao.java
  server/src/main/java/com/cloud/api/query/dao/TemplateJoinDaoImpl.java
  server/src/test/java/com/cloud/api/query/QueryManagerImplTest.java
Labels: component:api, component:agent, component:build, status:needs-testing, component:integration

#7859 server: set Default NIC when VM has no default NIC
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestrator.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/views/tools/ImportUnmanagedInstance.vue
Labels: component:UI, Severity:Minor, component:orchestration

#8110 NSX: Refactor Network & VPC offering
  api/src/main/java/com/cloud/network/vpc/VpcOffering.java
  api/src/main/java/com/cloud/network/vpc/VpcProvisioningService.java
  api/src/main/java/com/cloud/offering/NetworkOffering.java
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/network/CreateNetworkOfferingCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/vpc/CreateVPCOfferingCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/NetworkOfferingResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/VpcOfferingResponse.java
  api/src/test/java/org/apache/cloudstack/api/command/admin/vpc/CreateVPCOfferingCmdTest.java
  engine/components-api/src/main/java/com/cloud/configuration/ConfigurationManager.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestrator.java
  engine/schema/src/main/java/com/cloud/network/vpc/VpcOfferingVO.java
  engine/schema/src/main/java/com/cloud/offerings/NetworkOfferingVO.java
  engine/schema/src/main/resources/META-INF/db/schema-41810to41900.sql
  plugins/network-elements/juniper-contrail/src/main/java/org/apache/cloudstack/network/contrail/management/ContrailManagerImpl.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxElement.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxGuestNetworkGuru.java
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  server/src/main/java/com/cloud/api/query/dao/VpcOfferingJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/vo/NetworkOfferingJoinVO.java
  server/src/main/java/com/cloud/api/query/vo/VpcOfferingJoinVO.java
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  server/src/main/java/com/cloud/network/vpc/VpcManagerImpl.java
  server/src/main/java/com/cloud/server/ConfigurationServerImpl.java
  server/src/test/java/com/cloud/vpc/MockConfigurationManagerImpl.java
  server/src/test/java/org/apache/cloudstack/networkoffering/CreateNetworkOfferingTest.java
  ui/public/locales/en.json
  ui/src/components/CheckBoxSelectPair.vue
  ui/src/components/view/DetailsTab.vue
  ui/src/config/section/offering.js
  ui/src/views/offering/AddNetworkOffering.vue
  ui/src/views/offering/AddVpcOffering.vue
Labels: component:management-server, component:vmware, component:vpc, component:api, component:networking, component:UI, component:compute, component:build, component:orchestration

#8132 [NSX] Allow NSX isolated networks
  api/src/main/java/com/cloud/offering/NetworkOffering.java
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/agent/api/CreateNsxTier1GatewayCommand.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/agent/api/DeleteNsxTier1GatewayCommand.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/resource/NsxResource.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxApiClient.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxElement.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxGuestNetworkGuru.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxServiceImpl.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/utils/NsxControllerUtils.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/utils/NsxHelper.java
  plugins/network-elements/nsx/src/test/java/org/apache/cloudstack/resource/NsxResourceTest.java
  server/src/main/java/com/cloud/server/ConfigurationServerImpl.java
Labels: component:management-server, component:api, component:networking, component:compute, component:orchestration

#8072 UI: Fix deploy VM wizard vApp properties
  ui/src/views/compute/DeployVM.vue
Labels: type:bug, component:UI, status:needs-testing

#8081 Fix EULA section while parsing OVF file
  api/src/main/java/com/cloud/agent/api/storage/OVFHelper.java
  api/src/test/java/com/cloud/agent/api/storage/OVFHelperTest.java
Labels: component:api

#8128 Fix os type response isuserdefined
  api/src/main/java/org/apache/cloudstack/api/response/GuestOSResponse.java
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
Labels: component:api, component:agent, component:build, component:integration

#8126 NSX: Add Step for Adding Public traffic network for NSX During zone creation
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/vlan/CreateVlanIpRangeCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/VlanIpRangeResponse.java
  engine/components-api/src/main/java/com/cloud/configuration/ConfigurationManager.java
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  server/src/main/java/com/cloud/network/NetworkServiceImpl.java
  server/src/main/java/com/cloud/network/router/CommandSetupHelper.java
  server/src/main/java/com/cloud/network/router/NetworkHelperImpl.java
  server/src/main/java/com/cloud/network/router/VpcNetworkHelperImpl.java
  server/src/main/java/com/cloud/network/router/VpcVirtualNetworkApplianceManagerImpl.java
  server/src/test/java/com/cloud/vpc/MockConfigurationManagerImpl.java
  server/src/test/java/org/apache/cloudstack/networkoffering/CreateNetworkOfferingTest.java
  server/src/test/resources/createNetworkOffering.xml
  ui/public/locales/en.json
  ui/src/views/infra/zone/IpAddressRangeForm.vue
  ui/src/views/infra/zone/ZoneWizardLaunchZone.vue
  ui/src/views/infra/zone/ZoneWizardNetworkSetupStep.vue
Labels: component:vpc, component:api, component:networking, component:UI

#8144 dashboard: on admin dashboard use red-dot icon when hosts are in alert
  ui/src/views/dashboard/CapacityDashboard.vue
Labels: component:UI

#7723 Feature: Add support for DRS in a Cluster
  .github/workflows/ci.yml
  api/pom.xml
  api/src/main/java/com/cloud/event/EventTypes.java
  api/src/main/java/com/cloud/server/ManagementService.java
  api/src/main/java/com/cloud/vm/VirtualMachine.java
  api/src/main/java/com/cloud/vm/VmDetailConstants.java
  api/src/main/java/org/apache/cloudstack/affinity/AffinityGroupProcessor.java
  api/src/main/java/org/apache/cloudstack/affinity/AffinityProcessorBase.java
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/cluster/ExecuteClusterDrsPlanCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/cluster/GenerateClusterDrsPlanCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/cluster/ListClusterDrsPlanCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/ClusterDrsPlanMigrationResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/ClusterDrsPlanResponse.java
  api/src/main/java/org/apache/cloudstack/cluster/ClusterDrsAlgorithm.java
  api/src/main/java/org/apache/cloudstack/cluster/ClusterDrsPlan.java
  api/src/main/java/org/apache/cloudstack/cluster/ClusterDrsPlanMigration.java
  api/src/main/java/org/apache/cloudstack/cluster/ClusterDrsService.java
  client/pom.xml
  core/src/main/resources/META-INF/cloudstack/cluster/module.properties
  core/src/main/resources/META-INF/cloudstack/cluster/spring-core-lifecycle-cluster-context-inheritable.xml
  core/src/main/resources/META-INF/cloudstack/core/spring-core-registry-core-context.xml
  engine/schema/src/main/java/org/apache/cloudstack/cluster/ClusterDrsPlanMigrationVO.java
  engine/schema/src/main/java/org/apache/cloudstack/cluster/ClusterDrsPlanVO.java
  engine/schema/src/main/java/org/apache/cloudstack/cluster/dao/ClusterDrsPlanDao.java
  engine/schema/src/main/java/org/apache/cloudstack/cluster/dao/ClusterDrsPlanDaoImpl.java
  engine/schema/src/main/java/org/apache/cloudstack/cluster/dao/ClusterDrsPlanMigrationDao.java
  engine/schema/src/main/java/org/apache/cloudstack/cluster/dao/ClusterDrsPlanMigrationDaoImpl.java
  engine/schema/src/main/resources/META-INF/cloudstack/core/spring-engine-schema-core-daos-context.xml
  engine/schema/src/main/resources/META-INF/db/schema-41810to41900.sql
  plugins/affinity-group-processors/explicit-dedication/src/main/java/org/apache/cloudstack/affinity/ExplicitDedicationProcessor.java
  plugins/affinity-group-processors/host-affinity/src/main/java/org/apache/cloudstack/affinity/HostAffinityProcessor.java
  plugins/affinity-group-processors/host-affinity/src/test/java/org/apache/cloudstack/affinity/HostAffinityProcessorTest.java
  plugins/affinity-group-processors/host-anti-affinity/src/main/java/org/apache/cloudstack/affinity/HostAntiAffinityProcessor.java
  plugins/affinity-group-processors/non-strict-host-affinity/src/main/java/org/apache/cloudstack/affinity/NonStrictHostAffinityProcessor.java
  plugins/drs/cluster/balanced/pom.xml
  plugins/drs/cluster/balanced/src/main/java/org/apache/cloudstack/cluster/Balanced.java
  plugins/drs/cluster/balanced/src/main/resources/META-INF/cloudstack/balanced/module.properties
  plugins/drs/cluster/balanced/src/main/resources/META-INF/cloudstack/balanced/spring-balanced-context.xml
  plugins/drs/cluster/balanced/src/test/java/org/apache/cloudstack/cluster/BalancedTest.java
  plugins/drs/cluster/condensed/pom.xml
  plugins/drs/cluster/condensed/src/main/java/org/apache/cloudstack/cluster/Condensed.java
  plugins/drs/cluster/condensed/src/main/resources/META-INF/cloudstack/condensed/module.properties
  plugins/drs/cluster/condensed/src/main/resources/META-INF/cloudstack/condensed/spring-condensed-context.xml
  plugins/drs/cluster/condensed/src/test/java/org/apache/cloudstack/cluster/CondensedTest.java
  plugins/pom.xml
  server/src/main/java/com/cloud/api/ApiDBUtils.java
  server/src/main/java/com/cloud/api/query/dao/UserVmJoinDao.java
  server/src/main/java/com/cloud/api/query/dao/UserVmJoinDaoImpl.java
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
  server/src/main/java/org/apache/cloudstack/cluster/ClusterDrsServiceImpl.java
  server/src/main/resources/META-INF/cloudstack/core/spring-server-core-managers-context.xml
  server/src/test/java/org/apache/cloudstack/cluster/ClusterDrsServiceImplTest.java
  test/integration/smoke/test_cluster_drs.py
  tools/marvin/marvin/lib/base.py
  ui/public/locales/en.json
  ui/src/components/view/DedicateData.vue
  ui/src/config/section/infra/clusters.js
  ui/src/views/infra/ClusterDRSTab.vue
Labels: component:api, component:UI, Python, type:new-feature, component:build, component:integration-test, component:integration

#8012 Use UserVmDao for listVirtualMachines API to increase performance
  framework/db/src/main/java/com/cloud/utils/db/GenericDaoBase.java
  framework/db/src/test/java/com/cloud/utils/db/GenericDaoBaseTest.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
Labels: component:api, component:database

#8117 Create snapshot from VM snapshot without memory for NFS/Local storage
  api/src/main/java/com/cloud/storage/Snapshot.java
  engine/storage/datamotion/src/main/java/org/apache/cloudstack/storage/motion/AncientDataMotionStrategy.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStorageProcessor.java
  server/src/main/java/com/cloud/storage/snapshot/SnapshotManagerImpl.java
Labels: component:kvm, component:api, component:storage

#8150 Fixup updateSnapshotInfo failure due to forward merging
  server/src/main/java/com/cloud/storage/snapshot/SnapshotManagerImpl.java
  server/src/test/java/com/cloud/storage/snapshot/SnapshotManagerImplTest.java
Labels: Severity:BLOCKER, component:storage

#8089 Fix failure on agent reconnection
  agent/src/main/java/com/cloud/agent/Agent.java
  core/src/main/java/com/cloud/agent/api/PingAnswer.java
  engine/orchestration/src/main/java/com/cloud/agent/manager/AgentManagerImpl.java
  test/integration/smoke/test_host_ping.py
Labels: component:api, Python, component:agent, component:orchestration, component:integration-test

#8060 Fix allignment on layout on right panel
  ui/src/components/view/SearchView.vue
  ui/src/views/AutogenView.vue
Labels: component:UI

#8131 NSX: Create and Delete static NAT & Port forward rules
  api/src/main/java/org/apache/cloudstack/api/command/admin/network/CreateNetworkOfferingCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/vpc/CreateVPCOfferingCmd.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/agent/api/CreateNsxPortForwardRuleCommand.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/agent/api/CreateNsxStaticNatCommand.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/agent/api/DeleteNsxNatRuleCommand.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/agent/api/NsxNetworkCommand.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/resource/NsxNetworkRule.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/resource/NsxResource.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxApiClient.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxElement.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxServiceImpl.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/utils/NsxControllerUtils.java
  server/src/main/java/com/cloud/server/ConfigurationServerImpl.java
Labels: component:management-server, component:vpc, component:api, component:networking

#8161 Nsx add lb rule
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/agent/api/CreateNsxLoadBalancerRuleCommand.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/agent/api/DeleteNsxLoadBalancerRuleCommand.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/agent/api/NsxNetworkCommand.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/resource/NsxLoadBalancerMember.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/resource/NsxNetworkRule.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/resource/NsxResource.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxApiClient.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxElement.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxServiceImpl.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/utils/NsxControllerUtils.java
  server/src/main/java/com/cloud/server/ConfigurationServerImpl.java
Labels: component:management-server, component:networking

#8100 [NSX] Add SNAT support
  api/src/main/java/com/cloud/network/NetworkService.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestrator.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/agent/api/CreateNsxTier1GatewayCommand.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/agent/api/CreateNsxTier1NatRuleCommand.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/resource/NsxResource.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxApiClient.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxElement.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxPublicNetworkGuru.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxService.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxServiceImpl.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/utils/NsxControllerUtils.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/utils/NsxHelper.java
  plugins/network-elements/nsx/src/main/resources/META-INF/cloudstack/nsx/spring-nsx-context.xml
  plugins/network-elements/nsx/src/test/java/org/apache/cloudstack/resource/NsxResourceTest.java
  plugins/network-elements/nsx/src/test/java/org/apache/cloudstack/service/NsxElementTest.java
  plugins/network-elements/nsx/src/test/java/org/apache/cloudstack/service/NsxServiceImplTest.java
  server/src/main/java/com/cloud/network/NetworkServiceImpl.java
  server/src/main/java/com/cloud/network/guru/PublicNetworkGuru.java
  server/src/main/java/com/cloud/network/vpc/VpcManagerImpl.java
  server/src/test/java/com/cloud/vpc/MockNetworkManagerImpl.java
Labels: component:vpc, component:api, component:networking, component:orchestration

#7996 Oauth2 integration with CloudStack
  api/src/main/java/com/cloud/user/AccountService.java
  api/src/main/java/com/cloud/user/User.java
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/command/user/ssh/CreateSSHKeyPairCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/userdata/ListUserDataCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/userdata/RegisterUserDataCmd.java
  api/src/main/java/org/apache/cloudstack/auth/UserOAuth2Authenticator.java
  client/pom.xml
  core/src/main/resources/META-INF/cloudstack/core/spring-core-registry-core-context.xml
  engine/schema/src/main/java/com/cloud/user/dao/UserAccountDao.java
  engine/schema/src/main/java/com/cloud/user/dao/UserAccountDaoImpl.java
  engine/schema/src/main/resources/META-INF/db/schema-41810to41900.sql
  plugins/network-elements/juniper-contrail/src/test/java/org/apache/cloudstack/network/contrail/management/MockAccountManager.java
  plugins/pom.xml
  plugins/user-authenticators/oauth2/pom.xml
  plugins/user-authenticators/oauth2/src/main/java/org/apache/cloudstack/oauth2/OAuth2AuthManager.java
  plugins/user-authenticators/oauth2/src/main/java/org/apache/cloudstack/oauth2/OAuth2AuthManagerImpl.java
  plugins/user-authenticators/oauth2/src/main/java/org/apache/cloudstack/oauth2/OAuth2UserAuthenticator.java
  plugins/user-authenticators/oauth2/src/main/java/org/apache/cloudstack/oauth2/api/command/DeleteOAuthProviderCmd.java
  plugins/user-authenticators/oauth2/src/main/java/org/apache/cloudstack/oauth2/api/command/ListOAuthProvidersCmd.java
  plugins/user-authenticators/oauth2/src/main/java/org/apache/cloudstack/oauth2/api/command/OauthLoginAPIAuthenticatorCmd.java
  plugins/user-authenticators/oauth2/src/main/java/org/apache/cloudstack/oauth2/api/command/RegisterOAuthProviderCmd.java
  plugins/user-authenticators/oauth2/src/main/java/org/apache/cloudstack/oauth2/api/command/UpdateOAuthProviderCmd.java
  plugins/user-authenticators/oauth2/src/main/java/org/apache/cloudstack/oauth2/api/command/VerifyOAuthCodeAndGetUserCmd.java
  plugins/user-authenticators/oauth2/src/main/java/org/apache/cloudstack/oauth2/api/response/OauthProviderResponse.java
  plugins/user-authenticators/oauth2/src/main/java/org/apache/cloudstack/oauth2/dao/OauthProviderDao.java
  plugins/user-authenticators/oauth2/src/main/java/org/apache/cloudstack/oauth2/dao/OauthProviderDaoImpl.java
  plugins/user-authenticators/oauth2/src/main/java/org/apache/cloudstack/oauth2/github/GithubOAuth2Provider.java
  plugins/user-authenticators/oauth2/src/main/java/org/apache/cloudstack/oauth2/google/GoogleOAuth2Provider.java
  plugins/user-authenticators/oauth2/src/main/java/org/apache/cloudstack/oauth2/vo/OauthProviderVO.java
  plugins/user-authenticators/oauth2/src/main/resources/META-INF/cloudstack/oauth2/module.properties
  plugins/user-authenticators/oauth2/src/main/resources/META-INF/cloudstack/oauth2/spring-oauth2-context.xml
  plugins/user-authenticators/oauth2/src/test/java/org/apache/cloudstack/oauth2/OAuth2AuthManagerImplTest.java
  plugins/user-authenticators/oauth2/src/test/java/org/apache/cloudstack/oauth2/OAuth2UserAuthenticatorTest.java
  plugins/user-authenticators/oauth2/src/test/java/org/apache/cloudstack/oauth2/api/command/DeleteOAuthProviderCmdTest.java
  plugins/user-authenticators/oauth2/src/test/java/org/apache/cloudstack/oauth2/api/command/OauthLoginAPIAuthenticatorCmdTest.java
  plugins/user-authenticators/oauth2/src/test/java/org/apache/cloudstack/oauth2/api/command/RegisterOAuthProviderCmdTest.java
  plugins/user-authenticators/oauth2/src/test/java/org/apache/cloudstack/oauth2/api/command/VerifyOAuthCodeAndGetUserCmdTest.java
  plugins/user-authenticators/oauth2/src/test/java/org/apache/cloudstack/oauth2/google/GoogleOAuth2ProviderTest.java
  server/src/main/java/com/cloud/api/auth/APIAuthenticationManagerImpl.java
  server/src/main/java/com/cloud/user/AccountManagerImpl.java
  server/src/test/java/com/cloud/user/AccountManagerImplTest.java
  server/src/test/java/com/cloud/user/MockAccountManagerImpl.java
  tools/apidoc/gen_toc.py
  ui/package.json
  ui/public/assets/github.svg
  ui/public/assets/google.svg
  ui/public/locales/en.json
  ui/src/api/index.js
  ui/src/components/view/DetailsTab.vue
  ui/src/components/view/ListView.vue
  ui/src/config/router.js
  ui/src/config/section/config.js
  ui/src/permission.js
  ui/src/store/modules/user.js
  ui/src/store/mutation-types.js
  ui/src/views/AutogenView.vue
  ui/src/views/auth/Login.vue
  ui/src/views/dashboard/VerifyOauth.vue
Labels: component:api, component:networking, component:build

#8166 [NSX] Fix for VR public NIC
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxApiClient.java
  server/src/main/java/com/cloud/network/router/VpcVirtualNetworkApplianceManagerImpl.java
Labels: component:vpc, component:networking
