Repository apache/cloudstack, pull requests merged in 2024-03, with the labels that each got.

#8725 engine-schema,test: fix domain reservation searchbuilder, test fixes
  engine/orchestration/src/test/java/com/cloud/vm/VirtualMachineManagerImplTest.java
  engine/schema/src/main/java/org/apache/cloudstack/reservation/dao/ReservationDaoImpl.java
  server/src/test/java/com/cloud/api/query/QueryManagerImplTest.java
Labels: component:orchestration

#8719 server: use ecdsa instead of ed25519 when generate public/private keys
  server/src/main/java/com/cloud/server/ConfigurationServerImpl.java
Labels: component:management-server, Severity:Critical

#8716 [UI] Allow detach ISO from instance toolbar when ISO is attached
  ui/src/config/section/compute.js
Labels: component:UI, Severity:Minor

#8720 kvm: fix NPE while import KVM VMs from other hosts
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtDomainXMLParser.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/LibvirtDomainXMLParserTest.java
Labels: component:kvm

#8230 Display dates in Quota and Usage messages according to the timezone configurations
  engine/schema/src/main/java/com/cloud/usage/UsageVO.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/QuotaAlertManagerImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/QuotaManagerImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/vo/QuotaTariffVO.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/quota/QuotaServiceImpl.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/quota/QuotaServiceImplTest.java
  server/src/main/java/com/cloud/usage/UsageServiceImpl.java
  usage/src/main/java/com/cloud/usage/UsageManagerImpl.java
  usage/src/main/java/com/cloud/usage/parser/IPAddressUsageParser.java
  usage/src/main/java/com/cloud/usage/parser/LoadBalancerUsageParser.java
  usage/src/main/java/com/cloud/usage/parser/NetworkOfferingUsageParser.java
  usage/src/main/java/com/cloud/usage/parser/NetworkUsageParser.java
  usage/src/main/java/com/cloud/usage/parser/PortForwardingUsageParser.java
  usage/src/main/java/com/cloud/usage/parser/SecurityGroupUsageParser.java
  usage/src/main/java/com/cloud/usage/parser/StorageUsageParser.java
  usage/src/main/java/com/cloud/usage/parser/VMInstanceUsageParser.java
  usage/src/main/java/com/cloud/usage/parser/VMSnapshotOnPrimaryParser.java
  usage/src/main/java/com/cloud/usage/parser/VMSnapshotUsageParser.java
  usage/src/main/java/com/cloud/usage/parser/VPNUserUsageParser.java
  usage/src/main/java/com/cloud/usage/parser/VmDiskUsageParser.java
  usage/src/main/java/com/cloud/usage/parser/VolumeUsageParser.java
  utils/src/main/java/com/cloud/utils/DateUtil.java
Labels: component:management-server, component:api, component:usage-server, component:networking, component:quota

#8616 SG: fix SQL exception when add security group rule with allowed account/group
  engine/schema/src/main/java/com/cloud/network/security/dao/SecurityGroupVMMapDaoImpl.java
Labels: component:security-group, component:networking, Severity:Major, status:needs-testing

#8030 Quota tariff events
  api/src/main/java/com/cloud/event/EventTypes.java
  api/src/main/java/org/apache/cloudstack/api/ApiCommandResourceType.java
  api/src/main/java/org/apache/cloudstack/quota/QuotaTariff.java
  framework/db/src/main/java/com/cloud/utils/db/GenericDaoBase.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaTariffDaoImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/vo/QuotaTariffVO.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaTariffCreateCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaTariffDeleteCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaTariffUpdateCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
  ui/src/components/view/SearchView.vue
  ui/src/components/widgets/ResourceLabel.vue
  ui/src/utils/plugins.js
Labels: component:api, component:UI, component:database, component:quota

#8591 [Quota] Update pre-populated Quota tariffs' type
  engine/schema/src/main/java/com/cloud/upgrade/DatabaseUpgradeChecker.java
  engine/schema/src/main/java/com/cloud/upgrade/dao/Upgrade41900to41910.java
  engine/schema/src/main/resources/META-INF/db/schema-41900to41910-cleanup.sql
  engine/schema/src/main/resources/META-INF/db/schema-41900to41910.sql
Labels: component:quota

#8653 Linstor 4.19 fix selecting non enabled hosts
  plugins/storage/volume/linstor/src/main/java/org/apache/cloudstack/storage/datastore/driver/LinstorPrimaryDataStoreDriverImpl.java
  plugins/storage/volume/linstor/src/main/java/org/apache/cloudstack/storage/datastore/util/LinstorUtil.java
Labels: component:primary-storage, component:storage, 3rd-party:linstor

#8070 Fix disk offering override in VM deployment wizard
  ui/src/views/compute/DeployVM.vue
  ui/src/views/compute/wizard/DiskOfferingSelection.vue
Labels: component:UI, Severity:Minor, status:needs-testing

#8302 Fix resource count discrepancies
  api/src/main/java/org/apache/cloudstack/user/ResourceReservation.java
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
  engine/orchestration/src/test/java/com/cloud/vm/VirtualMachineManagerImplTest.java
  engine/schema/src/main/java/com/cloud/storage/VolumeVO.java
  engine/schema/src/main/java/com/cloud/storage/dao/VolumeDaoImpl.java
  engine/schema/src/main/java/com/cloud/vm/dao/UserVmDaoImpl.java
  engine/schema/src/main/java/org/apache/cloudstack/reservation/ReservationVO.java
  engine/schema/src/main/java/org/apache/cloudstack/reservation/dao/ReservationDao.java
  engine/schema/src/main/java/org/apache/cloudstack/reservation/dao/ReservationDaoImpl.java
  engine/schema/src/main/resources/META-INF/db/schema-41900to42000.sql
  server/src/main/java/com/cloud/api/query/vo/UserVmJoinVO.java
  server/src/main/java/com/cloud/resourcelimit/CheckedReservation.java
  server/src/main/java/com/cloud/resourcelimit/ResourceLimitManagerImpl.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/test/java/com/cloud/resourcelimit/CheckedReservationTest.java
  server/src/test/java/com/cloud/resourcelimit/ResourceLimitManagerImplTest.java
  server/src/test/java/com/cloud/user/AccountManagerImplVolumeDeleteEventTest.java
  server/src/test/resources/createNetworkOffering.xml
Labels: component:api, component:agent, component:compute, component:build, component:orchestration, component:storage, component:integration

#8759 VM Import: Use datastore name when datastore path is not set to search for pools on DB
  server/src/main/java/org/apache/cloudstack/vm/UnmanagedVMsManagerImpl.java
Labels: type:bug, component:vmware

#8724 Support KVM storage implementations controlling logical/physical block io size
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtVMDef.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStoragePool.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStorageProcessor.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/LibvirtVMDefTest.java
Labels: component:kvm

#8776 server: update default value of setting 'expose.dns.externally' to 'false"
  server/src/main/java/com/cloud/network/router/VirtualNetworkApplianceManager.java
Labels: type:bug, component:networking, Severity:Critical

#8766 Add autofocus to input in the 2FA screen
  ui/src/views/dashboard/VerifyTwoFa.vue
Labels: component:UI

#8650 Fix 404 when moving a VM to out of a project
  ui/src/views/compute/AssignInstance.vue
Labels: component:UI

#8307 Quota email configuration
  engine/schema/src/main/resources/META-INF/db/schema-41900to42000.sql
  framework/quota/src/main/java/org/apache/cloudstack/quota/QuotaAlertManager.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/QuotaAlertManagerImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/QuotaStatementImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/constant/QuotaConfig.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaEmailConfigurationDao.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaEmailConfigurationDaoImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaEmailTemplatesDao.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaEmailTemplatesDaoImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/vo/QuotaEmailConfigurationVO.java
  framework/quota/src/main/resources/META-INF/cloudstack/quota/spring-framework-quota-context.xml
  framework/quota/src/test/java/org/apache/cloudstack/quota/QuotaAlertManagerImplTest.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/QuotaStatementTest.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaConfigureEmailCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaListEmailConfigurationCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaConfigureEmailResponse.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilder.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/quota/QuotaServiceImpl.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImplTest.java
Labels: component:quota

#8762 storage,plugins: delegate allow zone-wide volume migration check and access grant check to storage drivers
  engine/api/src/main/java/org/apache/cloudstack/engine/subsystem/api/storage/PrimaryDataStoreDriver.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/VolumeOrchestrator.java
  engine/orchestration/src/test/java/org/apache/cloudstack/engine/orchestration/VolumeOrchestratorTest.java
  plugins/storage/volume/datera/src/main/java/org/apache/cloudstack/storage/datastore/driver/DateraPrimaryDataStoreDriver.java
  plugins/storage/volume/nexenta/src/main/java/org/apache/cloudstack/storage/datastore/driver/NexentaPrimaryDataStoreDriver.java
  plugins/storage/volume/scaleio/src/main/java/org/apache/cloudstack/storage/datastore/driver/ScaleIOPrimaryDataStoreDriver.java
  plugins/storage/volume/solidfire/src/main/java/org/apache/cloudstack/storage/datastore/driver/SolidFirePrimaryDataStoreDriver.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
  server/src/test/java/com/cloud/server/ManagementServerImplTest.java
Labels: component:management-server, component:primary-storage, component:orchestration, component:solidfire, component:storage

#8321 Use join instead of views
  api/src/main/java/com/cloud/offering/ServiceOffering.java
  api/src/main/java/org/apache/cloudstack/acl/RoleService.java
  api/src/main/java/org/apache/cloudstack/api/InternalIdentity.java
  engine/schema/src/main/java/com/cloud/service/ServiceOfferingVO.java
  engine/schema/src/main/java/org/apache/cloudstack/acl/dao/RoleDao.java
  engine/schema/src/main/java/org/apache/cloudstack/acl/dao/RoleDaoImpl.java
  engine/schema/src/main/java/org/apache/cloudstack/resourcedetail/DiskOfferingDetailVO.java
  engine/schema/src/main/java/org/apache/cloudstack/storage/datastore/db/ImageStoreDao.java
  engine/schema/src/main/java/org/apache/cloudstack/storage/datastore/db/ImageStoreDaoImpl.java
  engine/schema/src/main/java/org/apache/cloudstack/storage/datastore/db/PrimaryDataStoreDao.java
  engine/schema/src/main/java/org/apache/cloudstack/storage/datastore/db/PrimaryDataStoreDaoImpl.java
  engine/schema/src/main/resources/META-INF/db/views/cloud.service_offering_view.sql
  framework/db/src/main/java/com/cloud/utils/db/Attribute.java
  framework/db/src/main/java/com/cloud/utils/db/GenericDao.java
  framework/db/src/main/java/com/cloud/utils/db/GenericDaoBase.java
  framework/db/src/main/java/com/cloud/utils/db/GenericSearchBuilder.java
  framework/db/src/main/java/com/cloud/utils/db/JoinBuilder.java
  framework/db/src/main/java/com/cloud/utils/db/SearchBase.java
  framework/db/src/main/java/com/cloud/utils/db/SearchCriteria.java
  framework/db/src/test/java/com/cloud/utils/db/GenericDaoBaseTest.java
  plugins/metrics/src/main/java/org/apache/cloudstack/metrics/MetricsServiceImpl.java
  server/src/main/java/com/cloud/api/ApiDBUtils.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  server/src/main/java/com/cloud/api/query/ViewResponseHelper.java
  server/src/main/java/com/cloud/api/query/dao/AccountJoinDao.java
  server/src/main/java/com/cloud/api/query/dao/AccountJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/dao/DiskOfferingJoinDao.java
  server/src/main/java/com/cloud/api/query/dao/DiskOfferingJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/dao/DomainJoinDao.java
  server/src/main/java/com/cloud/api/query/dao/DomainJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/dao/ServiceOfferingJoinDao.java
  server/src/main/java/com/cloud/api/query/dao/ServiceOfferingJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/dao/StoragePoolJoinDao.java
  server/src/main/java/com/cloud/api/query/dao/StoragePoolJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/dao/TemplateJoinDaoImpl.java
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  server/src/main/java/com/cloud/network/NetworkServiceImpl.java
  server/src/main/java/org/apache/cloudstack/acl/RoleManagerImpl.java
  server/src/test/java/com/cloud/api/query/QueryManagerImplTest.java
  server/src/test/java/com/cloud/network/NetworkServiceImplTest.java
  server/src/test/java/com/cloud/user/MockUsageEventDao.java
Labels: component:api, component:networking, component:database, component:agent, component:build, component:orchestration, distro:ubuntu, status:needs-testing, component:storage, component:integration

#8735 snapshot: don't schedule next snapshot job for a removed volume
  server/src/main/java/com/cloud/storage/snapshot/SnapshotSchedulerImpl.java
Labels: type:bug, status:ready-for-merge, Severity:Critical, component:storage

#8787 VPC VR: fix empty iptables if there is no vpc tier
  systemvm/debian/opt/cloud/bin/setup/postinit.sh
Labels: component:virtual-router, component:networking, Severity:Critical

#8807 UI: Fix Virtual router count in Capacity dashboard
  ui/src/views/dashboard/CapacityDashboard.vue
Labels: type:bug, component:UI

#8772 plugins/pom.xml: build nsx only if noredist is passed
  api/src/main/java/com/cloud/network/element/VpcProvider.java
  client/pom.xml
  plugins/network-elements/juniper-contrail/src/main/java/org/apache/cloudstack/network/contrail/management/ContrailVpcElementImpl.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxElement.java
  plugins/pom.xml
  server/src/main/java/com/cloud/network/NetworkServiceImpl.java
  server/src/main/java/com/cloud/network/element/VpcVirtualRouterElement.java
  server/src/main/java/com/cloud/network/vpc/VpcManagerImpl.java
Labels: component:vpc, component:api, component:networking, component:build

#8814 fix simulator CI failure test_04_list_storage_pools_keyword_filter
  engine/schema/src/main/java/org/apache/cloudstack/storage/datastore/db/PrimaryDataStoreDaoImpl.java
Labels: component:storage

#8698 Fix XenServer nested extra configuration
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/CitrixResourceBase.java
  plugins/hypervisors/xenserver/src/main/java/org/apache/cloudstack/hypervisor/xenserver/ExtraConfigurationUtility.java
Labels: component:XenServer

#8774 Fix spelling in docs and code comments only
  plugins/hypervisors/ovm3/src/test/resources/scripts/create_pool_cluster.py
  server/src/main/java/com/cloud/api/ApiSessionListener.java
  server/src/main/java/com/cloud/network/vpc/NetworkACLManagerImpl.java
  server/src/main/java/com/cloud/resource/ResourceManagerImpl.java
  ui/README.md
  ui/docs/development.md
Labels: component:vpc, component:networking, component:UI, Python

#8656 api,server,ui: add project ID and name to UserDataResponse
  api/src/main/java/org/apache/cloudstack/api/response/UserDataResponse.java
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  ui/src/config/section/compute.js
  ui/src/views/AutogenView.vue
Labels: component:api, component:UI

#8777 Fix missing actions on Guest IP ranges for networks
  ui/src/views/network/GuestIpRanges.vue
Labels: component:UI

#8679 Show network metrics for System VMs
  ui/src/components/view/StatsTab.vue
Labels: component:UI

#8829 Normalize characters with diacritics in the Brazilian Portuguese locale
  ui/public/locales/pt_BR.json
Labels: component:UI
