Repository apache/cloudstack, pull requests merged in 2024-09, with the labels that each got.

#9617 Fixed incorrect label in VRs and SVMs
  ui/src/components/view/InfoCard.vue
Labels: component:UI

#9573 Fix VGPU available devices listing
  framework/db/src/main/java/com/cloud/utils/db/Filter.java
  server/src/main/java/com/cloud/resource/ResourceManagerImpl.java
Labels: type:bug, component:management-server, component:vpc, component:networking, component:database, status:needs-testing, component:quota, status:needs-review

#9627 Update Debian version to 12 in systemvm welcome message
  tools/appliance/systemvmtemplate/scripts/configure_systemvm_services.sh
Labels: component:templates, systemvm-template-change

#9560 linstor: set/unset allow-two-primaries and protocol on rc level
  plugins/storage/volume/linstor/CHANGELOG.md
  plugins/storage/volume/linstor/src/main/java/com/cloud/hypervisor/kvm/storage/LinstorStorageAdaptor.java
  plugins/storage/volume/linstor/src/main/java/org/apache/cloudstack/storage/datastore/util/LinstorUtil.java
Labels: component:primary-storage, component:storage, 3rd-party:linstor

#9610 engine-orchestration: fix issue for empty product in vm metadata
  engine/api/src/main/java/com/cloud/vm/VirtualMachineManager.java
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
  engine/orchestration/src/test/java/com/cloud/vm/VirtualMachineManagerImplTest.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtVMDef.java
Labels: component:kvm, Severity:BLOCKER, component:compute, component:orchestration

#9625 SystemVM template changes - updated debian version & other changes
  systemvm/debian/opt/cloud/bin/setup/init.sh
  tools/appliance/build.sh
  tools/appliance/systemvmtemplate/scripts/configure_grub.sh
  tools/appliance/systemvmtemplate/template-base_aarch64-target_aarch64.json
  tools/appliance/systemvmtemplate/template-base_x86_64-target_aarch64.json
  tools/appliance/systemvmtemplate/template-base_x86_64-target_x86_64.json
Labels: component:virtual-router, component:networking, component:templates, systemvm-template-change

#9616 Add minimum details parameter to Search View's listDomains
  ui/src/components/view/SearchView.vue
Labels: component:UI

#9578 server: fix stopped vm volume migration check on local volume attach
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
Labels: component:storage

#9568 VR: remove vpn user info when apply vpn users list
  systemvm/debian/opt/cloud/bin/cs/CsFile.py
  systemvm/debian/opt/cloud/bin/cs_vpnusers.py
Labels: component:virtual-router, component:networking, Python

#9567 Add validation for secstorage.allowed.internal.sites
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  services/secondary-storage/controller/src/main/java/org/apache/cloudstack/secondarystorage/SecondaryStorageManagerImpl.java
  ui/src/views/setting/ConfigurationValue.vue
  utils/src/main/java/com/cloud/utils/net/NetUtils.java
  utils/src/test/java/com/cloud/utils/net/NetUtilsTest.java
Labels: component:secondary-storage, component:ssvm, component:UI

#9206 storage: fix private templates are not copied to new image store
  engine/storage/image/src/main/java/org/apache/cloudstack/storage/image/TemplateServiceImpl.java
Labels: component:storage

#8958 Update en.json
  ui/public/locales/en.json
Labels: component:UI

#7610 Notify users when upgrades are available or restart is required for network or VPC
  ui/package.json
  ui/public/locales/en.json
  ui/src/components/header/HeaderNotice.vue
  ui/src/components/page/GlobalFooter.vue
  ui/src/components/view/ListView.vue
  ui/src/components/view/SearchView.vue
  ui/src/config/section/network.js
  ui/src/store/getters.js
  ui/src/store/modules/user.js
  ui/src/store/mutation-types.js
  ui/src/utils/util.js
Labels: status:waiting-for-author, component:networking, component:UI

#9632 linstor: update java-linstor dependency to 0.5.2
  pom.xml
Labels: component:build, 3rd-party:linstor

#9634 UI: list vms with details=min when attach a volume to vm
  ui/src/views/storage/AttachVolume.vue
Labels: component:UI

#9591 [VMware] Add support for VMware 8.0u2 (8.0.2.x) and 8.0u3 (8.0.3.x)
  engine/schema/src/main/resources/META-INF/db/schema-41910to42000.sql
Labels: component:virtual-router, component:networking, component:templates, systemvm-template-change

#9628 framework/config,server: configkey caching
  engine/orchestration/src/test/java/com/cloud/vm/VirtualMachineManagerImplTest.java
  engine/schema/src/main/java/com/cloud/dc/ClusterDetailsDaoImpl.java
  engine/schema/src/main/java/com/cloud/dc/dao/DataCenterDetailsDaoImpl.java
  engine/schema/src/main/java/com/cloud/domain/dao/DomainDetailsDaoImpl.java
  engine/schema/src/main/java/com/cloud/storage/dao/StoragePoolDetailsDaoImpl.java
  engine/schema/src/main/java/com/cloud/user/AccountDetailsDaoImpl.java
  engine/schema/src/main/java/org/apache/cloudstack/storage/datastore/db/ImageStoreDetailsDaoImpl.java
  framework/config/src/main/java/org/apache/cloudstack/framework/config/ConfigDepot.java
  framework/config/src/main/java/org/apache/cloudstack/framework/config/ConfigKey.java
  framework/config/src/main/java/org/apache/cloudstack/framework/config/ScopedConfigStorage.java
  framework/config/src/main/java/org/apache/cloudstack/framework/config/impl/ConfigDepotImpl.java
  framework/config/src/test/java/org/apache/cloudstack/framework/config/impl/ConfigDepotImplTest.java
  pom.xml
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  server/src/test/java/com/cloud/vm/FirstFitPlannerTest.java
  ui/public/locales/en.json
  ui/src/components/view/ListView.vue
  ui/src/components/view/SettingsTab.vue
  ui/src/views/setting/ConfigurationValue.vue
Labels: component:UI, component:build, component:orchestration, component:storage

#9518 framework/db: use HikariCP as default and improvements
  client/conf/db.properties.in
  developer/pom.xml
  engine/schema/src/main/java/com/cloud/upgrade/DatabaseCreator.java
  engine/storage/snapshot/pom.xml
  framework/db/pom.xml
  framework/db/src/main/java/com/cloud/utils/db/ConnectionConcierge.java
  framework/db/src/main/java/com/cloud/utils/db/TransactionLegacy.java
  plugins/network-elements/globodns/pom.xml
  plugins/network-elements/tungsten/pom.xml
  pom.xml
  server/pom.xml
  usage/conf/db.properties.in
Labels: component:ipv6, component:usage-server, component:networking, component:database, component:build, component:storage

#9449 Display associated resource name on storage pools objects
  api/src/main/java/org/apache/cloudstack/storage/browser/DataStoreObjectResponse.java
  server/src/main/java/org/apache/cloudstack/storage/browser/StorageBrowserImpl.java
  ui/src/views/infra/StorageBrowser.vue
Labels: component:api, component:UI, component:storage

#9569 Global setting to allow/disallow users to force stop a vm
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/command/user/config/ListCapabilitiesCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/CapabilitiesResponse.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
  server/src/main/java/com/cloud/vm/UserVmManager.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  ui/src/config/section/compute.js
Labels: component:management-server, component:api, component:UI

#9543 Added update, enable, disable events to the updateStoragePool API
  api/src/main/java/com/cloud/event/EventTypes.java
  api/src/main/java/com/cloud/storage/StorageService.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/storage/UpdateStoragePoolCmd.java
  server/src/main/java/com/cloud/storage/StorageManagerImpl.java
Labels: component:api, component:storage

#8925 Go back to previous timestamp on logging
  agent/conf/log4j-cloud.xml.in
  client/conf/log4j-cloud.xml.in
  plugins/hypervisors/hyperv/conf/log4j-cloud.xml.in
  plugins/user-authenticators/ldap/src/test/resources/log4j.xml
  server/conf/log4j-cloud.xml.in
  usage/conf/log4j-cloud_usage.xml.in
  utils/src/test/resources/log4j.xml
Labels: component:usage-server, component:logging, component:agent, component:LDAP, component:hyperv

#9624 propagate sort order through retrieval sequence
  engine/schema/src/main/java/com/cloud/storage/dao/DiskOfferingDaoImpl.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  server/src/main/java/com/cloud/api/query/dao/DiskOfferingJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/dao/ServiceOfferingJoinDao.java
  server/src/main/java/com/cloud/api/query/dao/ServiceOfferingJoinDaoImpl.java
  ui/src/components/view/ListView.vue
  ui/src/views/AutogenView.vue
Labels: component:UI, type:regression, component:storage

#9415 Shared Network Firewall (Security groups) in Advanced zone without security groups
  api/src/main/java/com/cloud/network/NetworkModel.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/AddIpToVmNicCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/RemoveIpFromVmNicCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/ZoneResponse.java
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/discoverer/XcpServerDiscoverer.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterResourceModifierActionWorker.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterStartWorker.java
  server/src/main/java/com/cloud/network/NetworkModelImpl.java
  server/src/main/java/com/cloud/network/as/AutoScaleManagerImpl.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/main/java/org/apache/cloudstack/storage/template/VnfTemplateManagerImpl.java
  server/src/test/java/com/cloud/network/MockNetworkModelImpl.java
  server/src/test/java/com/cloud/network/as/AutoScaleManagerImplTest.java
  server/src/test/java/com/cloud/vpc/MockNetworkModelImpl.java
  services/secondary-storage/controller/src/test/java/org/apache/cloudstack/secondarystorage/SecondaryStorageManagerTest.java
  test/integration/component/test_advancedsg_networks.py
  test/integration/component/test_security_groups.py
  ui/public/locales/en.json
  ui/src/config/section/network.js
  ui/src/store/getters.js
  ui/src/store/modules/user.js
  ui/src/store/mutation-types.js
  ui/src/views/compute/DeployVM.vue
  ui/src/views/compute/InstanceTab.vue
  ui/src/views/compute/wizard/SecurityGroupSelection.vue
  ui/src/views/infra/network/ServiceProvidersTab.vue
Labels: component:XenServer, component:secondary-storage, component:vpc, component:ssvm, component:api, component:networking, component:UI, Python, component:database, component:agent, component:build, component:kubernetes, component:orchestration, distro:ubuntu, component:integration-test, component:storage

#8389 Add support for Ceph RGW Object Store
  api/src/main/java/com/cloud/agent/api/to/BucketTO.java
  client/pom.xml
  engine/api/src/main/java/org/apache/cloudstack/storage/object/ObjectStoreEntity.java
  engine/schema/src/main/java/com/cloud/storage/BucketVO.java
  engine/storage/object/src/main/java/org/apache/cloudstack/storage/object/store/ObjectStoreImpl.java
  engine/storage/src/main/java/org/apache/cloudstack/storage/object/ObjectStoreDriver.java
  plugins/pom.xml
  plugins/storage/object/ceph/pom.xml
  plugins/storage/object/ceph/src/main/java/org/apache/cloudstack/storage/datastore/driver/CephObjectStoreDriverImpl.java
  plugins/storage/object/ceph/src/main/java/org/apache/cloudstack/storage/datastore/lifecycle/CephObjectStoreLifeCycleImpl.java
  plugins/storage/object/ceph/src/main/java/org/apache/cloudstack/storage/datastore/provider/CephObjectStoreProviderImpl.java
  plugins/storage/object/ceph/src/main/resources/META-INF/cloudstack/storage-object-ceph/module.properties
  plugins/storage/object/ceph/src/main/resources/META-INF/cloudstack/storage-object-ceph/spring-storage-object-ceph-context.xml
  plugins/storage/object/ceph/src/test/java/org/apache/cloudstack/storage/datastore/driver/CephObjectStoreDriverImplTest.java
  plugins/storage/object/ceph/src/test/java/org/apache/cloudstack/storage/datastore/provider/CephObjectStoreProviderImplTest.java
  plugins/storage/object/minio/src/main/java/org/apache/cloudstack/storage/datastore/driver/MinIOObjectStoreDriverImpl.java
  plugins/storage/object/minio/src/test/java/org/apache/cloudstack/storage/datastore/driver/MinIOObjectStoreDriverImplTest.java
  plugins/storage/object/simulator/src/main/java/org/apache/cloudstack/storage/datastore/driver/SimulatorObjectStoreDriverImpl.java
  server/src/main/java/com/cloud/storage/StorageManagerImpl.java
  server/src/main/java/org/apache/cloudstack/storage/object/BucketApiServiceImpl.java
  ui/src/views/infra/AddObjectStorage.vue
  utils/src/main/java/com/cloud/utils/UriUtils.java
  utils/src/test/java/com/cloud/utils/UriUtilsTest.java
Labels: component:ceph, component:api, component:UI, component:build, component:storage, component:object-storage

#9451 backup: simple NAS backup plugin for KVM
  api/src/main/java/com/cloud/vm/VirtualMachine.java
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/ResponseGenerator.java
  api/src/main/java/org/apache/cloudstack/api/command/user/backup/ListBackupScheduleCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/backup/repository/AddBackupRepositoryCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/backup/repository/DeleteBackupRepositoryCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/backup/repository/ListBackupRepositoriesCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/BackupRepositoryResponse.java
  api/src/main/java/org/apache/cloudstack/backup/Backup.java
  api/src/main/java/org/apache/cloudstack/backup/BackupManager.java
  api/src/main/java/org/apache/cloudstack/backup/BackupProvider.java
  api/src/main/java/org/apache/cloudstack/backup/BackupRepository.java
  api/src/main/java/org/apache/cloudstack/backup/BackupRepositoryService.java
  client/pom.xml
  core/src/main/java/org/apache/cloudstack/backup/BackupAnswer.java
  core/src/main/java/org/apache/cloudstack/backup/DeleteBackupCommand.java
  core/src/main/java/org/apache/cloudstack/backup/RestoreBackupCommand.java
  core/src/main/java/org/apache/cloudstack/backup/TakeBackupCommand.java
  debian/control
  engine/schema/src/main/java/org/apache/cloudstack/backup/BackupRepositoryVO.java
  engine/schema/src/main/java/org/apache/cloudstack/backup/BackupVO.java
  engine/schema/src/main/java/org/apache/cloudstack/backup/dao/BackupDao.java
  engine/schema/src/main/java/org/apache/cloudstack/backup/dao/BackupDaoImpl.java
  engine/schema/src/main/java/org/apache/cloudstack/backup/dao/BackupRepositoryDao.java
  engine/schema/src/main/java/org/apache/cloudstack/backup/dao/BackupRepositoryDaoImpl.java
  engine/schema/src/main/java/org/apache/cloudstack/backup/dao/BackupScheduleDao.java
  engine/schema/src/main/java/org/apache/cloudstack/backup/dao/BackupScheduleDaoImpl.java
  engine/schema/src/main/resources/META-INF/cloudstack/core/spring-engine-schema-core-daos-context.xml
  engine/schema/src/main/resources/META-INF/db/schema-41910to42000.sql
  packaging/el8/cloud.spec
  plugins/backup/dummy/src/main/java/org/apache/cloudstack/backup/DummyBackupProvider.java
  plugins/backup/nas/pom.xml
  plugins/backup/nas/src/main/java/org/apache/cloudstack/backup/NASBackupProvider.java
  plugins/backup/nas/src/main/java/org/apache/cloudstack/backup/NasBackupOffering.java
  plugins/backup/nas/src/main/resources/META-INF/cloudstack/nas/module.properties
  plugins/backup/nas/src/main/resources/META-INF/cloudstack/nas/spring-backup-nas-context.xml
  plugins/backup/networker/src/main/java/org/apache/cloudstack/backup/NetworkerBackupProvider.java
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/VeeamBackupProvider.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtDeleteBackupCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtRestoreBackupCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtTakeBackupCommandWrapper.java
  plugins/pom.xml
  scripts/vm/hypervisor/kvm/nasbackup.sh
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  server/src/main/java/com/cloud/hypervisor/KVMGuru.java
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  server/src/main/java/org/apache/cloudstack/backup/BackupManagerImpl.java
  server/src/main/java/org/apache/cloudstack/backup/BackupRepositoryServiceImpl.java
  server/src/main/resources/META-INF/cloudstack/core/spring-server-core-managers-context.xml
  server/src/test/java/com/cloud/storage/VolumeApiServiceImplTest.java
  server/src/test/java/org/apache/cloudstack/backup/BackupManagerTest.java
  ui/public/locales/en.json
  ui/src/components/view/ListResourceTable.vue
  ui/src/components/view/ListView.vue
  ui/src/config/section/config.js
  ui/src/config/section/storage.js
  ui/src/views/compute/InstanceTab.vue
  ui/src/views/compute/backup/BackupSchedule.vue
Labels: component:kvm, component:api, component:packaging, component:UI, component:build, distro:ubuntu, component:backup

#9428 Fix root disk resize (not allowed) when service offering has root disk size, only allowed through service offering change
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  server/src/test/java/com/cloud/storage/VolumeApiServiceImplTest.java
Labels: component:storage

#9647 engine/schema: update url links to match new systemvmtemplate names
  engine/schema/pom.xml
  engine/schema/templateConfig.sh
Labels: component:build

#9639 ui: refactor config update/reset notification
  ui/src/components/view/ListView.vue
  ui/src/components/view/SettingsTab.vue
  ui/src/utils/plugins.js
  ui/src/views/setting/ConfigurationValue.vue
Labels: component:UI

#8511 Add logs to `LibvirtComputingResource`'s metrics collection process
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtExtendedVmStatsEntry.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResourceTest.java
Labels: component:kvm, type:cleanup, component:logging, status:needs-testing

#8906 NSX Integration fixes
  api/src/main/java/com/cloud/network/nsx/NsxService.java
  engine/components-api/src/main/java/com/cloud/network/vpc/VpcManager.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestrator.java
  engine/schema/src/main/java/org/apache/cloudstack/resourcedetail/FirewallRuleDetailVO.java
  plugins/affinity-group-processors/host-affinity/src/main/java/org/apache/cloudstack/affinity/HostAffinityProcessor.java
  plugins/affinity-group-processors/host-anti-affinity/src/main/java/org/apache/cloudstack/affinity/HostAntiAffinityProcessor.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterActionWorker.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterResourceModifierActionWorker.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterStartWorker.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/NsxAnswer.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/resource/NsxResource.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxApiClient.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxElement.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxServiceImpl.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/utils/NsxControllerUtils.java
  plugins/network-elements/nsx/src/test/java/org/apache/cloudstack/service/NsxApiClientTest.java
  plugins/network-elements/nsx/src/test/java/org/apache/cloudstack/service/NsxElementTest.java
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  server/src/main/java/com/cloud/network/NetworkServiceImpl.java
  server/src/main/java/com/cloud/network/router/VpcNetworkHelperImpl.java
  server/src/main/java/com/cloud/network/vpc/VpcManagerImpl.java
  server/src/main/java/org/apache/cloudstack/network/router/deployment/VpcRouterDeploymentDefinition.java
  server/src/test/java/org/apache/cloudstack/network/router/deployment/VpcRouterDeploymentDefinitionTest.java
  ui/src/views/network/CreateSharedNetworkForm.vue
Labels: component:vpc, component:api, component:networking, component:UI, component:kubernetes, component:orchestration

#9528 Linstor: Fix migrate primary storage
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMPhysicalDisk.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStorageProcessor.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/LibvirtStorageAdaptor.java
  plugins/storage/volume/linstor/src/main/java/com/cloud/hypervisor/kvm/storage/LinstorStorageAdaptor.java
  plugins/storage/volume/linstor/src/main/java/org/apache/cloudstack/storage/datastore/driver/LinstorPrimaryDataStoreDriverImpl.java
  plugins/storage/volume/linstor/src/main/java/org/apache/cloudstack/storage/datastore/util/LinstorUtil.java
  plugins/storage/volume/linstor/src/main/java/org/apache/cloudstack/storage/snapshot/LinstorVMSnapshotStrategy.java
Labels: component:kvm, component:primary-storage, status:needs-testing, component:storage

#9652 UI: Fix starting VMs through group action by non-root-admin users
  ui/src/config/section/compute.js
Labels: component:UI

#9633 Feature: Allow adding delete protection for VMs & volumes
  api/src/main/java/com/cloud/storage/Volume.java
  api/src/main/java/com/cloud/storage/VolumeApiService.java
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/UpdateVMCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/volume/UpdateVolumeCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/UserVmResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/VolumeResponse.java
  engine/schema/src/main/java/com/cloud/storage/VolumeVO.java
  engine/schema/src/main/java/com/cloud/vm/VMInstanceVO.java
  engine/schema/src/main/java/com/cloud/vm/dao/UserVmDao.java
  engine/schema/src/main/java/com/cloud/vm/dao/UserVmDaoImpl.java
  engine/schema/src/main/resources/META-INF/db/schema-41910to42000.sql
  engine/schema/src/main/resources/META-INF/db/views/cloud.user_vm_view.sql
  engine/schema/src/main/resources/META-INF/db/views/cloud.volume_view.sql
  engine/storage/volume/src/main/java/org/apache/cloudstack/storage/volume/VolumeObject.java
  server/src/main/java/com/cloud/api/query/dao/UserVmJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/dao/VolumeJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/vo/UserVmJoinVO.java
  server/src/main/java/com/cloud/api/query/vo/VolumeJoinVO.java
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  server/src/main/java/com/cloud/vm/UserVmManager.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/test/java/com/cloud/vm/UserVmManagerImplTest.java
  test/integration/smoke/test_vm_life_cycle.py
  test/integration/smoke/test_volumes.py
  tools/marvin/marvin/lib/base.py
  ui/public/locales/en.json
  ui/src/config/section/compute.js
  ui/src/config/section/storage.js
  ui/src/views/compute/EditVM.vue
Labels: component:api, component:UI, Python, component:marvin, status:needs-testing, component:integration-test, component:storage

#9461 Restore listNetworks behavior & clean up the code
  server/src/main/java/com/cloud/network/NetworkServiceImpl.java
Labels: component:networking, status:needs-testing

#8924 Add logs to CPVM connection process
  server/src/main/java/com/cloud/servlet/ConsoleProxyClientParam.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/AjaxFIFOImageCache.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/ConsoleProxy.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/ConsoleProxyAjaxHandler.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/ConsoleProxyAjaxImageHandler.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/ConsoleProxyBaseServerFactoryImpl.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/ConsoleProxyClientParam.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/ConsoleProxyCmdHandler.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/ConsoleProxyHttpHandlerHelper.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/ConsoleProxyLoggerFactory.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/ConsoleProxyMonitor.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/ConsoleProxyNoVNCHandler.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/ConsoleProxyNoVNCServer.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/ConsoleProxyNoVncClient.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/ConsoleProxyResourceHandler.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/ConsoleProxyThumbnailHandler.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/rdp/RdpBufferedImageCanvas.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/util/Logger.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/util/LoggerFactory.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/util/RawHTTP.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/vnc/BufferedImageCanvas.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/vnc/NoVncClient.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/vnc/VncClient.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/vnc/VncClientPacketSender.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/vnc/VncServerPacketReceiver.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/vnc/packet/server/AbstractRect.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/vnc/packet/server/ServerCutText.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/vnc/security/VncAuthSecurity.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/vnc/security/VncTLSSecurity.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/websocket/WebSocketReverseProxy.java
Labels: component:console-proxy, component:logging

#9566 Allow more generic searches of ACLs
  server/src/main/java/com/cloud/network/vpc/NetworkACLServiceImpl.java
  ui/src/views/network/AclListRulesTab.vue
Labels: component:vpc, component:networking, component:UI

#9188 Enhance the `listAffinityGroups` API by adding the dedicated resources related to an affinity group
  api/src/main/java/com/cloud/dc/DedicatedResources.java
  api/src/main/java/org/apache/cloudstack/affinity/AffinityGroupResponse.java
  api/src/main/java/org/apache/cloudstack/dedicated/DedicatedResourceResponse.java
  plugins/dedicated-resources/src/main/java/org/apache/cloudstack/dedicated/DedicatedResourceManagerImpl.java
  server/src/main/java/com/cloud/api/query/dao/AffinityGroupJoinDaoImpl.java
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/components/view/DetailsTab.vue
  ui/src/config/section/compute.js
Labels: component:api, component:UI

#9509 Feature: Forgot password
  api/src/main/java/org/apache/cloudstack/api/ApiServerService.java
  api/src/main/java/org/apache/cloudstack/api/auth/APIAuthenticationType.java
  engine/schema/src/main/java/com/cloud/user/UserAccountVO.java
  engine/schema/src/main/java/org/apache/cloudstack/resourcedetail/UserDetailVO.java
  plugins/network-elements/juniper-contrail/src/test/java/org/apache/cloudstack/network/contrail/management/MockAccountManager.java
  pom.xml
  server/pom.xml
  server/src/main/java/com/cloud/api/ApiServer.java
  server/src/main/java/com/cloud/api/auth/APIAuthenticationManagerImpl.java
  server/src/main/java/com/cloud/api/auth/DefaultForgotPasswordAPIAuthenticatorCmd.java
  server/src/main/java/com/cloud/api/auth/DefaultResetPasswordAPIAuthenticatorCmd.java
  server/src/main/java/com/cloud/user/AccountManager.java
  server/src/main/java/com/cloud/user/AccountManagerImpl.java
  server/src/main/java/org/apache/cloudstack/user/UserPasswordResetManager.java
  server/src/main/java/org/apache/cloudstack/user/UserPasswordResetManagerImpl.java
  server/src/main/resources/META-INF/cloudstack/core/spring-server-core-managers-context.xml
  server/src/test/java/com/cloud/api/ApiServerTest.java
  server/src/test/java/com/cloud/user/AccountManagerImplTest.java
  server/src/test/java/com/cloud/user/MockAccountManagerImpl.java
  server/src/test/java/org/apache/cloudstack/user/UserPasswordResetManagerImplTest.java
  tools/apidoc/gen_toc.py
  ui/public/locales/en.json
  ui/src/config/router.js
  ui/src/permission.js
  ui/src/utils/request.js
  ui/src/views/auth/ForgotPassword.vue
  ui/src/views/auth/Login.vue
  ui/src/views/auth/ResetPassword.vue
  utils/src/main/java/org/apache/cloudstack/utils/mailing/SMTPMailSender.java
Labels: component:api, component:networking, component:UI, Python, component:build

#9662 Host capacity calculation: use VM creation time if update time is null.
  server/src/main/java/com/cloud/capacity/CapacityManagerImpl.java
Labels: type:bug

#9585 allow domain suffix update in shared networks
  server/src/main/java/com/cloud/network/NetworkServiceImpl.java
  ui/src/views/network/UpdateNetwork.vue
Labels: component:networking, component:UI

#9663 Provide encryption key for DATA volume type (in addition to ROOT) to copy volume.
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStorageProcessor.java
Labels: type:bug, component:kvm

#9675 Minor naming changes in Shared FileSystems 4.20 Feature
  api/src/main/java/org/apache/cloudstack/api/command/user/storage/sharedfs/ChangeSharedFSServiceOfferingCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/storage/sharedfs/CreateSharedFSCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/CapabilitiesResponse.java
  api/src/main/java/org/apache/cloudstack/storage/sharedfs/SharedFS.java
  engine/schema/src/main/resources/META-INF/db/schema-41910to42000.sql
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  server/src/main/java/com/cloud/template/TemplateManagerImpl.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/main/java/com/cloud/vm/snapshot/VMSnapshotManagerImpl.java
  server/src/main/java/org/apache/cloudstack/affinity/AffinityGroupServiceImpl.java
  server/src/main/java/org/apache/cloudstack/backup/BackupManagerImpl.java
  server/src/main/java/org/apache/cloudstack/vm/UnmanagedVMsManagerImpl.java
  ui/public/locales/en.json
  ui/src/config/section/storage.js
  ui/src/views/storage/CreateSharedFS.vue
Labels: component:api, component:UI, component:backup, component:storage

#9661 List Events returns intermittent SQL exception.Fixed listEvents intermittent exception.
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  server/src/main/java/com/cloud/event/dao/EventJoinDaoImpl.java
Labels: type:bug

#9669 CPVM: move focus on input area after clearing clipboard
  systemvm/agent/noVNC/app/ui.js
Labels: component:console-proxy, status:ready-for-merge

#9681 Implemented the lateral expansion of the area-box in the forms (creat…
  ui/src/style/objects/form.scss
Labels: component:UI

#9655 Fix toc generation for api docs
  tools/apidoc/gen_toc.py
Labels: component:api, component:documentation

#9680 Update of the schema 41910to42000.sql for compatibility with MariaDB version 10.3.38.
  engine/schema/src/main/resources/META-INF/db/schema-41910to42000.sql
Labels: type:bug, Severity:BLOCKER

#9696 pre-commit run --all-files; fix end of file
  ui/src/style/objects/form.scss
Labels: component:UI

#8503 list VMs by displayname instead of name
  ui/src/config/section/compute.js
Labels: component:UI, Severity:Minor

#9557 UI: Fix VPC network offerings listing on VPC tier creation
  ui/src/views/network/VpcTiersTab.vue
Labels: component:UI

#9200 refactor: cloud-sysvmadm script
  setup/bindir/cloud-sysvmadm.in
Labels: status:needs-testing

#9676 Enable Backup and Recovery for Shared Filesystems
  server/src/main/java/org/apache/cloudstack/backup/BackupManagerImpl.java
  ui/src/config/section/compute.js
Labels: Severity:BLOCKER, component:UI, component:backup

#9563 Fix resource count discrepancy while associating IP address to a network
  server/src/main/java/com/cloud/network/IpAddressManagerImpl.java
  server/src/main/java/com/cloud/network/vpc/VpcManagerImpl.java
Labels: component:vpc, component:api, component:networking

#9700 UI: enable project menu on mobile devices
  ui/src/components/page/GlobalHeader.vue
Labels: component:UI

#9699 VR: fix password server exception when no password is found
  systemvm/debian/opt/cloud/bin/passwd_server_ip.py
Labels: component:virtual-router, component:networking, Python

#9636 [VMware] Make disk controller selection on volume attachment consistent with VM creation and start
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/resource/VmwareResource.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/storage/resource/VmwareStorageProcessor.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/HypervisorHostHelper.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/util/VmwareHelper.java
Labels: component:vmware, status:needs-testing

#9714 Fix main build errors
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/util/VmwareHelper.java
Labels: component:vmware, component:build

#8846 Removed deprecated instruction MAINTAINER
  tools/docker/Dockerfile
  tools/docker/Dockerfile.marvin
  tools/docker/Dockerfile.smokedev
  ui/Dockerfile
Labels: component:UI, docker

#9637 Fixed Unable to create a domain when networkdomain is mentioned and cleared
  ui/src/views/iam/DomainActionForm.vue
Labels: component:UI, component:storage

#9006 build/packaging: build tungsten plugin only if noredist is passed
  client/pom.xml
  plugins/hypervisors/kvm/pom.xml
  plugins/hypervisors/kvm/src/main/java/org/apache/cloudstack/network/tungsten/agent/api/SetupTfRouteCommand.java
  plugins/hypervisors/kvm/src/main/java/org/apache/cloudstack/network/tungsten/agent/api/SetupTungstenVRouterCommand.java
  plugins/hypervisors/kvm/src/main/java/org/apache/cloudstack/network/tungsten/agent/api/UpdateTungstenLoadbalancerSslCommand.java
  plugins/hypervisors/kvm/src/main/java/org/apache/cloudstack/network/tungsten/agent/api/UpdateTungstenLoadbalancerStatsCommand.java
  plugins/network-elements/tungsten/pom.xml
  plugins/pom.xml
  server/pom.xml
  server/src/main/java/com/cloud/network/NetworkServiceImpl.java
Labels: component:kvm, component:networking, component:build, status:needs-testing

#9711 ui: load project list with minimum details
  ui/src/components/header/ProjectMenu.vue
Labels: component:UI

#9596 Fix: Filter out networks without access while getting networks with SG with free IPs
  api/src/main/java/com/cloud/network/NetworkModel.java
  server/src/main/java/com/cloud/network/NetworkModelImpl.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/test/java/com/cloud/network/MockNetworkModelImpl.java
  server/src/test/java/com/cloud/vpc/MockNetworkModelImpl.java
Labels: component:vpc, component:api, component:networking

#9720 Revert "list VMs by displayname instead of name"
  ui/src/config/section/compute.js
Labels: component:UI

#9374 server: apply network ACL even if there is no network ACLs rules in the ACL list
  server/src/main/java/org/apache/cloudstack/network/topology/AdvancedNetworkTopology.java
Labels: component:networking

#9559 server: fix nfs version option during mounts
  engine/schema/src/main/java/com/cloud/upgrade/SystemVmTemplateRegistration.java
  server/src/main/java/com/cloud/storage/StorageManagerImpl.java
  server/src/main/java/org/apache/cloudstack/diagnostics/DiagnosticsServiceImpl.java
Labels: component:storage

#9664 PowerFlex on demand disable config key
  plugins/storage/volume/scaleio/src/main/java/org/apache/cloudstack/storage/datastore/manager/ScaleIOSDCManagerImpl.java
Labels: type:bug, component:primary-storage, type:improvement, component:storage

#8588 CKS: fix creation on shared network if HA is enabled
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/KubernetesClusterManagerImpl.java
Labels: component:kubernetes

#7650 CKS: add ConfigDrive to cloud-init datasource_list in systemvm template
  plugins/integrations/kubernetes-service/src/main/resources/conf/k8s-control-node-add.yml
  plugins/integrations/kubernetes-service/src/main/resources/conf/k8s-control-node.yml
  plugins/integrations/kubernetes-service/src/main/resources/conf/k8s-node.yml
  plugins/integrations/kubernetes-service/src/main/resources/script/upgrade-kubernetes.sh
  systemvm/debian/opt/cloud/bin/setup/cksnode.sh
Labels: component:virtual-router, component:networking, component:systemvm-template, component:templates, Severity:Major, component:kubernetes

#9739 Fix ISO url in test_usage.py
  test/integration/smoke/test_usage.py
Labels: Python, component:integration-test

#9723 Shutdown expunged resources cleanup executor properly, and allow other components to configure/start/stop on error
  framework/cluster/src/main/java/com/cloud/cluster/ClusterManagerImpl.java
  framework/spring/lifecycle/src/main/java/org/apache/cloudstack/spring/lifecycle/CloudStackExtendedLifeCycle.java
  framework/spring/lifecycle/src/main/java/org/apache/cloudstack/spring/lifecycle/CloudStackExtendedLifeCycleStart.java
  framework/spring/module/src/main/java/org/apache/cloudstack/spring/module/factory/CloudStackSpringContext.java
  server/src/main/java/org/apache/cloudstack/resource/ResourceCleanupServiceImpl.java
Labels: Severity:Critical

#9738 debian12: update debian/control
  debian/control
Labels: component:packaging, distro:ubuntu, distro:debian
