Repository apache/cloudstack, pull requests merged in 2024-12, with the labels that each got.

#9761 Resize volume: add pool capacity disablethreshold for resize and allow volume auto migration
  api/src/main/java/org/apache/cloudstack/api/command/user/volume/ResizeVolumeCmd.java
  engine/components-api/src/main/java/com/cloud/capacity/CapacityManager.java
  engine/components-api/src/main/java/com/cloud/storage/StorageManager.java
  server/src/main/java/com/cloud/capacity/CapacityManagerImpl.java
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  server/src/main/java/com/cloud/storage/StorageManagerImpl.java
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  server/src/test/java/com/cloud/storage/StorageManagerImplTest.java
  server/src/test/java/com/cloud/storage/VolumeApiServiceImplTest.java
  ui/src/views/storage/ResizeVolume.vue
Labels: component:api, status:ready-for-merge, component:UI, component:storage

#9851 fix: remove double <form> element from 2FA form
  ui/src/views/dashboard/VerifyTwoFa.vue
Labels: component:UI, status:needs-testing

#9971 UI: Tooltip on the host information card to display the CPU speed in MHz and the memory value in MB (to 3 decimal places)
  ui/src/components/view/InfoCard.vue
Labels: component:kvm, component:api, component:networking, component:UI, component:storage

#9780 Prepend VPC name to VPC network tier name
  engine/components-api/src/main/java/com/cloud/network/vpc/VpcManager.java
  server/src/main/java/com/cloud/network/NetworkServiceImpl.java
  server/src/main/java/com/cloud/network/vpc/VpcManagerImpl.java
  server/src/test/java/com/cloud/network/NetworkServiceImplTest.java
Labels: component:vpc, component:networking

#9741 Disable API Key Access for users, accounts and domains
  api/src/main/java/com/cloud/event/EventTypes.java
  api/src/main/java/com/cloud/user/Account.java
  api/src/main/java/com/cloud/user/AccountService.java
  api/src/main/java/com/cloud/user/User.java
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/account/UpdateAccountCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/user/GetUserKeysCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/user/ListUsersCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/user/UpdateUserCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/account/ListAccountsCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/AccountResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/RegisterResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/UserResponse.java
  api/src/main/java/org/apache/cloudstack/query/QueryService.java
  engine/schema/src/main/java/com/cloud/upgrade/DatabaseUpgradeChecker.java
  engine/schema/src/main/java/com/cloud/upgrade/dao/Upgrade42000to42010.java
  engine/schema/src/main/java/com/cloud/user/AccountVO.java
  engine/schema/src/main/java/com/cloud/user/UserVO.java
  engine/schema/src/main/java/com/cloud/user/dao/AccountDaoImpl.java
  engine/schema/src/main/resources/META-INF/db/schema-42000to42010-cleanup.sql
  engine/schema/src/main/resources/META-INF/db/schema-42000to42010.sql
  engine/schema/src/main/resources/META-INF/db/views/cloud.account_view.sql
  engine/schema/src/main/resources/META-INF/db/views/cloud.user_view.sql
  framework/config/src/main/java/org/apache/cloudstack/framework/config/ConfigKey.java
  plugins/network-elements/juniper-contrail/src/test/java/org/apache/cloudstack/network/contrail/management/MockAccountManager.java
  server/src/main/java/com/cloud/api/ApiDBUtils.java
  server/src/main/java/com/cloud/api/ApiServer.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  server/src/main/java/com/cloud/api/query/ViewResponseHelper.java
  server/src/main/java/com/cloud/api/query/dao/AccountJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/dao/UserAccountJoinDao.java
  server/src/main/java/com/cloud/api/query/dao/UserAccountJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/vo/AccountJoinVO.java
  server/src/main/java/com/cloud/api/query/vo/UserAccountJoinVO.java
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  server/src/main/java/com/cloud/user/AccountManagerImpl.java
  server/src/test/java/com/cloud/api/ApiServerTest.java
  server/src/test/java/com/cloud/api/query/QueryManagerImplTest.java
  server/src/test/java/com/cloud/user/AccountManagerImplTest.java
  server/src/test/java/com/cloud/user/MockAccountManagerImpl.java
  ui/public/locales/en.json
  ui/src/components/view/InfoCard.vue
  ui/src/components/view/SearchView.vue
  ui/src/config/section/account.js
  ui/src/config/section/user.js
  ui/src/views/iam/EditAccount.vue
  ui/src/views/iam/EditUser.vue
Labels: component:management-server, component:api, component:networking, component:UI, status:needs-testing

#10022 Backport #9708
  ui/public/locales/en.json
  ui/src/views/network/NicsTab.vue
Labels: component:UI

#9736 Add support for functionality in hypervisor class
  api/src/main/java/com/cloud/hypervisor/Hypervisor.java
  api/src/main/java/org/apache/cloudstack/api/command/user/template/RegisterTemplateCmd.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/test/java/com/cloud/vm/UserVmManagerImplTest.java
Labels: component:api

#9605 API to validate Quota activation rule
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariables.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/constant/QuotaTypes.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaValidateActivationRuleCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilder.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaValidateActivationRuleResponse.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/quota/QuotaServiceImpl.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/command/QuotaValidateActivationRuleCmdTest.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImplTest.java
  server/src/main/java/org/apache/cloudstack/jsinterpreter/JsInterpreterHelper.java
  server/src/main/resources/META-INF/cloudstack/core/spring-server-core-managers-context.xml
  server/src/test/java/org/apache/cloudstack/jsinterpreter/JsInterpreterHelperTest.java
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/style/objects/form.scss
  ui/src/views/plugins/quota/CreateQuotaTariff.vue
  ui/src/views/plugins/quota/EditQuotaTariff.vue
Labels: component:api, component:UI, component:quota

#10008 Remove user from project before deletion
  engine/schema/src/main/java/com/cloud/projects/dao/ProjectAccountDao.java
  engine/schema/src/main/java/com/cloud/projects/dao/ProjectAccountDaoImpl.java
  engine/schema/src/main/java/com/cloud/upgrade/DatabaseUpgradeChecker.java
  engine/schema/src/main/java/com/cloud/upgrade/dao/Upgrade41910to41920.java
  engine/schema/src/main/resources/META-INF/db/schema-41910to41920-cleanup.sql
  engine/schema/src/main/resources/META-INF/db/schema-41910to41920.sql
  server/src/main/java/com/cloud/user/AccountManagerImpl.java
  server/src/test/java/com/cloud/user/AccountManagerImplTest.java
Labels: component:projects

#10018 engine/schema: move SQLs to 4.20.0 to 4.20.1 upgrade
  api/src/main/java/org/apache/cloudstack/api/command/admin/management/ListMgmtsCmd.java
  engine/schema/src/main/resources/META-INF/db/schema-41910to42000.sql
  engine/schema/src/main/resources/META-INF/db/schema-42000to42010.sql
Labels: component:api

#10033 sql AND added
  framework/db/src/main/java/com/cloud/utils/crypt/EncryptionSecretKeyChanger.java
Labels: component:database

#9999 Prevent password updates for SAML and LDAP users
  server/src/main/java/com/cloud/user/AccountManagerImpl.java
  server/src/test/java/com/cloud/user/AccountManagerImplTest.java
Labels: status:ready-for-merge

#10016 UI: Fix userdata and load balancer selection
  ui/src/views/compute/DeployVM.vue
  ui/src/views/compute/wizard/LoadBalancerSelection.vue
  ui/src/views/compute/wizard/UserDataSelection.vue
Labels: status:ready-for-merge, component:UI

#10023 UI: Fix `Create` dropdown menu not changing language dynamically
  ui/public/locales/pt_BR.json
  ui/src/components/header/CreateMenu.vue
Labels: component:UI

#9394 Add access modifier to `VolumeVO`
  engine/schema/src/main/java/com/cloud/storage/VolumeVO.java
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
Labels: component:storage

#10028 Remove SNI option in _run.sh, as it is correct as default.
  systemvm/agent/scripts/_run.sh
Labels: component:kvm, component:api, component:networking, component:systemvm-iso, component:storage

#9744 ui: Allow font-awesome icon usage and optimise icon size inconsistency
  ui/src/components/menu/SMenu.vue
  ui/src/components/view/InfoCard.vue
  ui/src/components/view/ListView.vue
  ui/src/core/ext.js
Labels: status:ready-for-merge, component:UI

#10047 SAML2: add cookie with HttpOnly too
  plugins/user-authenticators/saml2/src/main/java/org/apache/cloudstack/saml/SAMLUtils.java
Labels: component:saml

#10000 UI: Fixes in the Usage UI
  ui/public/locales/en.json
  ui/src/components/view/ListView.vue
  ui/src/views/infra/UsageRecords.vue
Labels: component:UI

#9534 Persist IP addresses related to VM access via CPVM
  agent/src/main/java/com/cloud/agent/resource/consoleproxy/ConsoleProxyResource.java
  api/src/main/java/org/apache/cloudstack/consoleproxy/ConsoleAccessManager.java
  core/src/main/java/com/cloud/agent/api/ConsoleAccessAuthenticationCommand.java
  engine/schema/src/main/java/com/cloud/upgrade/DatabaseUpgradeChecker.java
  engine/schema/src/main/java/com/cloud/upgrade/dao/Upgrade42010to42100.java
  engine/schema/src/main/java/com/cloud/vm/ConsoleSessionVO.java
  engine/schema/src/main/java/com/cloud/vm/dao/ConsoleSessionDao.java
  engine/schema/src/main/java/com/cloud/vm/dao/ConsoleSessionDaoImpl.java
  engine/schema/src/main/resources/META-INF/db/schema-42010to42100-cleanup.sql
  engine/schema/src/main/resources/META-INF/db/schema-42010to42100.sql
  server/src/main/java/com/cloud/consoleproxy/AgentHookBase.java
  server/src/main/java/org/apache/cloudstack/consoleproxy/ConsoleAccessManagerImpl.java
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/ConsoleProxy.java
Labels: component:console-proxy, component:api, component:agent

#10087 UI: remove duplicated Instance Name in Public IP details page
  ui/src/config/section/network.js
Labels: component:UI

#9080 Add logs to VMware instance configuration process
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/VirtualMachineMO.java
Labels: component:vmware

#10086 server: fix typo removeaccessvpn in VirtualRouterElement
  server/src/main/java/com/cloud/network/element/VirtualRouterElement.java
Labels: component:networking

#10082 UI: create VPC network offering with conserve mode
  ui/src/views/offering/AddNetworkOffering.vue
Labels: component:UI

#10104 fix typo in SnapshotManager.java
  server/src/main/java/com/cloud/storage/snapshot/SnapshotManager.java
Labels: component:storage

#10105 linstor: improve heartbeat check with also asking linstor
  plugins/storage/volume/linstor/CHANGELOG.md
  plugins/storage/volume/linstor/src/main/java/com/cloud/hypervisor/kvm/storage/LinstorStorageAdaptor.java
  plugins/storage/volume/linstor/src/main/java/com/cloud/hypervisor/kvm/storage/LinstorStoragePool.java
Labels: component:primary-storage, component:storage, 3rd-party:linstor

#10045 Allow config drive deletion of migrated VM, on host maintenance
  api/src/main/java/com/cloud/vm/VmDetailConstants.java
  engine/orchestration/src/main/java/com/cloud/agent/manager/AgentAttache.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStoragePoolManager.java
  server/src/main/java/com/cloud/network/element/ConfigDriveNetworkElement.java
Labels: component:kvm, component:api, component:networking, component:agent, component:orchestration

#10093 kvm-storage: provide isVMMigrate information to storage plugins
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtPrepareForMigrationCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtStartCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/IscsiAdmStorageAdaptor.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/IscsiAdmStoragePool.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStoragePoolManager.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/LibvirtStorageAdaptor.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/ManagedNfsStorageAdaptor.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/MultipathSCSIAdapterBase.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/MultipathSCSIPool.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/ScaleIOStorageAdaptor.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/ScaleIOStoragePool.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/StorageAdaptor.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResourceTest.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/storage/ScaleIOStoragePoolTest.java
  plugins/storage/volume/linstor/CHANGELOG.md
  plugins/storage/volume/linstor/src/main/java/com/cloud/hypervisor/kvm/storage/LinstorStorageAdaptor.java
  plugins/storage/volume/linstor/src/main/java/com/cloud/hypervisor/kvm/storage/LinstorStoragePool.java
  plugins/storage/volume/storpool/src/main/java/com/cloud/hypervisor/kvm/storage/StorPoolStorageAdaptor.java
  plugins/storage/volume/storpool/src/main/java/com/cloud/hypervisor/kvm/storage/StorPoolStoragePool.java
Labels: component:kvm, component:primary-storage, component:iscsi, component:storage, 3rd-party:linstor

#10040 set ulimit for server according to redhat spec
  packaging/centos7/cloud.spec
  packaging/centos7/filelimit.conf
  packaging/centos8/cloud.spec
  packaging/centos8/filelimit.conf
Labels: component:packaging, component:systemd, distro:centos

#10115 List users by their authentication source
  api/src/main/java/org/apache/cloudstack/api/command/admin/user/ListUsersCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/UserResponse.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  server/src/test/java/com/cloud/api/query/QueryManagerImplTest.java
  ui/public/locales/en.json
  ui/src/components/view/DetailsTab.vue
  ui/src/components/view/SearchView.vue
  ui/src/config/section/user.js
  ui/src/views/iam/AddUser.vue
Labels: component:api, component:UI

#10051 Certificate and VM hostname validation improvements
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtGetVmIpAddressCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtSetupDirectDownloadCertificateCommandWrapper.java
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/wrapper/xenbase/CitrixGetVmIpAddressCommandWrapper.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/main/java/org/apache/cloudstack/direct/download/DirectDownloadManagerImpl.java
  utils/src/main/java/com/cloud/utils/net/NetUtils.java
Labels: component:kvm, component:XenServer

#8993 Clean up Python code; Python `2` to `3`
  plugins/hypervisors/ovm3/src/test/resources/scripts/create_pool_cluster.py
Labels: Python

#10124 Add ownership selection to VPC form
  ui/src/views/network/CreateVpc.vue
Labels: component:UI

#9364 pre-commit: enable markdownlint rule `MD012`
  .github/linters/.markdown-lint.yml
  CHANGES.md
  CONTRIBUTING.md
  ISSUE_TEMPLATE.md
  PULL_REQUEST_TEMPLATE.md
  plugins/storage/volume/storpool/README.md
  tools/devcloud4/README.md
  tools/devcloud4/advanced/README.md
  tools/devcloud4/basic/README.md
  tools/docker/README.md
  tools/marvin/marvin/misc/build/CI.md
  tools/marvin/marvin/misc/build/README.md
  ui/docs/development.md
  ui/src/style/README.md
Labels: component:primary-storage, component:UI, component:marvin, docker, component:storage

#10052 UI: Standardize OwnershipSelection to use logic independent of language
  ui/src/views/compute/DeployVM.vue
  ui/src/views/compute/wizard/OwnershipSelection.vue
  ui/src/views/network/CreateIsolatedNetworkForm.vue
  ui/src/views/network/CreateL2NetworkForm.vue
  ui/src/views/storage/CreateSharedFS.vue
  ui/src/views/storage/CreateVolume.vue
Labels: component:UI

#10065 UI: fix cannot open 'Edit tags' modal for static routes
  ui/src/views/network/StaticRoutesTab.vue
Labels: component:UI

#9134 pre-commit: enable `markdownlint` rule `MD018`
  .github/linters/.markdown-lint.yml
  tools/marvin/marvin/misc/build/README.md
  tools/ngui/README.md
Labels: component:marvin

#10067 VR: fix site-2-site VPN if split connections is enabled
  systemvm/debian/opt/cloud/bin/configure.py
Labels: component:virtual-router, component:networking, Python

#9133 pre-commit: add hook `check-yaml`
  .pre-commit-config.yaml
  plugins/integrations/kubernetes-service/src/main/resources/conf/k8s-control-node-add.yml
  plugins/integrations/kubernetes-service/src/main/resources/conf/k8s-control-node.yml
  plugins/integrations/kubernetes-service/src/main/resources/conf/k8s-node.yml
Labels: component:kubernetes

#10131 pre-commit: remove trailing-whitespace from more file types
  .gitignore
  .pre-commit-config.yaml
  CONTRIBUTING.md
  debian/cloudstack-cli.install
  debian/cloudstack-docs.install
  services/console-proxy/rdpconsole/rdp-config.bat
  services/console-proxy/rdpconsole/src/test/doc/dev-rdp-config.bat
  test/scripts/run.bat
  tools/apidoc/generatecommand.xsl
  tools/apidoc/generatetoc_footer.xsl
  tools/apidoc/generatetoc_header.xsl
  tools/apidoc/includes/main.css
  tools/ngui/static/css/app.css
Labels: component:console-proxy, distro:ubuntu

#10145 pre-commit update markdownlint; enable rules MD009,MD019
  .github/linters/.markdown-lint.yml
  .pre-commit-config.yaml
  tools/marvin/marvin/misc/build/CI.md
Labels: component:marvin
