Repository apache/cloudstack, pull requests merged in 2024-11, with the labels that each got.

#9859 linstor/kvm: Workaround a qemu bug and IDE bus discard enabled.
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStorageProcessor.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResourceTest.java
  plugins/storage/volume/linstor/CHANGELOG.md
Labels: type:bug, component:kvm, component:primary-storage, component:storage, 3rd-party:linstor

#9855 StorPool: fix of delete snapshot
  plugins/storage/volume/storpool/src/main/java/org/apache/cloudstack/storage/datastore/util/StorPoolUtil.java
  plugins/storage/volume/storpool/src/main/java/org/apache/cloudstack/storage/snapshot/StorPoolSnapshotStrategy.java
Labels: component:primary-storage, component:storage

#9869 kvm: fix ovs network creation issue
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtOvsFetchInterfaceCommandWrapper.java
Labels: component:kvm, Severity:BLOCKER

#9856 utils: fix invalid JSESSIONID cookie in https setup
  utils/src/main/java/com/cloud/utils/HttpUtils.java
  utils/src/test/java/com/cloud/utils/HttpUtilsTest.java
Labels: Severity:BLOCKER, type:regression

#9867 Fix Kubernetes cluster view when user is unable to scale
  ui/src/config/section/compute.js
  ui/src/views/compute/KubernetesServiceTab.vue
Labels: component:UI

#9832 Linstor: fix live migrate on non-hyperconverged setups
  plugins/storage/volume/linstor/src/main/java/com/cloud/hypervisor/kvm/storage/LinstorStorageAdaptor.java
  plugins/storage/volume/linstor/src/main/java/org/apache/cloudstack/storage/datastore/util/LinstorUtil.java
Labels: component:primary-storage, component:storage, 3rd-party:linstor

#9822 VR: fix wrong check when compare two configuration files
  systemvm/debian/opt/cloud/bin/cs/CsFile.py
Labels: component:virtual-router, component:networking, Python

#9743 Fix Ctrl+Enter command on `Start Instance` dialog
  ui/src/views/compute/StartVirtualMachine.vue
Labels: status:ready-for-merge, component:UI

#9839 Revert "storage: fix private templates are not copied to new image store (#9206)"
  engine/storage/image/src/main/java/org/apache/cloudstack/storage/image/TemplateServiceImpl.java
Labels: type:bug, status:ready-for-merge, component:storage

#9498 kvm: ref-count storage pool usage
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/IscsiAdmStorageAdaptor.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStoragePoolManager.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/LibvirtStorageAdaptor.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/ManagedNfsStorageAdaptor.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/MultipathSCSIAdapterBase.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/ScaleIOStorageAdaptor.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/StorageAdaptor.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/storage/LibvirtStorageAdaptorTest.java
  plugins/storage/volume/linstor/src/main/java/com/cloud/hypervisor/kvm/storage/LinstorStorageAdaptor.java
  plugins/storage/volume/storpool/src/main/java/com/cloud/hypervisor/kvm/storage/StorPoolStorageAdaptor.java
Labels: type:bug, component:kvm, component:primary-storage, component:iscsi, component:storage

#9922 enum name changed for logger update reverted
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtStoragePoolDef.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/LibvirtStorageAdaptor.java
Labels: component:kvm, Severity:BLOCKER, type:cleanup, type:regression

#9683 UI: Improve filtering of VM and template settings
  ui/src/components/view/DetailSettings.vue
Labels: status:ready-for-merge, component:UI

#9966 UI: Hide section divider when all OAuth providers are disabled
  ui/src/views/auth/Login.vue
Labels: status:ready-for-merge, component:UI

#9759 Add new column `last_id` to the table volumes
  engine/schema/src/main/java/com/cloud/storage/VolumeVO.java
  engine/schema/src/main/resources/META-INF/db/schema-41900to41910.sql
  engine/storage/datamotion/src/main/java/org/apache/cloudstack/storage/motion/StorageSystemDataMotionStrategy.java
  engine/storage/volume/src/main/java/org/apache/cloudstack/storage/volume/VolumeServiceImpl.java
Labels: component:storage

#7081 enable to create VPC portfowarding rules with source cidr
  api/src/main/java/com/cloud/agent/api/to/PortForwardingRuleTO.java
  api/src/main/java/com/cloud/network/rules/RulesService.java
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/command/user/firewall/CreatePortForwardingRuleCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/firewall/UpdatePortForwardingRuleCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/loadbalancer/CreateLoadBalancerRuleCmd.java
  core/src/main/java/com/cloud/agent/resource/virtualnetwork/facade/SetPortForwardingRulesConfigItem.java
  core/src/main/java/com/cloud/agent/resource/virtualnetwork/model/ForwardingRule.java
  engine/schema/src/main/java/com/cloud/network/dao/FirewallRulesCidrsDao.java
  engine/schema/src/main/java/com/cloud/network/dao/FirewallRulesCidrsDaoImpl.java
  engine/schema/src/main/java/com/cloud/network/dao/FirewallRulesDaoImpl.java
  engine/schema/src/main/java/com/cloud/network/rules/PortForwardingRuleVO.java
  engine/schema/src/main/java/com/cloud/network/rules/dao/PortForwardingRulesDaoImpl.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterResourceModifierActionWorker.java
  server/src/main/java/com/cloud/network/firewall/FirewallManagerImpl.java
  server/src/main/java/com/cloud/network/router/CommandSetupHelper.java
  server/src/main/java/com/cloud/network/rules/RulesManagerImpl.java
  server/src/test/java/com/cloud/network/firewall/FirewallManagerTest.java
  systemvm/debian/opt/cloud/bin/configure.py
  systemvm/debian/opt/cloud/bin/cs/CsNetfilter.py
  systemvm/debian/opt/cloud/bin/cs_forwardingrules.py
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/views/network/LoadBalancing.vue
  ui/src/views/network/PortForwarding.vue
Labels: component:virtual-router, component:api, status:ready-for-merge, component:networking, component:UI, Python, component:kubernetes

#9970 Displaying info of the labels from form CreateSSHKeyPair
  ui/src/views/compute/CreateSSHKeyPair.vue
Labels: status:ready-for-merge, component:UI

#9956 Add support for telugu language
  ui/public/locales/te.json
  ui/src/components/header/TranslationMenu.vue
Labels: component:UI, Severity:Minor

#9944 Remove information about the environment from exception when reverting VM snapshot
  engine/storage/snapshot/src/main/java/org/apache/cloudstack/storage/vmsnapshot/DefaultVMSnapshotStrategy.java
Labels: component:storage

#9930 Added-cpu-core-and-memory-range-fot-type-offers-CustomConstrained
  ui/src/components/view/ListView.vue
Labels: component:UI

#9889 Adjust misformatted logs
  framework/quota/src/main/java/org/apache/cloudstack/quota/QuotaManagerImpl.java
  server/src/main/java/com/cloud/deploy/DeploymentPlanningManagerImpl.java
Labels: component:quota

#9708 UI: make a newly added Network the default one
  ui/public/locales/en.json
  ui/src/views/network/NicsTab.vue
Labels: component:UI

#10004 pom.xml: revert systemvm template version to 4.20.0.0
  pom.xml
Labels: component:build

#9947 UI: Add UI support for `forvpc` and `guestiptype` parameters of the `listNetworkOfferings` API
  ui/src/components/view/SearchView.vue
  ui/src/config/section/offering.js
  ui/src/views/AutogenView.vue
Labels: component:UI

#9697 Routed mode: minor improvements and fixes
  api/src/main/java/com/cloud/bgp/BGPService.java
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/response/ZoneResponse.java
  api/src/main/java/org/apache/cloudstack/network/RoutedIpv4Manager.java
  server/src/main/java/com/cloud/api/query/dao/DataCenterJoinDaoImpl.java
  server/src/main/java/com/cloud/bgp/BGPServiceImpl.java
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  server/src/main/java/com/cloud/network/NetworkServiceImpl.java
  server/src/main/java/com/cloud/network/router/VirtualNetworkApplianceManagerImpl.java
  server/src/main/java/com/cloud/network/vpc/VpcManagerImpl.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
  server/src/main/java/org/apache/cloudstack/network/RoutedIpv4ManagerImpl.java
  server/src/test/java/com/cloud/bgp/BGPServiceImplTest.java
  server/src/test/java/com/cloud/network/NetworkServiceImplTest.java
  server/src/test/java/com/cloud/network/element/VirtualRouterElementTest.java
  server/src/test/java/com/cloud/network/router/CommandSetupHelperTest.java
  server/src/test/java/com/cloud/network/router/VirtualNetworkApplianceManagerImplTest.java
  server/src/test/java/com/cloud/network/vpc/VpcManagerImplTest.java
  server/src/test/java/org/apache/cloudstack/network/RoutedIpv4ManagerImplTest.java
  ui/src/config/section/infra/zones.js
  ui/src/config/section/network.js
  ui/src/views/network/CreateIpv4SubnetForNetwork.vue
  ui/src/views/network/CreateIsolatedNetworkForm.vue
  ui/src/views/network/CreateVpc.vue
  ui/src/views/offering/AddNetworkOffering.vue
  ui/src/views/offering/AddVpcOffering.vue
Labels: component:management-server, component:vpc, component:api, component:networking, component:UI
