Repository apache/cloudstack, pull requests merged in 2024-10, with the labels that each got.

#9195 cleanup validations for VPN connection creation
  server/src/main/java/com/cloud/network/vpn/Site2SiteVpnManagerImpl.java
  ui/src/views/network/VpcTab.vue
Labels: component:networking, component:UI

#9731 Hide UserData field from the EditVM view for VMs that do not offer it
  ui/src/views/compute/EditVM.vue
Labels: component:UI

#9751 API: Fix listing Userdata by keyword or name
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
Labels: component:management-server

#9766 Fix `updateTemplatePermission` when the UI is set to a language other than English
  ui/public/locales/pt_BR.json
  ui/src/views/image/UpdateTemplateIsoPermissions.vue
Labels: type:bug, component:UI

#9547 Filter list VMs by IP address
  framework/db/src/main/java/com/cloud/utils/db/GenericDaoBase.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
Labels: component:database

#9749 Fix Listing backup schedules
  api/src/main/java/org/apache/cloudstack/api/command/user/backup/ListBackupScheduleCmd.java
Labels: component:api, Severity:BLOCKER

#9798 UI: fix unit tests
  ui/tests/unit/components/view/ActionButton.spec.js
  ui/tests/unit/views/compute/MigrateWizard.spec.js
Labels: component:UI

#9756 make saml auth request option `forceauthn` configurable
  plugins/user-authenticators/saml2/src/main/java/org/apache/cloudstack/saml/SAML2AuthManager.java
  plugins/user-authenticators/saml2/src/main/java/org/apache/cloudstack/saml/SAML2AuthManagerImpl.java
  plugins/user-authenticators/saml2/src/main/java/org/apache/cloudstack/saml/SAMLUtils.java
Labels: type:enhancement, component:kvm, type:improvement, component:saml, component:storage

#9799 packaging: add libvirt-daemon-driver-storage-rbd as cloudstack-agent dependency
  debian/control
  packaging/el8/cloud.spec
Labels: component:packaging, distro:ubuntu

#9770 linstor: enable discard for Linstor storage pools
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStorageProcessor.java
  plugins/storage/volume/linstor/CHANGELOG.md
Labels: component:kvm, component:primary-storage, component:storage, 3rd-party:linstor

#9818 server: fix vm_stats records are not removed if batchsize is 0
  engine/schema/src/main/java/com/cloud/storage/dao/VolumeStatsDaoImpl.java
  engine/schema/src/main/java/com/cloud/vm/dao/VmStatsDaoImpl.java
  framework/db/src/main/java/com/cloud/utils/db/GenericDao.java
  framework/db/src/main/java/com/cloud/utils/db/GenericDaoBase.java
  server/src/test/java/com/cloud/user/MockUsageEventDao.java
Labels: Severity:BLOCKER, component:database, component:storage

#9809 Fix primary storage update form not showing existing values
  ui/src/views/infra/UpdatePrimaryStorage.vue
Labels: component:UI
