Repository apache/cloudstack, pull requests merged in 2024-08, with the labels that each got.

#9447 Fix snapshot chain being deleted on XenServer
  engine/storage/snapshot/src/main/java/org/apache/cloudstack/storage/snapshot/DefaultSnapshotStrategy.java
Labels: Severity:BLOCKER, component:storage

#9390 libvirtstorageadaptor: better handle failed libvirt storagepool destroy
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/LibvirtStorageAdaptor.java
Labels: component:kvm, has-3rdparty-components, 3rd-party:linstor

#9340 Support user resource name / displaytext with emoji, unicode chars, and some sql exception msg improvements
  api/src/main/java/org/apache/cloudstack/api/ApiArgValidator.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/DeployVMCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/UpdateVMCmd.java
  engine/schema/src/main/java/com/cloud/upgrade/dao/Upgrade41910to42000.java
  engine/schema/src/main/resources/META-INF/db/schema-41910to42000.sql
  framework/db/src/main/java/com/cloud/utils/db/GenericDaoBase.java
  server/src/main/java/com/cloud/api/dispatch/ParamProcessWorker.java
  server/src/test/java/com/cloud/api/dispatch/ParamProcessWorkerTest.java
  test/integration/smoke/test_resource_names.py
Labels: component:api, Python, component:database, component:integration-test

#9499 test: fix component test test_acl_sharednetwork_deployVM-impersonation.py
  test/integration/component/test_acl_sharednetwork_deployVM-impersonation.py
  tools/marvin/marvin/cloudstackException.py
Labels: Python, component:marvin, component:integration-test

#9487 ui: rename autoscale instance group to simply autoscaling group
  ui/public/locales/en.json
Labels: component:UI

#9396 created VPC message a little less misleading
  ui/public/locales/en.json
  ui/src/views/network/CreateVpc.vue
Labels: component:UI

#8812 Fix column from op_dc_ip_address_alloc not being referenced correctly by its ORM class
  api/src/main/java/org/apache/cloudstack/api/response/AcquirePodIpCmdResponse.java
  engine/schema/src/main/java/com/cloud/dc/DataCenterIpAddressVO.java
  engine/schema/src/main/java/com/cloud/dc/dao/DataCenterDaoImpl.java
  engine/schema/src/main/java/com/cloud/dc/dao/DataCenterIpAddressDaoImpl.java
  server/src/main/java/com/cloud/network/IpAddressManagerImpl.java
  server/src/main/java/com/cloud/resource/ResourceManagerImpl.java
Labels: component:api, component:networking

#9435 NSX: add back removed code for NSX
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestrator.java
Labels: component:orchestration

#9225 Improvements to quota tariffs APIs and UI
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/usage/ListUsageTypesCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/UsageTypeResponse.java
  api/src/main/java/org/apache/cloudstack/usage/UsageService.java
  api/src/main/java/org/apache/cloudstack/usage/UsageTypes.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaTariffDao.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/QuotaTariffDaoImpl.java
  plugins/database/quota/pom.xml
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaTariffCreateCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaTariffListCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaTariffUpdateCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilder.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/command/QuotaTariffListCmdTest.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/command/QuotaTariffUpdateCmdTest.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImplTest.java
  server/src/main/java/com/cloud/usage/UsageServiceImpl.java
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/components/view/DetailsTab.vue
  ui/src/components/view/ListView.vue
  ui/src/components/view/SearchView.vue
  ui/src/config/router.js
  ui/src/config/section/plugin/quota.js
  ui/src/style/objects/form.scss
  ui/src/utils/date.js
  ui/src/utils/plugins.js
  ui/src/utils/quota.js
  ui/src/views/AutogenView.vue
  ui/src/views/infra/UsageRecords.vue
  ui/src/views/plugins/quota/CreateQuotaTariff.vue
  ui/src/views/plugins/quota/EditQuotaTariff.vue
  ui/src/views/plugins/quota/QuotaTariff.vue
  utils/src/main/java/org/apache/cloudstack/utils/jsinterpreter/JsInterpreter.java
  utils/src/test/java/org/apache/cloudstack/utils/jsinterpreter/JsInterpreterTest.java
Labels: component:api, component:UI, component:build, component:quota

#8556 Allow deletion of system VM templates
  api/src/main/java/org/apache/cloudstack/api/command/user/template/DeleteTemplateCmd.java
  server/src/main/java/com/cloud/template/HypervisorTemplateAdapter.java
Labels: component:api

#9264 fix removeSecondaryStorageSelector response for docs
  api/src/main/java/org/apache/cloudstack/api/command/admin/storage/heuristics/RemoveSecondaryStorageSelectorCmd.java
Labels: component:api

#9417 linstor: Improve copyPhysicalDisk performance
  plugins/storage/volume/linstor/src/main/java/com/cloud/hypervisor/kvm/storage/LinstorStorageAdaptor.java
Labels: component:primary-storage, component:storage, has-3rdparty-components, 3rd-party:linstor

#8689 Fix being able to expunge a VM through destroyVirtualMachine even when role rule does not allow
  plugins/network-elements/juniper-contrail/src/test/java/org/apache/cloudstack/network/contrail/management/MockAccountManager.java
  server/src/main/java/com/cloud/user/AccountManager.java
  server/src/main/java/com/cloud/user/AccountManagerImpl.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/test/java/com/cloud/user/MockAccountManagerImpl.java
  server/src/test/java/com/cloud/vm/UserVmManagerImplTest.java
  test/integration/smoke/test_vm_life_cycle.py
  ui/src/views/compute/DestroyVM.vue
Labels: component:networking, component:UI, Python, component:integration-test

#9551 UI: Improve router listing page
  ui/src/components/view/ListView.vue
  ui/src/config/section/infra/routers.js
Labels: component:UI, status:needs-review

#9553 Fix main branch issues
  api/src/test/java/org/apache/cloudstack/api/command/test/ImportRoleCmdTest.java
  plugins/storage/volume/linstor/src/main/java/com/cloud/hypervisor/kvm/storage/LinstorStorageAdaptor.java
Labels: type:bug, type:cleanup, component:build

#9548 UI: Add filter to list encrypted volumes
  ui/public/locales/en.json
  ui/src/components/view/SearchView.vue
  ui/src/config/section/storage.js
Labels: component:UI, status:needs-testing

#9550 Fix to allow actions on the network if it belongs to a project
  ui/src/config/section/network.js
Labels: component:UI

#9422 allow users to apply extraconfig on updating VMs
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/UpdateVMCmd.java
Labels: component:api

#9163 orchestration,hypervisor: allow custom manufacturer, product for vm metadata
  api/src/main/java/com/cloud/agent/api/to/VirtualMachineTO.java
  engine/api/src/main/java/com/cloud/vm/VirtualMachineManager.java
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
  engine/orchestration/src/test/java/com/cloud/vm/VirtualMachineManagerImplTest.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtVMDef.java
Labels: component:kvm, component:api, component:compute, component:orchestration

#8832 Fix snapshot scheduling with expired jobs
  engine/schema/src/main/java/com/cloud/storage/SnapshotScheduleVO.java
  engine/schema/src/main/java/com/cloud/storage/dao/SnapshotScheduleDao.java
  engine/schema/src/main/java/com/cloud/storage/dao/SnapshotScheduleDaoImpl.java
  engine/schema/src/main/resources/META-INF/db/schema-41910to42000.sql
  server/src/main/java/com/cloud/storage/snapshot/SnapshotSchedulerImpl.java
  server/src/test/java/com/cloud/storage/snapshot/SnapshotSchedulerImplTest.java
Labels: component:storage

#9571 test: fix component tests test_acl_isolatednetwork and test_acl_isolatednetwork_delete
  test/integration/component/test_acl_isolatednetwork.py
  test/integration/component/test_acl_isolatednetwork_delete.py
Labels: Python, component:integration-test

#9329 Add support for network data in Config Drive
  engine/api/src/main/java/org/apache/cloudstack/engine/orchestration/service/NetworkOrchestrationService.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestrator.java
  engine/storage/configdrive/src/main/java/org/apache/cloudstack/storage/configdrive/ConfigDriveBuilder.java
  engine/storage/configdrive/src/main/java/org/apache/cloudstack/storage/configdrive/ConfigDriveUtils.java
  engine/storage/configdrive/src/test/java/org/apache/cloudstack/storage/configdrive/ConfigDriveBuilderTest.java
  engine/storage/configdrive/src/test/java/org/apache/cloudstack/storage/configdrive/ConfigDriveUtilsTest.java
  server/src/main/java/com/cloud/network/NetworkModelImpl.java
  server/src/main/java/com/cloud/network/element/ConfigDriveNetworkElement.java
  server/src/test/java/com/cloud/network/element/ConfigDriveNetworkElementTest.java
  server/src/test/java/com/cloud/vpc/MockNetworkManagerImpl.java
  test/integration/smoke/test_network.py
  tools/marvin/marvin/config/test_data.py
Labels: component:vpc, component:networking, Python, component:marvin, component:orchestration, component:integration-test, component:storage

#9540 Added domain path to all entities
  api/src/main/java/org/apache/cloudstack/affinity/AffinityGroupResponse.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vpn/AddVpnUserCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/AcquireIPAddressResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/ApplicationLoadBalancerResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/AutoScalePolicyResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/AutoScaleVmGroupResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/AutoScaleVmProfileResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/BucketResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/ConditionResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/ControlledEntityResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/ControlledViewEntityResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/DomainRouterResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/EventResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/GlobalLoadBalancerResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/GuestVlanRangeResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/GuestVlanResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/IPAddressResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/InstanceGroupResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/LoadBalancerResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/NetworkResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/OvsProviderResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/PrivateGatewayResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/ProjectAccountResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/ProjectInvitationResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/RemoteAccessVpnResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/ResourceCountResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/ResourceLimitResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/ResourceTagResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/SecurityGroupResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/Site2SiteCustomerGatewayResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/Site2SiteVpnConnectionResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/Site2SiteVpnGatewayResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/SnapshotResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/StaticRouteResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/TemplateResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/UsageRecordResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/UserDataResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/UserVmResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/VMSnapshotResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/VirtualRouterProviderResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/VlanIpRangeResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/VolumeResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/VpcResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/VpnUsersResponse.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/KubernetesClusterManagerImpl.java
  plugins/integrations/kubernetes-service/src/main/java/org/apache/cloudstack/api/response/KubernetesClusterResponse.java
  plugins/network-elements/juniper-contrail/src/main/java/org/apache/cloudstack/network/contrail/api/response/ServiceInstanceResponse.java
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  server/src/main/java/com/cloud/api/query/dao/DomainRouterJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/dao/ProjectAccountJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/dao/ProjectInvitationJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/dao/ResourceTagJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/dao/TemplateJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/dao/UserVmJoinDaoImpl.java
Labels: component:api

#9459 Fix usage volume size after resizing
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
Labels: component:storage

#9589 [UI] Add project toggle for buckets
  ui/src/views/AutogenView.vue
Labels: component:UI

#9433 [VMware] Update data disk controller same as the root disk controller type when it is not set in the VM detail
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
Labels: component:vmware

#9468 [VMware] Disconnect/Detach config drive ISO (if exists) on stop VM
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/resource/VmwareResource.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/VirtualMachineMO.java
Labels: component:vmware

#9572 Update project account for all the events with project account owner, except for create project event
  api/src/main/java/org/apache/cloudstack/api/command/user/account/AddUserToProjectCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/account/DeleteUserFromProjectCmd.java
  server/src/main/java/com/cloud/event/ActionEventInterceptor.java
  server/src/main/java/com/cloud/event/ActionEventUtils.java
  server/src/main/java/com/cloud/projects/ProjectManagerImpl.java
Labels: component:api, component:projects

#9549 New Feature: Enable/Disable Roles
  api/src/main/java/com/cloud/event/EventTypes.java
  api/src/main/java/org/apache/cloudstack/acl/Role.java
  api/src/main/java/org/apache/cloudstack/acl/RoleService.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/acl/DisableRoleCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/acl/EnableRoleCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/acl/ListRolesCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/acl/RoleCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/RoleResponse.java
  api/src/test/java/org/apache/cloudstack/api/command/test/CreateRoleCmdTest.java
  api/src/test/java/org/apache/cloudstack/api/command/test/ImportRoleCmdTest.java
  api/src/test/java/org/apache/cloudstack/api/command/test/UpdateRoleCmdTest.java
  engine/schema/src/main/java/org/apache/cloudstack/acl/RoleVO.java
  engine/schema/src/main/java/org/apache/cloudstack/acl/dao/RoleDao.java
  engine/schema/src/main/java/org/apache/cloudstack/acl/dao/RoleDaoImpl.java
  engine/schema/src/main/resources/META-INF/db/schema-41910to42000.sql
  server/src/main/java/org/apache/cloudstack/acl/RoleManagerImpl.java
  server/src/test/java/org/apache/cloudstack/acl/RoleManagerImplTest.java
  ui/public/locales/en.json
  ui/src/config/section/role.js
  ui/src/views/iam/AddAccount.vue
Labels: component:api, status:ready-for-merge, component:UI

#8743 Fix `deleteAccount` API to prevent deletion of the caller
  api/src/main/java/org/apache/cloudstack/api/command/admin/account/DeleteAccountCmd.java
  server/src/main/java/com/cloud/user/AccountManagerImpl.java
  server/src/test/java/com/cloud/user/AccountManagerImplTest.java
Labels: component:api

#9455 Updated invalid parameter/value error with proper exception
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/GetVMPasswordCmd.java
  api/src/test/java/org/apache/cloudstack/api/command/user/vm/CreateVMScheduleCmdTest.java
  api/src/test/java/org/apache/cloudstack/api/command/user/vm/DeleteVMScheduleCmdTest.java
  api/src/test/java/org/apache/cloudstack/api/command/user/vm/ListVMScheduleCmdTest.java
  api/src/test/java/org/apache/cloudstack/api/command/user/vm/UpdateVMScheduleCmdTest.java
  plugins/hypervisors/kvm/src/main/java/org/apache/cloudstack/kvm/ha/KVMHAProvider.java
  plugins/hypervisors/simulator/src/main/java/org/apache/cloudstack/ha/SimulatorHAProvider.java
  plugins/integrations/kubernetes-service/src/main/java/org/apache/cloudstack/api/command/user/kubernetes/cluster/CreateKubernetesClusterCmd.java
  plugins/network-elements/opendaylight/src/main/java/org/apache/cloudstack/network/opendaylight/agent/OpenDaylightControllerResource.java
  plugins/network-elements/tungsten/src/main/java/org/apache/cloudstack/network/tungsten/service/TungstenServiceImpl.java
  plugins/storage/volume/cloudbyte/src/main/java/org/apache/cloudstack/storage/datastore/util/ElastistorUtil.java
  server/src/main/java/com/cloud/network/NetworkModelImpl.java
  server/src/main/java/com/cloud/network/NetworkServiceImpl.java
  server/src/main/java/com/cloud/network/lb/LoadBalancingRulesManagerImpl.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/HypervisorHostHelper.java
Labels: component:kvm, component:vmware, component:primary-storage, component:api, component:networking, component:simulator, component:kubernetes, component:storage

#9255 Add certificate validation to check headers
  framework/security/src/main/java/org/apache/cloudstack/framework/security/keystore/KeystoreManager.java
  framework/security/src/main/java/org/apache/cloudstack/framework/security/keystore/KeystoreManagerImpl.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
Labels: component:management-server, component:security

#9600 systemvm: have flags to check x86_64 to install specifics for amd64 arch
  tools/appliance/systemvmtemplate/scripts/install_systemvm_packages.sh
Labels: component:templates, systemvm-template-change

#8649 Improve logs in primary storage removal process
  server/src/main/java/com/cloud/storage/StorageManagerImpl.java
  server/src/test/java/com/cloud/storage/StorageManagerImplTest.java
Labels: status:needs-testing, component:storage

#8755 Added support for storpool_qos service
  engine/api/src/main/java/org/apache/cloudstack/engine/subsystem/api/storage/PrimaryDataStoreDriver.java
  plugins/storage/volume/storpool/README.md
  plugins/storage/volume/storpool/src/main/java/org/apache/cloudstack/storage/datastore/api/StorPoolVolumeDef.java
  plugins/storage/volume/storpool/src/main/java/org/apache/cloudstack/storage/datastore/driver/StorPoolPrimaryDataStoreDriver.java
  plugins/storage/volume/storpool/src/main/java/org/apache/cloudstack/storage/datastore/util/StorPoolHelper.java
  plugins/storage/volume/storpool/src/main/java/org/apache/cloudstack/storage/datastore/util/StorPoolUtil.java
  server/src/main/java/com/cloud/storage/ResizeVolumePayload.java
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  test/integration/plugins/storpool/sp_util.py
  test/integration/plugins/storpool/test_storpool_tiers.py
  tools/marvin/marvin/lib/base.py
Labels: component:primary-storage, Python, component:marvin, component:integration-test, component:storage, has-3rdparty-components, 3rd-party:storpool

#9575 Fix userdata append header restrictions
  engine/userdata/cloud-init/src/main/java/org/apache/cloudstack/userdata/CloudInitUserDataProvider.java
  engine/userdata/cloud-init/src/test/java/org/apache/cloudstack/userdata/CloudInitUserDataProviderTest.java
  ui/src/utils/plugins.js
Labels: type:bug, component:UI, Severity:Major, status:needs-testing, status:needs-review

#9554 ui: show guest networks for guest vlans list
  ui/src/components/view/ListView.vue
  ui/src/config/section/network.js
Labels: component:UI
