Repository apache/cloudstack, pull requests merged in 2024-02, with the labels that each got.

#8606 tools,changelog: fix nextversion
  debian/changelog
  tools/docker/Dockerfile
  tools/docker/Dockerfile.marvin
Labels: docker, distro:ubuntu

#8553 Remove sensitive params (VmPassword, etc) from VMWork log
  engine/components-api/src/main/java/com/cloud/vm/VmWork.java
  engine/components-api/src/main/java/com/cloud/vm/VmWorkJobHandlerProxy.java
  engine/orchestration/src/main/java/com/cloud/vm/VmWorkReboot.java
  engine/orchestration/src/main/java/com/cloud/vm/VmWorkStart.java
  engine/orchestration/src/test/java/com/cloud/vm/VmWorkRebootTest.java
  engine/orchestration/src/test/java/com/cloud/vm/VmWorkStartTest.java
Labels: status:ready-for-merge, component:compute, component:orchestration

#8544 StoragePoolType as class
  api/src/main/java/com/cloud/storage/Storage.java
  api/src/test/java/com/cloud/storage/StorageTest.java
  core/src/main/java/com/cloud/agent/transport/StoragePoolTypeAdaptor.java
  core/src/main/java/com/cloud/serializer/GsonHelper.java
  core/src/test/java/com/cloud/agent/transport/RequestTest.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/datacenter/entity/api/db/EngineHostVO.java
  engine/schema/src/main/java/com/cloud/host/HostVO.java
  engine/schema/src/main/java/com/cloud/storage/VolumeVO.java
  engine/schema/src/main/java/com/cloud/util/StoragePoolTypeConverter.java
  engine/schema/src/main/java/org/apache/cloudstack/storage/datastore/db/PrimaryDataStoreDao.java
  engine/schema/src/main/java/org/apache/cloudstack/storage/datastore/db/PrimaryDataStoreDaoImpl.java
  engine/schema/src/main/java/org/apache/cloudstack/storage/datastore/db/StoragePoolVO.java
  engine/storage/volume/src/test/java/org/apache/cloudstack/storage/volume/VolumeServiceTest.java
  framework/db/src/main/java/com/cloud/utils/db/GenericDaoBase.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/FiberChannelAdapter.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/IscsiAdmStorageAdaptor.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStoragePoolManager.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStorageProcessor.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/LibvirtStorageAdaptor.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/ManagedNfsStorageAdaptor.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/ScaleIOStorageAdaptor.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/StorageAdaptor.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/StorageAdaptorInfo.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/storage/ScaleIOStoragePoolTest.java
  plugins/hypervisors/simulator/src/main/java/com/cloud/simulator/MockStoragePoolVO.java
  plugins/hypervisors/simulator/src/main/java/com/cloud/simulator/dao/MockStoragePoolDaoImpl.java
  plugins/storage/volume/default/src/main/java/org/apache/cloudstack/storage/datastore/lifecycle/CloudStackPrimaryDataStoreLifeCycleImpl.java
  plugins/storage/volume/linstor/src/main/java/com/cloud/hypervisor/kvm/storage/LinstorStorageAdaptor.java
  plugins/storage/volume/storpool/src/main/java/com/cloud/hypervisor/kvm/storage/StorPoolStorageAdaptor.java
  server/src/main/java/com/cloud/api/query/dao/StoragePoolJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/vo/StoragePoolJoinVO.java
  server/src/main/java/com/cloud/api/query/vo/UserVmJoinVO.java
  server/src/main/java/com/cloud/storage/StorageManagerImpl.java
  server/src/test/java/com/cloud/storage/listener/StoragePoolMonitorTest.java
Labels: component:kvm, component:primary-storage, component:iscsi, component:api, status:ready-for-merge, component:database, component:simulator, component:orchestration, component:storage

#8555 Allocate new ROOT volume (on restore virtual machine operation) only when resource count increment succeeds
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/test/java/com/cloud/vm/UserVmManagerImplTest.java
Labels: status:ready-for-merge

#8437 Fix libvirt domain event listener by properly processing events
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtConnection.java
Labels: component:kvm, status:ready-for-merge

#8369 systemvm: vncport evaluation
  systemvm/agent/scripts/consoleproxy.sh
  systemvm/agent/scripts/secstorage.sh
  systemvm/debian/opt/cloud/bin/setup/consoleproxy.sh
Labels: component:virtual-router, status:ready-for-merge, component:networking

#8549 server: use ed25519 instead of rsa when generate public/private keys
  server/src/main/java/com/cloud/server/ConfigurationServerImpl.java
Labels: component:management-server, status:ready-for-merge

#8560 Added missing metrics English locale strings
  ui/public/locales/en.json
Labels: component:vmware, component:api, status:ready-for-merge, component:UI, Python, component:build, component:marvin, component:integration-test, component:backup

#8589 UI: fix icmp code/type of ACL rule are not display if the value is -1
  ui/src/views/network/AclListRulesTab.vue
Labels: component:UI

#8467 Image Store: View Access status of the image store and view events
  api/src/main/java/com/cloud/event/EventTypes.java
  server/src/main/java/com/cloud/storage/StorageManagerImpl.java
  ui/src/components/view/ListView.vue
Labels: component:api, component:UI, component:storage

#8499 Fix API `moveUser` parameters descriptions
  api/src/main/java/org/apache/cloudstack/api/command/admin/user/MoveUserCmd.java
Labels: component:api, status:ready-for-merge

#8579 Fix typo in alert name
  api/src/main/java/org/apache/cloudstack/alert/AlertService.java
  server/src/main/java/com/cloud/alert/AlertManagerImpl.java
  server/src/main/java/com/cloud/alert/ClusterAlertAdapter.java
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  usage/src/main/java/com/cloud/usage/UsageAlertManagerImpl.java
Labels: component:api, component:usage-server

#8356 Option to create StorPool primary storage with a valid URL
  plugins/storage/volume/storpool/README.md
  plugins/storage/volume/storpool/src/main/java/org/apache/cloudstack/storage/datastore/util/StorPoolUtil.java
Labels: component:primary-storage, status:ready-for-merge, component:storage, has-3rdparty-components

#8419 Bump `actions/setup-python` to `v5`
  .github/workflows/build.yml
  .github/workflows/ci.yml
Labels: component:integration

#8402 CKS: retry if unable to drain node or unable to upgrade k8s node
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/KubernetesClusterManagerImpl.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/KubernetesClusterService.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterUpgradeWorker.java
  test/integration/smoke/test_kubernetes_clusters.py
Labels: Python, component:kubernetes, component:integration-test

#8447 Add IOPS to disk offerings details
  ui/src/config/section/offering.js
Labels: component:UI

#8410 Add e2e tests for listing resources
  .github/workflows/ci.yml
  setup/dev/advdualzone.cfg
  test/integration/component/test_affinity_groups_projects.py
  test/integration/smoke/test_list_accounts.py
  test/integration/smoke/test_list_disk_offerings.py
  test/integration/smoke/test_list_domains.py
  test/integration/smoke/test_list_hosts.py
  test/integration/smoke/test_list_service_offerings.py
  test/integration/smoke/test_list_storage_pools.py
  test/integration/smoke/test_list_volumes.py
  test/integration/smoke/test_metrics_api.py
  test/integration/smoke/test_secondary_storage.py
  test/integration/smoke/test_templates.py
  tools/marvin/marvin/cloudstackTestCase.py
Labels: Python, component:marvin, component:integration-test, component:integration

#8568 Fix cloudstack-ui package: bad directory permissions and missing WEB-INF
  packaging/centos7/cloud.spec
  packaging/centos8/cloud.spec
Labels: component:packaging, distro:centos

#8610 Linstor fix migration while node offline
  plugins/storage/volume/linstor/src/main/java/com/cloud/hypervisor/kvm/storage/LinstorStorageAdaptor.java
  plugins/storage/volume/linstor/src/main/java/org/apache/cloudstack/storage/datastore/util/LinstorUtil.java
Labels: component:primary-storage, component:storage

#8563 add compute offering details in UI
  ui/src/components/view/DetailsTab.vue
  ui/src/config/section/offering.js
Labels: component:UI

#8484 Adding vmId as part of error response when vm create fails.
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/test/java/com/cloud/vm/UserVmManagerImplTest.java
Labels: component:api, component:networking, component:agent, component:build, component:integration

#8377 remove StorPool tags from detached volumes
  plugins/storage/volume/storpool/src/main/java/org/apache/cloudstack/storage/datastore/driver/StorPoolPrimaryDataStoreDriver.java
  plugins/storage/volume/storpool/src/main/java/org/apache/cloudstack/storage/datastore/util/StorPoolUtil.java
  plugins/storage/volume/storpool/src/main/java/org/apache/cloudstack/storage/snapshot/StorPoolVMSnapshotStrategy.java
  test/integration/plugins/storpool/TestTagsOnStorPool.py
  tools/marvin/marvin/lib/base.py
Labels: component:primary-storage, Python, component:marvin, component:integration-test, component:storage, has-3rdparty-components

#8481 Enable over provisioning for SharedMountPoint primary storages
  api/src/main/java/com/cloud/storage/Storage.java
  api/src/test/java/com/cloud/storage/StorageTest.java
Labels: component:api, component:agent, component:build, status:needs-testing, component:integration

#8633 linstor: use relative hostname path
  plugins/storage/volume/linstor/src/main/java/com/cloud/hypervisor/kvm/storage/LinstorStorageAdaptor.java
Labels: component:primary-storage, Severity:Critical, component:storage

#8574 packaging: bundle cmk in cloudstack-management package
  debian/cloudstack-management.install
  debian/rules
  packaging/centos7/cloud.spec
  packaging/centos8/cloud.spec
Labels: component:packaging, distro:ubuntu, distro:centos

#8636 Fixup
  plugins/storage/volume/linstor/src/main/java/com/cloud/hypervisor/kvm/storage/LinstorStorageAdaptor.java
Labels: component:primary-storage, component:storage

#8614 Veeam: revert unnecessary VM state change if restore backup and attach to another VM
  server/src/main/java/org/apache/cloudstack/backup/BackupManagerImpl.java
Labels: component:backup

#8625 zone wizard: allow only one untagged physical network with guest traffic type
  ui/public/locales/en.json
  ui/src/views/infra/zone/ZoneWizardLaunchZone.vue
  ui/src/views/infra/zone/ZoneWizardPhysicalNetworkSetupStep.vue
Labels: component:UI, status:needs-testing

#8282 kvm: ITCO watchdog added
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtVMDef.java
Labels: component:kvm, status:needs-testing

#8599 VR: fix issue between VPC VMs and other Public IPs in the same subnet as additional Public IPs
  server/src/main/java/com/cloud/network/router/VpcVirtualNetworkApplianceManagerImpl.java
  systemvm/debian/opt/cloud/bin/cs/CsAddress.py
  systemvm/debian/opt/cloud/bin/cs/CsDatabag.py
Labels: component:vpc, component:virtual-router, component:networking, Python

#8631 UI: Add Migrating state in volume filtering
  ui/src/components/view/SearchView.vue
Labels: component:UI

#8407 Linstor: add HA support and small cleanups
  plugins/storage/volume/linstor/src/main/java/com/cloud/hypervisor/kvm/storage/LinstorStorageAdaptor.java
  plugins/storage/volume/linstor/src/main/java/com/cloud/hypervisor/kvm/storage/LinstorStoragePool.java
  plugins/storage/volume/linstor/src/main/java/org/apache/cloudstack/storage/datastore/driver/LinstorPrimaryDataStoreDriverImpl.java
  plugins/storage/volume/linstor/src/main/java/org/apache/cloudstack/storage/datastore/provider/LinstorHostListener.java
  plugins/storage/volume/linstor/src/main/java/org/apache/cloudstack/storage/datastore/provider/LinstorPrimaryDatastoreProviderImpl.java
  plugins/storage/volume/linstor/src/main/java/org/apache/cloudstack/storage/datastore/util/LinstorUtil.java
Labels: component:primary-storage, component:storage

#8521 Add advance settings to fine tune DRS imbalance calculation
  api/src/main/java/org/apache/cloudstack/cluster/ClusterDrsAlgorithm.java
  api/src/main/java/org/apache/cloudstack/cluster/ClusterDrsService.java
  api/src/test/java/org/apache/cloudstack/cluster/ClusterDrsAlgorithmTest.java
  plugins/drs/cluster/balanced/src/main/java/org/apache/cloudstack/cluster/Balanced.java
  plugins/drs/cluster/balanced/src/test/java/org/apache/cloudstack/cluster/BalancedTest.java
  plugins/drs/cluster/condensed/src/main/java/org/apache/cloudstack/cluster/Condensed.java
  plugins/drs/cluster/condensed/src/test/java/org/apache/cloudstack/cluster/CondensedTest.java
  plugins/metrics/src/main/java/org/apache/cloudstack/metrics/MetricsServiceImpl.java
  plugins/metrics/src/main/java/org/apache/cloudstack/response/ClusterMetricsResponse.java
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  server/src/main/java/org/apache/cloudstack/cluster/ClusterDrsServiceImpl.java
  server/src/test/java/org/apache/cloudstack/cluster/ClusterDrsServiceImplTest.java
  ui/public/locales/en.json
  ui/src/components/view/ListView.vue
  ui/src/config/section/infra/clusters.js
  ui/src/views/infra/ClusterDRSTab.vue
Labels: component:api, component:UI

#8337 Allow locking and unlocking users via UI
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/config/section/user.js
  ui/src/views/AutogenView.vue
Labels: component:UI, status:needs-testing

#8464 Fix ICMP ACL rule edge case
  server/src/main/java/com/cloud/network/vpc/NetworkACLServiceImpl.java
  server/src/test/java/com/cloud/network/vpc/NetworkACLServiceImplTest.java
Labels: component:vpc, component:networking

#8234 Allow altering only either CPU or memory during VM live scale
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/test/java/com/cloud/vm/UserVmManagerImplTest.java
Labels: status:needs-testing

#8661 test: skip check for volume stats history on xenserver
  test/integration/smoke/test_metrics_api.py
Labels: Python, component:integration-test

#8306 Fix filter and pagination on API findStoragePoolsForMigration
  api/src/main/java/com/cloud/server/ManagementService.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/storage/FindStoragePoolsForMigrationCmd.java
  engine/api/src/main/java/org/apache/cloudstack/engine/subsystem/api/storage/StoragePoolAllocator.java
  engine/schema/src/main/java/org/apache/cloudstack/storage/datastore/db/PrimaryDataStoreDao.java
  engine/schema/src/main/java/org/apache/cloudstack/storage/datastore/db/PrimaryDataStoreDaoImpl.java
  engine/storage/src/main/java/org/apache/cloudstack/storage/allocator/AbstractStoragePoolAllocator.java
  engine/storage/src/main/java/org/apache/cloudstack/storage/allocator/ClusterScopeStoragePoolAllocator.java
  engine/storage/src/main/java/org/apache/cloudstack/storage/allocator/GarbageCollectingStoragePoolAllocator.java
  engine/storage/src/main/java/org/apache/cloudstack/storage/allocator/LocalStoragePoolAllocator.java
  engine/storage/src/main/java/org/apache/cloudstack/storage/allocator/ZoneWideStoragePoolAllocator.java
  engine/storage/src/test/java/org/apache/cloudstack/storage/allocator/AbstractStoragePoolAllocatorTest.java
  plugins/storage-allocators/random/src/main/java/org/apache/cloudstack/storage/allocator/RandomStoragePoolAllocator.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
Labels: component:management-server, component:api, component:local-storage, component:storage

#8371 prevent nic removal on out of bounds router stop
  api/src/main/java/com/cloud/vm/NicProfile.java
  core/src/main/java/com/cloud/serializer/GsonHelper.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestrator.java
  engine/schema/src/main/java/com/cloud/vm/NicVO.java
  server/src/main/java/com/cloud/network/guru/ControlNetworkGuru.java
  server/src/main/java/com/cloud/network/guru/PodBasedNetworkGuru.java
  server/src/main/java/com/cloud/network/router/VirtualNetworkApplianceManager.java
  server/src/main/java/com/cloud/network/router/VirtualNetworkApplianceManagerImpl.java
Labels: component:api, status:ready-for-merge, component:networking, component:orchestration

#8647 Move views into separate files for easier modification
  engine/schema/src/main/resources/META-INF/db/views/cloud.account_netstats_view.sql
  engine/schema/src/main/resources/META-INF/db/views/cloud.account_view.sql
  engine/schema/src/main/resources/META-INF/db/views/cloud.account_vmstats_view.sql
  engine/schema/src/main/resources/META-INF/db/views/cloud.affinity_group_view.sql
  engine/schema/src/main/resources/META-INF/db/views/cloud.domain_view.sql
  engine/schema/src/main/resources/META-INF/db/views/cloud.event_view.sql
  engine/schema/src/main/resources/META-INF/db/views/cloud.free_ip_view.sql
  engine/schema/src/main/resources/META-INF/db/views/cloud.image_store_view.sql
  engine/schema/src/main/resources/META-INF/db/views/cloud.instance_group_view.sql
  engine/schema/src/main/resources/META-INF/db/views/cloud.last_annotation_view.sql
  engine/schema/src/main/resources/META-INF/db/views/cloud.mshost_view.sql
  engine/schema/src/main/resources/META-INF/db/views/cloud.project_account_view.sql
  engine/schema/src/main/resources/META-INF/db/views/cloud.project_invitation_view.sql
  engine/schema/src/main/resources/META-INF/db/views/cloud.project_view.sql
  engine/schema/src/main/resources/META-INF/db/views/cloud.resource_tag_view.sql
  engine/schema/src/main/resources/META-INF/db/views/cloud.security_group_view.sql
  engine/schema/src/main/resources/META-INF/db/views/cloud.volume_view.sql
  engine/schema/src/main/resources/META-INF/db/views/cloud.vpc_offering_view.sql
Labels: component:database, status:needs-testing

#8659 test: fix test_guest_os.py failure on xcpng82
  test/integration/smoke/test_guest_os.py
Labels: Python, component:integration-test

#8446 Refactor updateDiskOffering API
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  server/src/test/java/com/cloud/configuration/ConfigurationManagerImplTest.java
Labels: type:cleanup

#8385 vpc: optimize createMonitorServiceCommand() execution
  server/src/main/java/com/cloud/network/router/VirtualNetworkApplianceManagerImpl.java
  server/src/main/java/com/cloud/network/router/VpcVirtualNetworkApplianceManagerImpl.java
Labels: component:vpc, component:api, component:networking, component:agent, component:build, status:needs-testing, component:integration

#8677 Fixup: Optimize getRouterHealthChecksConfig method
  server/src/main/java/com/cloud/network/router/VirtualNetworkApplianceManagerImpl.java
Labels: component:networking

#8678 UI: remove duplicated section for backup
  ui/src/config/section/storage.js
Labels: component:UI

#8700 Fixed deleteVlanIpRange API description
  api/src/main/java/org/apache/cloudstack/api/command/admin/vlan/DeleteVlanIpRangeCmd.java
Labels: component:api

#8690 docs: fix spelling in code comments
  scripts/storage/secondary/swift
  scripts/vm/hypervisor/xenserver/swift
  server/src/main/java/com/cloud/network/NetworkServiceImpl.java
  systemvm/debian/etc/vpcdnsmasq.conf
  test/integration/component/test_deploy_vm_userdata_multi_nic.py
  test/integration/smoke/test_migration.py
  test/metadata/func/loadbalancers.xml
  tools/marvin/marvin/lib/base.py
Labels: component:XenServer, component:virtual-router, component:networking, Python, component:dhcp, component:marvin, component:integration-test, component:storage, status:needs-review

#8697 CKS: fix /opt/bin/deploy-cloudstack-secret in CKS control nodes
  plugins/integrations/kubernetes-service/src/main/resources/script/deploy-cloudstack-secret
Labels: component:kubernetes

#7418 Added JS Script to pick Favicon, Title from config file
  ui/public/config.json
  ui/public/index.html
Labels: component:UI, status:needs-testing

#8136 Fix false positives in Usage sanity checks of templates and network offerings
  usage/src/main/java/com/cloud/usage/UsageSanityChecker.java
Labels: component:usage-server, status:needs-testing

#8709 Update actions/setup-java from v3 to v4
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/codecov.yml
  .github/workflows/main-sonar-check.yml
  .github/workflows/rat.yml
  .github/workflows/sonar-check.yml
Labels: component:integration

#8694 console proxy client sleep more generic
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/ConsoleProxyNoVncClient.java
Labels: component:vpc, component:console-proxy, component:networking, component:kubernetes

#8691 Fix `deleteUser` API to prevent deletion of the caller
  api/src/main/java/org/apache/cloudstack/api/command/admin/user/DeleteUserCmd.java
  server/src/main/java/com/cloud/user/AccountManagerImpl.java
  server/src/test/java/com/cloud/user/AccountManagerImplTest.java
Labels: component:api

#7214 Improve logs when adding components to avoid set
  api/src/main/java/com/cloud/deploy/DeploymentPlanner.java
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
  server/src/main/java/com/cloud/agent/manager/allocator/impl/FirstFitAllocator.java
  server/src/main/java/com/cloud/deploy/DeploymentPlanningManagerImpl.java
  server/src/test/java/com/cloud/deploy/DeploymentPlanningManagerImplTest.java
Labels: component:api, component:compute, component:orchestration

#8717 UI: Add button to show public IPs associated with vlanid
  ui/src/config/section/infra/phynetworks.js
  ui/src/views/infra/network/IpRangesTabPublic.vue
Labels: component:UI

#8721 UI: Fix error message in zone wizard
  ui/public/locales/en.json
Labels: component:UI

#8577 New API "checkVolume" to check and repair any leaks or issues reported by qemu-img check
  api/src/main/java/com/cloud/event/EventTypes.java
  api/src/main/java/com/cloud/storage/VolumeApiService.java
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/command/user/volume/CheckAndRepairVolumeCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/VolumeResponse.java
  core/src/main/java/com/cloud/agent/api/storage/CheckAndRepairVolumeAnswer.java
  core/src/main/java/com/cloud/agent/api/storage/CheckAndRepairVolumeCommand.java
  engine/api/src/main/java/org/apache/cloudstack/engine/subsystem/api/storage/VolumeService.java
  engine/components-api/src/main/java/com/cloud/vm/VmWorkCheckAndRepairVolume.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/VolumeOrchestrator.java
  engine/storage/volume/src/main/java/org/apache/cloudstack/storage/volume/VolumeServiceImpl.java
  engine/storage/volume/src/test/java/org/apache/cloudstack/storage/volume/VolumeServiceTest.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtCheckAndRepairVolumeCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/org/apache/cloudstack/utils/qemu/QemuImg.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtCheckAndRepairVolumeCommandWrapperTest.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/storage/LibvirtStoragePoolTest.java
  plugins/hypervisors/kvm/src/test/java/org/apache/cloudstack/utils/qemu/QemuImgTest.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
  server/src/main/java/com/cloud/storage/CheckAndRepairVolumePayload.java
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  server/src/test/java/com/cloud/storage/VolumeApiServiceImplTest.java
  utils/src/main/java/com/cloud/utils/StringUtils.java
  utils/src/main/java/com/cloud/utils/script/Script.java
Labels: component:kvm, component:management-server, component:api, component:compute, component:orchestration, component:storage

#8686 Sync the storage pool stats in DB with the actual stats from stats collector
  server/src/main/java/com/cloud/server/StatsCollector.java
Labels: component:management-server
