Repository apache/cloudstack, pull requests merged in 2024-06, with the labels that each got.

#9126 utils,ui: obfuscate sensitive log info, use POST for configureOutOfBandManagement
  ui/src/config/section/infra/hosts.js
  utils/src/main/java/org/apache/cloudstack/utils/process/ProcessRunner.java
  utils/src/test/java/org/apache/cloudstack/utils/process/ProcessRunnerTest.java
Labels: component:UI, component:logging

#8624 server: fix fail to list public ips of shared networks sometimes
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
Labels: component:api, status:needs-testing

#8782 Do not retrieve VM's stats on normal VM listing
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/ListVMsCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/UserVmResponse.java
  api/src/main/java/org/apache/cloudstack/query/QueryService.java
  plugins/metrics/src/main/java/org/apache/cloudstack/api/ListVMsMetricsCmd.java
  plugins/metrics/src/main/java/org/apache/cloudstack/metrics/MetricsServiceImpl.java
  plugins/metrics/src/main/java/org/apache/cloudstack/response/VmMetricsResponse.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  server/src/main/java/com/cloud/api/query/ViewResponseHelper.java
  ui/src/config/router.js
  ui/src/config/section/compute.js
  ui/src/views/AutogenView.vue
Labels: component:api, component:UI

#9093 log messages
  plugins/hypervisors/vmware/src/main/java/com/cloud/storage/resource/VmwareStorageProcessor.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/KubernetesClusterManagerImpl.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterResourceModifierActionWorker.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterStartWorker.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/utils/KubernetesClusterUtil.java
Labels: component:vmware, component:logging, component:kubernetes

#9143 linstor: make getDevicePath more robust
  plugins/storage/volume/linstor/src/main/java/com/cloud/hypervisor/kvm/storage/LinstorStorageAdaptor.java
  plugins/storage/volume/linstor/src/main/java/org/apache/cloudstack/storage/datastore/driver/LinstorPrimaryDataStoreDriverImpl.java
  plugins/storage/volume/linstor/src/main/java/org/apache/cloudstack/storage/datastore/util/LinstorUtil.java
Labels: component:primary-storage, component:storage, has-3rdparty-components, 3rd-party:linstor

#9057 server,cks: check if vm is cks node during vm destroy
  api/src/main/java/com/cloud/kubernetes/cluster/KubernetesClusterHelper.java
  api/src/main/java/com/cloud/uservm/UserVm.java
  engine/schema/src/main/java/com/cloud/vm/UserVmVO.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/KubernetesClusterHelperImpl.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/dao/KubernetesClusterVmMapDao.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/dao/KubernetesClusterVmMapDaoImpl.java
  plugins/integrations/kubernetes-service/src/test/java/com/cloud/kubernetes/cluster/KubernetesClusterHelperImplTest.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  utils/pom.xml
  utils/src/main/java/com/cloud/utils/component/ComponentContext.java
Labels: component:api, component:build, component:kubernetes

#9147 Fix columns in VM details tabs
  ui/src/components/view/ListResourceTable.vue
Labels: component:UI

#9169 server: fix resource reservation leakage
  api/src/main/java/com/cloud/user/ResourceLimitService.java
  api/src/main/java/org/apache/cloudstack/api/command/user/resource/UpdateResourceCountCmd.java
  api/src/main/java/org/apache/cloudstack/user/ResourceReservation.java
  engine/schema/src/main/java/org/apache/cloudstack/reservation/ReservationVO.java
  engine/schema/src/main/java/org/apache/cloudstack/reservation/dao/ReservationDao.java
  engine/schema/src/main/java/org/apache/cloudstack/reservation/dao/ReservationDaoImpl.java
  engine/schema/src/main/resources/META-INF/db/schema-41910to42000.sql
  server/src/main/java/com/cloud/resourcelimit/CheckedReservation.java
  server/src/main/java/com/cloud/resourcelimit/ResourceLimitManagerImpl.java
  server/src/test/java/com/cloud/resourcelimit/CheckedReservationTest.java
Labels: component:api

#9141 kvm: consider provisioning type for local data volumes
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/LibvirtStorageAdaptor.java
Labels: component:kvm, status:needs-testing

#8543 ui: Updated units names
  ui/public/locales/en.json
Labels: component:UI, Severity:Minor

#8976 Fix null host tags while creating a zone
  ui/src/views/infra/zone/ZoneWizardLaunchZone.vue
Labels: component:UI, status:needs-testing

#9072 UI: Update AddAccountOrUserToProject to show a drop down for account & user
  ui/src/views/project/AddAccountOrUserToProject.vue
Labels: component:UI, status:needs-testing, status:needs-review

#9106 api,server: encryptformat in volume response
  api/src/main/java/org/apache/cloudstack/api/response/VolumeResponse.java
  engine/schema/src/main/resources/META-INF/db/views/cloud.volume_view.sql
  server/src/main/java/com/cloud/api/query/dao/VolumeJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/vo/VolumeJoinVO.java
Labels: component:api, status:needs-testing

#8973 api: listApis should return params based on caller
  plugins/api/discovery/src/main/java/org/apache/cloudstack/api/response/ApiDiscoveryResponse.java
  plugins/api/discovery/src/main/java/org/apache/cloudstack/api/response/ApiParameterResponse.java
  plugins/api/discovery/src/main/java/org/apache/cloudstack/discovery/ApiDiscoveryServiceImpl.java
Labels: component:api, status:needs-testing

#9139 ui: refactor global createmenu
  ui/src/components/header/CreateMenu.vue
Labels: component:UI

#9105 cks,ui: fix npe and check for disable zone
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/version/KubernetesVersionManagerImpl.java
  plugins/integrations/kubernetes-service/src/test/java/com/cloud/kubernetes/version/KubernetesVersionManagerImplTest.java
  ui/src/views/compute/CreateKubernetesCluster.vue
Labels: component:UI, component:kubernetes

#9210 Update the java doc for the method disconnectPhysicalDiskByPath
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/StorageAdaptor.java
Labels: component:kvm

#9203 Fix vsphere storagepolicy
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  server/src/main/java/com/cloud/storage/StorageManagerImpl.java
Labels: component:management-server, component:api, component:agent, component:build, status:needs-testing, component:storage

#9204 Improve error messaging / logs when listing VMs on the remote KVM host (for import)
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtGetRemoteVmsCommandWrapper.java
  server/src/main/java/org/apache/cloudstack/vm/UnmanagedVMsManagerImpl.java
Labels: component:kvm

#9215 server: search template name and display text if keyword is passed
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
Labels: status:needs-testing

#8919 [UI] Add option to specify account/project while deploying VMs and creating networks
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/views/compute/AssignInstance.vue
  ui/src/views/compute/DeployVM.vue
  ui/src/views/compute/wizard/OwnershipSelection.vue
  ui/src/views/network/CreateIsolatedNetworkForm.vue
  ui/src/views/network/CreateL2NetworkForm.vue
Labels: component:UI

#9055 vpc,event: fix events for createVpc
  api/src/main/java/com/cloud/network/vpc/VpcService.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vpc/CreateVPCCmd.java
  api/src/test/java/org/apache/cloudstack/api/command/user/vpc/CreateVPCCmdTest.java
  server/src/main/java/com/cloud/network/vpc/VpcManagerImpl.java
Labels: component:vpc, component:api, component:networking

#9174 PowerFlex/ScaleIO volume live migration - use usable bytes from source disk to format the destination disk
  core/src/main/java/com/cloud/agent/api/GetVolumeStatAnswer.java
  core/src/main/java/com/cloud/agent/api/GetVolumeStatCommand.java
  core/src/main/java/org/apache/cloudstack/storage/to/VolumeObjectTO.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtGetVolumeStatCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtMigrateVolumeCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStoragePool.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStorageProcessor.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/ScaleIOStorageAdaptor.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/ScaleIOStoragePool.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/StorageAdaptor.java
  plugins/storage/volume/scaleio/src/main/java/org/apache/cloudstack/storage/datastore/driver/ScaleIOPrimaryDataStoreDriver.java
  plugins/storage/volume/scaleio/src/test/java/org/apache/cloudstack/storage/datastore/driver/ScaleIOPrimaryDataStoreDriverTest.java
Labels: component:kvm, component:primary-storage, component:api, component:storage

#9113 Configure config drive ISO with password file on reinstallation of VM with password-enabled template
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
Labels: status:needs-testing

#9224 Upload volume format check with the supported hypervisor, fail if supported hypervisor not found on zone
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
Labels: component:storage

#8643 list by isEncrypted
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/command/user/volume/ListVolumesCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/VolumeResponse.java
  engine/schema/src/main/java/com/cloud/storage/dao/VolumeDao.java
  engine/schema/src/main/java/com/cloud/storage/dao/VolumeDaoImpl.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  server/src/main/java/com/cloud/api/query/dao/VolumeJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/vo/VolumeJoinVO.java
Labels: component:api, component:storage

#8908 Removed unnecessary migration of `ROOT` volumes with KVM
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
Labels: component:compute, component:orchestration

#9211 List volumes by service offering id
  api/src/main/java/org/apache/cloudstack/api/command/user/volume/ListVolumesCmd.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  ui/src/components/view/SearchView.vue
  ui/src/config/section/storage.js
Labels: component:api, component:UI

#9140 ui: fix admin dashboard vue warnings
  ui/src/views/dashboard/CapacityDashboard.vue
Labels: component:UI

#9220 logging: httpupload do not warn with exception trace
  services/secondary-storage/server/src/main/java/org/apache/cloudstack/storage/resource/HttpUploadServerHandler.java
Labels: component:secondary-storage, component:ssvm

#9226 fix createVMSchedule action name
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/CreateVMScheduleCmd.java
Labels: component:api, component:agent, component:build, component:integration

#9136 test update and get connected hosts
  agent/src/test/java/com/cloud/agent/AgentShellTest.java
Labels: component:agent, component:unit-test

#9212 kvm: replace ISO path in vm XML configuration during vm migration
  engine/schema/src/main/java/org/apache/cloudstack/storage/datastore/db/ImageStoreDaoImpl.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtMigrateCommandWrapper.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtMigrateCommandWrapperTest.java
Labels: component:kvm, component:storage

#9063 While starting VM with 'considerlasthost' enabled, don't load host tags/details for the last host when it doesn't exist [main]
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
  server/src/main/java/com/cloud/deploy/DeploymentPlanningManagerImpl.java
Labels: component:compute, component:orchestration

#8835 Show in which primary storage volumes are allocated in instance details page and volume migration pop-ups
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/components/view/InstanceVolumesStoragePoolSelectListView.vue
  ui/src/components/view/VolumesTab.vue
  ui/src/views/storage/MigrateVolume.vue
Labels: component:UI

#9230 Ensure marvin package version is PEP440 compliant
  tools/marvin/mvn-setup.py
Labels: Python, component:marvin

#9219 saml: introduce saml2.check.signature
  plugins/user-authenticators/saml2/src/main/java/org/apache/cloudstack/api/command/SAML2LoginAPIAuthenticatorCmd.java
  plugins/user-authenticators/saml2/src/main/java/org/apache/cloudstack/saml/SAML2AuthManager.java
  plugins/user-authenticators/saml2/src/main/java/org/apache/cloudstack/saml/SAML2AuthManagerImpl.java
  plugins/user-authenticators/saml2/src/test/java/org/apache/cloudstack/api/command/SAML2LoginAPIAuthenticatorCmdTest.java
Labels: component:saml

#9194 ui: list only accessible networks during import
  ui/src/views/compute/wizard/MultiNetworkSelection.vue
  ui/src/views/tools/ImportUnmanagedInstance.vue
Labels: component:UI, status:needs-testing

#9191 add to cpu speed parameter a description of the cgroup2 case
  api/src/main/java/org/apache/cloudstack/api/command/admin/offering/CreateServiceOfferingCmd.java
Labels: component:api

#8701 cks: fix list apis response count
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/KubernetesClusterManagerImpl.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/version/KubernetesVersionManagerImpl.java
  plugins/integrations/kubernetes-service/src/test/java/com/cloud/kubernetes/version/KubernetesVersionServiceTest.java
Labels: component:kubernetes

#9197 engine-orchestration: expunge destroyed system vm volume
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/VolumeOrchestrator.java
Labels: component:orchestration

#9237 ui: fix dashboard retrievals based on permissions
  ui/src/views/dashboard/UsageDashboard.vue
Labels: component:UI

#9138 linstor: ui show Server and resource-group fields with custom protocol
  ui/src/views/infra/AddPrimaryStorage.vue
Labels: component:UI, has-3rdparty-components, 3rd-party:linstor

#8796 linstor: Support VM-Instance Disk snapshots
  plugins/storage/volume/linstor/src/main/java/org/apache/cloudstack/storage/datastore/driver/LinstorPrimaryDataStoreDriverImpl.java
  plugins/storage/volume/linstor/src/main/java/org/apache/cloudstack/storage/datastore/util/LinstorUtil.java
  plugins/storage/volume/linstor/src/main/java/org/apache/cloudstack/storage/snapshot/LinstorVMSnapshotStrategy.java
  plugins/storage/volume/linstor/src/main/resources/META-INF/cloudstack/storage-volume-linstor/spring-storage-volume-linstor-context.xml
  pom.xml
Labels: component:primary-storage, component:build, component:storage, has-3rdparty-components, 3rd-party:linstor

#9238 Fix unit test failure in LibvirtConvertInstanceCommandWrapperTest
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtConvertInstanceCommandWrapperTest.java
Labels: component:kvm

#8372 [Quota] Add API to list preset variables
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/Account.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/BackupOffering.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/ComputeOffering.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/ComputingResources.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/Domain.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/GenericPresetVariable.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/Host.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariableDefinition.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariables.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/Role.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/Storage.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/Value.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/constant/QuotaTypes.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/activationrule/presetvariables/ValueTest.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaPresetVariablesListCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaPresetVariablesItemResponse.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilder.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/quota/QuotaServiceImpl.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImplTest.java
Labels: component:api, status:needs-testing, component:quota

#9177 api: listVM API improvement followup, change returning of stats detail
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/ListVMsCmd.java
  api/src/main/java/org/apache/cloudstack/query/QueryService.java
  engine/schema/src/main/resources/META-INF/db/schema-41900to41910-cleanup.sql
  server/src/main/java/com/cloud/server/StatsCollector.java
  ui/src/config/section/compute.js
  ui/src/views/AutogenView.vue
Labels: component:management-server, component:api, component:UI

#9247 ui: improve sort utility for metrics
  ui/src/utils/sort.js
Labels: component:UI

#9070 cks: fix events
  api/src/main/java/com/cloud/event/EventTypes.java
  api/src/main/java/com/cloud/kubernetes/cluster/KubernetesServiceHelper.java
  api/src/main/java/com/cloud/network/NetworkService.java
  api/src/main/java/com/cloud/vm/UserVmService.java
  api/src/main/java/org/apache/cloudstack/api/ApiCommandResourceType.java
  core/src/main/resources/META-INF/cloudstack/core/spring-core-registry-core-context.xml
  core/src/main/resources/META-INF/cloudstack/kubernetes/spring-core-lifecycle-kubernetes-context-inheritable.xml
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/KubernetesClusterManagerImpl.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/KubernetesClusterService.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/KubernetesServiceHelperImpl.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterActionWorker.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterDestroyWorker.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterResourceModifierActionWorker.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterScaleWorker.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterStopWorker.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/version/KubernetesVersionManagerImpl.java
  plugins/integrations/kubernetes-service/src/main/java/org/apache/cloudstack/api/command/admin/kubernetes/version/AddKubernetesSupportedVersionCmd.java
  plugins/integrations/kubernetes-service/src/main/java/org/apache/cloudstack/api/command/admin/kubernetes/version/DeleteKubernetesSupportedVersionCmd.java
  plugins/integrations/kubernetes-service/src/main/java/org/apache/cloudstack/api/command/admin/kubernetes/version/UpdateKubernetesSupportedVersionCmd.java
  plugins/integrations/kubernetes-service/src/main/java/org/apache/cloudstack/api/command/user/kubernetes/cluster/CreateKubernetesClusterCmd.java
  plugins/integrations/kubernetes-service/src/main/java/org/apache/cloudstack/api/command/user/kubernetes/cluster/DeleteKubernetesClusterCmd.java
  plugins/integrations/kubernetes-service/src/main/java/org/apache/cloudstack/api/command/user/kubernetes/cluster/RemoveVirtualMachinesFromKubernetesClusterCmd.java
  plugins/integrations/kubernetes-service/src/main/java/org/apache/cloudstack/api/command/user/kubernetes/cluster/ScaleKubernetesClusterCmd.java
  plugins/integrations/kubernetes-service/src/main/java/org/apache/cloudstack/api/command/user/kubernetes/cluster/StartKubernetesClusterCmd.java
  plugins/integrations/kubernetes-service/src/main/java/org/apache/cloudstack/api/command/user/kubernetes/cluster/StopKubernetesClusterCmd.java
  plugins/integrations/kubernetes-service/src/main/java/org/apache/cloudstack/api/command/user/kubernetes/cluster/UpgradeKubernetesClusterCmd.java
  plugins/integrations/kubernetes-service/src/main/resources/META-INF/cloudstack/kubernetes-service/spring-kubernetes-service-context.xml
  plugins/integrations/kubernetes-service/src/test/java/com/cloud/kubernetes/cluster/KubernetesServiceHelperImplTest.java
  plugins/integrations/kubernetes-service/src/test/java/com/cloud/kubernetes/version/KubernetesVersionServiceTest.java
  server/src/main/java/com/cloud/event/ActionEventInterceptor.java
  server/src/main/java/com/cloud/network/NetworkServiceImpl.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/main/java/org/apache/cloudstack/annotation/AnnotationManagerImpl.java
  server/src/main/resources/META-INF/cloudstack/core/spring-server-core-managers-context.xml
  server/src/test/java/com/cloud/vpc/MockNetworkManagerImpl.java
  ui/src/components/widgets/ResourceLabel.vue
  ui/src/config/section/compute.js
  ui/src/config/section/image.js
  ui/src/utils/plugins.js
  ui/src/views/compute/KubernetesServiceTab.vue
Labels: component:api, component:kubernetes

#8530 prevent duplicate ip table rules in SSVM
  services/secondary-storage/controller/src/main/java/org/apache/cloudstack/secondarystorage/SecondaryStorageManagerImpl.java
  services/secondary-storage/server/src/main/java/org/apache/cloudstack/storage/resource/IpTablesHelper.java
  services/secondary-storage/server/src/main/java/org/apache/cloudstack/storage/resource/NfsSecondaryStorageResource.java
  services/secondary-storage/server/src/main/java/org/apache/cloudstack/storage/template/DownloadManagerImpl.java
  systemvm/debian/opt/cloud/bin/cs/CsHelper.py
  utils/src/main/java/com/cloud/utils/script/Script.java
Labels: component:secondary-storage, component:virtual-router, component:ssvm, component:networking, Python

#9244 test: fix test/integration/smoke/test_register_userdata.py which caused networks not to be deleted
  test/integration/smoke/test_register_userdata.py
Labels: Python, component:integration-test

#9235 protect against missing service offering
  engine/schema/src/main/java/com/cloud/service/dao/ServiceOfferingDao.java
  engine/schema/src/main/java/com/cloud/service/dao/ServiceOfferingDaoImpl.java
  server/src/main/java/com/cloud/api/ApiDBUtils.java
  server/src/main/java/com/cloud/api/query/dao/VolumeJoinDaoImpl.java
Labels: status:needs-testing

#8611 Fix allocation of VMs with multiple clusters
  plugins/host-allocators/random/src/main/java/com/cloud/agent/manager/allocator/impl/RandomAllocator.java
  server/src/main/java/com/cloud/agent/manager/allocator/impl/FirstFitAllocator.java
  server/src/main/java/com/cloud/agent/manager/allocator/impl/RecreateHostAllocator.java
  server/src/main/java/com/cloud/deploy/DeploymentPlanningManagerImpl.java
  server/src/main/java/com/cloud/deploy/FirstFitPlanner.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
Labels: component:management-server, component:api, component:agent, component:build, status:needs-testing, component:integration

#9166 fix: domain limits tab ui is now able to present 0 to the user
  ui/src/components/view/ResourceLimitTab.vue
Labels: component:api, component:UI, component:agent, component:build, component:integration

#9209 Add volume encryption checks during the disk offering change
  engine/api/src/main/java/org/apache/cloudstack/engine/subsystem/api/storage/VolumeService.java
  engine/storage/volume/src/main/java/org/apache/cloudstack/storage/volume/VolumeServiceImpl.java
  engine/storage/volume/src/test/java/org/apache/cloudstack/storage/volume/VolumeServiceTest.java
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/test/java/com/cloud/vm/UserVmManagerImplTest.java
Labels: component:api, component:storage

#9227 Add the disk offering's max disk read and write rate to GUI
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/config/section/offering.js
  ui/src/views/offering/AddDiskOffering.vue
Labels: component:UI

#8581 [Quota] Improve Quota balance calculation flow
  framework/quota/src/main/java/org/apache/cloudstack/quota/QuotaManagerImpl.java
  test/integration/plugins/quota/test_quota_balance.py
  usage/src/main/java/com/cloud/usage/UsageManagerImpl.java
Labels: component:usage-server, Python, component:quota, component:integration-test, component:integration

#9242 Add action button to enable/disable Oauth provider
  plugins/user-authenticators/oauth2/src/main/java/org/apache/cloudstack/oauth2/OAuth2AuthManagerImpl.java
  ui/src/config/section/config.js
Labels: component:UI

#8941 Extra parameter for UpdateImageStore
  api/src/main/java/com/cloud/storage/StorageService.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/storage/UpdateImageStoreCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/ImageStoreResponse.java
  engine/components-api/src/main/java/com/cloud/storage/StorageManager.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  server/src/main/java/com/cloud/server/StatsCollector.java
  server/src/main/java/com/cloud/storage/StorageManagerImpl.java
  ui/src/config/section/infra/secondaryStorages.js
  ui/src/views/AutogenView.vue
Labels: component:management-server, component:api, component:UI, component:storage

#9251 Prevent network disruption on adding a VPC tier for redundant VRs
  api/src/main/java/com/cloud/network/VpcVirtualNetworkApplianceService.java
  core/src/main/java/com/cloud/agent/resource/virtualnetwork/VRScripts.java
  core/src/main/java/com/cloud/agent/resource/virtualnetwork/VirtualRoutingResource.java
  core/src/main/java/org/apache/cloudstack/agent/routing/ManageServiceCommand.java
  server/src/main/java/com/cloud/network/element/VpcVirtualRouterElement.java
  server/src/main/java/com/cloud/network/router/VpcVirtualNetworkApplianceManagerImpl.java
  server/src/test/java/com/cloud/vpc/MockVpcVirtualNetworkApplianceManager.java
  systemvm/debian/opt/cloud/bin/manage_service.sh
Labels: component:vpc, component:virtual-router, component:api, component:networking

#8418 User data content size validation, and related code improvements
  api/src/main/java/org/apache/cloudstack/api/command/user/autoscale/CreateAutoScaleVmProfileCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/autoscale/UpdateAutoScaleVmProfileCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/userdata/RegisterUserDataCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/DeployVMCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/ResetVMUserDataCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/UpdateVMCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/AutoScaleVmProfileResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/VMUserDataResponse.java
  api/src/main/java/org/apache/cloudstack/userdata/UserDataManager.java
  engine/components-api/src/main/java/com/cloud/configuration/ConfigurationManager.java
  engine/userdata/src/main/java/org/apache/cloudstack/userdata/UserDataManagerImpl.java
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  server/src/main/java/com/cloud/network/as/AutoScaleManagerImpl.java
  server/src/main/java/com/cloud/vm/UserVmManager.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/test/java/com/cloud/network/as/AutoScaleManagerImplTest.java
Labels: component:api, component:networking, component:UI

#9248 Update extraconfig for platform param in xen/xcpng
  plugins/hypervisors/xenserver/src/main/java/org/apache/cloudstack/hypervisor/xenserver/ExtraConfigurationUtility.java
  plugins/hypervisors/xenserver/src/test/java/org/apache/cloudstack/hypervisor/xenserver/ExtraConfigurationUtilityTest.java
Labels: component:XenServer, status:ready-for-merge

#9232 vxlan: do not create duplicated network for private gateway
  plugins/network-elements/vxlan/src/main/java/com/cloud/network/guru/VxlanGuestNetworkGuru.java
Labels: component:networking, component:vxlan

#9253 ui: fix user create featured template from volume
  ui/src/config/section/storage.js
Labels: component:UI, status:needs-testing

#9252 User friendly name of Downloaded Templates Volumes and ISOs
  core/src/main/java/com/cloud/agent/api/storage/CreateEntityDownloadURLCommand.java
  engine/api/src/main/java/org/apache/cloudstack/engine/subsystem/api/storage/DataObject.java
  plugins/storage/image/default/src/main/java/org/apache/cloudstack/storage/datastore/driver/CloudStackImageStoreDriverImpl.java
  server/src/main/java/com/cloud/storage/upload/UploadMonitorImpl.java
  server/src/main/java/org/apache/cloudstack/diagnostics/to/DiagnosticsDataObject.java
  services/secondary-storage/server/src/main/java/org/apache/cloudstack/storage/template/UploadManagerImpl.java
Labels: component:management-server, component:secondary-storage, component:ssvm, component:api, component:agent, component:build, status:needs-testing, component:storage

#8994 VNF: add API listVnfAppliances
  api/src/main/java/org/apache/cloudstack/api/command/admin/vm/ListVnfAppliancesCmdByAdmin.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/ListVnfAppliancesCmd.java
  server/src/main/java/org/apache/cloudstack/storage/template/VnfTemplateManagerImpl.java
  ui/src/config/section/image.js
  ui/src/config/section/network.js
  ui/src/views/network/VnfAppliancesTab.vue
Labels: component:api, component:UI, component:storage

#8508 assertion improvement on cluster DRS
  PULL_REQUEST_TEMPLATE.md
  test/integration/smoke/test_cluster_drs.py
Labels: component:UI, Python, component:integration-test

#9271 [linstor] Fix revertSnapshot
  plugins/storage/volume/linstor/src/main/java/org/apache/cloudstack/storage/datastore/driver/LinstorPrimaryDataStoreDriverImpl.java
Labels: component:primary-storage, component:storage, has-3rdparty-components, 3rd-party:linstor

#8740 Add configuration to limit the number of rows deleted from vm_stats
  engine/schema/src/main/java/com/cloud/vm/dao/VmStatsDao.java
  engine/schema/src/main/java/com/cloud/vm/dao/VmStatsDaoImpl.java
  framework/db/src/main/java/com/cloud/utils/db/GenericDao.java
  framework/db/src/main/java/com/cloud/utils/db/GenericDaoBase.java
  server/src/main/java/com/cloud/server/StatsCollector.java
  server/src/test/java/com/cloud/server/StatsCollectorTest.java
  server/src/test/java/com/cloud/user/MockUsageEventDao.java
Labels: component:management-server, component:database

#9213 Timeout config to copy the disks of remote KVM instance while importing the instance from an external host
  api/src/main/java/org/apache/cloudstack/vm/UnmanagedVMsManager.java
  core/src/main/java/com/cloud/agent/api/CopyRemoteVolumeCommand.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtCopyRemoteVolumeCommandWrapper.java
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  server/src/main/java/org/apache/cloudstack/vm/UnmanagedVMsManagerImpl.java
  utils/src/main/java/com/cloud/utils/ssh/SshHelper.java
Labels: component:kvm, component:api

#9262 test: fix test failure on ubuntu 24.04: "top: unknown option 'n'"
  test/integration/smoke/test_service_offerings.py
Labels: Python, component:integration-test

#8886 Fix assignVirtualMachine template checkAccess
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
Labels: type:bug

#9196 remove Project Template Permissions inhibition
  server/src/main/java/com/cloud/template/TemplateManagerImpl.java
  ui/src/views/compute/DeployVM.vue
Labels: component:UI, component:templates, component:projects

#9261 server: fix additional zones cannot be removed
  engine/schema/src/main/java/org/apache/cloudstack/storage/datastore/db/ImageStoreDaoImpl.java
Labels: component:storage

#9199 Fixup startVM on simulator
  plugins/hypervisors/simulator/src/main/java/com/cloud/agent/manager/MockVmManagerImpl.java
Labels: component:simulator

#8462 Remove duplicate network state checks before shutdown network
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestrator.java
  engine/orchestration/src/test/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestratorTest.java
Labels: component:orchestration

#9281 set isSystem for SVM IPs
  server/src/main/java/com/cloud/network/guru/PublicNetworkGuru.java
Labels: component:secondary-storage, component:ssvm, component:networking

#8887 libvirtstorage: Make sure netfs storage was really mounted
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/LibvirtStorageAdaptor.java
Labels: component:kvm, has-3rdparty-components, 3rd-party:linstor

#9183 Allow deletion of external managed cks nodes
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/KubernetesServiceHelperImpl.java
  plugins/integrations/kubernetes-service/src/test/java/com/cloud/kubernetes/cluster/KubernetesServiceHelperImplTest.java
Labels: component:kubernetes

#9284 Import VM logging improvements
  api/src/main/java/org/apache/cloudstack/api/command/admin/vm/ImportUnmanagedInstanceCmd.java
  core/src/main/java/com/cloud/agent/api/CheckVolumeAnswer.java
  core/src/main/java/com/cloud/agent/api/CheckVolumeCommand.java
  core/src/main/java/com/cloud/agent/api/CopyRemoteVolumeAnswer.java
  core/src/main/java/com/cloud/agent/api/CopyRemoteVolumeCommand.java
  core/src/main/java/com/cloud/agent/api/GetRemoteVmsAnswer.java
  core/src/main/java/com/cloud/agent/api/GetRemoteVmsCommand.java
  core/src/main/java/com/cloud/agent/api/GetUnmanagedInstancesAnswer.java
  core/src/main/java/com/cloud/agent/api/GetUnmanagedInstancesCommand.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtGetRemoteVmsCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtGetUnmanagedInstancesCommandWrapper.java
  server/src/main/java/org/apache/cloudstack/vm/UnmanagedVMsManagerImpl.java
Labels: component:kvm, component:api

#9259 Support migration of VM imported from a remote host
  engine/storage/datamotion/src/main/java/org/apache/cloudstack/storage/motion/StorageSystemDataMotionStrategy.java
Labels: component:migration, status:needs-testing, component:storage

#9263 debian: add cpu-checker to debian/control
  debian/control
Labels: distro:ubuntu

#8909 Fix migration from local storage to NFS in KVM
  engine/storage/datamotion/src/main/java/org/apache/cloudstack/storage/motion/StorageSystemDataMotionStrategy.java
  engine/storage/datamotion/src/test/java/org/apache/cloudstack/storage/motion/KvmNonManagedStorageSystemDataMotionTest.java
  engine/storage/datamotion/src/test/java/org/apache/cloudstack/storage/motion/StorageSystemDataMotionStrategyTest.java
Labels: component:storage

#8873 Fix volume snapshot of encrypted NFS/StorPool volume
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStorageProcessor.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/storage/KVMStorageProcessorTest.java
  plugins/storage/volume/storpool/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/StorPoolBackupSnapshotCommandWrapper.java
Labels: component:kvm, component:primary-storage, component:storage

#8641 kvm: support Rocky/RHEL/OL/Alma in the same cluster
  server/src/main/java/com/cloud/hypervisor/kvm/discoverer/LibvirtServerDiscoverer.java
  server/src/test/java/com/cloud/hypervisor/kvm/discoverer/LibvirtServerDiscovererTest.java
Labels: component:kvm, Severity:Minor

#8475 api,server: allow updating hypervisor capabilities with hypervisor and version
  api/src/main/java/org/apache/cloudstack/api/command/admin/config/UpdateHypervisorCapabilitiesCmd.java
  engine/schema/src/main/java/com/cloud/hypervisor/HypervisorCapabilitiesVO.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
Labels: component:management-server, component:api

#8733 engine-schema: fix options for host.allocators.order config
  engine/schema/src/main/resources/META-INF/db/schema-41900to41910.sql
Labels: component:database

#9178 fix: Update overcommit ratio during live VM migration
  api/src/main/java/com/cloud/vm/VirtualMachineProfile.java
  engine/components-api/src/main/java/com/cloud/vm/VirtualMachineProfileImpl.java
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
Labels: component:api, component:compute, component:orchestration

#9207 VMware: Improve error messaging / logs when starting non-user VMs, and secondary storage not available or doesn't have enough capacity
  engine/storage/image/src/main/java/org/apache/cloudstack/storage/image/manager/ImageStoreProviderManagerImpl.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/manager/VmwareManagerImpl.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/resource/VmwareResource.java
Labels: component:vmware, status:needs-testing, component:storage

#9017 Enforce strict host tag check
  .github/workflows/ci.yml
  engine/schema/src/main/java/com/cloud/host/HostVO.java
  engine/schema/src/test/java/com/cloud/host/HostVOTest.java
  server/src/main/java/com/cloud/deploy/DeploymentPlanningManagerImpl.java
  server/src/main/java/com/cloud/vm/UserVmManager.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/main/java/org/apache/cloudstack/vm/UnmanagedVMsManagerImpl.java
  server/src/test/java/com/cloud/vm/UserVmManagerImplTest.java
  test/integration/smoke/test_vm_strict_host_tags.py
  tools/marvin/marvin/config/test_data.py
  tools/marvin/marvin/lib/base.py
Labels: status:ready-for-merge, Python, component:marvin, status:needs-testing, component:integration

#8947 Ability to specify NFS mount options while adding a primary storage and modify them on a pre-existing primary storage
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/response/StoragePoolResponse.java
  core/src/main/java/com/cloud/agent/api/ModifyStoragePoolCommand.java
  engine/components-api/src/main/java/com/cloud/storage/StorageManager.java
  engine/storage/volume/src/main/java/org/apache/cloudstack/storage/datastore/provider/DefaultHostListener.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtStoragePoolDef.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtStoragePoolXMLParser.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/LibvirtStorageAdaptor.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/LibvirtStoragePoolDefTest.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/LibvirtStoragePoolXMLParserTest.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/storage/LibvirtStorageAdaptorTest.java
  plugins/storage/volume/default/src/main/java/org/apache/cloudstack/storage/datastore/lifecycle/CloudStackPrimaryDataStoreLifeCycleImpl.java
  plugins/storage/volume/default/src/test/java/org/apache/cloudstack/storage/datastore/lifecycle/CloudStackPrimaryDataStoreLifeCycleImplTest.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  server/src/main/java/com/cloud/storage/StorageManagerImpl.java
  server/src/main/java/com/cloud/storage/StoragePoolAutomationImpl.java
  server/src/test/java/com/cloud/storage/StorageManagerImplTest.java
  test/integration/component/maint/test_primary_storage_nfsmountopts_kvm.py
  ui/public/locales/en.json
  ui/src/config/section/infra/primaryStorages.js
  ui/src/views/infra/AddPrimaryStorage.vue
  ui/src/views/infra/UpdatePrimaryStorage.vue
  ui/src/views/infra/zone/ZoneWizardAddResources.vue
  ui/src/views/infra/zone/ZoneWizardLaunchZone.vue
Labels: component:kvm, component:primary-storage, component:api, component:UI, Python, status:needs-testing, component:integration-test, component:storage

#7224 [Veeam] Check for failures in the restore process
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/veeam/VeeamClient.java
  plugins/backup/veeam/src/test/java/org/apache/cloudstack/backup/veeam/VeeamClientTest.java
Labels: component:api, component:networking, component:agent, component:build, component:backup, component:integration

#8236 Accept a role ID on linking an account to LDAP
  plugins/user-authenticators/ldap/src/main/java/org/apache/cloudstack/api/command/LinkAccountToLdapCmd.java
  plugins/user-authenticators/ldap/src/main/java/org/apache/cloudstack/ldap/LdapManagerImpl.java
  test/integration/component/test_ldap.py
  test/integration/plugins/ldap/test_ldap.py
Labels: Python, component:LDAP, status:needs-testing, component:integration-test

#9245 DRS: Ensure the destination host is part of the same cluster
  server/src/main/java/org/apache/cloudstack/cluster/ClusterDrsServiceImpl.java
  server/src/test/java/org/apache/cloudstack/cluster/ClusterDrsServiceImplTest.java
Labels: status:needs-testing

#9289 Let network guru decide if ipv6 cidr size can't be equal to 64
  api/src/main/java/com/cloud/network/NetworkModel.java
  api/src/main/java/com/cloud/network/guru/NetworkGuru.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestrator.java
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  server/src/main/java/com/cloud/network/NetworkModelImpl.java
  server/src/main/java/com/cloud/network/NetworkServiceImpl.java
  server/src/test/java/com/cloud/network/MockNetworkModelImpl.java
  server/src/test/java/com/cloud/network/NetworkModelTest.java
  server/src/test/java/com/cloud/vpc/MockNetworkModelImpl.java
Labels: component:vpc, component:api, component:networking, component:orchestration

#9300 Honour listall param for list templates api
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  ui/src/views/compute/DeployVM.vue
  ui/src/views/compute/wizard/TemplateIsoRadioGroup.vue
Labels: Severity:BLOCKER, component:UI, status:needs-testing

#9186 CKS/calico: set arp_ignore and arp_announce to 0 in k8s controller/nodes
  plugins/integrations/kubernetes-service/src/main/resources/conf/k8s-control-node-add.yml
  plugins/integrations/kubernetes-service/src/main/resources/conf/k8s-control-node.yml
  plugins/integrations/kubernetes-service/src/main/resources/conf/k8s-node.yml
Labels: component:kubernetes

#9231 UI: ignore error host is already in the database when create a zone
  ui/src/views/infra/zone/ZoneWizardLaunchZone.vue
Labels: component:UI, status:needs-testing

#8843 Temporarily backup StorPool volume before expunge
  engine/schema/src/main/java/com/cloud/storage/dao/SnapshotDetailsDao.java
  engine/schema/src/main/java/com/cloud/storage/dao/SnapshotDetailsDaoImpl.java
  engine/storage/volume/src/main/java/org/apache/cloudstack/storage/volume/VolumeServiceImpl.java
  plugins/storage/volume/storpool/src/main/java/org/apache/cloudstack/storage/datastore/api/StorPoolSnapshotDef.java
  plugins/storage/volume/storpool/src/main/java/org/apache/cloudstack/storage/datastore/driver/StorPoolPrimaryDataStoreDriver.java
  plugins/storage/volume/storpool/src/main/java/org/apache/cloudstack/storage/datastore/driver/StorPoolStatsCollector.java
  plugins/storage/volume/storpool/src/main/java/org/apache/cloudstack/storage/datastore/util/StorPoolUtil.java
  plugins/storage/volume/storpool/src/main/java/org/apache/cloudstack/storage/motion/StorPoolDataMotionStrategy.java
  plugins/storage/volume/storpool/src/main/java/org/apache/cloudstack/storage/snapshot/StorPoolConfigurationManager.java
  plugins/storage/volume/storpool/src/main/java/org/apache/cloudstack/storage/snapshot/StorPoolSnapshotStrategy.java
Labels: component:primary-storage, component:storage, has-3rdparty-components, 3rd-party:storpool

#9258 agent: reconnect after waiting 5 seconds
  agent/src/main/java/com/cloud/agent/Agent.java
Labels: component:management-server, component:api, component:agent, component:build, Severity:Major

#8169 server: fix resource count updated unmanage vm
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
Labels: component:api, component:agent, component:build, component:integration

#9202 server: event for HA vm start
  api/src/main/java/com/cloud/network/VirtualNetworkApplianceService.java
  api/src/main/java/com/cloud/vm/UserVmService.java
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
  server/src/main/java/com/cloud/consoleproxy/AgentBasedConsoleProxyManager.java
  server/src/main/java/com/cloud/consoleproxy/ConsoleProxyManager.java
  server/src/main/java/com/cloud/consoleproxy/ConsoleProxyManagerImpl.java
  server/src/main/java/com/cloud/ha/HighAvailabilityManagerImpl.java
  server/src/main/java/com/cloud/network/router/VirtualNetworkApplianceManagerImpl.java
  server/src/main/java/com/cloud/storage/secondary/SecondaryStorageVmManager.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/test/java/com/cloud/ha/HighAvailabilityManagerImplTest.java
  server/src/test/java/com/cloud/vpc/MockVpcVirtualNetworkApplianceManager.java
  services/secondary-storage/controller/src/main/java/org/apache/cloudstack/secondarystorage/SecondaryStorageManagerImpl.java
Labels: component:secondary-storage, component:vpc, component:console-proxy, component:ssvm, component:api, component:networking, component:compute, component:orchestration, status:needs-testing, component:storage

#9256 veeam: fix issues with PreSetup and DVS and Solidfire
  engine/schema/src/main/java/com/cloud/storage/dao/VolumeDao.java
  engine/schema/src/main/java/com/cloud/storage/dao/VolumeDaoImpl.java
  engine/schema/src/main/java/org/apache/cloudstack/storage/datastore/db/PrimaryDataStoreDao.java
  engine/schema/src/main/java/org/apache/cloudstack/storage/datastore/db/PrimaryDataStoreDaoImpl.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/guru/VMwareGuru.java
Labels: component:vmware, component:storage

#8898 prevent an NPE on an uninitialised TemplateObject
  engine/storage/image/src/main/java/org/apache/cloudstack/storage/image/TemplateDataFactoryImpl.java
  engine/storage/image/src/main/java/org/apache/cloudstack/storage/image/store/TemplateObject.java
Labels: component:orchestration, component:storage

#9216 xenserver: attach regular iso with configdrive
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/CitrixResourceBase.java
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/wrapper/xenbase/CitrixStopCommandWrapper.java
Labels: component:XenServer, status:needs-testing

#9306 Fix AssignToLoadBalancerRule input param
  api/src/main/java/org/apache/cloudstack/api/command/user/loadbalancer/AssignToLoadBalancerRuleCmd.java
Labels: component:api

#8815 Improve migration of external VMware VMs into KVM cluster
  agent/src/main/java/com/cloud/agent/properties/AgentProperties.java
  api/src/main/java/com/cloud/agent/api/to/RemoteInstanceTO.java
  api/src/main/java/com/cloud/host/Host.java
  api/src/main/java/com/cloud/hypervisor/HypervisorGuru.java
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/vm/ImportVmCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/HostResponse.java
  api/src/main/java/org/apache/cloudstack/vm/UnmanagedInstanceTO.java
  api/src/main/java/org/apache/cloudstack/vm/UnmanagedVMsManager.java
  api/src/test/java/org/apache/cloudstack/api/response/HostResponseTest.java
  core/src/main/java/com/cloud/agent/api/CheckConvertInstanceAnswer.java
  core/src/main/java/com/cloud/agent/api/CheckConvertInstanceCommand.java
  core/src/main/java/com/cloud/agent/api/ConvertInstanceCommand.java
  engine/components-api/src/main/java/com/cloud/storage/StorageManager.java
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestrator.java
  engine/orchestration/src/test/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestratorTest.java
  engine/schema/src/main/java/com/cloud/host/dao/HostDao.java
  engine/schema/src/main/java/com/cloud/host/dao/HostDaoImpl.java
  engine/schema/src/main/java/org/apache/cloudstack/storage/datastore/db/PrimaryDataStoreDao.java
  engine/schema/src/main/java/org/apache/cloudstack/storage/datastore/db/PrimaryDataStoreDaoImpl.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtCheckConvertInstanceCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtConvertInstanceCommandWrapper.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtCheckConvertInstanceCommandWrapperTest.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtConvertInstanceCommandWrapperTest.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/guru/VMwareGuru.java
  plugins/hypervisors/vmware/src/test/java/com/cloud/hypervisor/guru/VMwareGuruTest.java
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  server/src/main/java/com/cloud/api/query/dao/HostJoinDaoImpl.java
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  server/src/main/java/com/cloud/hypervisor/HypervisorGuruBase.java
  server/src/main/java/com/cloud/storage/StorageManagerImpl.java
  server/src/main/java/org/apache/cloudstack/vm/UnmanagedVMsManagerImpl.java
  server/src/test/java/com/cloud/configuration/ConfigurationManagerImplTest.java
  server/src/test/java/org/apache/cloudstack/vm/UnmanagedVMsManagerImplTest.java
  ui/public/locales/en.json
  ui/src/views/infra/HostInfo.vue
  ui/src/views/tools/ImportUnmanagedInstance.vue
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/BaseMO.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/VirtualMachineMO.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/util/VmwareContext.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/util/VmwareHelper.java
Labels: component:kvm, component:vmware, component:api, component:UI, component:agent, component:compute, component:orchestration, status:needs-testing, component:storage

#9283 Change vm.stats.remove.batch.size to delete.batch.query.size & allow delete of volume_stats in batches
  engine/schema/src/main/java/com/cloud/storage/dao/VolumeStatsDao.java
  engine/schema/src/main/java/com/cloud/storage/dao/VolumeStatsDaoImpl.java
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  server/src/main/java/com/cloud/server/StatsCollector.java
Labels: component:management-server, component:storage

#8354 server: apply rules when VR of Domain VPC is recreated
  server/src/main/java/com/cloud/network/router/VirtualNetworkApplianceManagerImpl.java
  server/src/main/java/com/cloud/network/router/VpcVirtualNetworkApplianceManagerImpl.java
Labels: component:vpc, component:networking

#9309 Revert listAll behaviour for templates & iso
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  ui/src/views/compute/DeployVM.vue
Labels: component:UI, Severity:Critical

#9240 Fix for race when automatically assigning IP to Vms
  api/src/main/java/com/cloud/vm/NicProfile.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestrator.java
  server/src/main/java/com/cloud/network/guru/GuestNetworkGuru.java
Labels: component:api, component:networking, component:orchestration

#9184 server: refactor listNetworks api database retrievals
  server/src/main/java/com/cloud/network/NetworkServiceImpl.java
Labels: component:networking, Severity:Major

#9301 Add, Delete Storage Pool commands should be able execute on a host in maintenance
  engine/components-api/src/main/java/com/cloud/resource/ResourceManager.java
  engine/orchestration/src/main/java/com/cloud/agent/manager/AgentAttache.java
  plugins/storage/volume/default/src/main/java/org/apache/cloudstack/storage/datastore/lifecycle/CloudStackPrimaryDataStoreLifeCycleImpl.java
  server/src/main/java/com/cloud/resource/ResourceManagerImpl.java
  server/src/test/java/com/cloud/resource/MockResourceManagerImpl.java
Labels: component:primary-storage, component:agent, component:orchestration, component:solidfire, component:storage

#9310 Fixed src datastore on copy check for PowerFlex/ScaleIO storage driver
  plugins/storage/volume/scaleio/src/main/java/org/apache/cloudstack/storage/datastore/driver/ScaleIOPrimaryDataStoreDriver.java
Labels: component:primary-storage, component:storage

#8922 extract host from websocket to add route
  services/console-proxy/server/src/main/java/com/cloud/consoleproxy/ConsoleProxyNoVncClient.java
  utils/src/main/java/com/cloud/utils/net/NetUtils.java
Labels: component:console-proxy

#9307 UI: Minor UI improvements
  ui/public/locales/en.json
  ui/src/components/view/InfoCard.vue
  ui/src/components/widgets/CopyLabel.vue
  ui/src/views/AutogenView.vue
  ui/src/views/compute/DeployVM.vue
  ui/src/views/infra/network/IpRangesTabPublic.vue
  ui/src/views/infra/zone/ZoneWizard.vue
  ui/src/views/infra/zone/ZoneWizardZoneDetailsStep.vue
Labels: component:UI

#9146 Differentiate between instalation ISO and attached ISO
  ui/src/components/view/InfoCard.vue
Labels: component:UI

#9268 PowerFlex/ScaleIO SDC client connection improvements
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/storage/ListStoragePoolsCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/StoragePoolResponse.java
  core/src/main/java/com/cloud/agent/api/PrepareStorageClientAnswer.java
  core/src/main/java/com/cloud/agent/api/PrepareStorageClientCommand.java
  core/src/main/java/com/cloud/agent/api/UnprepareStorageClientAnswer.java
  core/src/main/java/com/cloud/agent/api/UnprepareStorageClientCommand.java
  engine/api/src/main/java/org/apache/cloudstack/engine/subsystem/api/storage/PrimaryDataStoreDriver.java
  engine/components-api/src/main/java/com/cloud/storage/StorageManager.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtPrepareStorageClientCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtUnprepareStorageClientCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStoragePoolManager.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/ScaleIOStorageAdaptor.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/StorageAdaptor.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtPrepareStorageClientCommandWrapperTest.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtUnprepareStorageClientCommandWrapperTest.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/storage/ScaleIOStorageAdaptorTest.java
  plugins/storage/volume/scaleio/src/main/java/org/apache/cloudstack/storage/datastore/client/ScaleIOGatewayClient.java
  plugins/storage/volume/scaleio/src/main/java/org/apache/cloudstack/storage/datastore/client/ScaleIOGatewayClientImpl.java
  plugins/storage/volume/scaleio/src/main/java/org/apache/cloudstack/storage/datastore/driver/ScaleIOPrimaryDataStoreDriver.java
  plugins/storage/volume/scaleio/src/main/java/org/apache/cloudstack/storage/datastore/lifecycle/ScaleIOPrimaryDataStoreLifeCycle.java
  plugins/storage/volume/scaleio/src/main/java/org/apache/cloudstack/storage/datastore/manager/ScaleIOSDCManager.java
  plugins/storage/volume/scaleio/src/main/java/org/apache/cloudstack/storage/datastore/manager/ScaleIOSDCManagerImpl.java
  plugins/storage/volume/scaleio/src/main/java/org/apache/cloudstack/storage/datastore/provider/ScaleIOHostListener.java
  plugins/storage/volume/scaleio/src/main/java/org/apache/cloudstack/storage/datastore/util/ScaleIOUtil.java
  plugins/storage/volume/scaleio/src/main/resources/META-INF/cloudstack/storage-volume-scaleio/spring-storage-volume-scaleio-context.xml
  plugins/storage/volume/scaleio/src/test/java/org/apache/cloudstack/storage/datastore/lifecycle/ScaleIOPrimaryDataStoreLifeCycleTest.java
  server/src/main/java/com/cloud/api/ApiDBUtils.java
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  server/src/main/java/com/cloud/api/query/ViewResponseHelper.java
  server/src/main/java/com/cloud/api/query/dao/StoragePoolJoinDao.java
  server/src/main/java/com/cloud/api/query/dao/StoragePoolJoinDaoImpl.java
  server/src/main/java/com/cloud/deploy/DeploymentPlanningManagerImpl.java
  server/src/main/java/com/cloud/storage/StorageManagerImpl.java
Labels: component:kvm, component:primary-storage, component:api, component:storage

#8875 Change storage pool scope from Cluster to Zone and vise versa
  api/src/main/java/com/cloud/event/EventTypes.java
  api/src/main/java/com/cloud/storage/StorageService.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/storage/ChangeStoragePoolScopeCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/vm/ListAffectedVmsForStorageScopeChangeCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/VirtualMachineResponse.java
  api/src/main/java/org/apache/cloudstack/query/QueryService.java
  engine/api/src/main/java/org/apache/cloudstack/engine/subsystem/api/storage/PrimaryDataStoreLifeCycle.java
  engine/components-api/src/main/java/com/cloud/resource/ResourceManager.java
  engine/schema/src/main/java/com/cloud/capacity/CapacityVO.java
  engine/schema/src/main/java/com/cloud/storage/dao/StoragePoolHostDao.java
  engine/schema/src/main/java/com/cloud/storage/dao/StoragePoolHostDaoImpl.java
  engine/schema/src/main/java/com/cloud/storage/dao/VolumeDaoImpl.java
  engine/schema/src/main/java/com/cloud/vm/dao/VMInstanceDao.java
  engine/schema/src/main/java/com/cloud/vm/dao/VMInstanceDaoImpl.java
  engine/storage/src/main/java/org/apache/cloudstack/storage/volume/datastore/PrimaryDataStoreHelper.java
  engine/storage/src/test/java/org/apache/cloudstack/storage/volume/datastore/PrimaryDataStoreHelperTest.java
  engine/storage/volume/src/main/java/org/apache/cloudstack/storage/datastore/lifecycle/BasePrimaryDataStoreLifeCycleImpl.java
  engine/storage/volume/src/test/java/org/apache/cloudstack/storage/datastore/lifecycle/BasePrimaryDataStoreLifeCycleImplTest.java
  plugins/storage/volume/adaptive/src/main/java/org/apache/cloudstack/storage/datastore/lifecycle/AdaptiveDataStoreLifeCycleImpl.java
  plugins/storage/volume/cloudbyte/src/main/java/org/apache/cloudstack/storage/datastore/lifecycle/ElastistorPrimaryDataStoreLifeCycle.java
  plugins/storage/volume/datera/src/main/java/org/apache/cloudstack/storage/datastore/lifecycle/DateraPrimaryDataStoreLifeCycle.java
  plugins/storage/volume/default/src/main/java/org/apache/cloudstack/storage/datastore/lifecycle/CloudStackPrimaryDataStoreLifeCycleImpl.java
  plugins/storage/volume/linstor/src/main/java/org/apache/cloudstack/storage/datastore/lifecycle/LinstorPrimaryDataStoreLifeCycleImpl.java
  plugins/storage/volume/nexenta/src/main/java/org/apache/cloudstack/storage/datastore/lifecylce/NexentaPrimaryDataStoreLifeCycle.java
  plugins/storage/volume/sample/src/main/java/org/apache/cloudstack/storage/datastore/lifecycle/SamplePrimaryDataStoreLifeCycleImpl.java
  plugins/storage/volume/scaleio/src/main/java/org/apache/cloudstack/storage/datastore/lifecycle/ScaleIOPrimaryDataStoreLifeCycle.java
  plugins/storage/volume/solidfire/src/main/java/org/apache/cloudstack/storage/datastore/lifecycle/SolidFirePrimaryDataStoreLifeCycle.java
  plugins/storage/volume/solidfire/src/main/java/org/apache/cloudstack/storage/datastore/lifecycle/SolidFireSharedPrimaryDataStoreLifeCycle.java
  plugins/storage/volume/storpool/src/main/java/org/apache/cloudstack/storage/datastore/lifecycle/StorPoolPrimaryDataStoreLifeCycle.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  server/src/main/java/com/cloud/resource/ResourceManagerImpl.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
  server/src/main/java/com/cloud/storage/StorageManagerImpl.java
  server/src/test/java/com/cloud/api/query/QueryManagerImplTest.java
  server/src/test/java/com/cloud/resource/MockResourceManagerImpl.java
  server/src/test/java/com/cloud/storage/StorageManagerImplTest.java
  test/integration/smoke/test_primary_storage_scope.py
  tools/apidoc/gen_toc.py
  ui/public/locales/en.json
  ui/src/config/section/infra/primaryStorages.js
  ui/src/core/lazy_lib/icons_use.js
  ui/src/views/infra/ChangeStoragePoolScope.vue
Labels: component:management-server, component:primary-storage, component:api, component:UI, Python, component:integration-test, component:solidfire, component:storage

#9234 Handle public IP race conditions
  server/src/main/java/com/cloud/network/IpAddressManagerImpl.java
  server/src/main/java/com/cloud/network/NetworkModelImpl.java
  server/src/main/java/com/cloud/network/firewall/FirewallManagerImpl.java
  server/src/main/java/com/cloud/network/lb/LoadBalancingRulesManagerImpl.java
  server/src/main/java/com/cloud/network/rules/RulesManagerImpl.java
  server/src/main/java/com/cloud/network/vpn/RemoteAccessVpnManagerImpl.java
Labels: component:networking

#9314 Fixup main build error
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/veeam/VeeamClient.java
  plugins/backup/veeam/src/test/java/org/apache/cloudstack/backup/veeam/VeeamClientTest.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/guru/VMwareGuru.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/util/VmwareHelper.java
Labels: component:vmware, component:backup
