Repository apache/cloudstack, pull requests merged in 2024-04, with the labels that each got.

#8714 Refactor cloud-agent module logs for Log4j2
  agent/src/main/java/com/cloud/agent/Agent.java
  agent/src/main/java/com/cloud/agent/AgentShell.java
  agent/src/main/java/com/cloud/agent/dao/impl/PropertiesStorage.java
  agent/src/main/java/com/cloud/agent/mockvm/MockVmMgr.java
  agent/src/main/java/com/cloud/agent/properties/AgentPropertiesFileHandler.java
  agent/src/main/java/com/cloud/agent/resource/consoleproxy/ConsoleProxyResource.java
Labels: component:agent

#8670 Linstor 4.19 fix script alllines
  utils/src/main/java/com/cloud/utils/script/OutputInterpreter.java
  utils/src/test/java/com/cloud/utils/ScriptTest.java
Labels: component:management-server, component:api, component:UI, Python, component:local-storage, component:integration-test, component:storage, has-3rdparty-components, 3rd-party:linstor

#8798 Hypervisor as class
  api/src/main/java/com/cloud/hypervisor/Hypervisor.java
  core/src/main/java/com/cloud/serializer/GsonHelper.java
  core/src/main/java/org/apache/cloudstack/transport/HypervisorTypeAdaptor.java
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/datacenter/entity/api/db/EngineClusterVO.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/datacenter/entity/api/db/EngineHostVO.java
  engine/schema/src/main/java/com/cloud/dc/ClusterVO.java
  engine/schema/src/main/java/com/cloud/host/HostVO.java
  engine/schema/src/main/java/com/cloud/hypervisor/HypervisorCapabilitiesVO.java
  engine/schema/src/main/java/com/cloud/storage/GuestOSHypervisorVO.java
  engine/schema/src/main/java/com/cloud/storage/SnapshotVO.java
  engine/schema/src/main/java/com/cloud/storage/VMTemplateVO.java
  engine/schema/src/main/java/com/cloud/upgrade/SystemVmTemplateRegistration.java
  engine/schema/src/main/java/com/cloud/upgrade/dao/Upgrade41500to41510.java
  engine/schema/src/main/java/com/cloud/vm/VMInstanceVO.java
  engine/schema/src/main/java/org/apache/cloudstack/direct/download/DirectDownloadCertificateVO.java
  engine/schema/src/main/java/org/apache/cloudstack/engine/cloud/entity/api/db/VMEntityVO.java
  engine/schema/src/main/java/org/apache/cloudstack/storage/datastore/db/StoragePoolVO.java
  engine/schema/src/main/java/org/apache/cloudstack/util/HypervisorTypeConverter.java
  framework/db/src/main/java/com/cloud/utils/db/GenericDaoBase.java
  plugins/network-elements/internal-loadbalancer/src/main/java/org/apache/cloudstack/network/lb/InternalLoadBalancerVMManagerImpl.java
  plugins/network-elements/ovs/src/main/java/com/cloud/network/ovs/OvsTunnelManagerImpl.java
  server/src/main/java/com/cloud/api/query/vo/DomainRouterJoinVO.java
  server/src/main/java/com/cloud/api/query/vo/HostJoinVO.java
  server/src/main/java/com/cloud/api/query/vo/SnapshotJoinVO.java
  server/src/main/java/com/cloud/api/query/vo/StoragePoolJoinVO.java
  server/src/main/java/com/cloud/api/query/vo/TemplateJoinVO.java
  server/src/main/java/com/cloud/api/query/vo/UserVmJoinVO.java
  server/src/main/java/com/cloud/api/query/vo/VolumeJoinVO.java
  server/src/main/java/com/cloud/network/NetworkModelImpl.java
  server/src/main/java/com/cloud/storage/StorageManagerImpl.java
  server/src/main/java/com/cloud/template/TemplateAdapterBase.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
Labels: component:api, component:networking, component:database, component:compute, component:orchestration, component:storage

#8821 Allow listing of inactive offerings
  api/src/main/java/org/apache/cloudstack/api/command/admin/offering/UpdateDiskOfferingCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/offering/UpdateServiceOfferingCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/offering/ListDiskOfferingsCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/offering/ListServiceOfferingsCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/DiskOfferingResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/ServiceOfferingResponse.java
  engine/schema/src/main/resources/META-INF/db/views/cloud.disk_offering_view.sql
  engine/schema/src/main/resources/META-INF/db/views/cloud.service_offering_view.sql
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  server/src/main/java/com/cloud/api/query/dao/DiskOfferingJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/dao/ServiceOfferingJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/vo/ServiceOfferingJoinVO.java
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  server/src/test/java/com/cloud/configuration/ConfigurationManagerTest.java
  ui/public/locales/en.json
  ui/src/config/section/offering.js
  ui/src/views/AutogenView.vue
Labels: component:api, component:UI

#8881 server: fix haproxy misconfiguration after VPC VR start
  server/src/main/java/com/cloud/network/router/VirtualNetworkApplianceManagerImpl.java
  server/src/main/java/com/cloud/network/router/VpcVirtualNetworkApplianceManagerImpl.java
Labels: component:vpc, component:networking, status:needs-testing

#8813 Fix VM import & VM delete with custom offering
  api/src/main/java/com/cloud/vm/VirtualMachineProfile.java
  engine/components-api/src/main/java/com/cloud/vm/VirtualMachineProfileImpl.java
  server/src/main/java/org/apache/cloudstack/vm/UnmanagedVMsManagerImpl.java
  server/src/test/java/org/apache/cloudstack/vm/UnmanagedVMsManagerImplTest.java
Labels: component:api, status:needs-testing

#8825 Mark libvirt events experimental, add properties flag
  agent/conf/agent.properties
  agent/src/main/java/com/cloud/agent/properties/AgentProperties.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtConnection.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtDomainListener.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtScaleVmCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/org/apache/cloudstack/utils/linux/KVMHostInfo.java
  plugins/hypervisors/kvm/src/test/java/org/apache/cloudstack/utils/linux/KVMHostInfoTest.java
Labels: component:kvm, component:agent

#8897 linstor: Do not pretend handling disconnect paths that are non Linstor
  plugins/storage/volume/linstor/src/main/java/com/cloud/hypervisor/kvm/storage/LinstorStorageAdaptor.java
Labels: component:primary-storage, component:storage

#8905 Fixup 4.19 build issue
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/VolumeOrchestrator.java
Labels: component:orchestration

#8885 Fix listStoragePoolsMetricsCmd
  framework/db/src/main/java/com/cloud/utils/db/GenericDaoBase.java
Labels: component:database

#8680 Limit infrastructure details revealed to the end user after a failed migration on KVM
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtMigrateCommandWrapper.java
Labels: component:kvm

#8894 Fix VR inheriting boot settings from user's VM
  server/src/main/java/com/cloud/network/element/VirtualRouterElement.java
Labels: component:networking

#8823 Improve vm.allocation.algorithm global setting description
  api/src/main/java/com/cloud/deploy/DeploymentClusterPlanner.java
  server/src/main/java/com/cloud/configuration/Config.java
  server/src/main/java/com/cloud/deploy/FirstFitPlanner.java
  server/src/test/java/com/cloud/vm/FirstFitPlannerTest.java
Labels: component:api

#8845 Fix display of properties related to backup size
  ui/src/components/view/DetailsTab.vue
  ui/src/components/view/InfoCard.vue
Labels: component:UI

#8923 ui: bump UI dependencies versions
  ui/README.md
  ui/package-lock.json
  ui/package.json
Labels: component:UI

#8916 Introduce scheduled executor wrapper with dynamic interval
  api/src/main/java/com/cloud/user/ResourceLimitService.java
  framework/config/src/main/java/org/apache/cloudstack/framework/config/ConfigKeyScheduledExecutionWrapper.java
  framework/config/src/test/java/org/apache/cloudstack/framework/config/ConfigKeyScheduledExecutionWrapperTest.java
  server/src/main/java/com/cloud/resourcelimit/ResourceLimitManagerImpl.java
Labels: component:api

#8842 Fix error message for checkVolume command
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
Labels: component:storage

#8839 Allow kvm storage plugin to customize diskdef, add geometry
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtVMDef.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStoragePool.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStorageProcessor.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/LibvirtVMDefTest.java
Labels: component:kvm

#8896 Add a shutdownhook to remove jobs owned by the process
  usage/src/main/java/com/cloud/usage/UsageManagerImpl.java
Labels: component:usage-server, status:needs-testing

#8792 UI: Fix missing locale strings for Status widget
  ui/src/components/widgets/Status.vue
Labels: component:UI

#8915 protect against null-path
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/resource/VmwareResource.java
  systemvm/debian/etc/logrotate.d/haproxy
Labels: component:vmware, component:virtual-router, component:upgrade, component:migration

#8949 merge forward error in logger name
  usage/src/main/java/com/cloud/usage/UsageManagerImpl.java
Labels: component:usage-server

#8940 kvm: export sysinfo for arm64 domains for cloud-init to work
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtVMDef.java
Labels: component:kvm, platform:arm64

#7235 [Usage] Create VPC billing
  api/src/main/java/com/cloud/event/EventTypes.java
  api/src/main/java/org/apache/cloudstack/usage/UsageTypes.java
  engine/schema/src/main/java/com/cloud/usage/UsageVpcVO.java
  engine/schema/src/main/java/com/cloud/usage/dao/UsageVpcDao.java
  engine/schema/src/main/java/com/cloud/usage/dao/UsageVpcDaoImpl.java
  engine/schema/src/main/resources/META-INF/cloudstack/core/spring-engine-schema-core-common-daos-between-management-and-usage-context.xml
  engine/schema/src/main/resources/META-INF/cloudstack/core/spring-engine-schema-core-daos-context.xml
  engine/schema/src/main/resources/META-INF/db/schema-41900to41910.sql
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariableHelper.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/constant/QuotaTypes.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/VpcDao.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/VpcDaoImpl.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariableHelperTest.java
  server/src/main/java/com/cloud/network/vpc/VpcManagerImpl.java
  usage/src/main/java/com/cloud/usage/UsageManagerImpl.java
  usage/src/main/java/com/cloud/usage/parser/VpcUsageParser.java
Labels: component:vpc, component:api, component:usage-server, component:networking, status:needs-testing, component:quota

#8802 linstor: Only set allow-two-primaries if resource is already in use
  plugins/storage/volume/linstor/src/main/java/com/cloud/hypervisor/kvm/storage/LinstorStorageAdaptor.java
  plugins/storage/volume/linstor/src/main/java/org/apache/cloudstack/storage/datastore/util/LinstorUtil.java
Labels: component:primary-storage, status:ready-for-merge, component:storage, has-3rdparty-components, 3rd-party:linstor

#8239 add logs to ipallocation attempt
  server/src/main/java/com/cloud/network/IpAddressManagerImpl.java
Labels: component:networking

#8930 Fix null pointer exception in restore VM
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
Labels: type:bug, Severity:Critical

#8675 field enlarged and db upgrade
  engine/schema/src/main/java/com/cloud/upgrade/dao/Upgrade41900to41910.java
  engine/schema/src/main/resources/META-INF/db/schema-41900to41910.sql
Labels: Python, component:integration-test

#8778 Fix permission to manipulate VMs and templates settings through UI
  ui/src/components/view/DetailSettings.vue
Labels: component:UI

#8890 log sanitation on output of jobs
  services/secondary-storage/server/src/main/java/org/apache/cloudstack/storage/resource/NfsSecondaryStorageResource.java
Labels: component:secondary-storage, component:ssvm

#8960 Infra25725 add codecov token to workflow
  .github/workflows/ci.yml
  .github/workflows/codecov.yml
  .github/workflows/ui.yml
Labels: component:build, component:integration

#7236 [Usage] Create network billing
  api/src/main/java/com/cloud/event/EventTypes.java
  api/src/main/java/org/apache/cloudstack/usage/UsageTypes.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestrator.java
  engine/schema/src/main/java/com/cloud/usage/UsageNetworksVO.java
  engine/schema/src/main/java/com/cloud/usage/UsageVO.java
  engine/schema/src/main/java/com/cloud/usage/dao/UsageNetworksDao.java
  engine/schema/src/main/java/com/cloud/usage/dao/UsageNetworksDaoImpl.java
  engine/schema/src/main/resources/META-INF/cloudstack/core/spring-engine-schema-core-common-daos-between-management-and-usage-context.xml
  engine/schema/src/main/resources/META-INF/cloudstack/core/spring-engine-schema-core-daos-context.xml
  engine/schema/src/main/resources/META-INF/db/schema-41900to41910.sql
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariableHelper.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/Value.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/constant/QuotaTypes.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/NetworkDao.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/dao/NetworkDaoImpl.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariableHelperTest.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/activationrule/presetvariables/ValueTest.java
  server/src/main/java/com/cloud/network/NetworkServiceImpl.java
  usage/src/main/java/com/cloud/usage/UsageManagerImpl.java
  usage/src/main/java/com/cloud/usage/parser/NetworksUsageParser.java
Labels: component:api, component:usage-server, component:networking, status:needs-work, component:orchestration, status:needs-testing, component:quota

#8948 test: fix unknown parameter hostid in test_vm_life_cycle.py
  test/integration/smoke/test_vm_life_cycle.py
Labels: Python, component:integration-test

#8621 vpc: create vpc tiers with dns server of vpc instead of zone
  server/src/main/java/com/cloud/network/NetworkModelImpl.java
  server/src/test/java/com/cloud/network/NetworkModelImplTest.java
Labels: component:networking, status:needs-testing

#8742 Log4j2 refactor cloud engine orchestration module
  engine/orchestration/src/main/java/com/cloud/agent/manager/AgentAttache.java
  engine/orchestration/src/main/java/com/cloud/agent/manager/AgentManagerImpl.java
  engine/orchestration/src/main/java/com/cloud/agent/manager/ClusteredAgentAttache.java
  engine/orchestration/src/main/java/com/cloud/agent/manager/ClusteredAgentManagerImpl.java
  engine/orchestration/src/main/java/com/cloud/agent/manager/ConnectedAgentAttache.java
  engine/orchestration/src/main/java/com/cloud/agent/manager/DirectAgentAttache.java
  engine/orchestration/src/main/java/com/cloud/agent/manager/SynchronousListener.java
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachinePowerStateSyncImpl.java
  engine/orchestration/src/main/java/com/cloud/vm/VmWorkJobDispatcher.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/cloud/entity/api/VMEntityManagerImpl.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/DataMigrationUtility.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestrator.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/StorageOrchestrator.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/VolumeOrchestrator.java
Labels: component:agent, component:compute, component:orchestration, status:needs-testing

#8966 fix log4j to log4j2 issue
  server/src/main/java/org/apache/cloudstack/storage/volume/VolumeImportUnmanageManagerImpl.java
Labels: component:storage

#8932 packaging: move juniper-contrail network plugin to noredist build
  client/pom.xml
  plugins/network-elements/juniper-contrail/pom.xml
  plugins/pom.xml
Labels: component:networking, component:build

#8850 Add ability to set cpu.threadspercore similar to existing cpu.corespersocket
  api/src/main/java/com/cloud/vm/VmDetailConstants.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtDomainXMLParser.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtVMDef.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/LibvirtCpuTopologyTest.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/LibvirtDomainXMLParserTest.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/LibvirtVMDefTest.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
Labels: component:kvm, component:api

#8395 systemvm: add template_zone_ref record when add a new zone with same hypervisor type
  engine/schema/src/main/java/com/cloud/upgrade/SystemVmTemplateRegistration.java
Labels: Severity:Minor, component:orchestration, status:needs-testing, component:storage

#8713 Hide volumes tab in instance page when user does not have permission to list volumes
  ui/src/views/compute/InstanceTab.vue
Labels: component:UI

#8952 Fix KVM live migration with NFS volumes
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtVMDef.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/MigrateKVMAsync.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtMigrateCommandWrapper.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/MigrateKVMAsyncTest.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtMigrateCommandWrapperTest.java
Labels: component:kvm, component:primary-storage, component:networking, component:storage

#8935 Fixup resource limit checks
  api/src/main/java/com/cloud/user/ResourceLimitService.java
  api/src/main/java/com/cloud/vm/UserVmService.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/RebootVMCmd.java
  engine/api/src/main/java/com/cloud/vm/VirtualMachineManager.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  server/src/main/java/com/cloud/resourcelimit/ResourceLimitManagerImpl.java
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/test/java/com/cloud/vm/UserVmManagerImplTest.java
  server/src/test/java/com/cloud/vpc/MockResourceLimitManagerImpl.java
Labels: component:vpc, component:api, component:compute, component:orchestration, component:storage

#8974 plugin: fix nsx build failure with mvn 3.9
  plugins/network-elements/nsx/pom.xml
Labels: component:networking, component:build

#8790 linstor: cleanup diskless nodes on disconnect
  plugins/storage/volume/linstor/src/main/java/com/cloud/hypervisor/kvm/storage/LinstorStorageAdaptor.java
Labels: component:primary-storage, component:storage, has-3rdparty-components, 3rd-party:linstor

#8978 Show menu section if user has access to at least one of its pages
  ui/src/config/router.js
  ui/src/store/modules/permission.js
Labels: component:UI

#8904 Update volume's passphrase to null if diskOffering doesn't support encryption
  engine/api/src/main/java/org/apache/cloudstack/engine/orchestration/service/VolumeOrchestrationService.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/VolumeOrchestrator.java
  engine/storage/volume/src/main/java/org/apache/cloudstack/storage/volume/VolumeServiceImpl.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
Labels: component:orchestration, component:storage

#8977 Fix restore VM with allocated root disk
  .github/workflows/ci.yml
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  test/integration/smoke/test_restore_vm.py
  ui/src/views/compute/ReinstallVm.vue
Labels: component:UI, Python, component:integration-test, component:integration

#8988 utils: cleanup MacAddress and MacAddressTest
  utils/src/main/java/com/cloud/utils/net/MacAddress.java
  utils/src/test/java/com/cloud/utils/net/MacAddressTest.java
Labels: component:management-server

#8593 UI: hide Cleanup/Expunge when delete a CloudManaged CKS cluster
  ui/src/config/section/compute.js
Labels: component:kvm, component:UI, component:kubernetes, component:cks

#8987 Fix spelling, word case, duplicate words in code comments only
  test/integration/component/test_ps_resize_volume.py
  test/integration/plugins/linstor/README.md
  test/integration/plugins/scaleio/README.md
  test/integration/testpaths/testpath_usage.py
Labels: Python, component:integration-test

#8750 Upgrade org.json:json version
  pom.xml
Labels: component:build, status:needs-testing

#8781 UI: Fix the Add / Remove Vmware DC button on Zone detail view
  ui/src/views/AutogenView.vue
Labels: component:UI

#9011 ui: show systemvm agent version in the list and resource view
  ui/src/config/section/infra/systemVms.js
Labels: component:UI
