Repository apache/cloudstack, pull requests merged in 2024-07, with the labels that each got.

#9265 [UI] Add option to select owner of volume when creating it
  ui/src/views/storage/CreateVolume.vue
Labels: component:UI, status:needs-testing

#9326 linstor: do not use the same static ApiClient for all calls
  plugins/storage/volume/linstor/src/main/java/org/apache/cloudstack/storage/datastore/util/LinstorUtil.java
Labels: component:primary-storage, Severity:Critical, component:storage, has-3rdparty-components, 3rd-party:linstor

#9330 Fixup main build errors
  engine/storage/volume/src/main/java/org/apache/cloudstack/storage/datastore/lifecycle/BasePrimaryDataStoreLifeCycleImpl.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImplTest.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtCheckConvertInstanceCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtPrepareStorageClientCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtUnprepareStorageClientCommandWrapper.java
  plugins/storage/volume/adaptive/src/main/java/org/apache/cloudstack/storage/datastore/lifecycle/AdaptiveDataStoreLifeCycleImpl.java
  plugins/storage/volume/cloudbyte/src/main/java/org/apache/cloudstack/storage/datastore/lifecycle/ElastistorPrimaryDataStoreLifeCycle.java
  plugins/storage/volume/datera/src/main/java/org/apache/cloudstack/storage/datastore/lifecycle/DateraPrimaryDataStoreLifeCycle.java
  plugins/storage/volume/default/src/main/java/org/apache/cloudstack/storage/datastore/lifecycle/CloudStackPrimaryDataStoreLifeCycleImpl.java
  plugins/storage/volume/linstor/src/main/java/org/apache/cloudstack/storage/datastore/lifecycle/LinstorPrimaryDataStoreLifeCycleImpl.java
  plugins/storage/volume/nexenta/src/main/java/org/apache/cloudstack/storage/datastore/lifecylce/NexentaPrimaryDataStoreLifeCycle.java
  plugins/storage/volume/scaleio/src/main/java/org/apache/cloudstack/storage/datastore/lifecycle/ScaleIOPrimaryDataStoreLifeCycle.java
  plugins/storage/volume/scaleio/src/main/java/org/apache/cloudstack/storage/datastore/manager/ScaleIOSDCManagerImpl.java
  plugins/storage/volume/solidfire/src/main/java/org/apache/cloudstack/storage/datastore/lifecycle/SolidFirePrimaryDataStoreLifeCycle.java
  plugins/storage/volume/solidfire/src/main/java/org/apache/cloudstack/storage/datastore/lifecycle/SolidFireSharedPrimaryDataStoreLifeCycle.java
  plugins/storage/volume/storpool/src/main/java/org/apache/cloudstack/storage/datastore/lifecycle/StorPoolPrimaryDataStoreLifeCycle.java
Labels: component:kvm, component:primary-storage, component:quota, component:solidfire, component:storage

#9323 test_primary_storage_scope.py should only run with kvm, vmware and simulator
  test/integration/smoke/test_primary_storage_scope.py
Labels: Python, component:integration-test

#9327 linstor-ui: Fix add primary storage if Linstor protocol selected
  ui/src/views/infra/AddPrimaryStorage.vue
Labels: component:UI

#9334 UI: fix "Request failed." error when open vnf appliances tab of network
  ui/src/views/network/VnfAppliancesTab.vue
Labels: component:UI

#9325 linstor: deleteAsync fallback to volume UUID if path not set yet
  plugins/storage/volume/linstor/src/main/java/org/apache/cloudstack/storage/datastore/driver/LinstorPrimaryDataStoreDriverImpl.java
Labels: component:primary-storage, component:storage, has-3rdparty-components, 3rd-party:linstor

#9348 UI: create network form constantly tries to list domains - which is not permitted for normal users
  ui/src/views/network/CreateIsolatedNetworkForm.vue
Labels: component:UI

#9016 pre-commit: enable Python Flake8 rule `E713`
  .github/linters/.flake8
  plugins/hypervisors/ovm/src/main/scripts/vm/hypervisor/ovm/OvmCommonModule.py
  python/lib/cloud_utils.py
  scripts/network/ping/baremetal_user_data.py
  scripts/vm/hypervisor/xenserver/perfmon.py
  scripts/vm/network/security_group.py
  scripts/vm/network/vnet/ovstunnel.py
  test/integration/component/test_tags.py
  test/integration/smoke/test_scale_vm.py
  tools/marvin/marvin/cloudstackTestCase.py
Labels: component:XenServer, component:networking, Python, component:marvin, component:integration-test

#9345 ui: fix account list on domain change in filterview
  ui/src/components/view/SearchView.vue
Labels: component:UI

#9354 test: fix simulator CI failure test_cluster_drs
  test/integration/smoke/test_cluster_drs.py
Labels: Python, component:integration-test, component:integration

#9357 saml: make default signature check mandatory
  plugins/user-authenticators/saml2/src/main/java/org/apache/cloudstack/saml/SAML2AuthManager.java
Labels: component:saml

#9359 UI: fix CreateIsolatedNetworkForm.vue
  ui/src/views/network/CreateIsolatedNetworkForm.vue
Labels: component:UI

#9353 Bump actions/cache to `v4`
  .github/workflows/linter.yml
  .github/workflows/main-sonar-check.yml
  .github/workflows/sonar-check.yml
Labels: component:integration

#9358 pre-commit: enable Python flake8 rule `E271`
  .github/linters/.flake8
  python/lib/cloud_utils.py
  python/lib/cloudutils/syscfg.py
  python/lib/cloudutils/utilities.py
  systemvm/debian/root/monitorServices.py
  test/integration/component/maint/testpath_vMotion_vmware.py
  test/integration/component/test_interop_xd_ccp.py
  test/integration/component/test_rootvolume_resize.py
  test/integration/smoke/test_kubernetes_clusters.py
  test/integration/smoke/test_privategw_acl.py
  test/integration/smoke/test_privategw_acl_ovs_gre.py
  tools/marvin/marvin/cloudstackException.py
  tools/marvin/marvin/dbConnection.py
  tools/marvin/marvin/lib/ncc.py
Labels: component:virtual-router, Python, component:marvin, component:integration-test

#9349 systemvmtemplate: bump new systemvmtemplate 4.19.1
  pom.xml
  tools/appliance/systemvmtemplate/scripts/configure_systemvm_services.sh
  tools/appliance/systemvmtemplate/template.json
Labels: component:templates, component:build, systemvm-template-change

#9356 Copy on pool host when storage pool has ScopeType.HOST
  engine/storage/datamotion/src/main/java/org/apache/cloudstack/storage/motion/StorageSystemDataMotionStrategy.java
Labels: component:storage

#9361 pre-commit: enable Python flake8 rule `E272`
  .github/linters/.flake8
  plugins/hypervisors/ovm/src/main/scripts/vm/hypervisor/ovm/ConfigFileOps.py
  python/lib/cloudutils/configFileOps.py
  scripts/vm/network/security_group.py
  systemvm/debian/opt/cloud/bin/passwd_server_ip.py
  test/integration/component/test_assign_vm.py
  test/integration/component/test_egress_fw_rules.py
  test/integration/plugins/storpool/TestStorPoolVolumes.py
  test/integration/plugins/storpool/sp_util.py
  test/integration/testpaths/testpath_vmlc.py
  tools/marvin/marvin/deployDataCenter.py
Labels: component:virtual-router, component:networking, Python, component:marvin, component:integration-test

#8197 pre-commit: add `codespell` to check spelling
  .github/linters/codespell.txt
  .pre-commit-config.yaml
  pom.xml
Labels: component:build

#9249 Improvements on information about disks size and offering in VM deployment wizard's InfoCard
  ui/src/components/view/InfoCard.vue
  ui/src/views/compute/DeployVM.vue
Labels: component:UI

#8836 Fix radio buttons in instance migration pop-up
  ui/src/views/compute/MigrateVMStorage.vue
Labels: component:UI

#9376 Ignore non-managed pools for storage pool access preparation
  server/src/main/java/com/cloud/storage/StorageManagerImpl.java
Labels: Severity:BLOCKER, component:storage

#8801 Refactor KubernetesClusterResourceModifierActionWorker
  api/src/main/java/org/apache/cloudstack/api/command/user/firewall/CreateFirewallRuleCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/network/CreateNetworkACLCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/StartVMCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/volume/ResizeVolumeCmd.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterResourceModifierActionWorker.java
  server/src/main/java/com/cloud/network/vpc/NetworkACLServiceImpl.java
Labels: component:vpc, component:api, component:networking, component:UI, Python, component:marvin, component:kubernetes, distro:ubuntu

#8347 Quota tariff order
  engine/schema/src/main/resources/META-INF/db/schema-41910to42000.sql
  framework/quota/src/main/java/org/apache/cloudstack/quota/QuotaManagerImpl.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/Tariff.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/vo/QuotaTariffVO.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/QuotaManagerImplTest.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaTariffCreateCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/command/QuotaTariffUpdateCmd.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImpl.java
  plugins/database/quota/src/main/java/org/apache/cloudstack/api/response/QuotaTariffResponse.java
  plugins/database/quota/src/test/java/org/apache/cloudstack/api/response/QuotaResponseBuilderImplTest.java
  test/integration/plugins/test_quota_tariff_order.py
Labels: Python, component:quota, component:integration-test

#9382 LibvirtOvsFetchInterfaceCommandWrapperTest fix (test fails in mac) - skip it if no interfaces with eth and wl
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtOvsFetchInterfaceCommandWrapperTest.java
Labels: component:kvm

#9381 UI assorted fixes
  ui/public/config.json
  ui/public/index.html
  ui/public/locales/en.json
  ui/src/components/view/InfoCard.vue
  ui/src/components/widgets/Console.vue
  ui/src/config/section/account.js
  ui/src/config/section/domain.js
  ui/src/config/section/infra/hosts.js
  ui/src/config/section/infra/managementServers.js
Labels: component:UI

#9377 saml: purge token after first response and improve setting description
  plugins/user-authenticators/saml2/src/main/java/org/apache/cloudstack/api/command/SAML2LoginAPIAuthenticatorCmd.java
  plugins/user-authenticators/saml2/src/main/java/org/apache/cloudstack/saml/SAML2AuthManager.java
  plugins/user-authenticators/saml2/src/main/java/org/apache/cloudstack/saml/SAML2AuthManagerImpl.java
  plugins/user-authenticators/saml2/src/test/java/org/apache/cloudstack/api/command/SAML2LoginAPIAuthenticatorCmdTest.java
Labels: component:saml

#9172 Add limit configuration for number of projects
  api/src/main/java/com/cloud/user/ResourceLimitService.java
  api/src/main/java/org/apache/cloudstack/api/command/user/resource/UpdateResourceLimitCmd.java
  server/src/main/java/com/cloud/configuration/Config.java
  server/src/main/java/com/cloud/resourcelimit/ResourceLimitManagerImpl.java
  server/src/test/java/com/cloud/resourcelimit/ResourceLimitManagerImplTest.java
Labels: component:vpc, component:api, component:UI, Python, component:orchestration, status:needs-testing, component:integration-test

#9391 UI: Fix backup offering buttons for instances in data view
  ui/src/config/section/compute.js
Labels: component:UI

#9402 Icon changed for control-outlined
  ui/src/config/section/infra/hosts.js
Labels: component:UI

#9409 ui: add new API docs tab
  ui/public/config.json
  ui/public/locales/en.json
  ui/src/config/router.js
  ui/src/core/lazy_lib/components_use.js
  ui/src/store/modules/user.js
  ui/src/style/vars.less
  ui/src/views/plugins/ApiDocsPlugin.vue
Labels: component:UI

#8833 Fix link to removed volumes being shown in info card and list view
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/response/SnapshotResponse.java
  engine/schema/src/main/resources/META-INF/db/views/cloud.snapshot_view.sql
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  server/src/main/java/com/cloud/api/query/dao/SnapshotJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/vo/SnapshotJoinVO.java
  ui/src/components/view/InfoCard.vue
  ui/src/components/view/ListView.vue
  ui/src/utils/links.js
Labels: component:api, component:UI

#9062 Change exception when orchestrating VM start
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
Labels: component:compute, component:orchestration

#9043 Enhancement in the accuracy of the logs regarding the capacity, usage, and threshold of secondary storages
  server/src/main/java/com/cloud/server/StatsCollector.java
Labels: component:management-server

#8739 [4.20] VR: fix issue if userdata is binary data
  systemvm/debian/opt/cloud/bin/configure.py
  systemvm/debian/opt/cloud/bin/passwd_server_ip.py
  systemvm/debian/opt/cloud/bin/setup/patch.sh
  systemvm/debian/opt/cloud/bin/vmdata.py
Labels: component:virtual-router, component:networking, Python, Severity:Critical

#9437 Add systemvmtemplate arm64 build support
  tools/appliance/README.md
  tools/appliance/build.sh
  tools/appliance/systemvmtemplate/http/preseed_aarch64.cfg
  tools/appliance/systemvmtemplate/http/preseed_x86_64.cfg
  tools/appliance/systemvmtemplate/scripts/install_systemvm_packages.sh
  tools/appliance/systemvmtemplate/template-base_aarch64-target_aarch64.json
  tools/appliance/systemvmtemplate/template-base_x86_64-target_aarch64.json
  tools/appliance/systemvmtemplate/template-base_x86_64-target_x86_64.json
Labels: component:templates, systemvm-template-change

#9458 UI: Display Firewall, LB and Port Forwading rules tab for CKS clusters deployed on isolated networks
  ui/src/views/compute/KubernetesServiceTab.vue
Labels: component:api, component:UI

#9434 Fixup CKS UI for external managed clusters
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/KubernetesClusterManagerImpl.java
  ui/src/components/view/ListView.vue
  ui/src/views/compute/KubernetesServiceTab.vue
Labels: component:UI, component:kubernetes

#9399 ui: vm metrics note about behaviour across hypervisors
  ui/public/locales/en.json
  ui/src/components/view/stats/ResourceStatsInfo.vue
Labels: component:UI

#9419 API: Fix missing keys in listZonesMetrics response
  api/src/main/java/org/apache/cloudstack/api/response/ClusterResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/HostResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/ManagementServerResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/StoragePoolResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/UserVmResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/VolumeResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/ZoneResponse.java
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  server/src/main/java/com/cloud/api/query/dao/DataCenterJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/dao/HostJoinDaoImpl.java
Labels: component:api, component:agent, component:build, component:integration

#9426 test: improve purge expunged resources b/g task testcase
  test/integration/smoke/test_purge_expunged_vms.py
Labels: Python, component:integration-test

#9450 packaging: bundle latest cmk x86 build with deb and rpm packages
  debian/rules
  packaging/centos8/cloud.spec
Labels: component:packaging, distro:ubuntu, distro:centos

#8615 Add UI to view and download usage records
  api/src/main/java/org/apache/cloudstack/api/command/admin/usage/GenerateUsageRecordsCmd.java
  ui/public/locales/en.json
  ui/src/components/view/ListView.vue
  ui/src/components/widgets/Status.vue
  ui/src/config/router.js
  ui/src/config/section/tools.js
  ui/src/core/lazy_lib/icons_use.js
  ui/src/utils/util.js
  ui/src/views/AutogenView.vue
  ui/src/views/iam/RolePermissionTab.vue
  ui/src/views/infra/UsageRecords.vue
  ui/src/views/tools/ManageInstances.vue
Labels: component:api, component:UI
