Repository apache/cloudstack, pull requests merged in 2024-01, with the labels that each got.

#8398 Nsx UI zone bug
  ui/public/locales/en.json
  ui/src/views/infra/zone/IpAddressRangeForm.vue
  ui/src/views/infra/zone/ZoneWizard.vue
  ui/src/views/infra/zone/ZoneWizardLaunchZone.vue
  ui/src/views/network/VpcTiersTab.vue
Labels: component:UI

#8409 NSX: Fix code smells and reported bugs
  api/src/main/java/org/apache/cloudstack/api/command/admin/network/CreateNetworkOfferingCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/vpc/CreateVPCOfferingCmd.java
  engine/components-api/src/main/java/com/cloud/configuration/ConfigurationManager.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestrator.java
  engine/orchestration/src/test/java/com/cloud/vm/VirtualMachineManagerImplTest.java
  engine/schema/src/main/java/com/cloud/network/element/NsxProviderVO.java
  plugins/network-elements/nsx/pom.xml
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/agent/api/CreateNsxDhcpRelayConfigCommand.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/agent/api/CreateNsxDistributedFirewallRulesCommand.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/agent/api/CreateNsxLoadBalancerRuleCommand.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/agent/api/CreateNsxPortForwardRuleCommand.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/agent/api/CreateOrUpdateNsxTier1NatRuleCommand.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/agent/api/DeleteNsxLoadBalancerRuleCommand.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/agent/api/DeleteNsxNatRuleCommand.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/agent/api/DeleteNsxSegmentCommand.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/agent/api/DeleteNsxTier1GatewayCommand.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/resource/NsxNetworkRule.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/resource/NsxOpObject.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/resource/NsxResource.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxApiClient.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxElement.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxGuestNetworkGuru.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxProviderServiceImpl.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxPublicNetworkGuru.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/utils/NsxHelper.java
  plugins/network-elements/nsx/src/test/java/org/apache/cloudstack/service/NsxApiClientTest.java
  plugins/network-elements/nsx/src/test/java/org/apache/cloudstack/service/NsxElementTest.java
  plugins/network-elements/nsx/src/test/java/org/apache/cloudstack/service/NsxGuestNetworkGuruTest.java
  plugins/network-elements/nsx/src/test/java/org/apache/cloudstack/service/NsxProviderServiceImplTest.java
  plugins/network-elements/nsx/src/test/java/org/apache/cloudstack/service/NsxPublicNetworkGuruTest.java
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  server/src/main/java/com/cloud/hypervisor/HypervisorGuruBase.java
  server/src/test/java/com/cloud/vpc/MockConfigurationManagerImpl.java
Labels: component:vpc, component:api, component:networking, component:build, component:orchestration

#8431 [NSX] Add more unit tests
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxApiClient.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/utils/NsxControllerUtils.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/utils/NsxHelper.java
  plugins/network-elements/nsx/src/test/java/org/apache/cloudstack/resource/NsxResourceTest.java
  plugins/network-elements/nsx/src/test/java/org/apache/cloudstack/service/NsxServiceImplTest.java
  plugins/network-elements/nsx/src/test/java/org/apache/cloudstack/utils/NsxControllerUtilsTest.java
Labels: component:networking

#8430 Fix ssl check in object store browser
  ui/src/components/view/ObjectStoreBrowser.vue
Labels: component:UI

#8397 Fix bootstrap exceptions
  framework/spring/module/src/main/java/org/apache/cloudstack/spring/module/model/impl/DefaultModuleDefinitionSet.java
Labels: component:logging

#8434 ui: fix layout for action button for template form
  ui/src/views/image/RegisterOrUploadTemplate.vue
Labels: component:UI

#8435 ui: fix default domainid for add account
  ui/src/views/iam/AddAccount.vue
Labels: component:UI

#8429 Fix VMware VM ingestion template selection and default template failure
  server/src/main/java/org/apache/cloudstack/vm/UnmanagedVMsManagerImpl.java
  ui/src/views/tools/ImportUnmanagedInstance.vue
Labels: component:UI

#8426 engine-schema: fix finding guestos mapping with parent version
  engine/schema/src/main/java/com/cloud/storage/dao/GuestOSHypervisorDaoImpl.java
Labels: component:storage

#8448 ui: prevent scheduling readyforshutdown job when api inaccessible
  ui/src/components/page/GlobalLayout.vue
Labels: component:UI

#8463 NSX: Prevent creation of L2 and Shared networks for NSX
  server/src/main/java/com/cloud/network/NetworkServiceImpl.java
  server/src/test/java/com/cloud/network/NetworkServiceImplTest.java
  ui/public/locales/en.json
  ui/src/views/network/CreateIsolatedNetworkForm.vue
  ui/src/views/network/CreateL2NetworkForm.vue
  ui/src/views/network/CreateNetwork.vue
  ui/src/views/network/CreateSharedNetworkForm.vue
Labels: component:networking, component:UI

#8436 NSX: Fix code smells
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestrator.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxApiClient.java
  server/src/main/java/com/cloud/network/vpc/VpcManagerImpl.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
  ui/src/views/network/VpcTiersTab.vue
Labels: component:management-server, component:vpc, component:networking, component:UI, component:compute, component:orchestration

#8425 minio: fix store user creation
  plugins/storage/object/minio/src/main/java/org/apache/cloudstack/storage/datastore/driver/MinIOObjectStoreDriverImpl.java
  plugins/storage/object/minio/src/test/java/org/apache/cloudstack/storage/datastore/driver/MinIOObjectStoreDriverImplTest.java
Labels: component:storage

#8487 Register managed user data using POST call from UI (to support user data content > 4096 bytes)
  ui/src/views/compute/RegisterUserData.vue
Labels: component:UI

#8445 Fix KVM import and list unmanaged VMs
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtGetUnmanagedInstancesCommandWrapper.java
  server/src/main/java/org/apache/cloudstack/vm/UnmanagedVMsManagerImpl.java
Labels: component:kvm

#8465 Fix KVM import unmanaged instances on basic zone
  engine/api/src/main/java/org/apache/cloudstack/engine/orchestration/service/NetworkOrchestrationService.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestrator.java
  engine/orchestration/src/test/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestratorTest.java
  engine/schema/src/main/java/com/cloud/network/dao/IPAddressDao.java
  engine/schema/src/main/java/com/cloud/network/dao/IPAddressDaoImpl.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/main/java/org/apache/cloudstack/vm/UnmanagedVMsManagerImpl.java
  server/src/test/java/com/cloud/vpc/MockNetworkManagerImpl.java
  server/src/test/java/org/apache/cloudstack/vm/UnmanagedVMsManagerImplTest.java
Labels: component:vpc, component:networking, component:orchestration

#8458 DRS: Use free metrics instead of used for computation
  api/src/main/java/org/apache/cloudstack/cluster/ClusterDrsAlgorithm.java
  plugins/drs/cluster/balanced/src/test/java/org/apache/cloudstack/cluster/BalancedTest.java
  plugins/drs/cluster/condensed/src/test/java/org/apache/cloudstack/cluster/CondensedTest.java
  server/src/main/java/org/apache/cloudstack/cluster/ClusterDrsServiceImpl.java
Labels: component:api

#8373 Fix reorder/list pools when cluster details are not set, while deploying vm / attaching volume
  engine/schema/src/main/java/com/cloud/storage/dao/VolumeDaoImpl.java
  engine/schema/src/test/java/com/cloud/storage/dao/VolumeDaoImplTest.java
  engine/storage/src/test/java/org/apache/cloudstack/storage/allocator/AbstractStoragePoolAllocatorTest.java
Labels: status:ready-for-merge, component:storage

#8490 ui: fix labels when migrating instances from vmware
  ui/public/locales/en.json
  ui/src/views/tools/ManageInstances.vue
  ui/src/views/tools/SelectVmwareVcenter.vue
Labels: component:UI

#8483 Fix KVM imported unmanaged VMs disks path
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtGetUnmanagedInstancesCommandWrapper.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtGetUnmanagedInstancesCommandWrapperTest.java
Labels: component:kvm

#8492 Fixes for KVM unmanaged instances import on advanced network and VNC password
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestrator.java
  engine/orchestration/src/test/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestratorTest.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtGetUnmanagedInstancesCommandWrapper.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
Labels: component:kvm, component:orchestration

#8500 vm-import: kvm import and fix volume size when lesser than 1GiB
  engine/api/src/main/java/org/apache/cloudstack/engine/orchestration/service/VolumeOrchestrationService.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/VolumeOrchestrator.java
  server/src/main/java/org/apache/cloudstack/vm/UnmanagedVMsManagerImpl.java
Labels: component:kvm, component:orchestration

#8498 CKS: Add action to during firewall rule creation
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxElement.java
Labels: component:networking

#8502 Fix host stuck in connecting state
  engine/orchestration/src/main/java/com/cloud/agent/manager/AgentManagerImpl.java
  engine/storage/volume/src/main/java/org/apache/cloudstack/storage/datastore/provider/DefaultHostListener.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtReadyCommandWrapper.java
Labels: component:kvm, component:agent, component:orchestration, component:storage

#8512 NSX: Make LB service selectable in network offering
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/network/CreateNetworkOfferingCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/vpc/CreateVPCOfferingCmd.java
  ui/public/locales/en.json
  ui/src/views/offering/AddNetworkOffering.vue
  ui/src/views/offering/AddVpcOffering.vue
Labels: component:vpc, component:api, component:UI

#8524 scripts: mark multipath scripts as executable
  scripts/storage/multipath/cleanStaleMaps.sh
  scripts/storage/multipath/connectVolume.sh
  scripts/storage/multipath/copyVolume.sh
  scripts/storage/multipath/disconnectVolume.sh
  scripts/storage/multipath/resizeVolume.sh
Labels: component:storage

#8519 Rename "Import QCOW...." to "Import QCOW2....."
  ui/public/locales/en.json
  ui/src/views/tools/ManageInstances.vue
Labels: component:UI

#8529 Use project version on pom dependencies
  framework/direct-download/pom.xml
  plugins/affinity-group-processors/non-strict-host-anti-affinity/pom.xml
  plugins/pom.xml
  vmware-base/pom.xml
Labels: component:vmware, component:build

#8504 NSX: Add appropriate error message when icmp type is set to -1 for NSX
  server/src/main/java/com/cloud/network/vpc/NetworkACLServiceImpl.java
  ui/public/locales/en.json
Labels: component:vpc, component:networking, component:UI

#8394 CleanUp Async Jobs after mgmt server maintenance
  api/src/main/java/com/cloud/storage/Volume.java
  engine/api/src/main/java/org/apache/cloudstack/engine/orchestration/service/NetworkOrchestrationService.java
  engine/api/src/main/java/org/apache/cloudstack/engine/subsystem/api/storage/VolumeService.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestrator.java
  engine/storage/volume/src/main/java/org/apache/cloudstack/storage/volume/VolumeObject.java
  engine/storage/volume/src/main/java/org/apache/cloudstack/storage/volume/VolumeServiceImpl.java
  framework/jobs/src/main/java/org/apache/cloudstack/framework/jobs/impl/AsyncJobManagerImpl.java
  framework/jobs/src/test/java/org/apache/cloudstack/framework/jobs/impl/AsyncJobManagerImplTest.java
  server/src/test/java/com/cloud/vpc/MockNetworkManagerImpl.java
Labels: component:vpc, component:api, component:orchestration, component:storage

#8528 NSX: Cleanup NSX resources during k8s cluster cleanup
  api/src/main/java/com/cloud/kubernetes/cluster/KubernetesClusterHelper.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/KubernetesClusterHelperImpl.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/dao/KubernetesClusterVmMapDao.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/dao/KubernetesClusterVmMapDaoImpl.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxElement.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/main/resources/META-INF/cloudstack/core/spring-server-core-managers-context.xml
Labels: component:api, component:networking, component:kubernetes

#8241 Veeam: Support Veeam 11 and 12
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/ListVMsCmd.java
  core/src/main/java/org/apache/cloudstack/backup/PrepareForBackupRestorationCommand.java
  engine/schema/src/main/java/com/cloud/vm/NicVO.java
  engine/schema/src/main/java/com/cloud/vm/dao/NicDao.java
  engine/schema/src/main/java/com/cloud/vm/dao/NicDaoImpl.java
  engine/schema/src/main/java/org/apache/cloudstack/backup/BackupVO.java
  plugins/backup/veeam/pom.xml
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/VeeamBackupProvider.java
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/veeam/VeeamClient.java
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/veeam/api/BackupFile.java
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/veeam/api/BackupFiles.java
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/veeam/api/VmRestorePoint.java
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/veeam/api/VmRestorePoints.java
  plugins/backup/veeam/src/test/java/org/apache/cloudstack/backup/veeam/VeeamClientTest.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/guru/VMwareGuru.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/resource/VmwareResource.java
  server/src/main/java/org/apache/cloudstack/backup/BackupManagerImpl.java
  test/integration/smoke/test_backup_recovery_veeam.py
  tools/marvin/marvin/lib/base.py
  ui/src/components/view/ListView.vue
  ui/src/config/section/compute.js
  ui/src/config/section/storage.js
  ui/src/views/compute/backup/BackupSchedule.vue
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/VirtualMachineMO.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/VmdkFileDescriptor.java
Labels: component:vmware, component:api, component:UI, Python, component:build, component:marvin, status:needs-testing, component:integration-test, component:backup, has-3rdparty-components

#8533 NSX: Add passive monitor for NSX LB to test whether a server is available
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/resource/NsxResource.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxApiClient.java
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/utils/NsxControllerUtils.java
Labels: component:networking

#8539 ui: fix create k8s cluster networks listing
  ui/src/views/compute/CreateKubernetesCluster.vue
Labels: component:UI

#8542 NSX: Add check for ICMP code / type for NSX zones
  server/src/main/java/com/cloud/network/firewall/FirewallManagerImpl.java
Labels: component:networking

#8534 NSX: Fix Routed Mode for Isolated and VPC networks
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxGuestNetworkGuru.java
  server/src/main/java/com/cloud/network/firewall/FirewallManagerImpl.java
  server/src/main/java/com/cloud/server/ConfigurationServerImpl.java
Labels: component:management-server, component:networking, component:orchestration

#8554 NSX: Add retry logic with sleep to delete segments
  plugins/network-elements/nsx/src/main/java/org/apache/cloudstack/service/NsxApiClient.java
Labels: component:networking

#8547 Externalise a few timeouts & fix timeout for hostSupportsUefi in libvirt ready command wrapper
  agent/conf/agent.properties
  agent/src/main/java/com/cloud/agent/properties/AgentProperties.java
  engine/components-api/src/main/java/com/cloud/agent/AgentManager.java
  engine/orchestration/src/main/java/com/cloud/agent/manager/AgentManagerImpl.java
  engine/storage/volume/src/main/java/org/apache/cloudstack/storage/datastore/provider/DefaultHostListener.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtReadyCommandWrapper.java
  utils/src/main/java/com/cloud/utils/script/Script.java
Labels: component:kvm, component:agent, component:orchestration, component:storage

#8570 veeam: fix some issues with restoring volume from backup and attaching it to VM
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/VeeamBackupProvider.java
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/veeam/VeeamClient.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/guru/VMwareGuru.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/storage/resource/VmwareStorageLayoutHelper.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/storage/resource/VmwareStorageProcessor.java
  test/integration/smoke/test_backup_recovery_veeam.py
Labels: component:vmware, Python, component:integration-test, component:backup

#8482 Change the check for the existence of `cryptsetup` command
  plugins/hypervisors/kvm/src/main/java/org/apache/cloudstack/utils/cryptsetup/CryptSetup.java
Labels: component:kvm
