Repository apache/cloudstack, pull requests merged in 2025-09, with the labels that each got.

#11550 [UI] Use update offering APIs to disable compute and disk offerings
  ui/src/config/section/offering.js
Labels: component:UI

#11134 Update md5sum to sha512sum
  debian/rules
  engine/schema/pom.xml
  engine/schema/src/main/resources/META-INF/db/schema-42100to42200.sql
  engine/schema/templateConfig.sh
  packaging/el8/cloud.spec
  server/src/main/java/com/cloud/storage/StorageManagerImpl.java
  systemvm/debian/opt/cloud/bin/setup/bootstrap.sh
  systemvm/debian/opt/cloud/bin/setup/cloud-early-config
  systemvm/debian/opt/cloud/bin/setup/router.sh
  systemvm/patch-sysvms.sh
  tools/appliance/systemvmtemplate/scripts/configure_systemvm_services.sh
  utils/src/main/java/com/cloud/utils/validation/ChecksumUtil.java
  utils/src/main/java/org/apache/cloudstack/utils/security/DigestHelper.java
  utils/src/test/java/org/apache/cloudstack/utils/security/DigestHelperTest.java
Labels: component:virtual-router, component:packaging, component:networking, component:templates, component:build, distro:ubuntu, component:storage, systemvm-template-change, component:security

#11557 kvm: add ssvm storage nic null uri check during plug
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/BridgeVifDriver.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/BridgeVifDriverTest.java
Labels: component:kvm

#11361 Make logout function more robust to prevent session issues
  ui/src/store/modules/user.js
Labels: status:ready-for-merge, component:UI

#11314 server: prevent vm schedule update failure for time when not changed
  server/src/main/java/org/apache/cloudstack/vm/schedule/VMScheduleManagerImpl.java
Labels: status:ready-for-merge

#11575 ui: donot remove account, domain from query on public ip filter change
  ui/src/views/AutogenView.vue
Labels: status:ready-for-merge, component:UI

#10869 Change log level of AgentHandler#processRequest()
  engine/orchestration/src/main/java/com/cloud/agent/manager/AgentManagerImpl.java
Labels: component:agent, component:orchestration

#9305 server: allow migration of vm with snapshots for vmware
  api/src/main/java/com/cloud/hypervisor/Hypervisor.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
Labels: component:vmware, component:api, component:migration, status:needs-testing

#10970 IPv6 firewall: accept packets from related and established connections
  systemvm/debian/opt/cloud/bin/cs/CsNetfilter.py
Labels: component:virtual-router, component:networking, Python, status:needs-testing

#11300 Add CodeQL Analysis for GitHub Actions
  .github/workflows/codeql-analysis.yml
Labels: component:integration

#9793 pre-commit: clean up Python flake8 excludes with black
  .pre-commit-config.yaml
  agent/bindir/cloud-setup-agent.in
  client/bindir/cloud-update-xenserver-licenses.in
  cloud-cli/bindir/cloud-tool
  python/bindir/cloud-grab-dependent-library-versions
  python/bindir/cloud-setup-baremetal
  scripts/vm/hypervisor/xenserver/storagePlugin
  scripts/vm/hypervisor/xenserver/vmopspremium
  setup/bindir/cloud-setup-encryption.in
Labels: component:XenServer, component:agent

#11568 Allow updating of Load Balancer source CIDR list
  api/src/main/java/org/apache/cloudstack/api/command/user/loadbalancer/UpdateLoadBalancerRuleCmd.java
  engine/schema/src/main/java/com/cloud/network/dao/LoadBalancerVO.java
  engine/schema/src/test/java/com/cloud/network/dao/LoadBalancerVOTest.java
  server/src/main/java/com/cloud/network/lb/LoadBalancingRulesManagerImpl.java
Labels: component:api, component:networking, status:needs-testing

#10150 pre-commit add hook `check-shebang-scripts-are-executable` for Shell
  .pre-commit-config.yaml
  engine/schema/templateConfig.sh
  scripts/installer/export-templates.sh
  scripts/vm/hypervisor/xenserver/add_to_vcpus_params_live.sh
  scripts/vm/network/ovs-pvlan-kvm-vm.sh
  scripts/vm/network/vnet/modifyvxlan-evpn.sh
  setup/db/221to222upgrade.sh
  setup/db/deploy-db-clouddev.sh
  setup/db/deploy-db-simulator.sh
  systemvm/agent/scripts/run-proxy.sh
  systemvm/agent/scripts/ssvm-check.sh
  systemvm/agent/scripts/utils.sh
  systemvm/debian/opt/cloud/bin/cks_iso.sh
  systemvm/debian/opt/cloud/bin/patched.sh
  systemvm/debian/opt/cloud/bin/setup/init.sh
  systemvm/debian/opt/cloud/bin/setup/sharedfsvm.sh
  systemvm/debian/opt/cloud/bin/update_interface_config.sh
  systemvm/debian/opt/cloud/templates/check_bumpup.sh
  systemvm/debian/root/func.sh
  systemvm/patch-sysvms.sh
  systemvm/test/runtests.sh
  tools/appliance/cks/ubuntu/22.04/scripts/add-interface-rule.sh
  tools/appliance/cks/ubuntu/22.04/scripts/apt_upgrade.sh
  tools/appliance/cks/ubuntu/22.04/scripts/cleanup.sh
  tools/appliance/cks/ubuntu/22.04/scripts/configure-cloud-init.sh
  tools/appliance/cks/ubuntu/22.04/scripts/configure_networking.sh
  tools/appliance/cks/ubuntu/22.04/scripts/setup-interfaces.sh
  tools/appliance/cks/ubuntu/22.04/scripts/setup_template.sh
  tools/appliance/systemvmtemplate/scripts/apt_upgrade.sh
  tools/appliance/systemvmtemplate/scripts/authorized_keys.sh
  tools/appliance/systemvmtemplate/scripts/cleanup.sh
  tools/appliance/systemvmtemplate/scripts/configure_acpid.sh
  tools/appliance/systemvmtemplate/scripts/configure_conntrack.sh
  tools/appliance/systemvmtemplate/scripts/configure_grub.sh
  tools/appliance/systemvmtemplate/scripts/configure_locale.sh
  tools/appliance/systemvmtemplate/scripts/configure_login.sh
  tools/appliance/systemvmtemplate/scripts/configure_networking.sh
  tools/appliance/systemvmtemplate/scripts/configure_persistent_config.sh
  tools/appliance/systemvmtemplate/scripts/configure_systemvm_services.sh
  tools/appliance/systemvmtemplate/scripts/finalize.sh
  tools/appliance/systemvmtemplate/scripts/install_systemvm_packages.sh
  tools/build/installer/debinstall_full.sh
  tools/devcloud4/common/configure-network.sh
  tools/docker/docker_run_tests.sh
  tools/eclipse/set-eclipse-profile.sh
  tools/utils/database_comparision_during_upgrade/before_upgrade_data_collection.sh
  tools/utils/database_comparision_during_upgrade/cloud_schema_comparision.sh
  tools/utils/database_comparision_during_upgrade/fresh_install_data_collection.sh
  tools/utils/database_comparision_during_upgrade/test_config_before_and_after_upgrade.sh
  tools/utils/database_comparision_during_upgrade/test_config_between_fresh_and_upgraded_setup.sh
  tools/utils/database_comparision_during_upgrade/usage_schema_comparison.sh
Labels: component:XenServer, component:virtual-router, component:networking, component:templates, systemvm-template-change

#11618 Netris: Fix inactive VPCs deletion
  plugins/network-elements/netris/src/main/java/org/apache/cloudstack/service/NetrisApiClientImpl.java
Labels: component:networking

#11670 use /prod/stat to get uptime instead of the uptime command
  server/src/main/java/com/cloud/server/StatsCollector.java
Labels: component:management-server, status:needs-testing

#11676 chore(markdown): use https on links
  CHANGES.md
  INSTALL.md
  README.md
  tools/devcloud4/advanced/README.md
  tools/devcloud4/basic/README.md
  ui/docs/full-test-plan.template.md
  ui/docs/smoke-test-plan.template.md
Labels: component:UI

#11506 Update gson date format for serializing/deserializing Date in MS stats
  server/src/main/java/com/cloud/server/ManagementServerHostStatsEntry.java
  server/src/main/java/com/cloud/server/StatsCollector.java
  server/src/test/java/com/cloud/server/StatsCollectorTest.java
  utils/src/main/java/com/cloud/utils/DateUtil.java
Labels: component:management-server

#11666 Mount the disabled storage pools by default
  engine/components-api/src/main/java/com/cloud/storage/StorageManager.java
Labels: status:ready-for-merge

#11530 server: set VirtualMachineTO arch from template if present
  server/src/main/java/com/cloud/hypervisor/HypervisorGuruBase.java
Labels: status:ready-for-merge

#11696 LDAP: honour nested groups for MSAD
  plugins/user-authenticators/ldap/src/main/java/org/apache/cloudstack/ldap/ADLdapUserManagerImpl.java
  plugins/user-authenticators/ldap/src/main/java/org/apache/cloudstack/ldap/LdapConfiguration.java
  plugins/user-authenticators/ldap/src/main/java/org/apache/cloudstack/ldap/OpenLdapUserManagerImpl.java
Labels: component:management-server, component:virtual-router, status:ready-for-merge, component:networking, Python, component:LDAP

#11687 KVM: fix delete vm snapshot if it does not exist with a Stopped vm
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtDeleteVMSnapshotCommandWrapper.java
Labels: component:kvm

#11546 Add support EL10 & support java 21 for EL10
  packaging/el10
  packaging/el8/cloud.spec
  scripts/installer/pre-check.sh
Labels: component:mysql, component:packaging, component:build, java

#11198 server: set download volume format to qcow2 for KVM volumes
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStorageProcessor.java
  plugins/storage/image/default/src/main/java/org/apache/cloudstack/storage/datastore/driver/CloudStackImageStoreDriverImpl.java
Labels: component:kvm, component:secondary-storage, status:ready-for-merge, component:storage
