Repository apache/cloudstack, pull requests merged in 2025-06, with the labels that each got.

#10769 Log previous and new value of configuration when reset/update API is called
  engine/components-api/src/main/java/com/cloud/configuration/ConfigurationManager.java
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  server/src/test/java/com/cloud/configuration/ConfigurationManagerImplTest.java
  server/src/test/java/com/cloud/vpc/MockConfigurationManagerImpl.java
Labels: component:vpc

#10949 ui: missing changes from #10115
  ui/src/components/view/SearchView.vue
Labels: status:ready-for-merge, component:UI

#10814 ui: show deploy/create button on right info pane
  ui/src/components/view/InfoCard.vue
  ui/src/views/compute/CreateAutoScaleVmGroup.vue
  ui/src/views/compute/DeployVM.vue
  ui/src/views/compute/DeployVnfAppliance.vue
  ui/src/views/compute/wizard/DeployButtons.vue
Labels: component:UI

#10587 StorPool added device ID tag to the StorPool volumes
  plugins/storage/volume/storpool/src/main/java/org/apache/cloudstack/storage/datastore/driver/StorPoolPrimaryDataStoreDriver.java
  plugins/storage/volume/storpool/src/main/java/org/apache/cloudstack/storage/datastore/util/StorPoolUtil.java
  test/integration/plugins/storpool/TestTagsOnStorPool.py
Labels: component:primary-storage, Python, status:waiting-for-smoketest-results, component:integration-test, component:storage, has-3rdparty-components, 3rd-party:storpool

#11010 ui: fix build after forward merge
  ui/src/components/view/InfoCard.vue
Labels: component:UI

#10077 enabled discard option
  plugins/storage/volume/storpool/src/main/java/com/cloud/hypervisor/kvm/storage/StorPoolStoragePool.java
Labels: component:primary-storage, component:storage, 3rd-party:storpool

#10475 Fix volume allocation logs
  engine/storage/src/main/java/org/apache/cloudstack/storage/allocator/ClusterScopeStoragePoolAllocator.java
  engine/storage/src/main/java/org/apache/cloudstack/storage/allocator/ZoneWideStoragePoolAllocator.java
  plugins/storage-allocators/random/src/main/java/org/apache/cloudstack/storage/allocator/RandomStoragePoolAllocator.java
Labels: component:storage

#9277 Add access modifiers to `VirtualMachineTO`
  api/src/main/java/com/cloud/agent/api/to/VirtualMachineTO.java
Labels: component:api, status:waiting-for-smoketest-results

#11055 Add check for ldap truststore password
  plugins/user-authenticators/ldap/src/main/java/org/apache/cloudstack/ldap/LdapContextFactory.java
  plugins/user-authenticators/ldap/src/main/java/org/apache/cloudstack/ldap/LdapManagerImpl.java
Labels: component:LDAP

#11069 Support Direct Download on Ceph primary storage
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/LibvirtStorageAdaptor.java
Labels: type:enhancement, component:kvm, component:ceph
