Repository apache/cloudstack, pull requests merged in 2025-01, with the labels that each got.

#10080 UI: Add cluster arch type to the zone creation wizard
  ui/src/views/infra/zone/ZoneWizardAddResources.vue
  ui/src/views/infra/zone/ZoneWizardLaunchZone.vue
Labels: component:UI

#10151 pre-commit check `.cfg` files with the trailing whitespace hook
  .pre-commit-config.yaml
  setup/dev/advancedsg.cfg
  setup/dev/basic.cfg
  tools/devcloud-kvm/devcloud-kvm-advanced-fusion.cfg
  tools/devcloud-kvm/devcloud-kvm-advanced.cfg
  tools/devcloud-kvm/devcloud-kvm.cfg
  tools/devcloud4/advanced/marvin.cfg
  tools/devcloud4/basic/marvin.cfg
  tools/marvin/marvin/config/Baremetal_AdvZone_Vmware.cfg
  tools/marvin/marvin/config/setup.cfg
  tools/marvin/marvin/misc/build/asf_test.cfg
  tools/marvin/marvin/misc/build/kvm.cfg
  tools/marvin/marvin/misc/build/xen.cfg
Labels: component:marvin

#10161 Revert "pre-commit: add hook `check-yaml`"
  .pre-commit-config.yaml
  plugins/integrations/kubernetes-service/src/main/resources/conf/k8s-control-node-add.yml
  plugins/integrations/kubernetes-service/src/main/resources/conf/k8s-control-node.yml
  plugins/integrations/kubernetes-service/src/main/resources/conf/k8s-node.yml
Labels: component:kubernetes

#9659 Introducing granular command timeouts global setting
  engine/components-api/src/main/java/com/cloud/agent/AgentManager.java
  engine/orchestration/src/main/java/com/cloud/agent/manager/AgentManagerImpl.java
  engine/orchestration/src/test/java/com/cloud/agent/manager/AgentManagerImplTest.java
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  server/src/test/java/com/cloud/configuration/ConfigurationManagerTest.java
  test/integration/smoke/test_global_settings.py
Labels: status:ready-for-merge, Python, component:agent, component:orchestration, component:integration-test

#10034 server, plugin: enhance storage stats for IOPS
  api/src/main/java/com/cloud/storage/StorageStats.java
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/response/StoragePoolResponse.java
  core/src/main/java/com/cloud/agent/api/GetStorageStatsAnswer.java
  core/src/test/java/com/cloud/agent/api/GetStorageStatsAnswerTest.java
  debian/control
  engine/api/src/main/java/org/apache/cloudstack/engine/subsystem/api/storage/PrimaryDataStoreDriver.java
  engine/schema/src/main/java/com/cloud/upgrade/dao/Upgrade41700to41710.java
  engine/schema/src/main/java/org/apache/cloudstack/storage/datastore/db/StoragePoolVO.java
  engine/schema/src/main/resources/META-INF/db/schema-42000to42010.sql
  engine/schema/src/main/resources/META-INF/db/views/cloud.storage_pool_view.sql
  engine/schema/src/test/java/com/cloud/upgrade/dao/Upgrade41700to41710Test.java
  packaging/el8/cloud.spec
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtGetStorageStatsCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStoragePool.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/LibvirtStorageAdaptor.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/LibvirtStoragePool.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/storage/LibvirtStorageAdaptorTest.java
  plugins/hypervisors/simulator/src/main/java/com/cloud/agent/manager/MockStorageManagerImpl.java
  plugins/hypervisors/simulator/src/main/java/com/cloud/simulator/dao/MockVolumeDao.java
  plugins/hypervisors/simulator/src/main/java/com/cloud/simulator/dao/MockVolumeDaoImpl.java
  server/src/main/java/com/cloud/api/query/dao/StoragePoolJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/vo/StoragePoolJoinVO.java
  server/src/main/java/com/cloud/server/StatsCollector.java
  server/src/main/java/com/cloud/storage/StorageManagerImpl.java
  server/src/test/java/com/cloud/server/StatsCollectorTest.java
  server/src/test/java/com/cloud/storage/StorageManagerImplTest.java
  ui/public/locales/en.json
  ui/src/config/section/infra/primaryStorages.js
Labels: component:kvm, component:management-server, component:api, component:packaging, component:UI, component:simulator, distro:ubuntu, component:storage

#9725 Restrict the migration of volumes attached to VMs in Starting state
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
Labels: component:storage

#9677 CheckOnHostCommand: add missing timeout setting
  core/src/main/java/com/cloud/agent/api/CheckOnHostCommand.java
Labels: component:api

#10046 upgrade: consider multiple hypervisors and secondary storages
  engine/schema/src/main/java/com/cloud/upgrade/SystemVmTemplateRegistration.java
  server/src/main/java/com/cloud/storage/StorageManagerImpl.java
Labels: component:systemvm-template, component:templates, component:storage, systemvm-template-change

#9778 network: Add BGP+EVPN+VXLAN script to main repository and Agent package
  scripts/vm/network/vnet/modifyvxlan-evpn.sh
Labels: component:networking

#10174 consider a valid ipv4 address as a validish ipv4 /32 cidr
  services/secondary-storage/controller/src/main/java/org/apache/cloudstack/secondarystorage/SecondaryStorageManagerImpl.java
Labels: component:secondary-storage, component:ssvm

#9644 [VMware] Consider CD/DVD drive when calculating next free unit number for volume attachment over IDE controller
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/VirtualMachineMO.java
Labels: component:vmware

#7061 Rollback of changes with errors during the VM assign
  api/src/main/java/com/cloud/vm/UserVmService.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/vm/AssignVMCmd.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/test/java/com/cloud/vm/UserVmManagerImplTest.java
  server/src/test/java/com/cloud/vm/UserVmManagerTest.java
Labels: component:api, component:orchestration

#10187 UI: Fix slider component in global settings with `Range` type
  ui/src/views/setting/ConfigurationValue.vue
Labels: component:UI

#9892 Maintenance mode: Add host to deployment planner avoid list to fix local storage migration
  server/src/main/java/com/cloud/resource/ResourceManagerImpl.java
Labels: component:local-storage, component:migration, status:needs-testing

#10214 Configure org.eclipse.jetty.server.Request.maxFormKeys from server.properties and increase the default value
  client/conf/server.properties.in
  client/src/main/java/org/apache/cloudstack/ServerDaemon.java
Labels: component:management-server, status:ready-for-merge

#10204 Fix listing of VMs with removed NICs
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
Labels: component:api, status:needs-testing

#10219 linstor: Fix ZFS snapshot backup
  plugins/storage/volume/linstor/CHANGELOG.md
  plugins/storage/volume/linstor/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LinstorBackupSnapshotCommandWrapper.java
Labels: component:primary-storage, component:storage, 3rd-party:linstor

#10227 UI: set redundant state as N/A for non-redundant routers
  ui/src/components/view/ListView.vue
  ui/src/components/widgets/Status.vue
Labels: component:UI

#10057 packaging: have noarch defined for rpms
  packaging/el8/cloud.spec
Labels: component:packaging

#9823 kvm: add SCSI controllers based on the number of virtio-SCSI disks
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResourceTest.java
Labels: component:kvm

#10239 ui: fix passing vlan while creating vpc tier
  ui/src/views/network/VpcTiersTab.vue
Labels: component:UI

#10231 Fix local storage deletion cases
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtDeleteStoragePoolCommandWrapper.java
  server/src/main/java/com/cloud/storage/StorageManagerImpl.java
Labels: component:kvm, component:storage

#10209 Added displaynetwork option in filters for listnetwork only for admin
  ui/public/locales/en.json
  ui/src/components/view/ListView.vue
  ui/src/components/view/SearchView.vue
  ui/src/config/section/network.js
  ui/src/views/AutogenView.vue
Labels: component:UI

#10203 [KVM] Add watchdog model none to disable use of watchdogs on KVM agent
  agent/conf/agent.properties
  agent/src/main/java/com/cloud/agent/properties/AgentProperties.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtVMDef.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/LibvirtVMDefTest.java
Labels: component:kvm, component:packaging, component:agent

#10215 [UI] Switch between allocated and used capacity on dashboard
  ui/src/views/dashboard/CapacityDashboard.vue
Labels: component:UI

#10259 Handle special characters when exporting ACLs
  ui/src/views/network/AclListRulesTab.vue
Labels: component:UI

#10158 deal with NPE during host reconnect
  engine/orchestration/src/main/java/com/cloud/agent/manager/AgentManagerImpl.java
Labels: component:agent, component:orchestration

#10264 extra null guard
  engine/orchestration/src/main/java/com/cloud/agent/manager/AgentManagerImpl.java
Labels: component:agent, component:orchestration

#10200 Add account.created preset variable to Quota tariffs
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/Account.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariableHelper.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariableHelperTest.java
Labels: component:quota

#10267 server: fix attach uploaded volume
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  server/src/test/java/com/cloud/storage/VolumeApiServiceImplTest.java
Labels: status:ready-for-merge, component:storage

#10038 KVM/s390x Support: Add support for KVM on s390x architecture
  agent/conf/agent.properties
  agent/src/main/java/com/cloud/agent/properties/AgentProperties.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtVMDef.java
  plugins/hypervisors/kvm/src/main/java/org/apache/cloudstack/utils/linux/KVMHostInfo.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResourceTest.java
  server/src/main/java/com/cloud/hypervisor/HypervisorGuruBase.java
Labels: component:kvm, component:agent

#10279 UI: Validate inserted values in numeric global settings
  ui/src/views/setting/ConfigurationValue.vue
Labels: component:UI

#10292 ui: fix loading for hypervisor filter in serachview
  ui/src/components/view/SearchView.vue
Labels: status:ready-for-merge, component:UI

#9852 list hosts API fix, when any stale entries exists on storage_pool_host_ref for the removed pools
  server/src/main/java/com/cloud/storage/StorageManagerImpl.java
Labels: type:bug, status:ready-for-merge, component:storage

#10236 api/ui: add specifyvlan to network response
  api/src/main/java/org/apache/cloudstack/api/response/NetworkResponse.java
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  ui/src/config/section/network.js
Labels: component:api, status:ready-for-merge, component:UI

#10234 CKS: use --delete-emptydir-data instead of deprecated --delete-local-data
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterScaleWorker.java
Labels: status:ready-for-merge, component:kubernetes

#10247 server: reset 2fa user configuration on incomplete setup
  engine/schema/src/main/java/com/cloud/user/UserAccountVO.java
  plugins/network-elements/juniper-contrail/src/test/java/org/apache/cloudstack/network/contrail/management/MockAccountManager.java
  server/src/main/java/com/cloud/api/ApiServer.java
  server/src/main/java/com/cloud/user/AccountManager.java
  server/src/main/java/com/cloud/user/AccountManagerImpl.java
  server/src/test/java/com/cloud/user/AccountManagerImplTest.java
  server/src/test/java/com/cloud/user/MockAccountManagerImpl.java
Labels: status:ready-for-merge, component:networking

#10273 Grant access to 2FA APIs for default read-only and support roles
  engine/schema/src/main/resources/META-INF/db/procedures/cloud.idempotent_update_api_permission.sql
  engine/schema/src/main/resources/META-INF/db/schema-41910to41920.sql
Labels: status:ready-for-merge

#10274 Fix NPE during account creation
  server/src/main/java/com/cloud/user/AccountManagerImpl.java
Labels: status:ready-for-merge

#10245 UI: Fix domain view when opening details for a specific domainid
  ui/src/views/iam/DomainView.vue
Labels: component:UI

#9941 packaging: support both mysql and mariadb on EL8/EL9
  packaging/centos8/cloud.spec
Labels: component:packaging, distro:centos

#10295 changed the kubernetestool url
  scripts/util/create-kubernetes-binaries-iso.sh
Labels: status:needs-testing

#10201 Fix volume allocation on local VMFS storage
  engine/storage/src/main/java/org/apache/cloudstack/storage/allocator/AbstractStoragePoolAllocator.java
Labels: status:needs-testing, component:storage

#10288 ui: fix column filter for templates, isos
  ui/src/components/view/ListView.vue
Labels: status:ready-for-merge, component:UI

#10066 Static Routes: fix check on wrong global configuration
  engine/api/src/main/java/org/apache/cloudstack/engine/orchestration/service/NetworkOrchestrationService.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestrator.java
  server/src/main/java/com/cloud/network/vpc/VpcManagerImpl.java
Labels: component:vpc, component:networking, component:orchestration, status:needs-testing

#10168 Allow creation of Shared Networks without IP range if network offering has no services - specifyvlan = true
  server/src/main/java/com/cloud/network/NetworkServiceImpl.java
Labels: component:networking

#10208 api,ui: fix empty source cidr value for firewall rule
  api/src/main/java/org/apache/cloudstack/api/command/user/firewall/CreateFirewallRuleCmd.java
  api/src/test/java/org/apache/cloudstack/api/command/user/firewall/CreateFirewallRuleCmdTest.java
  ui/src/views/network/FirewallRules.vue
Labels: component:api, component:UI, status:needs-testing

#10240 Improve listing of HA and non-HA hosts when ha.tag setting is defined and hosts have multiple tags along with ha tag
  engine/schema/src/main/java/com/cloud/host/dao/HostDaoImpl.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
  server/src/test/java/com/cloud/vm/FirstFitPlannerTest.java
Labels: component:management-server
