Repository apache/cloudstack, pull requests merged in 2025-10, with the labels that each got.

#11639 CKS: generate a random UUID as password of CKS user in project
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/KubernetesClusterManagerImpl.java
  server/src/main/java/com/cloud/user/AccountManagerImpl.java
Labels: component:api, status:ready-for-merge, component:networking, component:LDAP, component:kubernetes

#11751 Consider Instance in Starting state as well for allocation algorithm
  engine/schema/src/main/java/com/cloud/vm/dao/VMInstanceDaoImpl.java
Labels: status:ready-for-merge

#11771 ui: fix overflow for value in DetailInput
  ui/src/components/widgets/DetailsInput.vue
Labels: component:UI

#11735 CKS: fix CKS creation on an existing Shared or Routed network
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/KubernetesClusterManagerImpl.java
Labels: Severity:Critical, component:kubernetes, status:needs-testing

#10983 Fixed and enhanced vlan field validation in the UI
  ui/src/views/infra/zone/AdvancedGuestTrafficForm.vue
Labels: status:ready-for-merge, component:UI

#10641 VMware: match nic mac for ip address fetch
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/resource/VmwareResource.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
Labels: component:XenServer, component:vmware, component:api, status:ready-for-merge, component:agent, component:compute, component:build, component:orchestration, distro:ubuntu, component:storage

#11684 NAS backup provider: Support restore from backup to volumes on Ceph storage pool(s), and take backup for stopped instances with volumes on Ceph storage pool(s)
  api/src/main/java/org/apache/cloudstack/backup/BackupManager.java
  core/src/main/java/org/apache/cloudstack/backup/RestoreBackupCommand.java
  core/src/main/java/org/apache/cloudstack/backup/TakeBackupCommand.java
  plugins/backup/nas/src/main/java/org/apache/cloudstack/backup/NASBackupProvider.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtRestoreBackupCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtTakeBackupCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/org/apache/cloudstack/utils/qemu/QemuImg.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtRestoreBackupCommandWrapperTest.java
  scripts/vm/hypervisor/kvm/nasbackup.sh
Labels: component:kvm, component:api, component:backup

#11654 Add support for providing userdata to system VMs
  api/src/main/java/org/apache/cloudstack/userdata/UserDataManager.java
  engine/api/src/main/java/com/cloud/vm/VirtualMachineManager.java
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
  engine/userdata/src/main/java/org/apache/cloudstack/userdata/UserDataManagerImpl.java
  engine/userdata/src/test/java/org/apache/cloudstack/userdata/UserDataManagerImplTest.java
  framework/config/src/main/java/org/apache/cloudstack/framework/config/ConfigKey.java
  plugins/network-elements/elastic-loadbalancer/src/main/java/com/cloud/network/lb/ElasticLoadBalancerManagerImpl.java
  plugins/network-elements/internal-loadbalancer/src/main/java/org/apache/cloudstack/network/lb/InternalLoadBalancerVMManagerImpl.java
  plugins/network-elements/internal-loadbalancer/src/test/java/org/apache/cloudstack/internallbvmmgr/LbChildTestConfiguration.java
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  server/src/main/java/com/cloud/consoleproxy/ConsoleProxyManager.java
  server/src/main/java/com/cloud/consoleproxy/ConsoleProxyManagerImpl.java
  server/src/main/java/com/cloud/network/router/VirtualNetworkApplianceManager.java
  server/src/main/java/com/cloud/network/router/VirtualNetworkApplianceManagerImpl.java
  server/src/main/java/com/cloud/storage/secondary/SecondaryStorageVmManager.java
  services/secondary-storage/controller/src/main/java/org/apache/cloudstack/secondarystorage/SecondaryStorageManagerImpl.java
  systemvm/debian/opt/cloud/bin/setup/init.sh
  systemvm/debian/opt/cloud/bin/setup/postinit.sh
  test/integration/smoke/test_ssvm.py
  test/integration/smoke/test_systemvm_userdata.py
  tools/appliance/systemvmtemplate/scripts/configure_systemvm_services.sh
Labels: component:secondary-storage, component:virtual-router, component:ssvm, component:api, component:networking, Python, component:compute, component:templates, component:orchestration, component:integration-test, component:storage, systemvm-template-change

#10740 Storage pool response improvements
  api/src/main/java/org/apache/cloudstack/api/response/StoragePoolResponse.java
  engine/api/src/main/java/org/apache/cloudstack/engine/subsystem/api/storage/PrimaryDataStoreLifeCycle.java
  engine/schema/src/main/java/org/apache/cloudstack/storage/datastore/db/PrimaryDataStoreDaoImpl.java
  engine/schema/src/main/resources/META-INF/db/schema-42100to42200.sql
  engine/storage/src/main/java/org/apache/cloudstack/storage/volume/datastore/PrimaryDataStoreHelper.java
  plugins/storage/volume/default/src/main/java/org/apache/cloudstack/storage/datastore/lifecycle/CloudStackPrimaryDataStoreLifeCycleImpl.java
  server/src/main/java/com/cloud/api/query/dao/StoragePoolJoinDaoImpl.java
Labels: component:primary-storage, component:api, component:upgrade, component:storage

#11778 systemvmtemplate: Bump Debian version to 12.12.0
  tools/appliance/systemvmtemplate/template-base_aarch64-target_aarch64.json
  tools/appliance/systemvmtemplate/template-base_x86_64-target_aarch64.json
  tools/appliance/systemvmtemplate/template-base_x86_64-target_x86_64.json
Labels: component:templates, systemvm-template-change

#11488 refactor: remove use of term entry-point from extensions code base
  framework/extensions/src/main/java/org/apache/cloudstack/framework/extensions/api/DeleteExtensionCmd.java
  framework/extensions/src/main/java/org/apache/cloudstack/framework/extensions/manager/ExtensionsManagerImpl.java
  plugins/hypervisors/external/src/main/java/org/apache/cloudstack/hypervisor/external/provisioner/ExternalPathPayloadProvisioner.java
  ui/src/views/extension/CreateExtension.vue
Labels: component:UI

#10282 Add `Hypervisor default` as cache mode for disk offerings
  api/src/main/java/com/cloud/offering/DiskOffering.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/offering/CreateDiskOfferingCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/offering/CreateServiceOfferingCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/ServiceOfferingResponse.java
  core/src/main/java/org/apache/cloudstack/storage/to/VolumeObjectTO.java
  engine/schema/src/main/resources/META-INF/db/schema-42100to42200.sql
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtVMDef.java
  plugins/storage/volume/adaptive/src/main/java/org/apache/cloudstack/storage/datastore/adapter/ProviderAdapterDiskOffering.java
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/views/offering/AddComputeOffering.vue
  ui/src/views/offering/AddDiskOffering.vue
Labels: component:kvm, component:primary-storage, component:api, component:UI, component:storage

#11801 Sanitize the rbd file cmd parameter logs during qemu-img convert (through Script)
  utils/src/main/java/com/cloud/utils/script/Script.java
Labels: status:ready-for-merge

#11773 storage: change storage pool to Up state when cancel storage migration
  engine/components-api/src/main/java/com/cloud/storage/StorageManager.java
  plugins/storage/volume/default/src/main/java/org/apache/cloudstack/storage/datastore/lifecycle/CloudStackPrimaryDataStoreLifeCycleImpl.java
  server/src/main/java/com/cloud/storage/StorageManagerImpl.java
  server/src/main/java/com/cloud/storage/StoragePoolAutomationImpl.java
Labels: component:primary-storage, status:ready-for-merge, component:storage
