Repository apache/cloudstack, pull requests merged in 2025-02, with the labels that each got.

#10237 Decrypt zone, cluster, storage details for configuration values
  engine/schema/src/main/java/com/cloud/dc/ClusterDetailsDao.java
  engine/schema/src/main/java/com/cloud/dc/ClusterDetailsDaoImpl.java
  engine/schema/src/main/java/com/cloud/dc/ClusterDetailsVO.java
  engine/schema/src/main/java/com/cloud/dc/dao/DataCenterDetailsDaoImpl.java
  engine/schema/src/main/java/com/cloud/domain/DomainDetailVO.java
  engine/schema/src/main/java/com/cloud/domain/dao/DomainDetailsDao.java
  engine/schema/src/main/java/com/cloud/domain/dao/DomainDetailsDaoImpl.java
  engine/schema/src/main/java/com/cloud/storage/dao/StoragePoolDetailsDaoImpl.java
  engine/schema/src/main/java/com/cloud/user/AccountDetailVO.java
  engine/schema/src/main/java/com/cloud/user/AccountDetailsDao.java
  engine/schema/src/main/java/com/cloud/user/AccountDetailsDaoImpl.java
  engine/schema/src/main/java/org/apache/cloudstack/resourcedetail/ResourceDetailsDao.java
  engine/schema/src/main/java/org/apache/cloudstack/resourcedetail/ResourceDetailsDaoBase.java
  engine/schema/src/main/java/org/apache/cloudstack/storage/datastore/db/ImageStoreDetailsDaoImpl.java
Labels: status:needs-testing, component:storage

#10217 UI: list backup offerings by zoneid when assign vm to backup offering
  ui/src/config/section/compute.js
Labels: component:UI

#10222 List default network offerings when multiple physical networks for guest traffic type exists
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
Labels: status:needs-testing

#10255 Fix NPE while checking for user data provider
  server/src/main/java/com/cloud/network/NetworkModelImpl.java
  server/src/main/java/com/cloud/network/element/ConfigDriveNetworkElement.java
  server/src/main/java/com/cloud/network/element/VirtualRouterElement.java
Labels: component:networking

#10321 Change Debian packages Maintainer attribute
  debian/control
Labels: distro:ubuntu

#10216 server: fix snapshot physical size
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  server/src/main/java/com/cloud/api/query/dao/SnapshotJoinDao.java
  server/src/main/java/com/cloud/api/query/dao/SnapshotJoinDaoImpl.java
  server/src/test/java/com/cloud/api/query/dao/SnapshotJoinDaoImplTest.java
Labels: type:bug

#10243 Hide register template, create/upload volume and create vpc buttons when zone is not created.
  ui/src/config/section/compute.js
  ui/src/config/section/image.js
  ui/src/config/section/network.js
  ui/src/config/section/storage.js
  ui/src/utils/zone.js
Labels: component:UI

#10126 Linstor: encryption support
  api/src/main/java/com/cloud/storage/Storage.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStorageProcessor.java
  plugins/storage/volume/linstor/CHANGELOG.md
  plugins/storage/volume/linstor/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LinstorBackupSnapshotCommandWrapper.java
  plugins/storage/volume/linstor/src/main/java/com/cloud/hypervisor/kvm/storage/LinstorStorageAdaptor.java
  plugins/storage/volume/linstor/src/main/java/org/apache/cloudstack/storage/datastore/driver/LinstorPrimaryDataStoreDriverImpl.java
  plugins/storage/volume/linstor/src/test/java/org/apache/cloudstack/storage/datastore/driver/LinstorPrimaryDataStoreDriverImplTest.java
  plugins/storage/volume/linstor/src/test/java/org/apache/cloudstack/storage/datastore/util/LinstorUtilTest.java
  pom.xml
Labels: component:kvm, component:primary-storage, component:api, component:build, component:storage, 3rd-party:linstor

#10268 VPC VR: fix ACL between tier and private gateway
  systemvm/debian/opt/cloud/bin/cs/CsAddress.py
Labels: component:virtual-router, component:networking, Python

#10193 Add direct download option to users in register template form
  ui/src/views/image/RegisterOrUploadTemplate.vue
Labels: status:ready-for-merge, component:UI

#9773 UI improvements
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/response/ManagementServerResponse.java
  engine/schema/src/main/resources/META-INF/db/schema-42000to42010.sql
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  server/src/main/java/com/cloud/configuration/Config.java
  server/src/main/java/com/cloud/network/vpn/Site2SiteVpnManagerImpl.java
  server/src/main/java/com/cloud/vm/snapshot/VMSnapshotManagerImpl.java
  ui/public/locales/de_DE.json
  ui/public/locales/el_GR.json
  ui/public/locales/en.json
  ui/public/locales/ja_JP.json
  ui/public/locales/ko_KR.json
  ui/public/locales/pt_BR.json
  ui/public/locales/zh_CN.json
  ui/src/config/section/compute.js
  ui/src/config/section/infra/managementServers.js
  ui/src/config/section/storage.js
  ui/src/views/infra/ClusterAdd.vue
  ui/src/views/setting/ConfigurationHierarchy.vue
  ui/src/views/storage/CreateVolume.vue
  ui/src/views/storage/RecurringSnapshotVolume.vue
Labels: component:management-server, component:api, component:networking, component:UI, component:database

#10280 linstor: Fix using multiple primary storage with same linstor-controller
  plugins/storage/volume/linstor/CHANGELOG.md
  plugins/storage/volume/linstor/src/main/java/com/cloud/hypervisor/kvm/storage/LinstorStorageAdaptor.java
  plugins/storage/volume/linstor/src/main/java/org/apache/cloudstack/storage/datastore/driver/LinstorPrimaryDataStoreDriverImpl.java
  plugins/storage/volume/linstor/src/main/java/org/apache/cloudstack/storage/datastore/util/LinstorUtil.java
Labels: component:primary-storage, status:ready-for-merge, component:storage, 3rd-party:linstor

#10323 Revert test of #10267
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  server/src/test/java/com/cloud/storage/VolumeApiServiceImplTest.java
Labels: component:storage

#10017 Add Resource Limits to Backups and Object Storage
  api/src/main/java/com/cloud/configuration/Resource.java
  api/src/main/java/com/cloud/event/EventTypes.java
  api/src/main/java/com/cloud/storage/VolumeApiService.java
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/command/user/backup/CreateBackupCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/backup/CreateBackupScheduleCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/bucket/CreateBucketCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/bucket/UpdateBucketCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/AccountResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/BackupScheduleResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/BucketResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/DomainResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/ProjectResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/ResourceLimitAndCountResponse.java
  api/src/main/java/org/apache/cloudstack/backup/Backup.java
  api/src/main/java/org/apache/cloudstack/backup/BackupManager.java
  api/src/main/java/org/apache/cloudstack/backup/BackupProvider.java
  api/src/main/java/org/apache/cloudstack/backup/BackupSchedule.java
  api/src/main/java/org/apache/cloudstack/storage/object/BucketApiService.java
  engine/schema/src/main/java/com/cloud/storage/dao/BucketDao.java
  engine/schema/src/main/java/com/cloud/storage/dao/BucketDaoImpl.java
  engine/schema/src/main/java/org/apache/cloudstack/backup/BackupScheduleVO.java
  engine/schema/src/main/java/org/apache/cloudstack/backup/BackupVO.java
  engine/schema/src/main/java/org/apache/cloudstack/backup/dao/BackupDao.java
  engine/schema/src/main/java/org/apache/cloudstack/backup/dao/BackupDaoImpl.java
  engine/schema/src/main/java/org/apache/cloudstack/backup/dao/BackupScheduleDaoImpl.java
  engine/schema/src/main/resources/META-INF/db/schema-42010to42100.sql
  engine/schema/src/main/resources/META-INF/db/views/cloud.account_view.sql
  engine/schema/src/main/resources/META-INF/db/views/cloud.domain_view.sql
  plugins/backup/dummy/src/main/java/org/apache/cloudstack/backup/DummyBackupProvider.java
  plugins/backup/nas/src/main/java/org/apache/cloudstack/backup/NASBackupProvider.java
  plugins/backup/networker/src/main/java/org/apache/cloudstack/backup/NetworkerBackupProvider.java
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/VeeamBackupProvider.java
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/veeam/VeeamClient.java
  plugins/storage/object/ceph/src/main/java/org/apache/cloudstack/storage/datastore/driver/CephObjectStoreDriverImpl.java
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  server/src/main/java/com/cloud/api/query/ViewResponseHelper.java
  server/src/main/java/com/cloud/api/query/dao/AccountJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/dao/DomainJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/vo/AccountJoinVO.java
  server/src/main/java/com/cloud/api/query/vo/DomainJoinVO.java
  server/src/main/java/com/cloud/configuration/Config.java
  server/src/main/java/com/cloud/resourcelimit/ResourceLimitManagerImpl.java
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  server/src/main/java/org/apache/cloudstack/backup/BackupManagerImpl.java
  server/src/main/java/org/apache/cloudstack/storage/object/BucketApiServiceImpl.java
  server/src/test/java/com/cloud/resourcelimit/ResourceLimitManagerImplTest.java
  server/src/test/java/org/apache/cloudstack/backup/BackupManagerTest.java
  server/src/test/java/org/apache/cloudstack/storage/object/BucketApiServiceImplTest.java
  ui/public/locales/en.json
  ui/src/components/view/ListResourceTable.vue
  ui/src/components/view/ResourceCountUsage.vue
  ui/src/components/view/ResourceLimitTab.vue
  ui/src/views/compute/backup/BackupSchedule.vue
  ui/src/views/compute/backup/FormSchedule.vue
  ui/src/views/dashboard/UsageDashboard.vue
  ui/src/views/storage/CreateBucket.vue
  ui/src/views/storage/UpdateBucket.vue
Labels: component:api, component:backup, component:storage

#10324 server: fix pod retrieval during volume attach
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  server/src/test/java/com/cloud/storage/VolumeApiServiceImplTest.java
Labels: component:storage

#10317 systemvm-registration: update seeded template_store_ref sizes
  engine/schema/src/main/java/com/cloud/upgrade/SystemVmTemplateRegistration.java
  server/src/main/java/com/cloud/storage/StorageManagerImpl.java
Labels: component:storage

#10132 Primera pure patches & various small fixes
  api/src/main/java/com/cloud/exception/StorageAccessException.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/VolumeOrchestrator.java
  engine/storage/datamotion/src/main/java/org/apache/cloudstack/storage/motion/StorageSystemDataMotionStrategy.java
  engine/storage/volume/src/main/java/org/apache/cloudstack/storage/volume/VolumeServiceImpl.java
  framework/spring/lifecycle/src/main/java/org/apache/cloudstack/spring/lifecycle/CloudStackExtendedLifeCycle.java
  framework/spring/lifecycle/src/main/java/org/apache/cloudstack/spring/lifecycle/registry/RegistryLifecycle.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtVMDef.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtGetUnmanagedInstancesCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStorageProcessor.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/MultipathSCSIAdapterBase.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterActionWorker.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/utils/KubernetesClusterUtil.java
  plugins/storage/volume/primera/src/main/java/org/apache/cloudstack/storage/datastore/adapter/primera/PrimeraAdapter.java
  scripts/storage/multipath/cleanStaleMaps.sh
  scripts/storage/multipath/disconnectVolume.sh
  server/src/main/java/com/cloud/user/AccountManagerImpl.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  services/secondary-storage/server/src/main/java/org/apache/cloudstack/storage/resource/LocalNfsSecondaryStorageResource.java
Labels: component:kvm, component:primary-storage, component:secondary-storage, component:ssvm, component:api, component:projects, component:kubernetes, component:orchestration, component:storage

#10320 List only untagged offerings for Shared networks when tag isn't passed
  ui/src/views/network/CreateSharedNetworkForm.vue
Labels: component:UI

#10343 Make Description as optional in network acl list
  ui/src/views/network/VpcTab.vue
Labels: component:api, component:UI, component:agent, component:build

#10297 UI: Add offer ha column to system offerings table
  ui/src/components/view/ListView.vue
  ui/src/config/section/offering.js
Labels: component:UI

#9735 Fix VMWare leftovers when deleting VM without root disk
  core/src/main/java/com/cloud/agent/api/CleanupVMCommand.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/guru/VMwareGuru.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/resource/VmwareResource.java
Labels: component:vmware, component:api

#10183 cleanup VM IP after expunge in redundant VPC
  systemvm/debian/opt/cloud/bin/cs/CsDhcp.py
Labels: component:virtual-router, component:networking, Python, status:needs-testing

#10235 server: fix scale vm with same disk offering id
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
Labels: status:waiting-for-smoketest-results

#10357 UI: Fixup missing buttons
  ui/src/config/section/compute.js
  ui/src/config/section/image.js
  ui/src/config/section/network.js
  ui/src/config/section/storage.js
Labels: component:UI

#10262 Fix private gateway acl on static routes
  systemvm/debian/opt/cloud/bin/cs/CsAddress.py
Labels: component:virtual-router, component:networking, Python, status:needs-testing

#10341 UI: Add VM state to Volume list view
  ui/public/locales/en.json
  ui/src/components/view/ListView.vue
  ui/src/components/widgets/Status.vue
  ui/src/config/section/storage.js
Labels: component:UI

#10365 UI: Fix all list items appearing twice in search view
  ui/src/components/view/SearchView.vue
Labels: component:UI

#10332 Validate the direct downloaded template file format (QCOW2) if the template file exists
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStorageProcessor.java
Labels: component:kvm

#10378 LinstorStorageAdaptor: fix lint error
  plugins/storage/volume/linstor/src/main/java/com/cloud/hypervisor/kvm/storage/LinstorStorageAdaptor.java
Labels: component:primary-storage, component:storage

#9223 Fix NPE during kubernetes cluster creation when network has rules with ports saved as null on DB
  engine/schema/src/main/java/com/cloud/network/dao/FirewallRulesDao.java
  engine/schema/src/main/java/com/cloud/network/dao/FirewallRulesDaoImpl.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/KubernetesClusterManagerImpl.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterResourceModifierActionWorker.java
  plugins/integrations/kubernetes-service/src/test/java/com/cloud/kubernetes/cluster/KubernetesClusterManagerImplTest.java
  server/src/main/java/com/cloud/network/firewall/FirewallManagerImpl.java
Labels: status:ready-for-merge, component:networking, component:kubernetes

#10291 UI: Fill username & domain fields in login, forgotPassword and resetPassword page from url
  ui/src/views/auth/ForgotPassword.vue
  ui/src/views/auth/Login.vue
  ui/src/views/auth/ResetPassword.vue
Labels: component:UI

#10300 Support multi-scope configuration settings
  engine/components-api/src/main/java/com/cloud/capacity/CapacityManager.java
  engine/components-api/src/main/java/com/cloud/storage/StorageManager.java
  engine/schema/src/main/java/com/cloud/dc/ClusterDetailsDaoImpl.java
  engine/schema/src/main/java/com/cloud/storage/dao/StoragePoolDetailsDaoImpl.java
  engine/schema/src/main/java/com/cloud/upgrade/ConfigurationGroupsAggregator.java
  engine/schema/src/main/java/com/cloud/upgrade/dao/DatabaseAccessObject.java
  engine/schema/src/main/java/com/cloud/upgrade/dao/DbUpgradeUtils.java
  engine/schema/src/main/java/com/cloud/upgrade/dao/Upgrade42010to42100.java
  engine/schema/src/main/java/com/cloud/user/AccountDetailsDaoImpl.java
  engine/schema/src/main/java/org/apache/cloudstack/storage/datastore/db/ImageStoreDetailsDaoImpl.java
  engine/schema/src/test/java/com/cloud/upgrade/ConfigurationGroupsAggregatorTest.java
  engine/schema/src/test/java/com/cloud/upgrade/dao/DatabaseAccessObjectTest.java
  engine/schema/src/test/java/com/cloud/upgrade/dao/DbUpgradeUtilsTest.java
  engine/schema/src/test/java/com/cloud/upgrade/dao/Upgrade42010to42100Test.java
  framework/config/src/main/java/org/apache/cloudstack/config/Configuration.java
  framework/config/src/main/java/org/apache/cloudstack/framework/config/ConfigDepot.java
  framework/config/src/main/java/org/apache/cloudstack/framework/config/ConfigKey.java
  framework/config/src/main/java/org/apache/cloudstack/framework/config/ScopedConfigStorage.java
  framework/config/src/main/java/org/apache/cloudstack/framework/config/dao/ConfigurationDao.java
  framework/config/src/main/java/org/apache/cloudstack/framework/config/dao/ConfigurationDaoImpl.java
  framework/config/src/main/java/org/apache/cloudstack/framework/config/impl/ConfigDepotImpl.java
  framework/config/src/main/java/org/apache/cloudstack/framework/config/impl/ConfigurationVO.java
  framework/config/src/test/java/org/apache/cloudstack/framework/config/ConfigKeyTest.java
  framework/config/src/test/java/org/apache/cloudstack/framework/config/impl/ConfigDepotImplTest.java
  framework/db/src/main/java/com/cloud/utils/db/SearchBase.java
  framework/db/src/main/java/com/cloud/utils/db/SearchCriteria.java
  plugins/metrics/src/main/java/org/apache/cloudstack/metrics/MetricsServiceImpl.java
  plugins/storage/volume/linstor/src/main/java/com/cloud/hypervisor/kvm/storage/LinstorStorageAdaptor.java
  server/src/main/java/com/cloud/configuration/Config.java
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  server/src/main/java/com/cloud/network/IpAddressManagerImpl.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
  server/src/main/java/com/cloud/server/StatsCollector.java
  server/src/main/java/com/cloud/storage/StorageManagerImpl.java
  server/src/test/java/com/cloud/configuration/ConfigurationManagerImplTest.java
  server/src/test/java/com/cloud/server/ManagementServerImplTest.java
  server/src/test/java/com/cloud/storage/StorageManagerImplTest.java
  server/src/test/java/com/cloud/vpc/dao/MockConfigurationDaoImpl.java
Labels: component:management-server, component:primary-storage, component:vpc, component:api, component:networking, component:database, component:storage

#10372 Enable multiple services on configdrive network service provider
  server/src/main/java/com/cloud/network/element/ConfigDriveNetworkElement.java
Labels: component:networking

#10386 UI: Fix selection of domain filters in the `SearchView` component
  ui/src/components/view/SearchView.vue
Labels: component:UI

#10326 Add IOPS and bytes preset variables to `VOLUME` usage type
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/DiskOfferingPresetVariables.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariableHelper.java
  framework/quota/src/main/java/org/apache/cloudstack/quota/activationrule/presetvariables/Value.java
  framework/quota/src/test/java/org/apache/cloudstack/quota/activationrule/presetvariables/PresetVariableHelperTest.java
Labels: component:quota

#10338 Make isAccountAllowedToCreateOfferingsWithTags API id parameter required
  api/src/main/java/org/apache/cloudstack/api/command/admin/offering/IsAccountAllowedToCreateOfferingsWithTagsCmd.java
Labels: component:api, status:ready-for-merge

#8557 Fix ordering of secondary storages with the algorithm `firstfitleastconsumed`
  engine/storage/image/src/main/java/org/apache/cloudstack/storage/image/manager/ImageStoreProviderManagerImpl.java
  engine/storage/image/src/test/java/org/apache/cloudstack/storage/image/manager/ImageStoreProviderManagerImplTest.java
Labels: status:ready-for-merge, component:storage

#10254 VR: fix duplicated lines in .htaccess
  systemvm/debian/opt/cloud/bin/configure.py
Labels: component:virtual-router, component:networking, Python

#10373 UI: Fix Apache CloudStack description on the onboarding page
  ui/public/locales/ar.json
  ui/public/locales/ca.json
  ui/public/locales/de_DE.json
  ui/public/locales/el_GR.json
  ui/public/locales/en.json
  ui/public/locales/es.json
  ui/public/locales/fr_FR.json
  ui/public/locales/hu.json
  ui/public/locales/it_IT.json
  ui/public/locales/ja_JP.json
  ui/public/locales/ko_KR.json
  ui/public/locales/nb_NO.json
  ui/public/locales/nl_NL.json
  ui/public/locales/pl.json
  ui/public/locales/pt_BR.json
  ui/public/locales/ru_RU.json
  ui/public/locales/zh_CN.json
Labels: status:ready-for-merge, component:UI

#10394 UI: Fix `docHelp` links for Add Hosts, Add Clusters, Disable Clusters and Enable Clusters forms
  ui/src/config/section/infra/clusters.js
  ui/src/config/section/infra/hosts.js
Labels: status:ready-for-merge, component:UI

#10409 VMware import issue fix - check and update pools in the order of disks
  api/src/main/java/com/cloud/storage/VolumeApiService.java
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  server/src/main/java/org/apache/cloudstack/storage/volume/VolumeImportUnmanageManagerImpl.java
  server/src/main/java/org/apache/cloudstack/vm/UnmanagedVMsManagerImpl.java
  server/src/test/java/com/cloud/storage/VolumeApiServiceImplTest.java
  server/src/test/java/org/apache/cloudstack/storage/volume/VolumeImportUnmanageManagerImplTest.java
  server/src/test/java/org/apache/cloudstack/vm/UnmanagedVMsManagerImplTest.java
Labels: component:api, component:storage

#9898 Veeam: set backed_volumes for each backup
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/VeeamBackupProvider.java
Labels: component:backup

#9888 Fix inconsistencies that result in Usage generating usage records when it should not
  engine/schema/src/main/java/com/cloud/usage/dao/UsageNetworksDaoImpl.java
  engine/schema/src/main/java/com/cloud/usage/dao/UsageVpcDaoImpl.java
  usage/src/main/java/com/cloud/usage/UsageManagerImpl.java
Labels: component:usage-server

#10413 migrate Vmware to KVM ui issues
  ui/public/locales/en.json
  ui/src/views/tools/SelectVmwareVcenter.vue
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/BaseMO.java
Labels: component:vmware, component:UI

#9762 Add cpu speed detection methods
  plugins/hypervisors/kvm/src/main/java/org/apache/cloudstack/utils/linux/KVMHostInfo.java
Labels: component:kvm, status:needs-testing

#10369 List only those hosts matching source host arch in multi-arch zones
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
Labels: component:management-server, status:needs-testing

#10418 Fix hostId verification on unsuccessful expunge operation
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
Labels: component:compute, component:orchestration

#10407 engine/orchestration: fix missing vm powerstate update vm state
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachinePowerStateSyncImpl.java
  engine/orchestration/src/test/java/com/cloud/vm/VirtualMachinePowerStateSyncImplTest.java
Labels: component:compute, component:orchestration

#10221 fix: enforce the minimum cgroup cpu shares value to 2
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
Labels: component:kvm

#10351 UI: Fixes and minor enhacements to the Public IP Addresses section
  ui/src/components/view/ListView.vue
  ui/src/config/section/network.js
Labels: component:UI

#10457 resolve merge problems in the backup framework
  api/src/main/java/org/apache/cloudstack/backup/BackupProvider.java
  plugins/backup/dummy/src/main/java/org/apache/cloudstack/backup/DummyBackupProvider.java
  plugins/backup/nas/src/main/java/org/apache/cloudstack/backup/NASBackupProvider.java
  plugins/backup/networker/src/main/java/org/apache/cloudstack/backup/NetworkerBackupProvider.java
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/VeeamBackupProvider.java
Labels: component:api, component:backup

#10266 kvm: fix volume migration across cluster-scope pools
  api/src/main/java/com/cloud/storage/MigrationOptions.java
  engine/storage/datamotion/src/main/java/org/apache/cloudstack/storage/motion/KvmNonManagedStorageDataMotionStrategy.java
  engine/storage/datamotion/src/main/java/org/apache/cloudstack/storage/motion/StorageSystemDataMotionStrategy.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStorageProcessor.java
Labels: component:kvm, component:api, component:storage

#10462 systemvmtemplate: bump version Debian 12.9.0 and ACS 4.20.1
  tools/appliance/systemvmtemplate/scripts/configure_systemvm_services.sh
  tools/appliance/systemvmtemplate/template-base_aarch64-target_aarch64.json
  tools/appliance/systemvmtemplate/template-base_x86_64-target_aarch64.json
  tools/appliance/systemvmtemplate/template-base_x86_64-target_x86_64.json
Labels: component:templates, systemvm-template-change

#10376 add use of virsh domifaddr to get VM external DHCP IP
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtGetVmIpAddressCommandWrapper.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtGetVmIpAddressCommandWrapperTest.java
Labels: component:kvm

#10476 Fix listing disk offerings for newly created VMs that haven't yet been started
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
  server/src/main/java/com/cloud/api/ApiDBUtils.java
Labels: component:compute, component:orchestration
