Repository apache/cloudstack, pull requests merged in 2025-04, with the labels that each got.

#9808 Add support to RBD erasure code pools
  api/src/main/java/org/apache/cloudstack/api/response/StoragePoolResponse.java
  engine/storage/volume/src/main/java/org/apache/cloudstack/storage/datastore/provider/DefaultHostListener.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtCreatePrivateTemplateFromVolumeCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtGetVolumesOnStorageCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/IscsiAdmStorageAdaptor.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMPhysicalDisk.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStoragePoolManager.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStorageProcessor.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/LibvirtStorageAdaptor.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/LibvirtStoragePool.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/StoragePoolInformation.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/storage/KVMPhysicalDiskTest.java
  plugins/storage/volume/storpool/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/StorPoolDownloadVolumeCommandWrapper.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/components/view/DetailsTab.vue
  ui/src/config/section/infra/primaryStorages.js
  ui/src/views/infra/AddPrimaryStorage.vue
  ui/src/views/infra/zone/ZoneWizardAddResources.vue
  ui/src/views/infra/zone/ZoneWizardLaunchZone.vue
Labels: component:kvm, component:primary-storage, component:iscsi, component:api, component:UI, status:needs-testing, component:storage

#10651 UI: Fix projects metrics on dashboard
  ui/src/views/dashboard/UsageDashboard.vue
Labels: component:UI

#10656 docs: fixes grammar and spelling in Markdown files only
  plugins/storage/volume/adaptive/README.md
  plugins/storage/volume/storpool/README.md
  tools/docker/README.md
  tools/marvin/marvin/misc/build/CI.md
  ui/README.md
  ui/docs/full-test-plan.template.md
  ui/docs/smoke-test-plan.template.md
  ui/src/style/README.md
Labels: component:primary-storage, component:UI, component:marvin, docker, component:storage

#10536 test(python): fix code comment typo; Valiate -> Validate
  test/integration/component/test_acl_sharednetwork_deployVM-impersonation.py
Labels: Python, component:integration-test

#10652 UI: Allow setting account and domain maximum amount of projects through the UI
  ui/src/components/view/ResourceLimitTab.vue
Labels: component:UI, status:needs-review

#9175 xenserver: do not destroy halted hypervisor vm
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/CitrixResourceBase.java
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/wrapper/xen56/XenServer56FenceCommandWrapper.java
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/wrapper/xen56p1/XenServer56FP1FenceCommandWrapper.java
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/wrapper/xenbase/CitrixCreateVMSnapshotCommandWrapper.java
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/wrapper/xenbase/CitrixDeleteVMSnapshotCommandWrapper.java
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/wrapper/xenbase/CitrixRevertToVMSnapshotCommandWrapper.java
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/wrapper/xenbase/CitrixStartCommandWrapper.java
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/wrapper/xenbase/CitrixStopCommandWrapper.java
Labels: component:XenServer

#10580 UI: Restore AS Numbers and IPv4 Subnets menus
  ui/src/config/section/network.js
Labels: component:UI

#10567 undo removal of accessLogger and deal with some warnings
  server/src/main/java/com/cloud/api/ApiServer.java
  server/src/main/java/com/cloud/api/ApiServlet.java
Labels: status:needs-testing

#10649 Usage server: remove logging of prameters including secret keys
  usage/src/main/java/com/cloud/usage/UsageManagerImpl.java
Labels: component:usage-server, component:logging, status:needs-testing

#10311 4.19 fix saml account selector
  plugins/user-authenticators/saml2/src/main/java/org/apache/cloudstack/api/command/ListAndSwitchSAMLAccountCmd.java
  plugins/user-authenticators/saml2/src/main/java/org/apache/cloudstack/api/command/SAML2LoginAPIAuthenticatorCmd.java
  plugins/user-authenticators/saml2/src/main/java/org/apache/cloudstack/saml/SAML2AuthManager.java
  plugins/user-authenticators/saml2/src/main/java/org/apache/cloudstack/saml/SAML2AuthManagerImpl.java
  plugins/user-authenticators/saml2/src/main/java/org/apache/cloudstack/saml/SAMLUtils.java
  plugins/user-authenticators/saml2/src/test/java/org/apache/cloudstack/SAMLUtilsTest.java
  plugins/user-authenticators/saml2/src/test/java/org/apache/cloudstack/api/command/ListAndSwitchSAMLAccountCmdTest.java
  server/src/main/java/com/cloud/api/ApiServer.java
  server/src/main/java/com/cloud/user/AccountManagerImpl.java
  server/src/test/java/com/cloud/user/AccountManagerImplTest.java
  ui/src/components/header/SamlDomainSwitcher.vue
  ui/src/store/modules/user.js
  ui/vue.config.js
Labels: component:management-server, component:vpc, component:api, component:networking, component:UI, component:saml, component:orchestration

#10700 UI: Fix column name in Usage view
  ui/src/views/infra/UsageRecords.vue
Labels: status:ready-for-merge, component:UI

#10482 Launch RESIZE event on volume snapshot revert
  server/src/main/java/com/cloud/storage/snapshot/SnapshotManagerImpl.java
  server/src/test/java/com/cloud/storage/snapshot/SnapshotManagerTest.java
  utils/src/test/java/com/cloud/utils/UriUtilsTest.java
Labels: component:storage

#10564 Add download link of volumes, templates and ISOs to the download event details
  api/src/main/java/org/apache/cloudstack/api/command/user/iso/ExtractIsoCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/template/ExtractTemplateCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/volume/ExtractVolumeCmd.java
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  server/src/main/java/com/cloud/template/TemplateManagerImpl.java
Labels: component:api, component:storage

#10364 Migrate public templates that have URLs on data migration across secondary storages
  api/src/main/java/com/cloud/storage/VMTemplateStorageResourceAssoc.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/DataMigrationUtility.java
  engine/orchestration/src/test/java/org/apache/cloudstack/engine/orchestration/DataMigrationUtilityTest.java
  engine/storage/image/src/main/java/org/apache/cloudstack/storage/image/SecondaryStorageServiceImpl.java
  engine/storage/image/src/test/java/org/apache/cloudstack/storage/image/SecondaryStorageServiceImplTest.java
  server/src/main/java/com/cloud/api/query/dao/TemplateJoinDaoImpl.java
  server/src/main/java/com/cloud/storage/download/DownloadActiveState.java
  server/src/main/java/com/cloud/storage/download/DownloadListener.java
Labels: component:api, component:orchestration, component:storage

#10707 Fix volume migration failure handling
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/resource/VmwareResource.java
  plugins/hypervisors/vmware/src/main/java/org/apache/cloudstack/storage/motion/VmwareStorageMotionStrategy.java
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
Labels: component:vmware, component:storage

#10704 server: check startip and endip of shared network
  server/src/main/java/com/cloud/network/NetworkServiceImpl.java
Labels: component:networking

#10709 UI: Move templates creation date to the Zones tab
  ui/src/components/view/InfoCard.vue
  ui/src/views/image/IsoZones.vue
  ui/src/views/image/TemplateZones.vue
Labels: component:UI, component:templates, status:needs-review

#10591 HA: set correct hostId of HA work for vm migration
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
  engine/schema/src/main/java/com/cloud/vm/VMInstanceVO.java
  server/src/main/java/com/cloud/ha/HighAvailabilityManagerImpl.java
Labels: component:compute, component:orchestration, status:needs-testing

#10630 utils: fix extra slash in Redfish default systems url path
  utils/src/main/java/org/apache/cloudstack/utils/redfish/RedfishClient.java
  utils/src/test/java/org/apache/cloudstack/utils/redfish/RedfishClientTest.java
Labels: type:bug, status:ready-for-merge, Severity:Major, priority: high

#10739 VR: add bind-interfaces to /etc/dnsmasq.d/cloud.conf
  systemvm/debian/opt/cloud/bin/cs/CsDhcp.py
Labels: component:virtual-router, component:networking, Python, status:needs-testing

#10753 .github: fix simulator CI caused by imcompatibility between python3.10 and nosetests
  .github/workflows/ci.yml
Labels: component:integration

#10750 UI: Update message of load balancer for autoscaling group
  ui/public/locales/en.json
Labels: component:UI

#10568 Remove the validation of the amount of acquired public IPs when enabling static NAT, adding PF and LB rules on VPC public IPs
  server/src/main/java/com/cloud/network/IpAddressManagerImpl.java
  server/src/main/java/com/cloud/network/vpc/VpcManagerImpl.java
Labels: component:vpc, component:networking

#10493 Fix NPE on updating security groups for an instance
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  ui/src/views/compute/EditVM.vue
  ui/src/views/compute/InstanceTab.vue
Labels: component:security-group, status:ready-for-merge, component:UI, Severity:Critical

#10644 xen-api: use https://mvnrepository.com/artifact/com.citrix.hypervisor/xen-api
  plugins/hypervisors/ovm/pom.xml
  plugins/hypervisors/xenserver/pom.xml
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/discoverer/XcpServerDiscoverer.java
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/CitrixResourceBase.java
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/XenServerConnectionPool.java
  plugins/hypervisors/xenserver/src/main/java/com/xensource/xenapi/ConnectionNew.java
  pom.xml
Labels: component:XenServer, component:build

#10745 ui: confirm on reset configurations
  ui/public/locales/en.json
  ui/src/components/view/ListView.vue
  ui/src/components/view/SettingsTab.vue
  ui/src/main.js
  ui/src/utils/plugins.js
  ui/src/views/setting/ConfigurationValue.vue
  ui/tests/common/index.js
Labels: component:UI

#10662 Fix the size of a template downloaded from secondary storage
  plugins/storage/volume/storpool/src/main/java/org/apache/cloudstack/storage/datastore/driver/StorPoolPrimaryDataStoreDriver.java
Labels: component:primary-storage, component:storage

#10647 Revert "Add the option to filter by host when retrieving of unregistered VMs (#9925)"
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/response/HostResponse.java
  plugins/acl/dynamic-role-based/src/main/java/org/apache/cloudstack/acl/DynamicRoleBasedAPIAccessChecker.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/VmwareDatacenterService.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/manager/VmwareManagerImpl.java
  plugins/hypervisors/vmware/src/main/java/org/apache/cloudstack/api/command/admin/zone/AddVmwareDcCmd.java
  plugins/hypervisors/vmware/src/main/java/org/apache/cloudstack/api/command/admin/zone/ImportVsphereStoragePoliciesCmd.java
  plugins/hypervisors/vmware/src/main/java/org/apache/cloudstack/api/command/admin/zone/ListVmwareDcHostsCmd.java
  plugins/hypervisors/vmware/src/main/java/org/apache/cloudstack/api/command/admin/zone/ListVmwareDcItems.java
  plugins/hypervisors/vmware/src/main/java/org/apache/cloudstack/api/command/admin/zone/ListVmwareDcVmsCmd.java
  plugins/hypervisors/vmware/src/main/java/org/apache/cloudstack/api/command/admin/zone/ListVmwareDcsCmd.java
  plugins/hypervisors/vmware/src/main/java/org/apache/cloudstack/api/command/admin/zone/ListVsphereStoragePoliciesCmd.java
  plugins/hypervisors/vmware/src/main/java/org/apache/cloudstack/api/command/admin/zone/ListVsphereStoragePolicyCompatiblePoolsCmd.java
  plugins/hypervisors/vmware/src/main/java/org/apache/cloudstack/api/command/admin/zone/RemoveVmwareDcCmd.java
  plugins/hypervisors/vmware/src/main/java/org/apache/cloudstack/api/command/admin/zone/UpdateVmwareDcCmd.java
  plugins/hypervisors/vmware/src/main/java/org/apache/cloudstack/api/command/admin/zone/VmwareRequestResponse.java
  test/integration/smoke/test_dynamicroles.py
  ui/src/views/tools/ManageInstances.vue
  ui/src/views/tools/SelectVmwareVcenter.vue
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/BaseMO.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/CustomFieldsManagerMO.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/DatacenterMO.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/HostMO.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/VirtualMachineMO.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/util/VmwareClient.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/util/VmwareClientException.java
Labels: component:vmware, component:api, component:UI, Python, status:needs-testing, component:integration-test

#10746 Don't specify ipv6 ranges for shared network
  server/src/main/java/com/cloud/network/NetworkServiceImpl.java
Labels: component:networking

#10762 test: fix test_certauthority_root.py
  test/integration/smoke/test_certauthority_root.py
Labels: Python, component:integration-test

#10741 Smoke tests: Xenserver - Fix consistent failure noticed on scale VM test
  test/integration/smoke/test_scale_vm.py
Labels: Python, component:integration-test

#10583 Fix smoke tests due to change in behavior of restore VM
  test/integration/smoke/test_events_resource.py
  test/integration/smoke/test_network_permissions.py
Labels: Python, type:regression, component:integration-test

#10543 vTPM: support KVM and VMware
  api/src/main/java/com/cloud/vm/VmDetailConstants.java
  api/src/main/java/org/apache/cloudstack/query/QueryService.java
  engine/schema/src/main/resources/META-INF/db/schema-42000to42010.sql
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtVMDef.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResourceTest.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/LibvirtVMDefTest.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/resource/VmwareResource.java
  plugins/hypervisors/vmware/src/test/java/com/cloud/hypervisor/vmware/resource/VmwareResourceTest.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  ui/src/views/compute/DeployVM.vue
Labels: component:kvm, component:vmware, component:api, component:UI

#10755 Network Usage event model adjustments
  engine/components-api/src/main/java/com/cloud/event/UsageEventUtils.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestrator.java
  engine/orchestration/src/test/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestratorTest.java
  server/src/main/java/com/cloud/network/NetworkServiceImpl.java
Labels: component:vpc, component:networking, component:orchestration

#10761 smoke tests: Fix cluster DRS & non-strict host affinity smoke test failures on XenServer / XCP-ng
  test/integration/smoke/test_cluster_drs.py
  test/integration/smoke/test_nonstrict_affinity_group.py
Labels: Python, component:integration-test

#10525 Add new config (non-dynamic) for agent connections monitor thread, and keep timeunit to secs (in sync with the earlier Wait config)
  engine/components-api/src/main/java/com/cloud/agent/AgentManager.java
  engine/orchestration/src/main/java/com/cloud/agent/manager/AgentManagerImpl.java
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
  utils/src/main/java/com/cloud/utils/nio/NioConnection.java
Labels: component:agent, component:compute, component:orchestration, status:needs-testing

#10774 Xenserver smoke-test: Allow emojis to be accepted in volume name during volume creation
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/XenServerStorageProcessor.java
Labels: component:XenServer
