Repository apache/cloudstack, pull requests merged in 2025-05, with the labels that each got.

#10726 cloudutils: use "ip route" command instead of "route -n" in networkConfig.py
  python/lib/cloudutils/networkConfig.py
Labels: Python

#10791 UI: Display system VM count in hosts listing
  ui/src/config/section/infra/hosts.js
Labels: component:UI

#10772 Ceph object store: Fix LocationConstraint error
  plugins/storage/object/ceph/src/main/java/org/apache/cloudstack/storage/datastore/driver/CephObjectStoreDriverImpl.java
  plugins/storage/object/ceph/src/test/java/org/apache/cloudstack/storage/datastore/driver/CephObjectStoreDriverImplTest.java
Labels: component:ceph, component:storage, component:object-storage

#10714 UI: Allow editing a Running VM in an Advanced zone with security groups except for security group details
  ui/src/views/compute/EditVM.vue
Labels: component:UI

#10800 docs: correct outdated Maven link in install.md
  INSTALL.md
Labels: component:documentation

#10265 [UI] Allow quiescevm and asyncbackup flags while taking volume snapshot from UI when these are supported for the volume
  engine/storage/snapshot/src/main/java/org/apache/cloudstack/storage/vmsnapshot/StorageVMSnapshotStrategy.java
  engine/storage/snapshot/src/test/java/org/apache/cloudstack/storage/vmsnapshot/VMSnapshotStrategyKVMTest.java
  server/src/main/java/com/cloud/storage/snapshot/SnapshotManagerImpl.java
  ui/src/config/section/compute.js
  ui/src/views/compute/CreateSnapshotWizard.vue
  ui/src/views/storage/TakeSnapshot.vue
Labels: component:UI, component:storage

#10629 check for custom offering and trim size
  ui/src/views/storage/CreateVolume.vue
Labels: component:UI

#10805 Update dependency required for test_outofbandmanagement.py
  .github/workflows/ci.yml
Labels: component:UI, component:storage, component:integration

#10806 smoke tests / CI : Fix test_vm_stric_host_tags
  test/integration/smoke/test_vm_strict_host_tags.py
Labels: Python, component:integration-test

#10624 server: prevent duplicate HA works and alerts
  engine/orchestration/src/main/java/com/cloud/agent/manager/AgentManagerImpl.java
  server/src/main/java/com/cloud/ha/HighAvailabilityManagerImpl.java
  server/src/main/java/com/cloud/ha/dao/HighAvailabilityDao.java
  server/src/main/java/com/cloud/ha/dao/HighAvailabilityDaoImpl.java
  server/src/test/java/com/cloud/ha/HighAvailabilityManagerImplTest.java
Labels: Severity:Critical, component:agent, component:orchestration

#10818 test: cleanup test_guest_os.py for multiple execution
  test/integration/smoke/test_guest_os.py
  tools/marvin/marvin/lib/base.py
Labels: Python, component:marvin, component:integration-test

#10708 [VMware] Update vlans with proper range before creating port group for dvSwitch
  utils/src/main/java/com/cloud/utils/StringUtils.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/HypervisorHostHelper.java
  vmware-base/src/test/java/com/cloud/hypervisor/vmware/mo/HypervisorHostHelperTest.java
Labels: component:vmware

#10815 test: fix test_hostha_simulator.py and test_outofbandmanagement.py
  test/integration/smoke/test_hostha_simulator.py
  test/integration/smoke/test_outofbandmanagement.py
Labels: Python, component:integration-test

#10785 Nas BnR: Fix for restore not working correctly
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtRestoreBackupCommandWrapper.java
Labels: component:kvm, Severity:BLOCKER, component:backup

#10822 Add search bar on rules of roles
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/views/iam/RolePermissionTab.vue
Labels: component:UI

#10712 Backport #9888 to 4.19: Fix Usage inconsistencies
  engine/schema/src/main/java/com/cloud/usage/dao/UsageNetworksDao.java
  engine/schema/src/main/java/com/cloud/usage/dao/UsageNetworksDaoImpl.java
  engine/schema/src/main/java/com/cloud/usage/dao/UsageVpcDao.java
  engine/schema/src/main/java/com/cloud/usage/dao/UsageVpcDaoImpl.java
  usage/src/main/java/com/cloud/usage/UsageManagerImpl.java
Labels: component:usage-server

#10824 UI workaround for the inconsistent formatting of listVirtualMachinesUsageHistory
  ui/src/components/view/StatsTab.vue
Labels: component:UI

#10431 server: fetch IP of VMs on L2 networks
  core/src/main/java/com/cloud/agent/api/GetVmIpAddressCommand.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtGetVmIpAddressCommandWrapper.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtGetVmIpAddressCommandWrapperTest.java
  plugins/hypervisors/xenserver/src/test/java/com/cloud/hypervisor/xenserver/resource/wrapper/xenbase/CitrixRequestWrapperTest.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
Labels: component:kvm, component:XenServer, component:api

#10744 engine/schema: create default network offering for vpc tier with conserve_mode=1 for fresh installation
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestrator.java
  engine/schema/src/main/resources/META-INF/db/schema-42000to42010.sql
Labels: component:orchestration

#9825 ui: improve metrics api use in list views
  ui/src/config/router.js
  ui/src/config/section/compute.js
  ui/src/config/section/infra/clusters.js
  ui/src/config/section/infra/hosts.js
  ui/src/config/section/infra/zones.js
  ui/src/views/AutogenView.vue
Labels: component:UI

#10775 StorPool notify libvirt when volume is resized
  plugins/storage/volume/storpool/src/main/java/org/apache/cloudstack/storage/datastore/driver/StorPoolPrimaryDataStoreDriver.java
Labels: component:primary-storage, component:storage, has-3rdparty-components, 3rd-party:storpool

#10807 cleanup call on super in affinity groups projects component test
  test/integration/component/test_affinity_groups_projects.py
Labels: Python, component:integration-test

#10833 xenserver: destroy halted vm on expunge
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/XenServerGuru.java
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/wrapper/xenbase/CitrixCleanupVMCommandWrapper.java
Labels: component:XenServer

#10612 server: check if redundant router is supported when restart network with makeredundant = true
  server/src/main/java/com/cloud/network/NetworkServiceImpl.java
Labels: component:networking, status:needs-testing

#10748 [VMware] Sync the disk path or datastore changes for IDE disks, and before any volume resize during start vm (for the volumes on datastore cluster)
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/resource/VmwareResource.java
Labels: component:vmware, status:ready-for-merge, component:agent, component:build, component:orchestration, component:integration

#10061 enhancement: add password to configdrive vendor_data.json
  engine/storage/configdrive/src/main/java/org/apache/cloudstack/storage/configdrive/ConfigDriveBuilder.java
  engine/storage/configdrive/src/test/java/org/apache/cloudstack/storage/configdrive/ConfigDriveBuilderTest.java
Labels: component:vpc, component:api, component:networking, component:agent, component:build, component:orchestration, distro:ubuntu, status:needs-testing, component:storage

#10850 Linstor: implement volume and storage stats
  plugins/storage/volume/linstor/CHANGELOG.md
  plugins/storage/volume/linstor/src/main/java/org/apache/cloudstack/storage/datastore/driver/LinstorPrimaryDataStoreDriverImpl.java
  plugins/storage/volume/linstor/src/main/java/org/apache/cloudstack/storage/datastore/util/LinstorConfigurationManager.java
  plugins/storage/volume/linstor/src/main/java/org/apache/cloudstack/storage/datastore/util/LinstorUtil.java
  pom.xml
Labels: component:primary-storage, component:build, component:storage, 3rd-party:linstor

#10684 Support XenServer 8.4 / XCP 8.3 - make scripts python3 compatible
  engine/schema/src/main/resources/META-INF/db/schema-42000to42010.sql
  plugins/hypervisors/ovm/pom.xml
  plugins/hypervisors/xenserver/pom.xml
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/discoverer/XcpServerDiscoverer.java
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/CitrixResourceBase.java
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/XcpServer83Resource.java
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/XenServerConnectionPool.java
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/Xenserver84Resource.java
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/wrapper/xenbase/CitrixStartCommandWrapper.java
  plugins/hypervisors/xenserver/src/main/java/com/xensource/xenapi/ConnectionNew.java
  pom.xml
  scripts/vm/hypervisor/xenserver/xcpserver83/NFSSR.py
  scripts/vm/hypervisor/xenserver/xcpserver83/patch
  scripts/vm/hypervisor/xenserver/xenserver84/cloud-plugin-storage
  scripts/vm/hypervisor/xenserver/xenserver84/cloudstack_pluginlib.py
  scripts/vm/hypervisor/xenserver/xenserver84/ovs-vif-flows.py
  scripts/vm/hypervisor/xenserver/xenserver84/patch
  scripts/vm/hypervisor/xenserver/xenserver84/swift
  scripts/vm/hypervisor/xenserver/xenserver84/vmops
  scripts/vm/hypervisor/xenserver/xenserver84/vmopsSnapshot
  scripts/vm/hypervisor/xenserver/xenserver84/vmopspremium
  services/secondary-storage/server/src/main/java/org/apache/cloudstack/storage/template/UploadManagerImpl.java
  test/integration/smoke/test_deploy_vm_extra_config_data.py
  test/integration/smoke/test_guest_os.py
Labels: component:XenServer, component:secondary-storage, component:ssvm, Python, component:build, component:integration-test

#10674 Direct agents rebalance improvements with multiple management server nodes
  engine/orchestration/src/main/java/com/cloud/agent/manager/ClusteredAgentManagerImpl.java
  engine/orchestration/src/test/java/com/cloud/agent/manager/ClusteredAgentManagerImplTest.java
Labels: component:agent, component:orchestration

#10770 [Vmware] Improve listing of Vmware Datacenter VMs for migration to KVM
  api/src/main/java/org/apache/cloudstack/api/response/UnmanagedInstanceResponse.java
  api/src/main/java/org/apache/cloudstack/vm/UnmanagedInstanceTO.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/manager/VmwareManagerImpl.java
  plugins/hypervisors/vmware/src/main/java/org/apache/cloudstack/api/command/admin/zone/ListVmwareDcVmsCmd.java
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  ui/src/views/tools/ManageInstances.vue
  ui/src/views/tools/SelectVmwareVcenter.vue
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/BaseMO.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/DatacenterMO.java
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/util/VmwareHelper.java
Labels: type:bug, component:vmware, component:api, Severity:BLOCKER, component:UI

#10844 NAS BnR: Restore backed-up volume on live instances is not readable
  plugins/backup/nas/src/main/java/org/apache/cloudstack/backup/NASBackupProvider.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtRestoreBackupCommandWrapper.java
Labels: component:kvm, component:backup

#10867 ui: Assign/Remove Backup offering buttons incorrect in details view
  ui/src/views/AutogenView.vue
Labels: component:UI

#10859 Disabled Create and Add Volume button for VMs in Error state
  ui/src/views/compute/InstanceTab.vue
Labels: component:UI

#10253 ssvm: reset fields on destroy
  services/secondary-storage/controller/src/main/java/org/apache/cloudstack/secondarystorage/SecondaryStorageManagerImpl.java
Labels: component:secondary-storage, component:ssvm

#10433 VMware import - logs sanitation
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtConvertInstanceCommandWrapper.java
  utils/src/main/java/com/cloud/utils/script/Script.java
Labels: component:kvm, component:vmware

#10876 Correct typo in an exception message
  server/src/main/java/com/cloud/storage/snapshot/SnapshotManagerImpl.java
Labels: component:storage

#10799 Prevent data corruption for StorPool volumes
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
Labels: status:waiting-for-smoketest-results, component:orchestration, has-3rdparty-components

#10777 Reset the pool id when create volume fails on the allocated pool, and update the resize error when no endpoint exists
  engine/storage/volume/src/main/java/org/apache/cloudstack/storage/volume/VolumeServiceImpl.java
  plugins/storage/volume/default/src/main/java/org/apache/cloudstack/storage/datastore/driver/CloudStackPrimaryDataStoreDriverImpl.java
Labels: component:primary-storage, status:needs-testing, component:storage

#10840 ui: add an infinite scroll select component
  ui/public/locales/en.json
  ui/src/components/header/ProjectMenu.vue
  ui/src/components/widgets/InfiniteScrollSelect.vue
  ui/src/views/network/CreateNetworkPermission.vue
Labels: component:UI, component:build, Severity:Major

#10849 Fix issue with security group selection box display
  ui/src/views/compute/EditVM.vue
Labels: component:UI

#10878 linstor: fix host connect recursion regression
  plugins/storage/volume/linstor/src/main/java/org/apache/cloudstack/storage/datastore/provider/LinstorHostListener.java
Labels: component:primary-storage, Severity:BLOCKER, type:regression, component:storage, 3rd-party:linstor

#10696 Introduce volume allocation algorithm global configuration
  api/src/main/java/com/cloud/deploy/DeploymentClusterPlanner.java
  engine/api/src/main/java/org/apache/cloudstack/engine/orchestration/service/VolumeOrchestrationService.java
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/VolumeOrchestrator.java
  engine/orchestration/src/test/java/org/apache/cloudstack/engine/orchestration/VolumeOrchestratorTest.java
  engine/schema/src/main/java/com/cloud/capacity/dao/CapacityDao.java
  engine/schema/src/main/java/com/cloud/capacity/dao/CapacityDaoImpl.java
  engine/schema/src/test/java/com/cloud/capacity/dao/CapacityDaoImplTest.java
  engine/storage/src/main/java/org/apache/cloudstack/storage/allocator/AbstractStoragePoolAllocator.java
  engine/storage/src/main/java/org/apache/cloudstack/storage/allocator/ClusterScopeStoragePoolAllocator.java
  engine/storage/src/main/java/org/apache/cloudstack/storage/allocator/ZoneWideStoragePoolAllocator.java
  engine/storage/src/test/java/org/apache/cloudstack/storage/allocator/AbstractStoragePoolAllocatorTest.java
  engine/storage/src/test/java/org/apache/cloudstack/storage/allocator/ZoneWideStoragePoolAllocatorTest.java
  server/src/main/java/com/cloud/agent/manager/allocator/impl/FirstFitAllocator.java
  server/src/test/java/com/cloud/agent/manager/allocator/impl/FirstFitAllocatorTest.java
Labels: component:api, Python, component:agent, component:marvin, component:orchestration, component:storage, component:integration

#10586 VMware 80u2 and 80u3 updates/fixes
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/resource/VmwareResource.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/storage/resource/VmwareStorageLayoutHelper.java
  plugins/hypervisors/vmware/src/main/java/com/cloud/storage/resource/VmwareStorageProcessor.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  test/integration/smoke/test_ssvm.py
  vmware-base/src/main/java/com/cloud/hypervisor/vmware/mo/VirtualMachineMO.java
Labels: component:vmware, Python, component:marvin, component:integration-test

#10881 test: Update test ubuntu template for VMware to deployasis=False
  tools/marvin/marvin/config/test_data.py
Labels: Python, status:waiting-for-smoketest-results, component:marvin

#10885 test: fix test_restore_vm failure on vmware
  test/integration/smoke/test_restore_vm.py
  tools/marvin/marvin/config/test_data.py
Labels: Python, component:marvin, component:integration-test

#10890 test: fix several simulator CI failures
  engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineManagerImpl.java
Labels: component:compute, component:orchestration

#10880 kvm: fix vm deployment from RAW template
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/LibvirtStorageAdaptor.java
Labels: component:kvm

#10894 .github: fix sonar checks
  .github/workflows/main-sonar-check.yml
  .github/workflows/sonar-check.yml
Labels: component:integration

#10875 Address `assignVm` regression
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/test/java/com/cloud/vm/UserVmManagerImplTest.java
Labels: Severity:BLOCKER

#10891 mgmt: add back serviceip in ManagementServerResponse
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/response/ManagementServerResponse.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
Labels: component:api, Severity:Critical

#10893 test: cleanup acl in test_global_acls.py
  test/integration/smoke/test_global_acls.py
Labels: Python, component:integration-test

#10882 Fixed some typos
  plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/manager/VmwareManagerImpl.java
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  utils/src/main/java/com/cloud/utils/net/NetUtils.java
  utils/src/test/java/com/cloud/utils/net/NetUtilsTest.java
Labels: component:vmware, status:waiting-for-smoketest-results

#10912 Fix issue with configdrive on XenServer
  plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/wrapper/xenbase/CitrixStartCommandWrapper.java
Labels: component:XenServer, type:regression, priority: high

#10861 Routed: support vxlan networks
  plugins/network-elements/vxlan/src/main/java/com/cloud/network/guru/VxlanGuestNetworkGuru.java
  server/src/main/java/com/cloud/network/guru/ExternalGuestNetworkGuru.java
  server/src/main/java/com/cloud/network/guru/GuestNetworkGuru.java
Labels: component:networking, component:vxlan

#10560 Instance lease: Allow deployment of instances with lease duration and leaseexpiry action
  .github/workflows/ci.yml
  api/src/main/java/com/cloud/event/EventTypes.java
  api/src/main/java/com/cloud/vm/VmDetailConstants.java
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/offering/CreateServiceOfferingCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/config/ListCapabilitiesCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/DeployVMCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/ListVMsCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/UpdateVMCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/CapabilitiesResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/ServiceOfferingResponse.java
  api/src/main/java/org/apache/cloudstack/api/response/UserVmResponse.java
  api/src/main/java/org/apache/cloudstack/vm/lease/VMLeaseManager.java
  api/src/test/java/org/apache/cloudstack/api/command/admin/offering/CreateServiceOfferingCmdTest.java
  engine/schema/src/main/resources/META-INF/db/views/cloud.service_offering_view.sql
  engine/schema/src/main/resources/META-INF/db/views/cloud.user_vm_view.sql
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  server/src/main/java/com/cloud/api/query/dao/ServiceOfferingJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/dao/UserVmJoinDao.java
  server/src/main/java/com/cloud/api/query/dao/UserVmJoinDaoImpl.java
  server/src/main/java/com/cloud/api/query/vo/ServiceOfferingJoinVO.java
  server/src/main/java/com/cloud/api/query/vo/UserVmJoinVO.java
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
  server/src/main/java/org/apache/cloudstack/vm/lease/VMLeaseManagerImpl.java
  server/src/main/resources/META-INF/cloudstack/core/spring-server-core-managers-context.xml
  server/src/test/java/com/cloud/vm/UserVmManagerImplTest.java
  server/src/test/java/org/apache/cloudstack/vm/lease/VMLeaseManagerImplTest.java
  test/integration/component/test_deploy_vm_lease.py
  test/integration/smoke/test_service_offerings.py
  tools/marvin/marvin/lib/base.py
  ui/public/locales/en.json
  ui/src/components/view/DetailsTab.vue
  ui/src/components/view/InfoCard.vue
  ui/src/components/view/ListView.vue
  ui/src/config/section/compute.js
  ui/src/config/section/offering.js
  ui/src/views/AutogenView.vue
  ui/src/views/compute/DeployVM.vue
  ui/src/views/compute/EditVM.vue
  ui/src/views/compute/wizard/ComputeOfferingSelection.vue
  ui/src/views/dashboard/UsageDashboard.vue
  ui/src/views/offering/AddComputeOffering.vue
Labels: component:management-server, component:api, Python, component:database, component:agent, component:integration-test, component:integration

#10927 systemvmtemplate: fix Debian 12.11.0 ISO url
  tools/appliance/systemvmtemplate/template-base_aarch64-target_aarch64.json
  tools/appliance/systemvmtemplate/template-base_x86_64-target_aarch64.json
  tools/appliance/systemvmtemplate/template-base_x86_64-target_x86_64.json
Labels: component:templates, systemvm-template-change, priority: high
