Repository apache/cloudstack, pull requests merged in 2025-03, with the labels that each got.

#10337 UI: Add change host password
  ui/public/locales/en.json
  ui/public/locales/pt_BR.json
  ui/src/config/section/infra/hosts.js
  ui/src/views/infra/ChangeHostPassword.vue
Labels: status:ready-for-merge, component:UI

#10439 linstor: improve integration-tests
  test/integration/plugins/linstor/test_linstor_volumes.py
Labels: Python, component:integration-test, 3rd-party:linstor

#10455 UI: Filter accounts by domain while creating templates - from Volume / Snapshot
  ui/src/config/section/storage.js
  ui/src/views/storage/CreateTemplate.vue
Labels: component:UI

#10472 UI: List host OOBM details when enabled and configured
  ui/public/locales/en.json
  ui/src/views/infra/HostInfo.vue
Labels: status:ready-for-merge, component:UI

#10042 UI: Proper explanation for the global setting to avoid ambiguity
  engine/orchestration/src/main/java/com/cloud/agent/manager/AgentManagerImpl.java
  server/src/main/java/com/cloud/resource/ResourceManagerImpl.java
  ui/src/views/infra/HostEnableDisable.vue
Labels: component:UI, component:agent, component:build, component:orchestration, component:integration

#10474 Remove isMirrored parameter when creating a disk offering through UI
  ui/src/views/offering/AddDiskOffering.vue
Labels: component:UI

#9666 NAS B&R Plugin enhancements
  api/src/main/java/org/apache/cloudstack/api/command/user/backup/DeleteBackupScheduleCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/BackupRepositoryResponse.java
  api/src/main/java/org/apache/cloudstack/backup/BackupManager.java
  packaging/el8/cloud.spec
  plugins/backup/nas/src/main/java/org/apache/cloudstack/backup/NASBackupProvider.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtRestoreBackupCommandWrapper.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/KubernetesClusterManagerImpl.java
  plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterDestroyWorker.java
  scripts/vm/hypervisor/kvm/nasbackup.sh
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  server/src/main/java/org/apache/cloudstack/backup/BackupManagerImpl.java
  ui/src/config/section/config.js
Labels: component:kvm, component:api, component:packaging, component:UI, Python, component:marvin, component:kubernetes, distro:ubuntu, component:backup

#10497 ui: do not cache config.json and locale files
  ui/public/index.html
  ui/src/locales/index.js
  ui/src/main.js
Labels: component:UI

#8831 Refactor alert email generation method
  server/src/main/java/com/cloud/alert/AlertManagerImpl.java
Labels: type:cleanup

#10502 lint: fix test_linstor_volumes.py
  test/integration/plugins/linstor/test_linstor_volumes.py
Labels: Python, component:integration-test

#10461 UI: Allow custom footer in password reset page
  ui/public/config.json
  ui/src/layouts/UserLayout.vue
Labels: component:UI

#10257 VPC: fix private mtu of vpc tier
  server/src/main/java/com/cloud/network/NetworkServiceImpl.java
  server/src/test/java/com/cloud/network/NetworkServiceImplTest.java
Labels: component:networking

#9748 Add Cloudian HyperStore Object Storage
  client/pom.xml
  plugins/integrations/cloudian/src/main/java/org/apache/cloudstack/cloudian/client/CloudianClient.java
  plugins/integrations/cloudian/src/main/java/org/apache/cloudstack/cloudian/client/CloudianCredential.java
  plugins/integrations/cloudian/src/main/java/org/apache/cloudstack/cloudian/client/CloudianUserBucketUsage.java
  plugins/integrations/cloudian/src/test/java/org/apache/cloudstack/cloudian/CloudianClientTest.java
  plugins/integrations/cloudian/src/test/java/org/apache/cloudstack/cloudian/CloudianUtilsTest.java
  plugins/integrations/cloudian/src/test/java/org/apache/cloudstack/cloudian/client/CloudianClientTest.java
  plugins/pom.xml
  plugins/storage/object/cloudian/README.md
  plugins/storage/object/cloudian/pom.xml
  plugins/storage/object/cloudian/src/main/java/org/apache/cloudstack/storage/datastore/driver/CloudianHyperStoreObjectStoreDriverImpl.java
  plugins/storage/object/cloudian/src/main/java/org/apache/cloudstack/storage/datastore/lifecycle/CloudianHyperStoreObjectStoreLifeCycleImpl.java
  plugins/storage/object/cloudian/src/main/java/org/apache/cloudstack/storage/datastore/provider/CloudianHyperStoreObjectStoreProviderImpl.java
  plugins/storage/object/cloudian/src/main/java/org/apache/cloudstack/storage/datastore/util/CloudianHyperStoreUtil.java
  plugins/storage/object/cloudian/src/main/resources/META-INF/cloudstack/storage-object-cloudian/module.properties
  plugins/storage/object/cloudian/src/main/resources/META-INF/cloudstack/storage-object-cloudian/spring-storage-object-cloudian-context.xml
  plugins/storage/object/cloudian/src/test/java/org/apache/cloudstack/storage/datastore/driver/CloudianHyperStoreObjectStoreDriverImplTest.java
  plugins/storage/object/cloudian/src/test/java/org/apache/cloudstack/storage/datastore/lifecycle/CloudianHyperStoreObjectStoreLifeCycleImplTest.java
  plugins/storage/object/cloudian/src/test/java/org/apache/cloudstack/storage/datastore/provider/CloudianHyperStoreObjectStoreProviderImplTest.java
  plugins/storage/object/cloudian/src/test/java/org/apache/cloudstack/storage/datastore/util/CloudianHyperStoreUtilTest.java
  pom.xml
  server/src/main/java/org/apache/cloudstack/storage/object/BucketApiServiceImpl.java
  ui/public/locales/en.json
  ui/src/components/view/ObjectStoreBrowser.vue
  ui/src/views/infra/AddObjectStorage.vue
Labels: component:UI, component:build, component:storage, has-3rdparty-components

#10515 KVM: return null state instead of Disconnected when investigate a host without NFS
  plugins/hypervisors/kvm/src/main/java/com/cloud/ha/KVMInvestigator.java
Labels: component:kvm

#10516 kvm: find cluster-wide pools only in Up state when investigate a host
  plugins/hypervisors/kvm/src/main/java/com/cloud/ha/KVMInvestigator.java
Labels: component:kvm

#10443 linstor: try to delete -rst resource before snapshot backup
  plugins/storage/volume/linstor/CHANGELOG.md
  plugins/storage/volume/linstor/src/main/java/org/apache/cloudstack/storage/datastore/driver/LinstorPrimaryDataStoreDriverImpl.java
Labels: component:primary-storage, component:storage, 3rd-party:linstor

#10492 Fix Stats Collector to not divide by zero
  server/src/main/java/com/cloud/server/StatsCollector.java
Labels: component:management-server

#10562 Veeam BnR : Fix for error in remove backup offering
  plugins/backup/veeam/src/main/java/org/apache/cloudstack/backup/VeeamBackupProvider.java
  server/src/main/java/org/apache/cloudstack/backup/BackupManagerImpl.java
Labels: component:backup

#10569 List only VMs associated to a userdata
  api/src/main/java/org/apache/cloudstack/api/command/user/vm/ListVMsCmd.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  ui/src/config/section/compute.js
Labels: component:api, component:UI

#10366 server: fix npe during start vr edge case
  server/src/main/java/com/cloud/network/router/NetworkHelperImpl.java
Labels: component:networking

#10561 linstor: implement missing deleteDatastore
  engine/storage/volume/src/main/java/org/apache/cloudstack/storage/datastore/lifecycle/BasePrimaryDataStoreLifeCycleImpl.java
  plugins/storage/volume/linstor/CHANGELOG.md
  plugins/storage/volume/linstor/src/main/java/org/apache/cloudstack/storage/datastore/lifecycle/LinstorPrimaryDataStoreLifeCycleImpl.java
  plugins/storage/volume/scaleio/src/main/java/org/apache/cloudstack/storage/datastore/lifecycle/ScaleIOPrimaryDataStoreLifeCycle.java
Labels: component:primary-storage, component:storage, 3rd-party:linstor

#10524 Fix to propagate updated management servers list and lb algorithm in host and indirect.agent.lb.algorithm settings resp, to systemvm agents
  server/src/main/java/org/apache/cloudstack/agent/lb/IndirectAgentLBServiceImpl.java
Labels: type:regression

#10417 MS maintenance improvements
  agent/src/main/java/com/cloud/agent/Agent.java
  agent/src/main/java/com/cloud/agent/AgentShell.java
  agent/src/main/java/com/cloud/agent/IAgentShell.java
  agent/src/main/java/com/cloud/agent/properties/AgentProperties.java
  agent/src/test/java/com/cloud/agent/AgentShellTest.java
  api/src/main/java/com/cloud/event/EventTypes.java
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/ApiErrorCode.java
  api/src/main/java/org/apache/cloudstack/api/response/ManagementServerResponse.java
  core/src/main/java/com/cloud/agent/api/PingAnswer.java
  core/src/main/java/com/cloud/agent/api/ReadyCommand.java
  core/src/main/java/org/apache/cloudstack/agent/lb/SetupMSListCommand.java
  engine/components-api/src/main/java/com/cloud/agent/AgentManager.java
  engine/orchestration/src/main/java/com/cloud/agent/manager/AgentManagerImpl.java
  engine/orchestration/src/main/java/com/cloud/agent/manager/ClusteredAgentManagerImpl.java
  engine/schema/src/main/java/com/cloud/configuration/ManagementServiceConfiguration.java
  engine/schema/src/main/java/com/cloud/host/dao/HostDao.java
  engine/schema/src/main/java/com/cloud/host/dao/HostDaoImpl.java
  engine/schema/src/test/java/com/cloud/host/dao/HostDaoImplTest.java
  framework/jobs/src/main/java/org/apache/cloudstack/framework/jobs/impl/AsyncJobManagerImpl.java
  plugins/maintenance/src/main/java/org/apache/cloudstack/maintenance/ManagementServerMaintenanceListener.java
  plugins/maintenance/src/main/java/org/apache/cloudstack/maintenance/ManagementServerMaintenanceManager.java
  plugins/maintenance/src/main/java/org/apache/cloudstack/maintenance/ManagementServerMaintenanceManagerImpl.java
  plugins/maintenance/src/test/java/org/apache/cloudstack/maintenance/ManagementServerMaintenanceManagerImplTest.java
  plugins/metrics/src/main/java/org/apache/cloudstack/response/ManagementServerMetricsResponse.java
  server/src/main/java/com/cloud/api/ApiDispatcher.java
  server/src/main/java/com/cloud/api/ApiServer.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  server/src/main/java/com/cloud/server/StatsCollector.java
  server/src/main/java/org/apache/cloudstack/agent/lb/IndirectAgentLBServiceImpl.java
  server/src/test/java/org/apache/cloudstack/agent/lb/IndirectAgentLBServiceImplTest.java
  utils/src/main/java/com/cloud/utils/nio/HandlerFactory.java
  utils/src/main/java/com/cloud/utils/nio/Link.java
  utils/src/main/java/com/cloud/utils/nio/NioClient.java
  utils/src/main/java/com/cloud/utils/nio/NioConnection.java
Labels: component:management-server, component:api, component:agent, component:orchestration

#10559 Update ubuntu image link for template download
  tools/marvin/marvin/config/test_data.py
Labels: Python, component:marvin

#10602 ui: fix considerlasthost for start vm
  ui/src/config/section/compute.js
  ui/src/views/compute/StartVirtualMachine.vue
Labels: component:UI

#10595 UI: fix list of vpc network offerings
  ui/src/views/network/VpcTiersTab.vue
Labels: component:UI

#10593 In Install.md->CloudStack UI Commands(npm)
  INSTALL.md
Labels: component:documentation

#10488 UI: Add `View ISOs` button to the account details pages
  ui/src/components/view/InfoCard.vue
  ui/src/config/section/account.js
Labels: component:UI, status:needs-testing

#10606 Host status auto refresh
  ui/src/config/section/infra/hosts.js
  ui/src/views/infra/HostEnableDisable.vue
Labels: component:primary-storage, component:UI, component:storage

#10496 Preview-Experimental Support EL10 as Management Server and KVM host
  agent/bindir/cloud-setup-agent.in
  agent/bindir/libvirtqemuhook.in
  client/bindir/cloud-setup-management.in
  python/lib/cloudutils/syscfg.py
  python/lib/cloudutils/utilities.py
Labels: Python, component:agent

#10263 Updated setup-sysvm-tmplt script, to run cmds accessing destdir with sudo
  scripts/storage/secondary/setup-sysvm-tmplt
  server/conf/cloudstack-sudoers.in
Labels: component:storage

#10617 Enhance VPC Network Tier form to auto-populate Gateway, and Netmask
  ui/public/locales/en.json
  ui/src/utils/network.js
  ui/src/views/network/VpcTiersTab.vue
Labels: status:ready-for-merge, component:UI

#10628 systemvm: Bump systemvm template version to debian 12.10
  pom.xml
  tools/appliance/systemvmtemplate/template-base_aarch64-target_aarch64.json
  tools/appliance/systemvmtemplate/template-base_x86_64-target_aarch64.json
  tools/appliance/systemvmtemplate/template-base_x86_64-target_x86_64.json
Labels: component:templates, component:build, systemvm-template-change
