Repository apache/cloudstack, pull requests merged in 2025-08, with the labels that each got.

#11370 ui: fix api type in InfiniteScrollSelect
  ui/src/components/widgets/InfiniteScrollSelect.vue
Labels: component:UI

#11254 agent: increase timeout for host arch retrieval
  agent/src/main/java/com/cloud/agent/Agent.java
  plugins/hypervisors/kvm/src/main/java/org/apache/cloudstack/utils/linux/KVMHostInfo.java
Labels: component:kvm, component:agent

#11349 ui: fix initial pagination for images in deploy forms
  ui/src/views/compute/CreateAutoScaleVmGroup.vue
  ui/src/views/compute/DeployVM.vue
  ui/src/views/compute/DeployVnfAppliance.vue
  ui/src/views/compute/ReinstallVm.vue
Labels: component:UI, type:regression

#11016 API to list console sessions
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/ResponseGenerator.java
  api/src/main/java/org/apache/cloudstack/api/command/user/consoleproxy/ListConsoleSessionsCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/ConsoleSessionResponse.java
  api/src/main/java/org/apache/cloudstack/consoleproxy/ConsoleAccessManager.java
  api/src/main/java/org/apache/cloudstack/consoleproxy/ConsoleSession.java
  api/src/test/java/org/apache/cloudstack/api/command/user/consoleproxy/ListConsoleSessionsCmdTest.java
  engine/schema/src/main/java/com/cloud/vm/ConsoleSessionVO.java
  engine/schema/src/main/java/com/cloud/vm/dao/ConsoleSessionDao.java
  engine/schema/src/main/java/com/cloud/vm/dao/ConsoleSessionDaoImpl.java
  engine/schema/src/main/resources/META-INF/db/schema-42010to42100.sql
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
  server/src/main/java/org/apache/cloudstack/consoleproxy/ConsoleAccessManagerImpl.java
  server/src/test/java/com/cloud/api/ApiResponseHelperTest.java
  server/src/test/java/org/apache/cloudstack/consoleproxy/ConsoleAccessManagerImplTest.java
  tools/apidoc/gen_toc.py
Labels: component:management-server, component:api, Python, status:waiting-for-smoketest-results

#11377 Netris: Fix Netris provider parameter name and response
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/network/RoutedIpv4Manager.java
  plugins/network-elements/netris/src/main/java/org/apache/cloudstack/api/command/AddNetrisProviderCmd.java
  plugins/network-elements/netris/src/main/java/org/apache/cloudstack/api/response/NetrisProviderResponse.java
  plugins/network-elements/netris/src/main/java/org/apache/cloudstack/service/NetrisProviderServiceImpl.java
  server/src/main/java/com/cloud/network/vpc/VpcManagerImpl.java
  server/src/main/java/org/apache/cloudstack/network/RoutedIpv4ManagerImpl.java
  server/src/test/java/com/cloud/network/vpc/VpcManagerImplTest.java
  ui/public/locales/en.json
  ui/src/views/infra/network/ServiceProvidersTab.vue
  ui/src/views/infra/zone/ZoneWizardLaunchZone.vue
  ui/src/views/infra/zone/ZoneWizardNetworkSetupStep.vue
Labels: component:vpc, component:api, component:networking, component:UI

#11372 cloud.spec: provide option between tzdata-java and timezone-java
  packaging/el8/cloud.spec
Labels: component:packaging

#11298 added online/offline copy method for Primera storage adapter
  plugins/storage/volume/adaptive/src/main/java/org/apache/cloudstack/storage/datastore/adapter/ProviderAdapter.java
  plugins/storage/volume/adaptive/src/main/java/org/apache/cloudstack/storage/datastore/driver/AdaptiveDataStoreDriverImpl.java
  plugins/storage/volume/flasharray/src/main/java/org/apache/cloudstack/storage/datastore/adapter/flasharray/FlashArrayAdapter.java
  plugins/storage/volume/primera/src/main/java/org/apache/cloudstack/storage/datastore/adapter/primera/PrimeraAdapter.java
Labels: component:primary-storage, component:storage

#9733 custom AccessLogger
  client/src/main/java/org/apache/cloudstack/ACSRequestLog.java
  client/src/main/java/org/apache/cloudstack/ServerDaemon.java
  utils/src/main/java/com/cloud/utils/StringUtils.java
  utils/src/test/java/com/cloud/utils/StringUtilsTest.java
Labels: component:management-server

#11376 Agent connection improvements
  agent/src/main/java/com/cloud/agent/Agent.java
  core/src/main/java/com/cloud/agent/api/ReadyCommand.java
  engine/orchestration/src/main/java/com/cloud/agent/manager/AgentManagerImpl.java
  engine/orchestration/src/main/java/com/cloud/agent/manager/ConnectedAgentAttache.java
  framework/agent-lb/src/main/java/org/apache/cloudstack/agent/lb/IndirectAgentLB.java
  server/src/main/java/org/apache/cloudstack/agent/lb/IndirectAgentLBServiceImpl.java
Labels: component:api, component:agent, component:orchestration

#11242 server: fix vm deployment without networkid in a zone with shared networks
  server/src/main/java/com/cloud/network/NetworkModelImpl.java
Labels: component:networking, type:regression, status:needs-testing

#11392 cleanup: remove com.cloud.user.MockAccountManagerImpl
  server/src/test/java/com/cloud/network/lb/UpdateLoadBalancerTest.java
  server/src/test/java/com/cloud/user/MockAccountManagerImpl.java
Labels: status:ready-for-merge

#11351 Fix of deployment VM from a copied snapshot in another zone
  plugins/storage/volume/storpool/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/StorPoolDownloadTemplateCommandWrapper.java
  server/src/main/java/com/cloud/vm/UserVmManagerImpl.java
Labels: component:primary-storage, component:storage

#11062 api: fix scale or upgrade systemvm
  api/src/main/java/org/apache/cloudstack/api/command/admin/systemvm/ScaleSystemVMCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/systemvm/UpgradeSystemVMCmd.java
Labels: component:api

#11417 Fix edit of compute offering in UI
  ui/src/config/section/offering.js
Labels: component:UI, type:regression

#10645 Network rate must be multiplied by 125 not 128
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/BridgeVifDriver.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/DirectVifDriver.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/IvsVifDriver.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/OvsVifDriver.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/VifDriverBase.java
Labels: component:kvm

#11432 Add support for nvidia vGPU support with vendor specific framework
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtGpuDef.java
  scripts/vm/hypervisor/kvm/gpudiscovery.sh
Labels: component:kvm, status:ready-for-merge

#11435 Exclude External hypervisor type during upgrade for System VM template checks
  engine/schema/src/main/java/com/cloud/dc/dao/ClusterDao.java
  engine/schema/src/main/java/com/cloud/dc/dao/ClusterDaoImpl.java
  engine/schema/src/main/java/com/cloud/upgrade/SystemVmTemplateRegistration.java
  engine/schema/src/test/java/com/cloud/dc/dao/ClusterDaoImplTest.java
  engine/schema/src/test/java/com/cloud/upgrade/SystemVmTemplateRegistrationTest.java
  server/src/main/java/com/cloud/storage/StorageManagerImpl.java
Labels: component:storage

#11133 server: fix conserve_mode of DefaultIsolatedNetworkOfferingForVpcNetworks
  engine/schema/src/main/resources/META-INF/db/schema-42010to42100.sql
  server/src/main/java/com/cloud/server/ConfigurationServerImpl.java
  test/integration/smoke/test_network_acl.py
Labels: component:management-server, Python, component:integration-test

#11397 linstor: fix getVolumeStats if multiple Linstor primary storages are used
  plugins/storage/volume/linstor/CHANGELOG.md
  plugins/storage/volume/linstor/src/main/java/org/apache/cloudstack/storage/datastore/driver/LinstorPrimaryDataStoreDriverImpl.java
Labels: 3rd-party:linstor

#11490 Fix of create a template from a StorPool snapshot on another zone
  engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/VolumeOrchestrator.java
  server/src/main/java/com/cloud/template/TemplateManagerImpl.java
  server/src/main/java/org/apache/cloudstack/snapshot/SnapshotHelper.java
Labels: type:regression, component:orchestration, 3rd-party:storpool

#11516 Fix for live migration of VM with config drive, on KVM
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtMigrateCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStoragePoolManager.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/LibvirtStorageAdaptor.java
Labels: component:kvm, status:needs-testing

#11504 scripts: fix external provision to use correct power state & hyperv powersync
  extensions/HyperV/hyperv.py
  scripts/vm/hypervisor/external/provisioner/provisioner.sh
Labels: Python

#11466 UI: Prevent restriction of changeOfferingForVolume API to Admin role
  ui/src/config/section/storage.js
Labels: component:UI

#11518 VPC VR: return UNKNOWN redundant state if no guest nics
  systemvm/debian/opt/cloud/bin/checkrouter.sh
Labels: component:virtual-router, component:networking

#10723 Add logs to keystore-setup and fix password regex
  scripts/util/keystore-setup
Labels: status:ready-for-merge

#11532 kvm: fix vm deployment with direct-download iso
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStorageProcessor.java
Labels: component:kvm, status:needs-testing

#11537 api: use single quote instead of double quote in StatsResponse
  api/src/main/java/org/apache/cloudstack/api/response/StatsResponse.java
Labels: component:api

#11379 Remove Domain/IP from Password Reset Link to custom Global Setting
  server/src/main/java/org/apache/cloudstack/user/UserPasswordResetManager.java
  server/src/main/java/org/apache/cloudstack/user/UserPasswordResetManagerImpl.java
Labels: component:api, component:agent, component:build, component:integration
