Repository apache/cloudstack, pull requests merged in 2025-07, with the labels that each got.

#10995 Management Server - Prepare for Maintenance and Cancel Maintenance improvements
  agent/src/main/java/com/cloud/agent/Agent.java
  api/src/main/java/com/cloud/exception/OperationTimedoutException.java
  api/src/main/java/com/cloud/resource/ResourceState.java
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/systemvm/PatchSystemVMCmd.java
  core/src/main/java/org/apache/cloudstack/agent/lb/SetupMSListCommand.java
  engine/components-api/src/main/java/com/cloud/agent/AgentManager.java
  engine/orchestration/src/main/java/com/cloud/agent/manager/AgentManagerImpl.java
  engine/orchestration/src/main/java/com/cloud/agent/manager/ClusteredAgentManagerImpl.java
  engine/schema/src/main/java/com/cloud/host/dao/HostDao.java
  engine/schema/src/main/java/com/cloud/host/dao/HostDaoImpl.java
  framework/agent-lb/src/main/java/org/apache/cloudstack/agent/lb/IndirectAgentLB.java
  plugins/maintenance/src/main/java/org/apache/cloudstack/api/command/CancelMaintenanceCmd.java
  plugins/maintenance/src/main/java/org/apache/cloudstack/api/command/PrepareForMaintenanceCmd.java
  plugins/maintenance/src/main/java/org/apache/cloudstack/maintenance/ManagementServerMaintenanceManager.java
  plugins/maintenance/src/main/java/org/apache/cloudstack/maintenance/ManagementServerMaintenanceManagerImpl.java
  plugins/maintenance/src/main/java/org/apache/cloudstack/maintenance/command/PrepareForMaintenanceManagementServerHostCommand.java
  plugins/maintenance/src/test/java/org/apache/cloudstack/maintenance/ManagementServerMaintenanceManagerImplTest.java
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  server/src/main/java/org/apache/cloudstack/agent/lb/IndirectAgentLBServiceImpl.java
  server/src/test/java/org/apache/cloudstack/agent/lb/IndirectAgentLBServiceImplTest.java
  ui/public/locales/en.json
  ui/src/config/section/infra/managementServers.js
  ui/src/views/AutogenView.vue
  ui/src/views/infra/Confirmation.vue
  utils/src/main/java/com/cloud/utils/nio/NioConnection.java
Labels: component:api, component:UI, component:agent, component:orchestration, status:needs-testing

#11085 Corrected quota type indexes
  ui/src/utils/quota.js
Labels: component:kvm, component:XenServer, component:api, component:UI, component:agent, component:orchestration, status:needs-testing, component:storage

#11095 server: fix orphan db transaction issue
  server/src/main/java/com/cloud/alert/AlertManagerImpl.java
  server/src/main/java/com/cloud/storage/StorageManagerImpl.java
Labels: component:database, component:storage

#11003 [VMware to KVM Migration] Fix for converted instance NPE issue when source VMware instance OVF is exported from management server
  api/src/main/java/com/cloud/storage/VolumeApiService.java
  core/src/main/java/com/cloud/agent/api/ConvertInstanceAnswer.java
  core/src/main/java/com/cloud/agent/api/ConvertInstanceCommand.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtConvertInstanceCommandWrapper.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtConvertInstanceCommandWrapperTest.java
  server/src/main/java/org/apache/cloudstack/vm/UnmanagedVMsManagerImpl.java
  server/src/test/java/org/apache/cloudstack/vm/UnmanagedVMsManagerImplTest.java
Labels: component:kvm, component:api

#10325 Add API command remove management server
  api/src/main/java/com/cloud/event/EventTypes.java
  api/src/main/java/com/cloud/server/ManagementService.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/management/RemoveManagementServerCmd.java
  server/src/main/java/com/cloud/api/query/vo/ManagementServerJoinVO.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
Labels: component:management-server, component:api

#10951 Allow configuring Announcement banner by admin
  ui/package-lock.json
  ui/package.json
  ui/public/config.json
  ui/src/components/header/AnnouncementBanner.vue
  ui/src/components/page/GlobalLayout.vue
  ui/src/main.js
Labels: component:UI

#11113 directdownload: fix keytool importcert
  core/src/main/java/org/apache/cloudstack/direct/download/HttpsDirectTemplateDownloader.java
  core/src/main/java/org/apache/cloudstack/direct/download/HttpsMultiTrustManager.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtSetupDirectDownloadCertificateCommandWrapper.java
Labels: component:kvm

#11170 Improve error when a template to owned by non root-admin is registered for all zones.
  server/src/main/java/com/cloud/template/TemplateAdapterBase.java
Labels: component:agent, component:integration

#10576 Inefficient use of a for loop
  core/src/main/java/org/apache/cloudstack/direct/download/HttpsDirectTemplateDownloader.java
Labels: status:needs-testing

#10504 Refactor: Replace sleep() with wait()
  engine/orchestration/src/main/java/com/cloud/agent/manager/DirectAgentAttache.java
  utils/src/main/java/com/cloud/utils/ThreadUtil.java
Labels: type:improvement, component:agent, component:orchestration

#11109 fix priority for volume copy operation
  plugins/storage/volume/primera/src/main/java/org/apache/cloudstack/storage/datastore/adapter/primera/PrimeraAdapter.java
Labels: component:primary-storage, Python, component:marvin, status:needs-testing, component:storage, 3rd-party:primera

#10575 Hide CloudStack version from XML response when unauthenticated
  server/src/main/java/com/cloud/api/response/ApiResponseSerializer.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
Labels: component:management-server, status:ready-for-merge

#10997 CPU to Memory weight based algorithm to order cluster
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  engine/components-api/src/main/java/com/cloud/configuration/ConfigurationManager.java
  engine/schema/src/main/java/com/cloud/capacity/dao/CapacityDao.java
  engine/schema/src/main/java/com/cloud/capacity/dao/CapacityDaoImpl.java
  engine/schema/src/main/resources/META-INF/db/schema-42010to42100.sql
  engine/schema/src/test/java/com/cloud/capacity/dao/CapacityDaoImplTest.java
  plugins/deployment-planners/implicit-dedication/src/test/java/org/apache/cloudstack/implicitplanner/ImplicitPlannerTest.java
  server/src/main/java/com/cloud/agent/manager/allocator/impl/FirstFitAllocator.java
  server/src/main/java/com/cloud/configuration/Config.java
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  server/src/main/java/com/cloud/deploy/FirstFitPlanner.java
  server/src/test/java/com/cloud/agent/manager/allocator/impl/FirstFitAllocatorTest.java
  server/src/test/java/com/cloud/vm/FirstFitPlannerTest.java
Labels: component:api

#11191 UI fix api in project view
  ui/src/api/index.js
  ui/src/components/view/ImageDeployInstanceButton.vue
  ui/src/main.js
  ui/src/utils/guiTheme.js
  ui/src/utils/request.js
  ui/src/views/compute/KubernetesAddNodes.vue
  ui/src/views/compute/KubernetesRemoveNodes.vue
Labels: component:UI, type:regression

#11047 PowerFlex/ScaleIO - MDM and host SDC connection enhancements
  agent/src/main/java/com/cloud/agent/properties/AgentProperties.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtModifyStoragePoolCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/ScaleIOStorageAdaptor.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/storage/ScaleIOStorageAdaptorTest.java
  plugins/storage/volume/scaleio/src/main/java/org/apache/cloudstack/storage/datastore/client/ScaleIOGatewayClient.java
  plugins/storage/volume/scaleio/src/main/java/org/apache/cloudstack/storage/datastore/lifecycle/ScaleIOPrimaryDataStoreLifeCycle.java
  plugins/storage/volume/scaleio/src/main/java/org/apache/cloudstack/storage/datastore/manager/ScaleIOSDCManager.java
  plugins/storage/volume/scaleio/src/main/java/org/apache/cloudstack/storage/datastore/manager/ScaleIOSDCManagerImpl.java
  plugins/storage/volume/scaleio/src/main/java/org/apache/cloudstack/storage/datastore/provider/ScaleIOHostListener.java
  plugins/storage/volume/scaleio/src/main/java/org/apache/cloudstack/storage/datastore/util/ScaleIOUtil.java
  utils/src/main/java/com/cloud/utils/script/Script.java
Labels: component:kvm, component:primary-storage, component:agent, component:storage

#11099 PowerFlex/ScaleIO - Wait after SDC service start/restart/stop, and retry to fetch SDC id/guid
  agent/src/main/java/com/cloud/agent/properties/AgentProperties.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/ScaleIOStorageAdaptor.java
  plugins/hypervisors/kvm/src/test/java/com/cloud/hypervisor/kvm/storage/ScaleIOStorageAdaptorTest.java
  plugins/storage/volume/scaleio/src/main/java/org/apache/cloudstack/storage/datastore/manager/ScaleIOSDCManagerImpl.java
  plugins/storage/volume/scaleio/src/main/java/org/apache/cloudstack/storage/datastore/provider/ScaleIOHostListener.java
  plugins/storage/volume/scaleio/src/main/java/org/apache/cloudstack/storage/datastore/util/ScaleIOUtil.java
Labels: component:kvm, component:XenServer, component:primary-storage, component:api, component:UI, component:agent, component:orchestration, component:storage

#11179 List templates and ISOs by domain
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  ui/src/components/view/InfoCard.vue
  ui/src/config/section/domain.js
Labels: component:UI

#10917 kvm: consider Debian same as Ubuntu
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtCheckConvertInstanceCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtConvertInstanceCommandWrapper.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtReadyCommandWrapper.java
Labels: component:kvm

#11180 Fix KVM incremental snapshot removal when using multiple secondary storages
  engine/storage/snapshot/src/main/java/org/apache/cloudstack/storage/snapshot/SnapshotObject.java
Labels: Severity:Major, component:storage

#11261 UI: Fix ISO Hypervisor selection
  ui/src/views/compute/DeployVM.vue
  ui/src/views/compute/wizard/OsBasedImageSelection.vue
  ui/src/views/infra/zone/ZoneWizardRegisterTemplate.vue
Labels: component:UI

#11196 OVM deprecation
  client/pom.xml
  plugins/pom.xml
Labels: component:build

#11258 Fix restore from NAS backup when datadisk is older than the root disk.
  plugins/backup/nas/src/main/java/org/apache/cloudstack/backup/NASBackupProvider.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtRestoreBackupCommandWrapper.java
  server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java
  server/src/main/java/org/apache/cloudstack/backup/BackupManagerImpl.java
  server/src/test/java/com/cloud/storage/VolumeApiServiceImplTest.java
Labels: component:kvm, component:backup, component:storage

#11265 add since parameter to BackupScheduleResponse
  api/src/main/java/org/apache/cloudstack/api/response/BackupScheduleResponse.java
Labels: component:api

#11086 Fix for dynamic scaling toggle for instance
  api/src/main/java/org/apache/cloudstack/api/command/user/config/ListCapabilitiesCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/CapabilitiesResponse.java
  server/src/main/java/com/cloud/server/ManagementServerImpl.java
  ui/src/views/compute/DeployVM.vue
  ui/src/views/compute/DeployVnfAppliance.vue
  ui/src/views/compute/EditVM.vue
Labels: component:management-server, component:api, component:usage-server, component:UI

#11087 list only own zones for resource admin
  api/src/main/java/com/cloud/user/AccountService.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/cluster/ListClustersCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/admin/pod/ListPodsByCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/zone/ListZonesCmd.java
  api/src/main/java/org/apache/cloudstack/query/QueryService.java
  plugins/network-elements/juniper-contrail/src/test/java/org/apache/cloudstack/network/contrail/management/MockAccountManager.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  server/src/main/java/com/cloud/user/AccountManagerImpl.java
  server/src/test/java/com/cloud/user/MockAccountManagerImpl.java
Labels: component:api, component:networking, status:waiting-for-smoketest-results

#11075 UI: Fix OS Type displayed for a VM
  ui/src/components/view/InfoCard.vue
Labels: component:UI

#10856 polish: Fix some inconsistencies in object names and messages
  api/src/main/java/org/apache/cloudstack/api/command/user/userdata/RegisterUserDataCmd.java
  api/src/main/java/org/apache/cloudstack/api/response/UserDataResponse.java
  ui/public/locales/ar.json
  ui/public/locales/ca.json
  ui/public/locales/de_DE.json
  ui/public/locales/el_GR.json
  ui/public/locales/en.json
  ui/public/locales/es.json
  ui/public/locales/fr_FR.json
  ui/public/locales/hi.json
  ui/public/locales/hu.json
  ui/public/locales/it_IT.json
  ui/public/locales/ja_JP.json
  ui/public/locales/ko_KR.json
  ui/public/locales/nb_NO.json
  ui/public/locales/nl_NL.json
  ui/public/locales/pl.json
  ui/public/locales/pt_BR.json
  ui/public/locales/ru_RU.json
  ui/public/locales/zh_CN.json
  ui/src/components/view/InfoCard.vue
  ui/src/config/section/account.js
  ui/src/config/section/compute.js
  ui/src/config/section/network.js
  ui/src/views/compute/AutoScaleVmProfile.vue
  ui/src/views/compute/CreateAutoScaleVmGroup.vue
  ui/src/views/compute/DeployVM.vue
  ui/src/views/compute/DeployVnfAppliance.vue
  ui/src/views/compute/EditVM.vue
  ui/src/views/compute/RegisterUserData.vue
  ui/src/views/compute/ResetUserData.vue
  ui/src/views/compute/wizard/UserDataSelection.vue
  ui/src/views/image/RegisterOrUploadIso.vue
  ui/src/views/image/RegisterOrUploadTemplate.vue
  ui/src/views/image/UpdateISO.vue
  ui/src/views/image/UpdateTemplate.vue
  ui/src/views/network/AclRulesTab.vue
  ui/src/views/network/VpcTab.vue
  ui/src/views/offering/AddNetworkOffering.vue
Labels: component:api, component:UI

#11256 Config 'vm.network.nic.max.secondary.ipaddresses' - Update default value (and value if not set) to 10 as per the config description and default value in parseInt of the config
  engine/schema/src/main/resources/META-INF/db/schema-42010to42100.sql
  server/src/main/java/com/cloud/configuration/Config.java
  server/src/main/java/com/cloud/network/NetworkServiceImpl.java
Labels: component:api, component:networking, status:waiting-for-smoketest-results, component:agent, component:build, component:integration

#11053 linstor: Use template's uuid if pool's downloadPath is null as resour…
  plugins/storage/volume/linstor/CHANGELOG.md
  plugins/storage/volume/linstor/src/main/java/com/cloud/hypervisor/kvm/storage/LinstorStorageAdaptor.java
  plugins/storage/volume/linstor/src/main/java/org/apache/cloudstack/storage/datastore/driver/LinstorPrimaryDataStoreDriverImpl.java
  test/integration/plugins/linstor/test_linstor_volumes.py
Labels: component:primary-storage, component:usage-server, Python, component:integration-test, component:storage, 3rd-party:linstor

#11210 Allow custom NTP servers for CPVM
  engine/api/src/main/java/com/cloud/vm/VirtualMachineGuru.java
  server/src/main/java/com/cloud/consoleproxy/ConsoleProxyManagerImpl.java
  services/secondary-storage/controller/src/main/java/org/apache/cloudstack/secondarystorage/SecondaryStorageManagerImpl.java
  systemvm/debian/opt/cloud/bin/setup/common.sh
  systemvm/debian/opt/cloud/bin/setup/consoleproxy.sh
  systemvm/debian/opt/cloud/bin/setup/secstorage.sh
Labels: component:kvm, component:secondary-storage, component:virtual-router, component:ssvm, component:networking, component:compute

#11220 Mark LDAP user query timeout as incorrect login instead of disabling user immediately
  plugins/user-authenticators/ldap/src/main/java/org/apache/cloudstack/api/command/LdapListUsersCmd.java
  plugins/user-authenticators/ldap/src/main/java/org/apache/cloudstack/ldap/LdapAuthenticator.java
  plugins/user-authenticators/ldap/src/main/java/org/apache/cloudstack/ldap/LdapManagerImpl.java
Labels: component:LDAP

#11309 [UI] Fix for local storage enable/disable toggle in edit zone
  ui/src/views/infra/ZoneUpdate.vue
Labels: component:UI

#11302 server: fix NaN metrics for external resources
  server/src/main/java/com/cloud/api/query/dao/HostJoinDaoImpl.java
Labels: component:api, component:integration

#11303 api,server,extensions: allow updating extension resource map details
  api/src/main/java/org/apache/cloudstack/api/command/admin/cluster/UpdateClusterCmd.java
  framework/extensions/src/main/java/org/apache/cloudstack/framework/extensions/manager/ExtensionsManager.java
  framework/extensions/src/main/java/org/apache/cloudstack/framework/extensions/manager/ExtensionsManagerImpl.java
  framework/extensions/src/test/java/org/apache/cloudstack/framework/extensions/manager/ExtensionsManagerImplTest.java
  server/src/main/java/com/cloud/resource/ResourceManagerImpl.java
  ui/src/views/extension/ExternalConfigurationDetails.vue
  ui/src/views/infra/ClusterUpdate.vue
Labels: component:api, component:UI

#11244 Prevent infinite autoscaling
  engine/schema/src/main/java/com/cloud/network/as/dao/AutoScaleVmGroupVmMapDao.java
  engine/schema/src/main/java/com/cloud/network/as/dao/AutoScaleVmGroupVmMapDaoImpl.java
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  server/src/main/java/com/cloud/network/as/AutoScaleManager.java
  server/src/main/java/com/cloud/network/as/AutoScaleManagerImpl.java
Labels: component:networking

#11249 Update CIDR/Gateway of the Shared Networks from Guest IP ranges
  engine/schema/src/main/resources/META-INF/db/schema-42010to42100.sql
  plugins/network-elements/bigswitch/src/main/java/com/cloud/network/element/BigSwitchBcfElement.java
  server/src/main/java/com/cloud/api/ApiResponseHelper.java
  server/src/main/java/com/cloud/configuration/ConfigurationManagerImpl.java
  utils/src/main/java/com/cloud/utils/StringUtils.java
Labels: component:networking, status:waiting-for-smoketest-results, component:agent, component:integration

#11306 ui: fix advance setting behaviour in autoscale form
  ui/src/views/compute/CreateAutoScaleVmGroup.vue
Labels: component:UI

#11317 ui: make events tab selected columns persistent using cache
  ui/src/components/view/EventsTab.vue
Labels: component:UI

#11316 Fix listCapacity sort by usage
  api/src/main/java/org/apache/cloudstack/api/command/admin/resource/ListCapacityCmd.java
Labels: component:api

#11142 UI: Display NSX Provider only when NSX is the selected Isolation method
  server/src/main/java/com/cloud/network/NetworkServiceImpl.java
  ui/src/views/infra/zone/ZoneWizardLaunchZone.vue
Labels: component:networking, component:UI

#11343 Support to list templates in ready state (new API parameter 'isready', similar to list ISOs)
  api/src/main/java/org/apache/cloudstack/api/command/user/iso/ListIsosCmd.java
  api/src/main/java/org/apache/cloudstack/api/command/user/template/ListTemplatesCmd.java
  ui/src/views/compute/AttachIso.vue
  ui/src/views/compute/AutoScaleVmProfile.vue
  ui/src/views/compute/CreateAutoScaleVmGroup.vue
  ui/src/views/compute/CreateKubernetesCluster.vue
  ui/src/views/compute/DeployVM.vue
  ui/src/views/compute/DeployVnfAppliance.vue
  ui/src/views/compute/EditVM.vue
  ui/src/views/compute/ReinstallVm.vue
  ui/src/views/compute/ResetUserData.vue
  ui/src/views/compute/ScaleVM.vue
  ui/src/views/tools/ImportUnmanagedInstance.vue
Labels: component:api, component:UI

#11354 [UI] Use GET request method for list API calls
  ui/src/api/index.js
  ui/src/components/view/ListView.vue
  ui/src/components/view/TreeView.vue
  ui/src/components/widgets/InfiniteScrollSelect.vue
  ui/src/views/AutogenView.vue
  ui/src/views/compute/CreateAutoScaleVmGroup.vue
  ui/src/views/compute/DeployVM.vue
  ui/src/views/compute/DeployVnfAppliance.vue
  ui/src/views/iam/DomainView.vue
  ui/src/views/infra/network/providers/ProviderItem.vue
  ui/src/views/network/tungsten/TungstenFabricTableView.vue
  ui/src/views/tools/ManageInstances.vue
  ui/src/views/tools/ManageVolumes.vue
  ui/tests/unit/views/AutogenView.spec.js
Labels: component:UI

#11337 ui: fix delete traffic type
  ui/src/views/infra/network/TrafficTypesTab.vue
Labels: component:UI

#11070 fix fsvm-init.yml to detect virtio-scsi in kvm
  plugins/storage/sharedfs/storagevm/src/main/resources/conf/fsvm-init.yml
Labels: component:storage

#11177 Allow full clone volumes with thin provisioning
  agent/conf/agent.properties
  agent/src/main/java/com/cloud/agent/properties/AgentProperties.java
  plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/LibvirtStorageAdaptor.java
Labels: component:kvm, component:agent

#11313 Show chain size in snapshot response for incremental snapshots
  api/src/main/java/org/apache/cloudstack/api/ApiConstants.java
  api/src/main/java/org/apache/cloudstack/api/response/SnapshotResponse.java
  server/src/main/java/com/cloud/api/query/dao/SnapshotJoinDaoImpl.java
  server/src/main/java/com/cloud/storage/snapshot/SnapshotManager.java
  server/src/main/java/com/cloud/storage/snapshot/SnapshotManagerImpl.java
  ui/public/locales/en.json
  ui/src/components/view/DetailsTab.vue
  ui/src/config/section/storage.js
Labels: component:api, component:UI, Python, component:marvin, component:storage

#11355 api,server,ui: allow listing events by state
  api/src/main/java/org/apache/cloudstack/api/command/user/event/ListEventsCmd.java
  server/src/main/java/com/cloud/api/query/QueryManagerImpl.java
  ui/public/locales/en.json
  ui/src/components/view/SearchView.vue
  ui/src/config/section/event.js
Labels: component:api, component:UI
